[2021-09-24 15:31] pixelzoom commented on #163
Sorry, link fixed in comment above.  It's https://phet-dev.colorado.edu/html/geometric-optics/1.0.0-dev.12/phet/geometric-optics_en_phet.html

[2021-09-24 15:34] Nancy-Salpepi opened #212 "Reset All Button does not reset the location of Second Source"
**Test device**
MacBook Air (m1 chip)

**Operating System**
11.5.2

**Browser**
chrome

**Problem description**
In the Lens Screen, after the Reset All button is pressed, if the Second Source checkbox is rechecked, the Second Source will appear in its last position instead of at the bottom of the object.

**Steps to reproduce**
1. In the Lens Screen, check the Second Source checkbox
2. Move the Se

[2021-09-24 17:59] Nancy-Salpepi commented on #163
With MacBook + chrome:
Using 1.0.0-dev.12 and the same testing procedure described in https://github.com/phetsims/geometric-optics/issues/163#issuecomment-926639431, I was unable to reproduce the sim freezing.

I will continue to use this built version and make additional manipulations to try and reproduce the original error described in https://github.com/phetsims/geometric-optics/issues/163#issu

[2021-09-24 18:14] pixelzoom commented on #212
Thanks @Nancy-Salpepi.  This regression crept in when I factored out SecondSource.js.  Fixed in the above commit, and closing.

[2021-09-24 18:14] #212 closed

[2021-09-24 18:48] kathy-phet commented on #163
@Nancy-Salpepi - A while back I was able to freeze the sim by changing the refraction index in different circumstances. I know code has changed since then, but you might try wiggling other knobs too to see if you can induce any crashes at all in the built version. Thanks for banging on this issue!

[2021-09-24 19:04] KatieWoe commented on #163
I wanted to take a look at this myself and went to master to get a look at the bug. I wasn't able to reproduce it there, and @Nancy-Salpepi said she hasn't been able to either. Has something changed?

[2021-09-24 19:48] pixelzoom commented on #163
@KatieWoe I beleive that @Nancy-Salpepi said that she DID reproduce the problem in master (unbuilt, assertion enabled), but DID NOT reproduce the problem in a dev version (built, assertions stripped).  @Nancy-Salpepi do I understand that correctly?

And no, nothing has been changed.

[2021-09-24 19:57] KatieWoe commented on #163
She said this to me about half an hour ago. That she could reproduce it this morning, but was unable to now. @Nancy-Salpepi can you confirm my understanding?

[2021-09-24 20:00] KatieWoe commented on #163
Actually, I finally did manage to reproduce this in master on the mirror screen. It took me quite a while though.

[2021-09-24 20:32] Nancy-Salpepi commented on #163
I am having a harder time reproducing in Master now. Not sure why. It happened so easily for me this morning....with the assertion error each time.

[2021-09-24 20:39] pixelzoom commented on #163
@Nancy-Salpepi said:

Can you be more specific about "playing with the sim"?   Do you recall what you were doing when the sim froze? Were you dragging something? Changing radio buttons or checkboxes?  Something else?

[2021-09-24 20:44] pixelzoom commented on #163
@Nancy-Salpepi said:

Can you be more specific about "playing with the sim"?   Was it always the situation shown in the animation in https://github.com/phetsims/geometric-optics/issues/163#issuecomment-926639431? Or could you get the sim to fail doing other things? Were you always dragging something? What settings did you have turned on? ...

I have yet to encounter this failure.

[2021-09-24 20:51] pixelzoom commented on #209
Here's a particularly based example, in the screenshot below. And note that this is with an object, not a light source.   I've also seen this with the rays for the first object/light.

<img width="1047" alt="screenshot_1272" src="https://user-images.githubusercontent.com/3046552/134738195-90dbebc4-1c01-489a-b736-c65be6126000.png">

[2021-09-24 20:53] pixelzoom commented on #209
This problem does seem to be specific to rays for a virtual image. I have not seen this problem with a real image.

[2021-09-24 20:57] KatieWoe commented on #163
I was able to get this on the debug version of the sim. Still haven't gotten it in the non-debug version.
Steps were turning on the second source, moving it to the middle to the object. Moving the slider controlling the mirror's properties, and dragging the object around randomly until the crash happened.
<img width="960" alt="inbuilddebug" src="https://user-images.githubusercontent.com/41024075/1

[2021-09-24 21:10] Nancy-Salpepi commented on #163
Nice @KatieWoe!
I know for certain that I never moved a slider before it happened.

The first time it occurred, I had been changing lots of things (checking and unchecking boxes/radiobuttons/zoom) and it occurred while I was dragging the pencil with only the second source checked after about 6 minutes. I filmed the entire thing but it is a huge file.
I was then able to get it to happen in my next

[2021-09-24 21:36] pixelzoom commented on #163
Thanks for the additional info @Nancy-Salpepi and @KatieWoe.  Unfortunately, I've still be unsuccessful at reproducing this.  But based on your tests, I'll offer the following conclusions:

* It happens regularly. It is not a corner case.
* In unbuilt versions of the sim, it hits an assertion and the sim stops.
* In built versions of the sim (what a user would be using), it seems to keep running O

[2021-09-27 13:32] Nancy-Salpepi opened #213 "Control panel and buttons move when object is dragged across top of panel"
**Test device**
MacBook Air (m1 chip)

**Operating System**
11.5.2

**Browser**
chrome

**Problem description**
When an object is dragged back and forth across the top of the control panel, the panel and buttons next to it will move up/down slightly.

**Steps to reproduce**
Drag the object back and forth across the top of the control panel.

**Visuals**
![panelshift](https://user-images.githubuser

[2021-09-27 16:11] Nancy-Salpepi commented on #163
Just a quick update from my end...I tested 1.0.0-dev12 for a couple more hours this morning using MacBook Air + chrome. With the second source on, I manipulated the sliders, buttons and switched screens and scenes. There were no console errors nor did I experience a crash.

[2021-09-27 16:20] kathy-phet commented on #163
That's exciting, @Nancy-Salpepi !

[2021-09-27 19:17] pixelzoom commented on #213
There's nothing the sim is doing to cause this, it's a scenery problem.  It has been reported previously for multiple sims, so I've created https://github.com/phetsims/scenery/issues/1289.   There is a workaround (`layerSplit: true`, used in https://github.com/phetsims/ph-scale/issues/226), but I don't think that it's a great idea to keep propagating that workaround to multiple sims - that's build

[2021-09-28 17:12] pixelzoom commented on #208
Done, screenshot below. @arouinfar please review in master.

<img width="1131" alt="screenshot_1294" src="https://user-images.githubusercontent.com/3046552/135133952-ae932113-edfc-4597-81c7-a6866ab39ccb.png">

[2021-09-28 17:17] pixelzoom commented on #204
There's more to do here than just revising the drag bounds.  The DragListener in OpticNode.js is not using the features of DragListener, and is handling it own `clickOffset` and drag bounds.  I'll take care of that now, rather than hack together an adjustment to the current way of handling drag bounds.

[2021-09-28 17:52] pixelzoom commented on #196
@arouinfar The one term in the above table that causes a UI change is "Second Point".   There is currently a checkbox labeled "Second Source".  That is correct terminology for a light source, but incorrect for an object. For an object, we are showing a second "point of interest" on the object, not a second source of light.  For a light source, "second point" can mean the second point from which li

[2021-09-28 17:53] pixelzoom commented on #196
@arouinfar after reviewing, please assign this issue back to me so I can begin work.

[2021-09-28 18:21] pixelzoom opened #214 "Consider alternative implementations for labeling things in the UI."
Over in https://github.com/phetsims/geometric-optics/issues/199, I discovered that adding labels is very complicated.  It's totally a view thing, has nothing to do with the model, but for some reason is specified in model coordinates.  It's also very inflexible about where the label can be placed - they must be under the thing being labeled.

A better approach would be to ditch LabelsNode, and hav

[2021-09-28 18:24] pixelzoom commented on #199
What I discovered here is that it's unnecessarily difficult to add new labels.  So I've added these labels in a temporary sort of way.  Screenshot below shows the labels and their positions. This should be good enough for the prototype, until we can address #199.  Note that these labels can overlap with other things depending on where things are located, but that's been true of the other labels.

[2021-09-28 18:35] jonathanolson commented on #163
I briefly looked at the case @zepumph noted, and created https://github.com/phetsims/kite/issues/90. It's not handling well intersections between two segments that are essentially a single elliptical arc split incredibly close to a horizontal tangent. We could both (a) improve arbitrary intersection, but to handle this case better (b) handling ellipse/circle intersections where they only differ by

[2021-09-28 18:35] pixelzoom commented on #187
9/23/21 design meeeting:

I sounds like this is not going to be an option, so closing. The larger combo box seems to be working OK.

[2021-09-28 18:35] #187 closed

[2021-09-28 18:38] pixelzoom commented on #183
Now that I've discussed the "second source" in #196 with @ariel-phet, I think a flat circle is most appropriate here.  This is not really a second source of light, it's a second point of interest on the Object.  Making that point look like a 3D sphere (manipulator) could give the incorrect impression that it's a separate Object.

Closing.

[2021-09-28 18:38] #183 closed

[2021-09-28 18:41] pixelzoom commented on #189
I've moved things around as we discussed in design meeting, see screenshot below.

I still don't like the the main control panel.

@arouinfar thoughts?

<img width="1132" alt="screenshot_1296" src="https://user-images.githubusercontent.com/3046552/135146350-9b00f515-8332-48ac-a89e-6552da3fff31.png">

[2021-09-28 18:43] pixelzoom commented on #190
There is a vertical axis that goes through the center of the lens/mirror. But it's only visible when Rays is set to "Principal".

[2021-09-28 18:47] pixelzoom commented on #214
Another option would be to handle this in GeometricOpticsScreenView.  For each Node that need to be labeled, (1) observe its bounds, move label when bounds change, and (2) link label's visibleProperty to Node's visibleProperty.

[2021-09-28 21:06] kathy-phet commented on #213
Note that this jumping is also happening on Windows 10, Chrome Version 94.0.4606.61. It's pretty subtle so I probably wouldn't have noticed it., but I see it if I look closely. It only happens when the object gets closer to the control panel, rather than where it starts and more typical moves from its starting location.

I think its good to track down if we fix the source issue, but I would not le

[2021-09-28 21:17] pixelzoom commented on #213
If PhET doesn't have the resources to address this generally in phetsims/scenery#1289, then perhaps I should add the `layerSplit: true` workaround in yet-another sim.   We'll have to check for potential performance impact.

[2021-09-28 21:19] pixelzoom commented on #213
Slack conversation with @jessegreenberg

Chris Malley  3:13 PM
Why is it necessary to do this:
``js
        if ( infoButton.isPDOMClicking() ) {
          infoDialog.focusCloseButton();
        }
[code]

[2021-09-28 22:24] pixelzoom commented on #213
@jonathanolson and I worked on this via Zoom.  We're both on MacBook Pros, macOS 11.5, Chrome 94.  I see the problem, he doesn't.  The only difference we could identify is graphics card -- mine Intel, is Radeon.

@jonathanolson suggested using `preventFit: true` on the ScreenView.  This is a better alternative to `layerSplit: true` because it won't cause performance problems.  I verified that `pre

[2021-09-28 22:27] pixelzoom commented on #213
Workaround applied in the above commit. @Nancy-Salpepi could you please confirm that this looks OK on your system?

[2021-09-29 12:05] Nancy-Salpepi commented on #213
This looks fixed on the MacBook Air (OS 11.6 + chrome). @kathy-phet also mentioned that is occurred on Windows 10, but I do not have a Windows device to test.

[2021-09-29 14:53] kathy-phet commented on #213
Fixed on my Windows device too!

[2021-09-29 15:32] KatieWoe commented on #178
Not sure if this is related:
[code]

[2021-09-29 15:42] pixelzoom commented on #213
Great - thanks everyone! Closing.

[2021-09-29 15:42] #213 closed

[2021-09-29 15:45] pixelzoom commented on #155
@KatieWoe reports that this is still occurring:

[code]

[2021-09-29 15:45] pixelzoom commented on #178
@KatieWoe that's reported previously in #155, I'll move it there.

[2021-09-29 16:03] veillette commented on #214
@pixelzoom : For perspective, we attempted to add the labels directly to each node, but without much success. As you point out, attaching the labels to the node makes the location of them much easier, but we ran into multiple issues with this approach.

The main issue is the constraint from the design team that the label size stays constant while zooming in and out.  When the nodes are responsible

[2021-09-29 16:18] pixelzoom commented on #214
Thanks for the perspective @veillette, great information.  I hadn't thought about the "zoom" aspect.  I may pursue the option that I mentioned in https://github.com/phetsims/geometric-optics/issues/214#issuecomment-929529711, which woulld allow associating labels with there Nodes without the need for a modelViewTransform, keeping everything in view coordiantes.

[2021-09-29 16:44] pixelzoom commented on #205
This problem was introduced between 1.0.0-dev.10 (9/15/21) and 1.0.0-dev.11 (9/22/21).

[2021-09-29 17:01] pixelzoom commented on #205
Bisecting suggests that this problem was introduced in https://github.com/phetsims/geometric-optics/commit/45e0bf146e80c3a772568dfc47eccf90e8408f52.

[2021-09-29 17:12] pixelzoom commented on #205
Fixed in the above commit.  The regression was due to my error about how `visibleProperty` was used in LightRaysNode.

Closing.

[2021-09-29 17:14] pixelzoom commented on #155
@arouinfar should this be addressed for the prototype? I have not investigated whether it causes the sim to crash in practice.

[2021-09-29 17:15] pixelzoom commented on #177
@arouinfar should this be addressed for the prototype? I have not investigated whether it causes the sim to crash in practice.

[2021-09-29 17:16] pixelzoom commented on #178
@arouinfar should this be addressed for the prototype? I have not investigated whether it causes the sim to crash in practice.

[2021-09-29 17:17] pixelzoom commented on #163
I'm still not clear on whether this needs to be addressed for the prototype. Labeling for design meeting.

[2021-09-29 17:17] pixelzoom commented on #156
@arouinfar should this be addressed for the prototype? I have not investigated whether it causes the sim to crash in practice.

[2021-09-29 17:21] pixelzoom commented on #72
I don't know what the status of this issue is, but it was a CT failure.  PhET typically does not like to publish sims with known failures, but this issue is not currently part of the Prototype milestone.  @arouinfar should it be? Or should it be investigated to see if it causes the sim to fail in practice?

[2021-09-29 17:27] pixelzoom opened #215 "Review issues for possible inclusion in Prototype milestone."
The GitHub issues listed below seem like significant problems that are not currently included in the Prototype milestone.  And PhET doesn't typically like to publish sims with issues like these.

@arouinfar @kathy-phet please take another look at these GitHub issues. Please comment in the individual issues.

Incorrect behavior:

* https://github.com/phetsims/geometric-optics/issues/58
* https://gi

[2021-09-29 17:35] #177 closed

[2021-09-29 17:44] pixelzoom commented on #156
This seems related to (duplicate of?) https://github.com/phetsims/geometric-optics/issues/163.  But I'm hesitant to close it, because there seems to be more than 1 problem that the sim is hitting in kite when Spotlight.getIntersection() is called.

[2021-09-29 20:12] jonathanolson commented on #163
Additionally, let me know if I should bump up kite failures in priority here.

[2021-09-29 20:43] pixelzoom commented on #191
The above commit fixes LIGHT_SOURCE_OFFSET, so that the rays now appear to come out of the light at the correct spot. No idea why it was so wrong.

[2021-09-29 21:40] pixelzoom commented on #191
The "jumps" problem is fixed in https://github.com/phetsims/geometric-optics/commit/c4440176497407ffb16926c4c349f81f9135aa9c.  I solved the problem by adding option `offsetPosition` to the DragListener. But I don't understand the specific value that I found to be necessary - it's a function of `LIGHT_SOURCE_OFFSET`.   I've added a TODO in the code to circle back after prototype publication.  And a

[2021-09-29 21:40] #191 closed

[2021-09-30 16:36] pixelzoom commented on #204
There's a big problem with this approach...  ALL draggable objects are constrained to the same bounds.  If we constrain the lens/mirror as we've proposed here, then we end up with the min/max vertical drag bounds show by the optical axis in screenshots below.  The result is that the Object is not vertically draggable.

So... Back to the drawing board here.  Perhaps we need separate drag bounds for

[2021-09-30 16:53] pixelzoom commented on #204
Back to me, I think I've figured out a way to accomplish what we want here.

[2021-09-30 17:05] pixelzoom commented on #204
The above 2 commits adjust the drag bounds, and constrain a lens/mirror with maximum diameter to be fully within those bounds.  Query parameter `?showDragBounds` was added to display the drag bounds as a green rectangle, see screenshot below.

To test this, set the lens/mirror diameter to its maximum value. Then drag the lens/mirror and the Object, and the first light source, and verify that they

[2021-09-30 18:08] pixelzoom commented on #169
Both of these Properties have been factored out into SecondSource.js. `unconstrainedSecondSourcePositionProperty` was renamed `lightSourcePositionProperty`.

[2021-09-30 18:15] pixelzoom commented on #169
The reason why we need both `lightSourcePositionProperty` and `verticalOffsetProperty` is that SecondSource is overloaded to handle both the second light source and the second point of interest on the Object.   I've improved documentation to indicate that.

In the longterm, I think it would be better to break "light source" and "second point of interest on object" into separate things.  Having to

[2021-09-30 18:15] #169 closed

[2021-09-30 19:58] pixelzoom commented on #215
9/30/21 design meeting:

* We'll skip the "Assertion failure" issues for the prototype. They probably don't crash the sim in practice.
* The "Incorrect behavior" issues should be triaged.

[2021-09-30 20:00] pixelzoom commented on #93
9/30/21 design meeting:

This will be handled by implementing #140.  So closing.

[2021-09-30 20:00] #93 closed

[2021-09-30 20:05] pixelzoom opened #216 "For light sources, always hide virtual rays and disable the "Virtual Image" checkbox."
For light sources, always hide virtual rays and disable the "Virtual Image" checkbox.

This might make https://github.com/phetsims/geometric-optics/issues/209 a non-issue.

[2021-09-30 20:07] pixelzoom commented on #200
9/30/21 design meeting: verified, closed.

[2021-09-30 20:07] #200 closed

[2021-09-30 20:08] pixelzoom commented on #208
9/30/21 design meeting:

Slight concern about dashed principal rays. But we'll consider that later. Closing

[2021-09-30 20:08] #208 closed

[2021-09-30 20:11] pixelzoom commented on #204
9/30/21 design meeting: looks good, closing.

[2021-09-30 20:11] #204 closed

[2021-09-30 20:20] pixelzoom commented on #196
9/30/21 design meeting:

* Let's use SourceObject instead of OpticalObject.
* Maybe use ResultingImage instead of OpticalImage (@pixelzoom wants to poke around a bit for other options.) @arouinfar said she could live with OpticalImage.

[2021-09-30 20:21] pixelzoom commented on #211
9/30/21 design meeting: Change UI term.

[2021-09-30 20:21] pixelzoom commented on #210
9/30/21 design meeting: Change UI term.

[2021-09-30 20:22] pixelzoom commented on #193
9/30/21 design meeting: looks good, closing.

[2021-09-30 20:22] #193 closed

[2021-09-30 20:25] pixelzoom commented on #199
9/30/21 design meeting:

One small change in above commit. Looks good, closing.

[2021-09-30 20:25] #199 closed

[2021-09-30 20:27] pixelzoom commented on #142
9/30/21 design meeting:

The current positions of things (objects and light sources) looks good. Closing.

[2021-09-30 20:27] #142 closed

[2021-09-30 20:28] pixelzoom commented on #189
9/30/21 design meeting: looks good, closing.

[2021-09-30 20:28] #189 closed

[2021-09-30 20:44] pixelzoom commented on #182
9/30/21 design meeting:

Do some preliminary work on this:
* make sure all ProfileColorProperty instances work in Color Editor
* make sure all colors are opaque, use `opacity` for transparency
* quick look to see if additional ProfileColorProperty instances are needed

[2021-09-30 21:21] pixelzoom commented on #182
All colors are hooked up in Color Editor.  And I added colors for the rectangular radio buttons.

Back to @arouinfar to adjust colors for "default" profile, and specify colors for "projector" profile.

[2021-09-30 21:57] pixelzoom commented on #216
Done, @arouinfar please review in master.

[2021-09-30 21:59] pixelzoom commented on #209
#216 makes this a moot issue - we're no longer showing virtual rays for light sources.

Closing.

[2021-09-30 22:07] #215 closed

[2021-09-30 22:09] pixelzoom commented on #211
Done, closing.

[2021-09-30 22:09] #211 closed

[2021-09-30 22:11] pixelzoom commented on #210
Done, closing.

[2021-09-30 22:11] #210 closed

[2021-09-30 22:13] pixelzoom commented on #163
9/30/21 design meeting:

Since this doesn't cause a hard failure in practice (assertions are stripped in built versions), we will not address this for the Prototype milestone.  It should be addressed for the first public publication.

[2021-09-30 22:14] pixelzoom commented on #58
9/30/21 design meeting:

Both light sources should have the same drag bounds.

[2021-10-01 00:07] pixelzoom commented on #196
The more I read the literature for this domain, the less concerned I am with our choice of "Second Point".  The light source is frequently referred to as a _point light source_, and that's in fact how it appears in PhET's sim - the light originates from a single point.

[2021-10-01 00:10] pixelzoom commented on #196
I'm back to preferring "Optical Image". From Encyclopedia Britanica,  https://www.britannica.com/technology/optical-image:

@arouinfar @ariel-phet thoughts?

[2021-10-01 00:13] pixelzoom commented on #196
In the code, "optic" is used to refer to the lens or mirror.  Should it be "objective"?  From https://en.wikipedia.org/wiki/Objective_(optics):

[2021-10-01 00:15] pixelzoom commented on #196
In the code, "optic" is used to refer to the lens or mirror.  Should it be "objective"?  From https://en.wikipedia.org/wiki/Objective_(optics):

Or maybe "optic" is OK.  Google defines it as:

This term will be exposed by PhET-iO, so what do we want to see?

[2021-10-01 00:16] pixelzoom commented on #196
I see the object often referred to as the "observed object".  Would that be better than "source object"?

[2021-10-01 02:47] sarchang commented on #190
With Principal Rays selected, the vertical axis goes through the center because the principal rays bend at the center of the optic. This illustrates the thin lens approximation (and is also supposed to illustrate how we are modeling the lens as infinitely large):

![image](https://user-images.githubusercontent.com/29347882/135501349-d57d4f19-642a-4990-ad68-63f398bf9d3d.png)

Whereas in Many Rays,

[2021-10-01 02:49] pixelzoom commented on #190
Thanks @sarchang!

[2021-10-01 16:26] ariel-phet commented on #196
@pixelzoom in my experience "objective" tends to be used in microscopy and objectives often contain multiple optics, so I think optic is the better term here. The lenses and mirrors in the sim would generally be called "optical elements" or "optics" so I don't think changing to "objective" would be preferable.

I personally think "OpticalImage" is pretty clear, but "VisualImage" might be more inte

[2021-10-01 17:12] arouinfar commented on #196
@pixelzoom I'm fine with using "OpticalImage" but would prefer to stick with "Optic" for the lens/mirror since it's the more common term in this context.

[2021-10-01 17:19] arouinfar commented on #216
Looks good in master, thanks @pixelzoom.

[2021-10-01 17:19] #216 closed

[2021-10-01 17:24] arouinfar commented on #156
In https://github.com/phetsims/geometric-optics/issues/215#issuecomment-931621318 we decided not to address assertion failure issues for the prototype, so back to @pixelzoom.

[2021-10-01 17:26] arouinfar commented on #72
In https://github.com/phetsims/geometric-optics/issues/215#issuecomment-931621318 we decided not to address assertion failure issues for the prototype, so back to @pixelzoom.

[2021-10-01 17:30] arouinfar commented on #178
@pixelzoom this seems a bit different than the assertion failures we passed over in #215. If it's a rare issue or doesn't cause a built sim to crash, I'm fine with deferring for the prototype.

Perhaps we should ask QA to try and reproduce? What do would you recommend @pixelzoom?

[2021-10-01 17:36] arouinfar commented on #159
Thanks @zepumph.

Looks like there may have been some recent changes to the labels/layout, because the static objects no longer have overlapping labels when zoomed all the way out:
![image](https://user-images.githubusercontent.com/8419308/135663210-cec28cf5-2449-4d79-a8a2-8d41f69fcf6d.png)

I'm not particularly concerned by the labels associated with movable objects occasionally overlapping the s

[2021-10-01 17:36] #159 closed

[2021-10-01 17:37] arouinfar commented on #155
In https://github.com/phetsims/geometric-optics/issues/215#issuecomment-931621318 we decided not to address assertion failure issues for the prototype, so back to @pixelzoom.

[2021-10-01 17:43] arouinfar commented on #85
@pixelzoom I don't think there's any remaining work for this issue.

The desired behavior appears to be in master, namely:
1. Any portion of the spotlight that falls outside of the screen boundaries should be clipped.
2. Only the rays that hit the screen should be terminated.

![image](https://user-images.githubusercontent.com/8419308/135664233-983f94b1-f977-4108-ae50-8c4a547145ed.png)

[2021-10-01 17:43] #85 closed

[2021-10-01 17:45] arouinfar commented on #105
Color changes are being tracked in https://github.com/phetsims/geometric-optics/issues/182, so closing.

[2021-10-01 17:45] #105 closed

[2021-10-01 17:46] arouinfar commented on #92
We will try out the gray background with white rays, but color changes will be handled in https://github.com/phetsims/geometric-optics/issues/182, so we can close this issue.

[2021-10-01 17:46] #92 closed

[2021-10-01 17:57] arouinfar commented on #146
I took an initial pass at the credits.

@chrisklus was a part of the brainstorming meetings and mentored Sarah and Martin, but I'm not sure which section to credit him in. @chrisklus would you prefer the design team or a development credit?

Developers are currently credited alphabetically which seems appropriate given the contributions, but I'll let @pixelzoom make the final call.

[2021-10-01 20:17] arouinfar commented on #188
I like this change @pixelzoom.

I know there's a strange interaction here. The goal of the Show/Hide button is to support making predictions around the real/virtual image location, orientation, and magnification. Hide mode must hide both the real/virtual image and the rays, as the rays reveal the image location. The secondary purpose of the toggle button is to trigger the ray animation which was d

[2021-10-01 21:12] arouinfar commented on #190
You make a really good point @pixelzoom. In Flash, there was a vertical line that spanned the length of the lens, though it could sometimes be hard to see depending on the lens dimensions/index of refraction.
![image](https://user-images.githubusercontent.com/8419308/135681859-f2a27cb3-2981-4c82-a06d-49c85e566b6a.png)

@pixelzoom let's try adding a thin, solid line to the middle of the lens. The s

[2021-10-01 21:15] arouinfar commented on #144
This seems to be working fine in master, closing.

[2021-10-01 21:15] #144 closed

[2021-10-01 21:24] arouinfar commented on #71
The behavior in master feels pretty good to me and is sufficient for the prototype.

@ariel-phet can you test out `lightSpeed` to see if there would be a better value?

[2021-10-01 21:26] ariel-phet commented on #188
@pixelzoom @arouinfar I think we might be better served with a more explicit type of button. Here is a rough suggestion (and rough placement), but I think more of a "scene style" selection button would be better (one of the ones I show should be more highlighted, and one more greyed out, but I just wanted to make a rough sketch). Basically showing a simple iconic representation of either
1. Object

[2021-10-01 21:53] arouinfar commented on #149
@ariel-phet if you have an iPad, could you do some performance testing? Things feel snappy on my MacBook Pro, but I won't have access to our QA devices until sometime next week.

[2021-10-01 22:56] pixelzoom commented on #156
Since this is not in the prototype, unassigning until I start working on public production issues.

[2021-10-01 22:57] pixelzoom commented on #72
Since this is not in the prototype, unassigning until I start working on public production issues.

[2021-10-01 22:59] pixelzoom commented on #178
It's almost certainly a sim logic error, and non-fatal. While I'm not 100% certain, I'm fairly confident that this issue will not occur in practice, and can be deferred for the prototype.  It occurs in other sims in CT, and we've (so far) ignored it in production deploys for those sims.  So... Unassigning until post-prototype.

[2021-10-01 23:00] pixelzoom commented on #155
Since this is not in the prototype, unassigning until I start working on public production issues.

[2021-10-03 16:10] ariel-phet commented on #149
@arouinfar I no longer have an iPad (I gave the PhET one back to QA awhile back).

[2021-10-03 17:45] ariel-phet commented on #71
@arouinfar @pixelzoom I have a slight preference for `lightSpeed` to be equal to 400, 500 feels a shade too fast if the goal is to kind of comfortably have one's eye trace the path of the light rays. But my preference is minor.

[2021-10-04 19:19] jonathanolson commented on #163
I've handled what was causing the particular failure identified by @zepumph in this issue. I'm going to leave self-assigned until I see if there might be other triggers (and review the other related issues).

[2021-10-05 14:04] pixelzoom commented on #71
I like @ariel-phet's suggestion here. Slightly slower (400) feels good to me too.    I have made it so in the above commit.  Closing.

[2021-10-05 14:04] #71 closed

[2021-10-05 16:51] pixelzoom opened #217 "Decouple "framed object" and "light source"."
Framed objects and light sources are currently combined into one "representation", differentiated by the `isObject` field of Representation.  This "combining" is carried through the implementation of the model and the view.

Disadvantages:

* A bunch of `isObject` tests are required througout the code, with different code paths for Object vs Light Source.  This is not very object-oriented, complic

[2021-10-05 17:16] pixelzoom commented on #209
Reopening. This is still occurring (frequently!) for real rays, for both light sources.  macOS 11.6 + Chrome 94.0.4606.71, untested on other platforms.

<img width="1133" alt="screenshot_1318" src="https://user-images.githubusercontent.com/3046552/136071441-4f02a94a-cd93-43cf-8dc9-385b64e4f6f8.png">

[2021-10-05 17:19] pixelzoom commented on #209
I'm not seeing this with Safari 15.0 or Firefox 93.0.

[2021-10-05 17:22] pixelzoom commented on #209
If I disable the drag bounds for Objects, I can also make this happen with Objects. It seems specific to the lower-left area of the screen, and the drag bounds for Objects (and their height) precludes them from being dragged there.

<img width="1134" alt="screenshot_1319" src="https://user-images.githubusercontent.com/3046552/136072170-33b574e1-abbf-45cb-8cf3-5ec3519e3b66.png">

[2021-10-05 17:23] pixelzoom commented on #209
@arouinfar Does this issue need to be addressed for the Prototype?  I have not started investigating, so I have no idea how much time will be involved in fixing this.

[2021-10-05 17:51] #58 closed

[2021-10-05 18:48] pixelzoom commented on #209
Ugh... It's also a problem for virtual rays associated with an Object. Again, in the same lower-right quadrant of the screen:

<img width="1133" alt="screenshot_1320" src="https://user-images.githubusercontent.com/3046552/136084452-09f33e2b-8a25-4b03-b5b7-02f638191d3f.png">

[2021-10-05 19:06] pixelzoom commented on #209
The code that creates the Shape for each individual ray is in LightRay.js.  In `updateShape`, this consists of calls to Shape `moveToPoint` and `lineTo`.

The code that combines the individual rays is in LightRays.js.  Because we'll want to use different strokes for real vs virtual rays, there are separate Shapes for real and virtual rays. They are `this.realRaysShape` and `this.virtualRaysShape`

[2021-10-05 19:42] pixelzoom opened #218 "Problems with "Second Point" checkbox."
For #196, we changed a checkbox label from "Second Source" to "Second Point".   We did this because a 2nd point of interest on an Object is not a "second source".

But we still have a problem here - the icon on the checkbox.

When we've selected an Object from the combo box, the checkbox label and icon make sense:

<img width="1132" alt="screenshot_1321" src="https://user-images.githubusercontent.

[2021-10-05 20:44] pixelzoom commented on #146
That's for doing the intiial pass @arouinfar, we'll likely need that for the Prototype.

@KatieWoe anyone else to add to QA credits as a starting point?  So far, we have:

[2021-10-05 21:23] pixelzoom commented on #209
Another example, this time NOT in the lower-left quadrant, and using a mirror:

<img width="1133" alt="screenshot_1323" src="https://user-images.githubusercontent.com/3046552/136104594-056be8ca-acf1-4914-b5c2-6b8d94949a66.png">

[2021-10-05 21:57] chrisklus commented on #146
Oh, I forgot about this structure. I think team is much more appropriate.

[2021-10-05 22:02] ariel-phet commented on #218
@pixelzoom @arouinfar honestly I think it is fine as is (especially for the prototype). It is a "red thing" in both cases, I doubt there will be any confusion. My suggestion would be to punt for now. We can always see if interviews identify a problem.

As an alternative (but I do not think necessary for the prototype) we could have two check boxes up by the "object" combo box, one for "second poin

[2021-10-05 22:03] pixelzoom commented on #146
I've added @chrisklus to the team credits:

<img width="617" alt="screenshot_1325" src="https://user-images.githubusercontent.com/3046552/136108997-aea2cb74-6ad2-42e6-98ad-b0a160581453.png">

[2021-10-05 22:18] KatieWoe commented on #146
Emily Miller might need to be added. @stemilymill please confirm.

[2021-10-05 23:32] samreid commented on #209
I was able to reproduce the problem on macOS 11.6 on Chrome Version 94.0.4606.71 (Official Build) (arm64), and was surprised to see this problem with rootRenderer=canvas as well.  As a workaround, I tried separate Line instances for each Ray, and it seems to work around the problem (though would not be as fast performance unless we added pooling).  This could be a good practical case to understand

[2021-10-06 00:06] arouinfar commented on #209
I've seen this in macOS 10.15.7/Chrome 94.0.4606.61, but only as a brief flicker when using the sim in the color editor. I don't know how to reliably reproduce. I haven't seen it at all when using the regular unbuilt sim on master.

Since this seems to happen often on some platforms, I'd say it's blocking. The glitch looks pretty bad in the screenshots.

[2021-10-06 00:49] arouinfar commented on #14
@pixelzoom here are the .ai and .png assets for the framed objects, lamps, and projector screen. I exported all .png at 150 ppi.
[geometric-optics-assets.zip](https://github.com/phetsims/geometric-optics/files/7290030/geometric-optics-assets.zip)

The framed objects all include padding so that the rays/second point can originate from the center of the image. I also designed the framed objects so t

[2021-10-06 01:52] pixelzoom commented on #218
OK, then nothing to do here. Closing.

[2021-10-06 01:52] #218 closed

[2021-10-06 01:58] pixelzoom commented on #14
@arouinfar Who should I attribute these images to in the license.json file?

[2021-10-06 02:02] arouinfar commented on #146
I added her to the credits because she worked on the assets I just delivered. The assets currently checked in were all taken from the openstax sim and used as a stand-in. As far as I know, nothing came from the Flash version.

[2021-10-06 02:07] pixelzoom commented on #209
Thanks for the patch @samreid.  I had considered going this route (a Path for each ray). But I was trying to change the existing implementation as little as possible for the Prototype, especially code like this that involves animation.   I'll keep this in mind if I can't make forward progress on the existing implementation.

[2021-10-06 02:50] samreid opened #219 "LightRays.addRayShape calls a private method"
Discovered in https://github.com/phetsims/geometric-optics/issues/209, LightRays has this implementation:

[code]

However, `addSubpath` is private:

[code]

Also, since Subpaths are mutable, it seems brittle to pass Subpaths from one Shape to another Shape.

[2021-10-06 14:41] stemilymill commented on #146
I worked on geometric optics back in summer so I should probably be added too

[2021-10-06 17:21] pixelzoom commented on #209
In https://github.com/phetsims/geometric-optics/issues/219, @samreid noted that Shape `addSubPath` is private.  So that tips the balance in favor of applying the patch identified in https://github.com/phetsims/geometric-optics/issues/209#issuecomment-935073761.

[2021-10-06 17:21] #219 closed

[2021-10-06 18:12] arouinfar commented on #182
@pixelzoom updated colors provided below. Projector mode and hooking up the the scene/screen icons to the color profile (as detailed below) aren't necessary for the prototype.

Colors were chosen with the artwork provided in #14 in mind. All colors have passed colorblind contrast checks in Illustrator.

| Element | default | projector |
| --- | --- | --- |
| screenBackgroundColor | black | white |

[2021-10-06 18:17] arouinfar commented on #152
Assets were provided in https://github.com/phetsims/geometric-optics/issues/14#issuecomment-935168420. Can we close this issue @pixelzoom?

[2021-10-06 18:19] arouinfar commented on #14
@pixelzoom all images were originally created by Megan Lai and edited by me.

[2021-10-06 18:21] arouinfar commented on #186
@pixelzoom asked about this in https://github.com/phetsims/geometric-optics/issues/14#issuecomment-935249335 and I responded in https://github.com/phetsims/geometric-optics/issues/14#issuecomment-936838484.

Can we close this issue @pixelzoom?

[2021-10-06 19:13] pixelzoom commented on #152
I haven't checked the assets into GitHub yet, so let's leave it open until I get to that.

[2021-10-06 19:14] pixelzoom commented on #14
OK thanks. I attribute like this in license.json:

[code]

[2021-10-06 19:16] pixelzoom commented on #186
Yes, we can close this issue, and verify new license.json info over in #14.

[2021-10-06 19:16] #186 closed

[2021-10-07 12:47] pixelzoom commented on #152
Done, closing.

[2021-10-07 16:07] pixelzoom commented on #14
By the way... please note that the postion where the rays contact the objects and light sources have not been adjusted yet -- as you can see in the above screenshots.

[2021-10-07 18:21] pixelzoom opened #220 "Second point of interest jumps when you click on it."
To reproduce:

1. Start the sim
2. Go to Lens screen
3. Select Pencil
4. Check "Second Point" checkbox
5. Press on the second point, watch it jump down.
6. Drag the second point around. Press on it again, watch it jump down again.

[2021-10-07 19:09] arouinfar commented on #209
@pixelzoom I haven't been able to reproduce in dev.17 and I'm not seeing a difference in performance compared to dev.15. Closing.

[2021-10-07 19:09] #209 closed

[2021-10-07 20:34] pixelzoom commented on #195
10/7/21 design meeting:

QA plan for the prototype is:
* some light testing (either in master or a dev version) by the sim team & QA team, create a QA issue
* RC-lite testing

[2021-10-07 20:41] pixelzoom commented on #14
I've finished integrating the new artwork, and have aligned the objects and light sources with rays.

There's one bit that I haven't finished, and I'm not going to get to until next week. So reminder to myself:
- [ ] Fiddle with GeometricConstants.PROJECTOR_SCREEN_MASK_CORNERS to adjust the mask that corresponds to the area where light can be seen on the projector screen. See also TODO in Projecto

[2021-10-12 04:14] arouinfar commented on #14
@pixelzoom here are the updated assets: [updated-assets.zip](https://github.com/phetsims/geometric-optics/files/7326798/updated-assets.zip)

Here's a rough mockup of the updated icons in a ListBox. All icons have identical dimensions.
![image](https://user-images.githubusercontent.com/8419308/136889822-a0e60d33-e3d9-444c-8985-3d887e77e136.png)

I updated the pencil background to light blue and it

[2021-10-12 04:21] arouinfar commented on #182
The colors look good to me, the only thing I'm a bit concerned about is the contrast between realRays1Stroke and the projector screen. Here's what it currently looks like:
![image](https://user-images.githubusercontent.com/8419308/136890760-92477a1f-c17f-43d3-82e3-6c0a4e728008.png)

@pixelzoom let's change realRays1Stroke  to `rgb( 200, 200, 200)`
![image](https://user-images.githubusercontent.com

[2021-10-12 19:47] arouinfar commented on #182
Thanks @pixelzoom. Looks good!

[2021-10-12 20:34] arouinfar commented on #220
@pixelzoom this does not need to be handled for the prototype.

[2021-10-12 21:08] arouinfar commented on #14
@pixelzoom things still look pretty aliased to me. I'm not seeing a difference with the Illustrator-exported lamp images. However, I think it's acceptable for the prototype. I don't think it's worth spending time on right now, but we can revisit once you've finished the code cleanup.

[2021-10-12 21:20] pixelzoom opened #221 "Address aliasing of lamp images"
Over in https://github.com/phetsims/geometric-optics/issues/14#issuecomment-940641334, @arouinfar noted some aliasing of the lamp images.  We decided it was good enough for the prototype, but would like to improve things for the public version.   That's going to be part of a bigger cleanup effort related to how light sources are implemented.

[2021-10-13 23:44] pixelzoom commented on #72
Note that Spotlight was renamed LightSpot, and SpotlightNode was renamed LightSpotNode, per #196.

[2021-10-14 03:52] kathy-phet opened #222 "Add intervals for sliders and spinners."
In reviewing Geometric Optics, I think all of the sliders could use some snap for the slider part for calculation and reproducibility ... here

- Radius of curvature and Diameter: snap to 5cm, tweak by 1cm
- Index of refraction: snap to 0.05, tweak by 0.01 (extending range to 1.90 on high end)

Also, I'm not suggesting this for the prototype, just in general.

@arouinfar - Thoughts?

[2021-10-14 03:59] kathy-phet opened #223 "Leave "Optical Axis" label in same "screen coordinate" position when zooming out"
The Optical Axis label started encroaching on other parts when I zoom out. It seems like it could basically stay where it is in screen coordinates and not have to move ever in the zoom in/out, and would look better. It would be less crowded by the lens, as the label would stay over to the left of the screen. The others have to really follow what they label:
![image](https://user-images.githubuserc

[2021-10-14 04:01] kathy-phet opened #224 "Revisit background color for Pencil"
The white/grey rays still sort of wash out on the blue background on the pencil. Maybe a bit deeper blue?

No need to tweak further for the prototype. Just noting this suggestion for future versions.

[2021-10-14 04:04] kathy-phet opened #225 "To do: Check Projector Mode in the lecture hall"
I would like to check to see how projector mode is working in a real classroom. So this is an issue to self-assign to me for when I'm on campus to check in the big lecture halls and see how the contrast is working.

Not needed for the prototype.

[2021-10-14 04:18] kathy-phet opened #226 "Revisit colors for light and projection screen."
I find the yellow spot very hard to pick out on the projection screen.

A screen will only be "white" if there is actually light shining on it and reflecting back into your eye. In this case, the only light in the room is the spotlight, so in fact, you will see a bright yellow spot and the rest of the screen will be dark. Thus, I think we should set the background of the projection screen back to

[2021-10-14 04:31] kathy-phet opened #227 "Add a flat mirror"
In playing with the sim today, I was desiring to take the mirror flat. So adding this for consideration as we think about the final improvements after the prototype. Physics is basically just a virtual image behind the mirror and equidistant and same size as the object. Suggestion would be a third scene on mirror that was flat. Note - I haven't thought thru all the issues this suggestion may bring

[2021-10-14 05:03] arouinfar commented on #227
For https://github.com/phetsims/qa/issues/723

[2021-10-14 05:03] arouinfar commented on #225
For https://github.com/phetsims/qa/issues/723

[2021-10-14 14:46] pixelzoom commented on #223
That not curently possible with the current implementation of labels.  I'm planning to reimplement labels to address a range of problems in https://github.com/phetsims/geometric-optics/issues/214.  I'll add this to that issue, and close this issue.

[2021-10-14 14:48] pixelzoom commented on #223
Actually.... I'll just leave this issue open, but note that it's related to #214.

[2021-10-14 15:03] pixelzoom opened #228 "Add "arrow" representation for object"
While we're thinking about final design considerations for the public version of this sim...

Over in https://github.com/phetsims/geometric-optics/issues/217#issue-1016551714, I said:

<img width="357" alt="screenshot_1315" src="https://user-images.githubusercontent.com/3046552/136066532-d4546cce-c7da-4640-9d0c-009012cb2c15.png">

So... Do you want to add the "arrow" representation for the object?

[2021-10-14 17:34] ariel-phet commented on #228
To me the sim feels incomplete without this representation. When we teach optics and the imaging equation, this is the representation we use. If I were a teacher using the sim, it is a request I would make to PhET. That is my personal opinion, but there are obviously various priorities on the project to balance. The sim is certainly still very valuable without this representation, but I do think i

[2021-10-14 18:27] pixelzoom opened #229 "Convert to TypeScript."
At 10/14/21 quarterly planning meeting, @kathy-phet said that I should use this sim for coming up to speed on TypeScript.   That will involve converting the existing implementation to TypeScript, and is deferred until after we publish the prototype.

[2021-10-14 19:03] ariel-phet opened #230 "Issues with guides"
As I use the sim, I find the "guides" to be problematic. I am still not convinced this visualization adds much value to the sim, and now I am seeing the representation as confusing in several instances.

Even in the case of "marginal rays" scenarios occur where the guides do not seem to match up with anything and their meaning is neither clear or helpful to me

![guides1](https://user-images.githu

[2021-10-14 19:11] ariel-phet opened #231 "Consider mode or query parameter or readout for setting focal length"
Currently, the method of setting the focal length is through its dependence on the index of refraction coupled with the radius of curvature of the lens.

I think it would be powerful to have a mode or screen or query parameter where instead one can set the focal length directly. Especially for younger students first learning these concepts, having direct control over the focal length would be powe

[2021-10-14 19:17] ariel-phet opened #232 "Consider reducing opacity of virtual image (or changing opacity algorithm)"
In some circumstances the opacity of the virtual image is not clearly distinct from that of the object. I am not sure how the mapping is done currently but perhaps it can be tweaked to work more clearly over a better range. For instance, in the following circumstance the image seems nearly the same opacity as the object, and might be slightly confusing without the labels.

![virtual image](https:/

[2021-10-14 19:54] ariel-phet opened #233 "Optic can be moved beyond vertical bounds when zooming"
@pixelzoom the optic can be moved beyond the vertical bounds at the default zoom by the following steps:

1. Zoom all the way out
2. Move the optic to a vertical extreme (downward in this case)
3. Zoom back in to the default zoom

You should see the following

![lens displaced](https://user-images.githubusercontent.com/4051174/137386289-dad27247-17e2-428b-abb0-d32651689d79.PNG)

Although this is a

[2021-10-14 20:01] ariel-phet opened #234 "Cueing arrows"
It might be useful to provide cueing arrows on the screen (or some other suggestion) to indicate the screen is moveable. Since usually images appear in the spot the screen appears, students may not quickly realize the screen is moveable (and for instance, placing the screen at the focal length can be useful for seeing things like near parallel rays will converge at the focal point).

[2021-10-14 20:05] pixelzoom commented on #233
This does not happen for the objects or light sources, so I should do what is done there. Something like:

[code]

[2021-10-14 20:22] pixelzoom commented on #234
I would like to change the cueing arrows for objects, light source, and projector screen to this:

<img width="258" alt="screenshot_1353" src="https://user-images.githubusercontent.com/3046552/137389731-fc16487a-9f7c-44fc-aeea-c3689aa2dede.png">

[2021-10-14 20:23] pixelzoom commented on #234
Since we seem to be adding cueing arrows to everything that can dragged...  Do we also need up/down cueing arrows for the optic?  I'm unclear on why we need cueing arrows for some things and not for others.

My general preference is avoid cueing arrows.  I think they are appropriate for the second point, but would avoid using them for other things, and let the user discover that they are draggable

[2021-10-14 20:32] pixelzoom commented on #230
I don't know the history of this feature, but understand that guides are a representation invented by PhET.   There does not seem to be a consensus on whether they are useful.

There are definitely open issues related to the implementation, like https://github.com/phetsims/geometric-optics/issues/175.  So a potential cost savings would be to remove them.

Perhaps a compromise would be to make `?sh

[2021-10-14 20:45] pixelzoom opened #235 "Add support for alternative input."
Added at 10/14/21 quarterly planning meeting.

[2021-10-14 20:46] pixelzoom opened #236 "Add support for UI sound."
Added at 10/14/21 quarterly planning meeting.

The plan is to add support for standard (common-code) UI components.  There is no plan to add sound (or do sound design) for sim-specific components or actions (like dragging the lens, object, light source, or projection screen).

[2021-10-14 20:49] pixelzoom opened #237 "PhET-iO design"
At 10/14/21 quarterly planning meeting, PhET-iO support was added for this sim.  Immediately after publishing the prototype, we should do an initial pass at PhET-iO design.  This will inform what needs to be changed as the sim is refactored and converted to TypeScript.

[2021-10-14 22:40] pixelzoom opened #238 "Representation for focal points."
I'm wondering about the representation that we're using for the focal points.  We're currently placing a yellow '×' at the focal points:

<img width="482" alt="screenshot_1364" src="https://user-images.githubusercontent.com/3046552/137405165-aefd94bd-77b6-493d-a055-929c59f09488.png">

All of the representations that I've encountered place a point at the focal point (it's a point!)  I have never se

[2021-10-14 23:11] pixelzoom commented on #207
Duplicate of #237. Closing.

[2021-10-14 23:11] #207 closed

[2021-10-14 23:17] ariel-phet commented on #238
I would certainly be fine having the focal points be points, a bright yellow dot there might be just fine (and as you "point" out a point is a more standard representation).

As for labels, I think having the full words is actually appropriate in this case. I have seen a fair number of labels for focal length, so I don't think that is particularly standard. The full words work and so no need to di

[2021-10-15 20:30] KatieWoe commented on #230
I was a bit confused by this feature myself. It seemed to mostly line up with the marginal rays, but not exactly. It wasn't until I was told it was independent of object position that it made sense. It may help with concepts relating to how object position changes the image, but it isn't really clear right now that it is showing that.

[2021-10-15 20:45] arouinfar opened #239 "labelBackgroundFill color should match screenBackgroundColor"
For https://github.com/phetsims/qa/issues/723

Looks like labelBackgroundFill didn't get updated in #182 due a typo on my part and I missed it in reviewing.

@pixelzoom please make labelBackgroundFill in the default profile black. (Current alpha levels and projector mode are fine.)

[2021-10-15 21:46] pixelzoom commented on #239
Let's do this for the prototype, adding milestone.

[2021-10-15 22:17] pixelzoom commented on #239
@arouinfar and I discussed this on Zoom.  Since we generally want the label background to be the same as the screen background, we decided to delete `labelBackgroundFill` and use `screenBackgroundFill` for the labels, then use option `opacity: 0.5` for the labels.  This will ensure that the background color for labels and screen will remain the same forever and ever :)

@arouinfar please review in

[2021-10-15 22:21] pixelzoom opened #240 "Low intensity light spot is difficult to see on white projection screen."
For phetsims/qa#723

A low intensity light spot is difficult to see on white projector screen. @arouinfar and I discussed this on Zoom, and came up with a solution which should (hopefully) be non-controversial.

We'll add a thin, gray, dashed line around the spot. The opacity of this line will be inversely related to the intensity of spot, so it will fade out as the spot becomes more pronounced.

[2021-10-15 23:23] #239 closed, assigned to arouinfar

[2021-10-15 23:24] arouinfar commented on #240
Thanks @pixelzoom! I think this looks really nice in master and is good for the prototype.

[2021-10-15 23:42] #222 closed, assigned to arouinfar

[2021-10-15 23:43] pixelzoom commented on #226
So to summarize...  The current proposal is to stick with the white screen color.  And the difficulty seeing low-intensity spots on the screen is addressed in #240.

@kathy-phet @ariel-phet are you OK with this for the prototype? And in general?

[2021-10-16 00:58] kathy-phet commented on #226
I’m still having a physics issue with the white screen. A very dark grey, just a bit lighter than the background black, is correct physics. Think about a spotlight in a dark room, which is what we have created here. You only see the spot, not the screen.

Sent from my iPhone

[2021-10-18 15:42] pixelzoom commented on #226
This suggestion will result in no change to brightness as intensity changes.  Instead, the hue will change.  That seems problematic to me, because brightness, in physics, is the subjective visual sensation related to the intensity of light emanating from a surface or from a point source. https://www.britannica.com/science/brightness-light

[2021-10-18 17:10] #240 closed, assigned to kathy-phet

[2021-10-18 20:10] pixelzoom commented on #226
Since I think we have a serious problem here with using 'red' light, also assigning to @kathy-phet and @ariel-phet for review.

[2021-10-18 23:19] pixelzoom commented on #226
The screenshot below shows the blue bulbs and spots in context.  (I did not commit this.).

Using blue does avoid the "red for second point" problem.  But blue is also the color used for the lens, and the opacity of that blue changes with index of refraction. Do we really want to use blue, and change it's opacity, for 2 different (unrelated) things?  Blue-on-black is also one of the most notorious

[2021-10-18 23:28] pixelzoom commented on #226
We're back to this for the prototype, see screenshot below.  I'll remove the "Prototype" milestone from this issue, tweak the title of this issue, and we can revisit for the final version.

<img width="1173" alt="screenshot_1380" src="https://user-images.githubusercontent.com/3046552/137819722-28a09db4-10b6-4d71-9015-85d249f7aa53.png">

[2021-10-19 00:00] pixelzoom commented on #195
10/18/2021 RC-lite testing started for prototype:

* https://github.com/phetsims/qa/issues/727

[2021-10-19 17:06] pixelzoom opened #241 "Optic: improve the implementation of "fixed x, mutable y""
Slack with @arouinfar:

In the Flash version of Geometric Optics, the lens can be dragged freely. Do you recall why it was constrained to vertical dragging in the HTML5 version?  I see it mentioned in April 27, 2021 notes in the design doc (“Lens: fixed horizontal position, but can be moved up/down”) but there are no notes in the “Decision” column.

Things can get more chaotic if you allow free dr

[2021-10-19 18:54] #241 closed, assigned to pixelzoom

[2021-10-19 19:39] pixelzoom opened #242 "Index of refraction and Diameter are normalized differently."
Optic.js is the base class that implements the model for the lens and mirror. It has methods for converting index of refraction and diameter to normalized values, in the range [0,1].

Normalized index of refraction (IOR) is used to set the opacity of the fill used for the lens/mirror. For lens, it's computed like this:

[code]

... so we will get opacity values across the full range [0,1].

Normal

[2021-10-19 21:33] pixelzoom opened #243 "Use a different term than "play area"."
This sim uses the term "play area" for something that doesn't equate to the a11y "play area".  And in fact, it creates a Node named `playAreaNode` in its ScreenView, confusing because every ScreenView has (by default) an instanceof `PlayAreaNode`, which is something entirely different.

Things that are in this sim's notion of "play area" are all of the things that scale when you press the zoom in/

[2021-10-19 21:36] pixelzoom commented on #243
How about "zoom area"?

[2021-10-19 23:08] arouinfar commented on #243
Maybe "Experiment Area"? Though "Zoom Area" is also works and might make more sense in this context.

[2021-10-19 23:13] arouinfar opened #244 "Screenshot for prototype"
For https://github.com/phetsims/qa/issues/727

The sim can't be deployed without a screenshot, so I should add one. We'll use the same screenshot on the Prototypes page.

[2021-10-19 23:32] #233 closed, assigned to pixelzoom

[2021-10-19 23:36] pixelzoom opened #245 "Adjust behavior of drag bounds for optic."
The drag behavior for the optic feels a little weird to me.  It's currently constrained by the maximum diameter. So in this case (for example), you can only drag the lens down this far:

<img width="1079" alt="screenshot_1381" src="https://user-images.githubusercontent.com/3046552/138004628-86e64e45-881b-4664-aae9-b87f66800eb8.png">

I think it would be better to constrain the dragging based on th

[2021-10-19 23:44] pixelzoom commented on #244
Let me know when you've added the screenshot, so I can cherry-pick it to the 1.0 branch.

[2021-10-19 23:59] pixelzoom opened #246 "Second light source has incorrect cursor."
Because the SecondPointNode handles both the second point on the object and the second light source, the second light source has an incorrect cursor.  It shows the 'ns-resize' cursor (up/down arrows) when it should show 'pointer' (hand cursor).

[2021-10-20 01:14] pixelzoom opened #247 "Geometric Optics - Publish with PhET-iO"
... is now a goal for the first public version.  This depends on PhET-iO design #237.

[2021-10-20 01:16] pixelzoom opened #248 "Enable PhET-iO validation and state testing."
Remove this from package.json:

[code]

And remove geometric-optics from perennial/data/phet-io-state-unsupported.

[2021-10-20 17:53] pixelzoom opened #249 "When should the origin be in the Mirror screen?"
This issue occurred to me while doing PhET-iO instrumentation #247.

Both screens have an identical model coordinate frame. x=0 is at the midpoint of the optical axis, and y=0 is at the initial position of the optical axis.

In the Lens screen, the initial position of the lens is at (0,0), and the inital focal points are (-80,0) and (80,0). The lens will always be at x=0, because the lens can only

[2021-10-20 18:51] pixelzoom commented on #242
Discussed with @ariel-phet.

Normalization of diameter is fine, because we do not want the image to disappear (opacity=0).

Normalization of IOR is not OK - the lens should not be fully transparent at min value. It does not match the IOR of air, so it should have some blue tint to it at 1.2.

Naming the methods differently might be a good idea, but is an internal code thing, not public facing.

[2021-10-20 20:46] #243 closed

[2021-10-20 20:55] pixelzoom commented on #173
ProjectorScreen.js is now ProjectionScreen.js.

[2021-10-20 23:57] ariel-phet commented on #242
@pixelzoom I checked on master, looks good. It looks to be the right opacity on projector mode. It is a bit harder to tell there is a tint when not in projector mode, but it is there, and I do not think it is worth trying to tune more than the current behavior for the prototype.

[2021-10-20 23:57] #242 closed

[2021-10-21 00:09] veillette commented on #232
Clearly the current opacity algorithm is quite arbitrary. It is an improvement on the flash simulation that merely took the size of the optic into consideration.

One constraint to consider is that the opacity needs to cover a large dynamic range of situations (change in diameter and change in scale) while having a image that is not too faint as to appear ghostly.  This partly the reason why the d

[2021-10-21 00:26] sarchang commented on #234
5 out of the 8 students that I interviewed did not discover that the object was draggable until considerably late in their exploration (or until I prompted them). In some cases, this hindered their progress in understanding what was going on (ex. if you don't move the object, it can be difficult to figure out the difference between marginal rays and principal rays). Dragging was much more intuitiv

[2021-10-21 01:14] veillette commented on #227
In the way we implement th ray tracing and the images, a flat mirror shares many similarity with a diverging mirror with an extremely long radius of curvature.  Setting the max value of the radius of curvature to 100 000 cm, we can see that the model for the image behaves well and the ray tracing works correctly.
![image](https://user-images.githubusercontent.com/7633344/138193535-ffb0cb71-8318-43

[2021-10-21 02:24] pixelzoom commented on #227
That's good news that the model behaves like a flat mirror when given a large radius of curvature.

But it's one thing to poke a very large value into the code, and another thing to make it work in practice.  Among the problems we would need to address are:
* How to set radius of curvature to this very large value when that Property is constrained to a smaller range.
* How to handle a 3rd "curve t

[2021-10-21 19:38] #126 closed

[2021-10-21 19:41] pixelzoom commented on #109
Moved this to https://github.com/phetsims/geometric-optics/issues/125. Closing.

[2021-10-21 19:41] #109 closed

[2021-10-21 20:23] pixelzoom opened #250 "CT: Assertion failed: All descendants must be disposed by the next frame"
This started showing up in CT immediately after I added `"phet-io"` to `"supportedBrands"` in package.json.  It's related to the PhET-iO element `projectorModeCheckbox`, a common-code component that's added to the Options dialog via GeometricOpticsOptionsDialogContent.js.

Note that the PhET-iO implementation for this sim is in early stages, with `"validation": false` in package.json.

[code]

[2021-10-21 20:37] pixelzoom commented on #250
To duplicate manually:

1. Run geometric-optics in the State wrapper using phetmarks
2. In the Upstream sim, select PhET menu > Options to open the Options dialog. You'll see the Options dialog open in the Downstream sim.
3. Click the "Projector Mode" checkbox.  The assertion will fail, and you'll see this message in the browser console:

[2021-10-21 22:20] pixelzoom opened #251 "Fix values of left and right focal points for convex optics."
Having `leftFocalPointProperty` and `rightFocalPointProperty` in the Studio tree is desired. But their values are not left and right when the optic shape is convex.  Fix this so that the values are always "left" and "right".

[2021-10-21 22:23] pixelzoom opened #252 "Add a Property to hide the optical axis."
10/21/2021 design meeting: @arouinfar @kathy-phet @ariel-phet

Add a PhET-iO specific Property that can be used to hide the optical axis.

[2021-10-21 22:29] pixelzoom opened #253 "Add an Intro screen."
Related to #231 ...

10/21/2021 design meeting: @arouinfar @kathy-phet @ariel-phet

Design a new Intro screen, where the user can directly set focal length.  This screen features a couple of objects, a lens, and a NumberControl for focal length.  Other controls will be sparse.

We'll also need a screen icon.

[2021-10-21 22:33] pixelzoom opened #254 "Option to choose how focal length is set."
Add controls to the Options dialog for choosing how the focal length is set in the Lens and Mirror screens.   It can be set either directly by using a NumberControl for focal length, or indirectly using NumberControls for ROC (radius of curvature) and IOR (index of refraction).

Maybe something like, with radio buttons?

[code]

Also add a query parameter that sets the initial value.

[2021-10-21 22:35] pixelzoom opened #255 "Make focal length settable via the UI."
Related to https://github.com/phetsims/geometric-optics/issues/231 ...

10/21/2021 design meeting: @arouinfar @kathy-phet @ariel-phet

Change the model so that Optic focalLengthProperty can be changed.

When changing focalLengthProperty, use a fixed IOR (1.5, glass) and vary the ROC.

[2021-10-21 22:37] #231 closed, assigned to kathy-phet, arouinfar

[2021-10-21 22:40] pixelzoom opened #256 "Add a parallel light source."
10/21/2021 design meeting: @arouinfar @kathy-phet @ariel-phet

This feature was suggested by @ariel-phet.

We decided not to do this because:

* Some of the Rays modes do not work
* Bending Light has a similar feature
* This feature should probably be in Optics Lab

[2021-10-21 22:40] #256 closed

[2021-10-22 13:10] Nancy-Salpepi opened #257 "Image appears with Hide Button selected"
**Test device**
MacBook Air (m1 chip)

**Operating System**
11.6

**Browser**
chrome

**Problem description**
https://github.com/phetsims/qa/issues/727

In both the Lens and Mirror Screens, with the Hide Button selected, the image appears with the  'None' Ray Option.

**Steps to reproduce**
1. Select either Screen
2. Press Hide Button
3. Choose 'None' for Ray Option
4. Move the Object--its image w

[2021-10-25 19:21] #251 closed, assigned to pixelzoom

[2021-10-25 19:35] #244 closed, assigned to pixelzoom

[2021-10-25 20:49] pixelzoom opened #258 "Alt input for rulers and toolbox."
Related to https://github.com/phetsims/geometric-optics/issues/235 ...

Geometric Optics has a toolbox where the rulers live. There is 1 vertical ruler, and 1 horizontal ruler.  It looks like this, and behaves like toolboxes in other PhET sims:

<img width="163" alt="screenshot_1393" src="https://user-images.githubusercontent.com/3046552/138768661-5d7b2881-d697-41a9-b209-26f45af27469.png">

In htt

[2021-10-25 22:09] pixelzoom opened #259 "Sound support for sliders."
Similar to https://github.com/phetsims/fourier-making-waves/issues/56, we're adding UI sounds to this sim.
Many of the important controls in this sim are sliders. And `Slider` currently does not have a sound API, see https://github.com/phetsims/sun/issues/697.

Assigning to @kathy-phet and @arouinfar to decide whether to prioritize sound for sliders, or to publish this sim without slider sounds.

[2021-10-26 15:55] Nancy-Salpepi opened #260 "Virtual rays converge on empty space"
**Test device**
iMac

**Operating System**
11.15.7

**Browser**
safari
(but also seen on MacBook Air iOS 12 + chrome)

**Problem description**
https://github.com/phetsims/qa/issues/727

With 'Many' rays selected, when Object is close to Optic but above optic axis, the virtual rays from the Second Point seem to converge on nothing. This occurs when none of the Real Rays from the Object pass through

[2021-10-26 18:25] #250 closed, assigned to pixelzoom

[2021-10-26 23:00] arouinfar opened #261 "Adjust ranges of ROC and Diameter for Mirror Screen"
Discovered in #255

The range of focal lengths for the mirror screen is currently ±75-125 cm which is quite a bit smaller than the range on the Lens screen. The diameter ranges are also different across the two screens.

I'll experiment locally.

[2021-10-28 13:45] pixelzoom opened #262 "Optic should have a fixed position of (0,0)."
@arouinfar mentioned that she had a design discussion with @ariel-phet and @kathy-phet (related to #237 PhET-iO design?).  There is a proposal to make the optic have a fixed postion.

High priority to make a decision about this.  I've already spent a considerable amount of time rewriting the DragListener for the optic, and adding alt input.   If it's position is fixed, that work can be deleted.

[2021-10-28 19:47] pixelzoom opened #263 "Revise the rulers implementation."
A couple of problems with the current implementation of rulers:

(1) The rulers toolbox uses some elements of [the Creator pattern](https://github.com/phetsims/phet-info/blob/master/doc/phet-software-design-patterns.md#creator-with-drag-forwarding), but it's not quite right. And it needs to be right in order to support (and possibly facilitate) alt input design for the toolbox, in https://github.c

[2021-10-29 17:08] #230 closed, assigned to pixelzoom

[2021-10-29 19:28] arouinfar commented on #261
@pixelzoom let's go with these values for the mirrors.

[code]

The diameter range will now be the same for lenses and mirrors. I've increased the ROC range a bit so that it'll be possible to double the focal length of a mirror.

[2021-10-29 19:32] arouinfar commented on #73
I adjusted the mirror parameters in #261. Here's a screenshot with the max diameter (130 cm) and ROC (150 cm).  We can prevent overlap if the object is at least 40 cm away (defined center-to-center) from the mirror.

![Screen Shot 2021-10-29 at 1 21 25 PM](https://user-images.githubusercontent.com/8419308/139491533-1c475ac2-4065-4bbc-93e0-636cf51e4c0e.png)

[2021-11-02 23:40] pixelzoom commented on #229
All files have been converted to .ts, with these exceptions:

* geometric-optics-phet-io-overrides.js
* geometricOptics.js (see https://github.com/phetsims/chipper/issues/1138)
* geometricOpticsStrings.js (see https://github.com/phetsims/joist/issues/764)

There were a fair number of places where I had to use `any` and `// @ts-ignore`:

* I used `options?: any` until we settle on a pattern for opt

[2021-11-03 00:56] pixelzoom commented on #229
Here's a summary of the problems that I worked around using `any` and `// @ts-ignore`.

- [ ] `any` was used exclusively for `options` and `config`, as in `options?: any`.  I did this until we settle on a new pattern options and config.

- [ ] TS doesn't know that Image and Path are subclasses of Node. So attempting to access just about any field, or use an Image or Path were a Node is allowed (e.

[2021-11-03 01:52] pixelzoom commented on #229
[1.1.0-dev.2]( https://phet-dev.colorado.edu/html/geometric-optics/1.1.0-dev.2/phet/geometric-optics_en_phet.html) was published shortly before the conversion to TS was started.

[1.1.0-dev.3]( https://phet-dev.colorado.edu/html/geometric-optics/1.1.0-dev.3/phet/geometric-optics_en_phet.html) was published after all of the above conversions were committed.

[2021-11-03 03:47] samreid commented on #229
The two solutions to this problem are:

a) if you are certain from other logic that the value is defined and you are OK with a runtime error if that assumption isn't met, you can use the `!` non-null assertion operator like: `numberProperty.rangeProperty.value!.min`.  I used that, for example, in https://github.com/phetsims/gravity-and-orbits/blob/086ee91dea720a536883d5010474d5d5e555800d/js/common

[2021-11-03 14:39] pixelzoom commented on #229
Thanks @samreid.  The general pattern that I used for NumberProperty's `rangeProperty` is:

[code]

[2021-11-03 14:50] pixelzoom commented on #229
A few another problem that I've encountered in LabelNode.js:

- [ ] `textNode.boundsProperty` is flagged with "TS2740: Type 'TinyStaticProperty' is missing the following properties from type 'Property ': id, units, _initialValue, validValues, and 58 more."

[code]

[2021-11-03 15:50] zepumph commented on #229
Everything I see above seems like an accurate use of workarounds until we add typescript into common code. Good work. Thanks for keeping track of these.

[2021-11-03 18:55] pixelzoom commented on #229
I decided to replace a few dozen `@ts-ignore` comments with one workaround. For example in SourceObjectNode.js:

[code]

Then use `sourceObjectImageAsNode` wherever a Node is expected.

[2021-11-04 03:14] pixelzoom opened #264 ""Mask" that can remove some of the rays"
Originally mentioned in https://github.com/phetsims/geometric-optics/issues/4, but I don't find the info there useful, so opening a new issue.

Slack conversation on 11/3/21:

Kathy Perkins  3:12 PM
I was showing off the Geometric Optics sim to Carl today - he was saying very nice. He had a feature request that he really wanted ... and it was on our initial feature wish list during summer discussi

[2021-11-04 03:17] pixelzoom commented on #264
Assigned to @arouinfar.  Let's start by scheduling some time when you and I can meeting on Zoom, so that you can explain this feature to me.

[2021-11-04 18:11] pixelzoom commented on #73
Implemented in the above commit, and it applies for both lens and mirror.  @arouinfar please review, feel free to close.

[2021-11-04 18:40] arouinfar commented on #264
@pixelzoom the quick version is that a mask blocks the light rays. If we introduce a mask in front of the optic, it would dim the image (somewhat similar to reducing its diameter). If the mask fully blocks the optic there won't be an image. You can see a rough implementation of a mask in optics-lab. Here's a fan source with a mask:
![image](https://user-images.githubusercontent.com/8419308/1403970

[2021-11-04 18:45] arouinfar commented on #73
Looks good, thanks @pixelzoom

[2021-11-04 18:45] #73 closed

[2021-11-04 19:44] pixelzoom commented on #253
As I started to implemented this screen, I realized that's it has very minor differences from the Lens screen.  It makes me wonder what we're "introducing" and what the goals are. When the option to set focal length directly is enabled for the Lens screen, the only things different about the Intro screen are: no concave lens, no second point.  If that's indeed enough of a difference, that's fine.

[2021-11-06 03:37] samreid opened #265 "Specify type parameters to AquaRadioButtonGroups"
In https://github.com/phetsims/sun/issues/728, I converted AquaRadioButtonGroup and its sun subtypes to be parametric.  This means we can supply the types in geometric optics, and get type checking.  I'll update that shortly.

[2021-11-06 03:40] samreid commented on #265
Fixed in the commit.  I used `as unknown as Node` so the `Text` labels would type check.  I used `new VerticalAquaRadioButtonGroup<'direct' | 'indirect'>` because I didn't see an enumeration for direct vs indirect.  I added `as const` so it would know those strings could match as members of that enum (this workaround was the most sketchy of the batch).  @pixelzoom can you please review?  Any of th

[2021-11-09 00:51] pixelzoom commented on #264
@arouinfar thanks for the explanation.

Does Geometric Optics need to support this feature (now or in the future), or will this be handled in another sim (like Optics Lab) ?  It's not clear to me from the Slack discussion in https://github.com/phetsims/geometric-optics/issues/264#issue-1044321614.

[2021-11-09 01:03] pixelzoom commented on #261
Mirror ranges were adjusted in the about commit. @arouinfar please review in master, feel free to close.

[2021-11-09 01:13] pixelzoom commented on #252
In the above commit, `opticalAxisVisibleProperty` now controls the visiblity of the label on the optical axis.

Closing.

[2021-11-09 01:13] #252 closed

[2021-11-09 01:26] pixelzoom commented on #238
I've implemented the "point" representation that we discussed for focal points.  See screenshots below comparing the new and old representations.  I like the new representation quite a bit, and it feels easier to measure focal length with the ruler.

@arouinfar @kathy-phet @ariel-phet please weight in.

<img width="1184" alt="screenshot_1419" src="https://user-images.githubusercontent.com/3046552/

[2021-11-09 03:27] ariel-phet commented on #238
@pixelzoom I definitely prefer the new representation. If we go with it, I think we might want to reduce the diameter a bit. I think the ideal would be to make the outer diameter of the yellow annulus as small as we are comfortable with (we might already be at that limit, although I think it could be a bit smaller, but might be something we just "tune" live quickly).

[2021-11-09 04:53] samreid opened #266 "Remove redundant type annotations and update a few type mismatches"
From https://github.com/phetsims/axon/issues/366, now that (e.g.) NumberProperty extends `Property<number>`, the type annotations in the link callbacks can now be inferred by the compiler.  I updated these and saw 2 or so type inconsistencies.  I'll commit shortly and ask for review.

The first type mismatch is `readonly opticShapeProperty: StringProperty;` should be `readonly opticShapeProperty:

[2021-11-09 04:59] samreid commented on #266
Fixed and ready for review.

[2021-11-09 05:10] kathy-phet commented on #238
I am OK with the points, but one thing that seemed a bit better with the X is seeing the ray pass through the dead center of the mark. With the points, its' harder to see that. I think it might help to have the ray pass on top of the point, so you can see it passes right over the black center spot, and to have the black spot just 1-2 pixels wider than the ray itself so it peaks through from the ba

[2021-11-09 05:49] pixelzoom commented on #238
@kathy-phet Good idea, I've move the focal points behind the rays. Rays currently have `lineWidth: 2`, while black center of a focal point has a diameter of 4.  My preference would be a tad larger for the black center.

@ariel-phet Current size of the focal points was based on the size of the 'x' representation, which felt about right to me. The yellow part of the focal point has diameter 14, blac

[2021-11-09 16:03] pixelzoom commented on #266
👍🏻 closing

[2021-11-09 16:03] #266 closed

[2021-11-09 16:07] ariel-phet commented on #238
@pixelzoom sounds good regarding the size if you already did some optimization.

[2021-11-09 16:31] pixelzoom commented on #238
Here are some screenshots showing various diameters, showing how it looks when rays do (and do not) intersect the focal points.

Diameter 4 actually looks best to me. It's just a bit wider than the ray lineWidth, so you can see where the center of the point is.  But it's not large enoung that the point starts to look like a donut/ring instead of a point - which is the problem that I have with diam

[2021-11-09 16:34] pixelzoom commented on #265
@samreid said:

`class Text extends Node` so there should be no need to do this.  And the `Node` that you're referring to in `as Node` is not scenery.Node, it is the built-in Node.  This problem is more generally described in https://github.com/phetsims/chipper/issues/1142.  I'm also wondering if you introduded this error in other places.

[2021-11-09 16:36] kathy-phet commented on #238
Thanks for the screenshots. I agree, 4 looks better than 6.

[2021-11-09 16:55] pixelzoom commented on #265
I've replaced `as unknown as Node` with:

`// @ts-ignore TODO https://github.com/phetsims/sun/issues/728`

so that these can be cleaned up when https://github.com/phetsims/sun/issues/728 has been addressed.

[2021-11-09 16:59] pixelzoom commented on #265
Adding an enum was on my TODO list, so I did that in https://github.com/phetsims/geometric-optics/commit/9fa821d472005b1b1ad6968baf8fbd48967e459f.  And in https://github.com/phetsims/geometric-optics/commit/ed4d7560ce9318c2d5dee12017a31261d54c7402, I replaced `as const` with `as FocalLengthControlEnum`.

[2021-11-09 17:15] arouinfar commented on #261
Looks good, thanks @pixelzoom

[2021-11-09 17:15] #261 closed

[2021-11-09 17:21] #238 closed

[2021-11-09 19:32] pixelzoom commented on #265
Done, closing.

[2021-11-09 19:32] #265 closed

[2021-11-09 22:01] pixelzoom commented on #262
The optic now has a fixed position of (0,0).    The straightforward approach would have been to delete `{Property<Vector2>} positionProperty` and replace it with `{Vector2} postion`.    But I chose to keep `positionProperty`, make it `phetioReadOnly: true`, and limit it to the single value `(0,0)`.  My reasons for doing this are:

(1) The current implementation supports a movable optic, and I don'

[2021-11-10 04:21] samreid opened #267 "Remove Image type assertion workarounds"
Now that Image has a better TypeScript type in https://github.com/phetsims/scenery/issues/1319, we can remove some workarounds.  I'll do so and request review from @pixelzoom

[2021-11-10 04:22] samreid commented on #267
Fixed in the commit, @pixelzoom can you please review?  Close if all is well.

[2021-11-10 16:41] arouinfar commented on #262
Thanks @pixelzoom. Everything looks good in Studio.

[2021-11-10 16:41] #262 closed

[2021-11-10 16:54] pixelzoom commented on #267
👍🏻 closing

[2021-11-10 16:54] #267 closed

[2021-11-10 17:08] arouinfar commented on #253
Looking at various [science education standards](https://docs.google.com/document/d/1hVxM-ax2UyxctbclAhutrRad5A0eeLWKFQNB4U7ls4o/edit#heading=h.wpvsqzwyqiy5), I think this sim could be used in middle school. Rather than a somewhat-redundant Intro screen, we should perhaps instead consider a Basics version of the sim. I'll tag for discussion at design meeting.

[2021-11-10 17:10] pixelzoom commented on #234
@arouinfar and I discussed these items:

There will be on `cueingArrowsEnabledProperty` (default `true`) that can be used to enabled/disable the cueing arrows _feature_ for the entire sim.

If `cueingArrowsEnabledProperty` is set this to `false`, you will see no cueing arrows.

If `cueingArrowsEnabledProperty` is set to `true`, then cueing arrows will be visible (at the appropriate time) for any N

[2021-11-10 20:00] pixelzoom opened #268 "Light spot spills off the bottom of the screen."
The light spot is spilling off the bottom of the projection screen. See example screenshot below.  It happens with both light sources.

This started in 1.1.0-dev.2 (10/26/21). It was not present in 1.1.0-dev.1 (10/20/21) or the 1.0.0 prototype.

<img width="255" alt="screenshot_1434" src="https://user-images.githubusercontent.com/3046552/141184213-647648c4-c218-47ba-8057-b74615267d27.png">

[2021-11-10 20:07] pixelzoom commented on #268
If I move the screenNode to the front in ProjectionScreenNode.js, I see that the problem is with the artwork for the bottom bar of the screen. Its angle does not match the screen:

<img width="194" alt="screenshot_1436" src="https://user-images.githubusercontent.com/3046552/141185812-fc7337b6-c38e-4225-a5ce-28bfa9051d2a.png">

[2021-11-10 20:24] pixelzoom commented on #268
ProjectionScreenNode.js was mostly rewritten on 10/26/21, which is probably when this was introduced.

Fixed in the above commit.  The `screenNode` is now in the foreground, and running with `?dev` will stroke it in red.  Screenshot below.

Closing.

<img width="186" alt="screenshot_1438" src="https://user-images.githubusercontent.com/3046552/141187957-401ebe12-58db-4123-b200-e2ab618a16e4.png">

[2021-11-10 20:24] #268 closed

[2021-11-10 22:31] pixelzoom opened #269 "PhET-iO design for "light spots""
Related to #237 (PhET-iO Design) ...

A "light spot" is where the rays from a light source hit the projection screen. It's implemented as LightSpot (model) and LightSpotNode (view).  I have completed cleanup and PhET-iO instrumentation of the current implementation, so it's time to take a look and tell me what is needed/desired for PhET-iO.

I'll warn you in advance... There is very little availab

[2021-11-11 05:29] pixelzoom commented on #173
The dependency on ProjectorScreen has been removed from js/common/.  The common model can now be provided with an optional "barrier", which is any object that implements `interface Barrier`.  ProjectorScreen implements Barrier, is instantiated by LensModel, and is then passed to the superclass (common) model.

Closing.

[2021-11-11 05:29] #173 closed

[2021-11-11 05:34] pixelzoom commented on #148
Since the sim is going to support `brands=phet,phet-io`, we'll need to do memory tests for both. So changing the title of this issue.

[2021-11-11 05:36] pixelzoom commented on #72
We'll need @jonathanolson to take at look at this.

[2021-11-11 19:17] pixelzoom commented on #258
There was discussion about alternative input features at 11/11/21 dev meeting, and I identified this issue as a "gap" in alternative input support.  @zepumph offered to check in with @arouinfar to verify whether this is a "must have" for Geometric Optics release, and (if so) how to get this issue moving forward so that it can be incorporated into the release.

[2021-11-11 22:15] pixelzoom commented on #253
Discussed at 11/11/21 design meeting:

* Remove Intro screen from this sim.
* @arouinfar will work on design of a Basics sim, with the goal of reusing this sim.
* @pixelzoom will revise the language for the Focal Length control in the Options dialog, now that it applies to all screen.

[2021-11-11 22:20] pixelzoom opened #270 "Design a Basics version of this sim."
In 11/11/21 design meeting, and in https://github.com/phetsims/geometric-optics/issues/253#issuecomment-965554211, we decided to pursue a Basics version of this sim, rather than adding an Intro screen.

[2021-11-11 22:22] pixelzoom commented on #253
I have remove the Intro screen and revised the Focal Length option in the Options dialog (screenshot below).

Design for the Basics version is being tracked in https://github.com/phetsims/geometric-optics/issues/270.

Closing.

![screenshot_279](https://user-images.githubusercontent.com/3046552/141377432-cb373e28-2279-4b0e-b9c8-1f3b13e9b354.png)

[2021-11-11 22:22] #253 closed

[2021-11-11 22:24] pixelzoom commented on #269
11/11/21 design meeting:

model:
* make `intensityProperty` value `null` when there is no light spot on the screen
* add `positionProperty`, the position of the center of the light spot (which may not be one the screen), `null` if there is no light spot on the screen
* add `diameterProperty`, the y height of the ellipse, `null` if there is no light spot on the screen
(These model changes will requ

[2021-11-11 23:10] pixelzoom commented on #269
Done, @arouinfar please review in master.

[2021-11-11 23:16] pixelzoom commented on #264
11/11/21 design meeting: @arouinfar @kathy-phet @arouinfar @markgammon @KatieWoe

We discussed this feature, did some brainstorming, and ultimately concluded that it can't be included in this sim.   The sim is too far along, and it presents too many complications and challenges.

@arouinfar Would you like to add any additional notes?

[2021-11-12 18:55] emily-phet commented on #258
@zepumph and I spoke yesterday about this issue and https://github.com/phetsims/a11y-research/issues/166#event-5606268384 - and I had a follow-up conversation this morning with @terracoda. Here's my recommendation and summary of outcomes from these discussions.

I recommend that we design an interaction pattern / implementation plan for the toolbox in Geometric Optics now, decoupling the more holi

[2021-11-12 22:23] zepumph commented on #258
That sounds reasonable to me, though the PDOM will be different from "buttons" given the needs of cycling through tool items with arrow keys. Since we don't need to support description, the elements themselves can be anything, and we will add our own listeners to the toolbox in general to support the interaction. In fact we don't want each tool to be a button because then each tool will be in the

[2021-11-12 23:34] pixelzoom commented on #258
@zepumph can you please walk me through this demo? There are no rulers in this sim, so I'm guessing that you've implemented something for the toolbox in the upper-left corner of each screen.  I also can't see to tab into this sim. Was it published with alt input support enabled, or do I need to use some query parameter?   A pointer to the relevant code would also be appreciated, thanks.

[2021-11-13 16:22] pixelzoom commented on #229
TODO:

- [ ] `options` pattern throughout
- [ ] Should callbacks have a return type?
- [ ] Address `//TYPESCRIPT` comments

[2021-11-15 22:27] pixelzoom opened #271 "Instead of overloading Optic, use a proper class hierarchy."
Optic.js is overloaded to support lens and mirror. It has these fields and methods for type-checking, and if-then-else logic based on whether we have a lens or mirror:

[code]

They should be replaced with subclassing.  Something like:

[code]

[2021-11-17 00:57] pixelzoom commented on #271
Done on the model side, much nicer.  There are some `instanceof` calls that I'll eventually eliminate.

Next up is OpticNode on the view side.

[2021-11-29 17:44] pixelzoom opened #272 "Review uses of TS nonnull assertion operator"
... including those introduced in https://github.com/phetsims/geometric-optics/commit/f8bffb6c7e1a05430228baaa58c819200f270e03.

Also known as the post-fix `!` operator, like:

[code]

[2021-11-30 00:17] pixelzoom commented on #272
I'm going to address this in https://github.com/phetsims/geometric-optics/issues/229. Closing.

[2021-11-30 00:17] #272 closed

[2021-11-30 21:58] #271 closed

[2021-11-30 22:01] pixelzoom opened #273 "OpticShapes improvements"
OpticShapes and its subclasses is a bit confusing.  In particular, the semantics of the `fillShape` and `strokeShape` properties is subclass dependent. Those fields should be defined (and named) by the subclasses.

For LensShapes, `fillShape` and `strokeShape` are identical, and could be replaced by a single `lensShape`.

For MirrorShapes, `fillShape` is the backing, and `strokeShape` is the refle

[2021-11-30 22:03] pixelzoom commented on #273
This turned into an ordeal, thanks to the TS implementation of Property et al.  See https://github.com/phetsims/axon/issues/370.

Here's a patch of where I bailed. See the TODO in Optic.js.  So close, yet so far...

[code]

[2021-12-03 22:16] oliver-phet opened #274 "User request: show position of 2f and C"
It sounds like 2f might already be added via https://github.com/phetsims/geometric-optics/issues/17.

[2021-12-06 23:38] pixelzoom commented on #274
The user seems confused about f vs F. In optics`f` is the focal _distance_, `F` is the focal _point_.  We cannot "show the position of 2f" because because you cannot show the position of a distance. Do they mean show the position of `2F`, as we do for `F`?  Or do they mean show the distance `2f `as (for example) a dimensional indicator? And should we also show the distance `f`?

As a side note, a

[2021-12-06 23:39] pixelzoom commented on #274
Here's a screenshot with `?show2F`:

<img width="1079" alt="screenshot_1451" src="https://user-images.githubusercontent.com/3046552/144939870-071180d2-4a28-4bf9-be0f-22de8fa1a2e4.png">

[2021-12-06 23:53] pixelzoom commented on #274
Also wondering why we'd show C (center of curvature) for the mirror, but not for the lens?

If we're going to show C for the mirror, do we also need to show it's vertex A? A is the point on the mirror's surface where the optical axis meets the mirror.  ROC is the distance from A to C. F is the midpoint between A and C.

[2021-12-07 00:01] pixelzoom commented on #17
NOTE: All of these query parameters have been renamed, combined, and/or deleted.  See GeometricOpticsQueryParameters for the ground truth.

[2021-12-07 15:54] pixelzoom commented on #273
I'm going to bail on this and leave it as is.

[2021-12-07 19:59] pixelzoom commented on #133
The problem is in GeometricOpticsRulerNode:

[code]

This listener depends on zoomScaleProperty and zoomTransformProperty, but is only listenening to zoomScaleProperty.  It assumes that zoomTransformProperty is updated before zoomScaleProperty.

[2021-12-08 00:53] pixelzoom commented on #263
Lots of work on this today, including a chunk of PhET-iO instrumentation.

The relevant classes are now:
* RulersToolbox
* RulerIconNode
* GeometricOpticsRulerNode
* GeometricOpticsRuler

TODO:
* Convert GeometricOpticsRuler.positionProperty and GeometricOpticsRulerNode.rulerDragBoundsProperty to model coordinates
* Figure out why we need zoomScaleProperty in GeometricOpticsScreenView. Can everyth

[2021-12-08 17:14] ariel-phet commented on #274
@pixelzoom yes the user does mean the `2F` points. The "two f" language is used pretty colloquially in optics. If you place an object at the 2F points the image is basically a faithful reproduction of the object  for a simple lens (same size), so it might be useful to show to answer your question of what it would be used for. Basically a handy reference point for comparing magnification with a sin

[2021-12-08 22:30] ariel-phet opened #275 "Consider making current projector mode default"
A teacher on twitter brought up an interesting point about the current look of Geometric Optics -- the teacher mentioned that a white background would be much friendlier for printing out screenshots if the sim was used for showing examples of ray diagrams.

I originally suggested a black background for higher contrast to the blue background that existed originally. However, we are in fact modeling

[2021-12-08 22:37] kathy-phet commented on #275
I think its worth revisiting. A user recently wrote about challenges for them with pure white-background screens (across the board) and the hope that we could add choice there as part of the inclusive work. Noting for when we discuss this issue.

[2021-12-09 04:10] pixelzoom commented on #275
I've been using projector mode (white background) exclusively throughout development.  It's difficult for me to see some things on the black background. If it we my call, I'd make the currenty projector mode the default color scheme, and ditch the current default color scheme.  I really don't understand the

As for adding a color scheme choice as part of inclusive work.... We can certainly add mor

[2021-12-09 21:53] pixelzoom opened #276 "Allow both guides to be visible at the same time."
In the current implementation, only 1 pair of guides can be visible at a time.  I suspect that this odd behavior was ported from the Flash version.

To demonstrate:

1. Run the sim with `?showGuides`
2. Go to the Lens screen
3. Check the "Guides" checkbox. You'll see the guides associates with the source object, as in Screenshot 1 below.
4. Check the "Second Point" checkbox.   The guides associate

[2021-12-10 14:49] pixelzoom commented on #229
In the above commits, I addressed `options` and `config`.  All `config` were converted to `options`, per https://github.com/phetsims/chipper/issues/1128#issuecomment-991033186. I'm fairly certain that these options will need more work, since I don't think the TS options pattern has fully matured yet.

[2021-12-14 17:16] pixelzoom opened #277 "Revise the implementation of model-view transforms."
This sim has some interesting model-view transform requirements, related to the zoom feature:
* Most things (lens, mirror, object, light source, rays, image, screen,...) are supposed to scale as you zoom in/out.
*Labels are supposed to translate, but not scale.
* Rulers change model length so that their view length remains constant.

The above requirements are implemented via 3 different (but rela

[2021-12-14 17:26] pixelzoom commented on #273
Reopening.  My patch may be possible, now that @jonathanolson has resolved a problem in https://github.com/phetsims/axon/issues/370#issuecomment-988237549.

[2021-12-14 17:46] pixelzoom commented on #273
My approach is now working nicely. I was able to put shared Shapes in OpticShapes, lens-specific Shapes in LensShapes, mirror-specific Shapes in MirrorShapes, and specify `abstract opticShapesProperty: IReadOnlyProperty<OpticShapes>` in the Optic base class.

Closing.

[2021-12-14 17:46] #273 closed

[2021-12-14 17:53] pixelzoom commented on #258
@zepumph asking again - can you please walk me through this demo?

[2021-12-14 17:54] pixelzoom commented on #258
@zepumph asking again - can you please walk me through this demo? I've revised the ruler implementation in https://github.com/phetsims/geometric-optics/issues/263, and I'm ready to have a go at using what you've done.

[2021-12-14 18:38] zepumph commented on #258
Yes thanks for the ping.

I'll frame the prototype, and then discuss how we should apply it to this sim.

That is confusing to me, I am able to use alt input on my computer. Perhaps a pair if you can't get it to work. To test the prototype launch the sim, go to the the "Water"  screen, focus the stopwatch (2nd in focus order for me), and press space or enter to pull it out of the toolbox. Then you

[2021-12-14 21:34] kathy-phet commented on #258
@zepumph @pixelzoom @arouinfar @terracoda @emily-phet -

EM and I touched on the design behavior for this for Geometric Optics at one of our regular meetings shortly after the Nov 12 comments add above. Sorry I didn't summarize our discussion at that time, but since this is getting some activity again, it reminded me that I should add in the discussion content here.

Basically, we discussed the "g

[2021-12-14 22:53] pixelzoom commented on #258
@kathy-phet That all sounds great.  But unfortunately not totally in-sync with how I've been proceeding for many weeks now.

For my part... I almost totally rewritten the rulers in Geometric Optics, because they did not conform to the pattern that PhET uses with toolboxes. Now I'm in the process of adapting @zepumph's prototype to Geometric Optics.  That prototype does not use "grab" behavior, it

[2021-12-15 00:16] markgammon opened #278 "Geometric Optics - Publish 1.3 with PhET-iO"

[2021-12-15 03:24] pixelzoom commented on #263
I'm going to revise transforms in #277.

In summary, I used a modified version of the Creator pattern. It's really not creating anything, but is instead using 2 static instances of rulers.  This works better for PhET-iO, where static instance are preferred.

Closing.

[2021-12-15 03:24] #263 closed

[2021-12-15 03:26] pixelzoom commented on #278
This is going to be 1.1, because branch 1.0 was already used for the Geometric Optics prototype that was published in https://github.com/phetsims/geometric-optics/issues/195.   So changing the title of this issue to reflect that.

[2021-12-15 18:12] emily-phet commented on #258
If I'm understanding @kathy-phet 's comment correctly, I think it's important to point out the distinction between getting the rulers into/out of the toolbox, and how they behave once in the Play Area. The grab+drag interaction is for the ruler once it's out in the play area - see the pattern in GFL. Navigating to, into, and "activating" the ruler in the toolbox is different. Please see my [commen

[2021-12-15 18:33] pixelzoom commented on #258
What @emily-phet has describe is not how @zepumph's prototype work. Once a ruler is out of the toolbox, there is no grab+drag interaction.  The ruler is selected using focus traveral.  And when it has focus, you can use the arrow keys to move it.

Since it sems like we're not all on the same page, I'm going to stop working on this integration, and assign to @zepumph for comment.

[2021-12-15 18:37] pixelzoom commented on #258
And again, I urge those involved to please test-drive the prototype.  I've been proceeding under the assumption that designers have tested the prototype, and that it is indeed the desired behavior.  But it sounds like that has not been done.

To test:
1. Run https://phet-dev.colorado.edu/html/waves-intro/1.2.0-altInputToolbox.1/phet/waves-intro_all_phet.html
2. Go to the Waves screen
3. Tab to the

[2021-12-15 18:39] emily-phet commented on #258
@pixelzoom Seems reasonable to me.

To be clear, @zepumph 's prototype was (in my understanding), an initial idea. He followed up with a discussion with me, and I followed up with a discussion with @terracoda, and then listed our recommendations in this [comment above](https://github.com/phetsims/geometric-optics/issues/258#issuecomment-967343168). I specifically state in that comment that my reco

[2021-12-15 18:48] pixelzoom commented on #258
From https://github.com/phetsims/geometric-optics/issues/258#issuecomment-993869336:

Apparently one has to Option-Tab in Safari.  A Google search led me to:

This might be good info to include in some a11y developer/QA doc.

[2021-12-15 18:54] pixelzoom commented on #270
If it is indeed a goal to have a Basics version of this sim, I need to know what it looks like so that I can anticipate that during implementation.  The longer I don't have that information, the more likely it is that something will need to be reworked to support a Basics version.

[2021-12-15 20:36] zepumph commented on #258
The prototype was a starting point. Please follow https://github.com/phetsims/geometric-optics/issues/258#issuecomment-993869336 to implement the designed first pass for this sim. This means that instead of the ruler being a freely movable object directly out of the toolbox, it needs to be grabbed. This involves following the pattern in ISLCObjectNode for adding a KeyboardDragListener + GrabDragIn

[2021-12-15 21:37] kathy-phet commented on #258
What I was commenting on what indeed once it is out ... then tab navigating to ruler and not needing to "grab" it explicitly - just using the arrow keys like in Fourier. Sorry for confusing the two parts of the process.

[2021-12-15 23:09] zepumph commented on #258
I'm on the back seat for this issue. If we are unsure about which way is best, then it is certainly easier to start with just a freely draggable entity. We can always come back and wrap the ruler in a GrabDragInteraction. If that is how you would like to start @kathy-phet, the please note that here.

[2021-12-16 16:31] pixelzoom commented on #258
https://github.com/phetsims/geometric-optics/issues/258#issuecomment-993869336:

Yes please. I'm unable to follow these instructions.  I'll ping you on Slack to schedule a time.

[2021-12-16 16:46] kathy-phet commented on #258
Freely draggable to start is great for now.

As I believe I have mentioned previously, when we do quarterly planning in January, we will discuss adding a focused design/common code goal for the toolbox structure. EM said TS would likely have time for some design meeting discussions in the upcoming quarter if we put this on the plate then.

[2021-12-16 18:01] pixelzoom commented on #258
I've adapted @zepumph's demo to Geometric Optics.  @zepumph will get together and work on it from there, to incorporate GrabDragInteraction, make it optional, etc.

@zepumph please review the code changes in https://github.com/phetsims/geometric-optics/commit/832e3723a66e84061c7710847089ff5eb15d35de to verify that I haven't missed anything.

@arouinfar @kathy-phet @zepumph (and anyone else who is

[2021-12-16 19:05] pixelzoom commented on #235
In the above commits, I added keyboard support for the Object and first light source.  I also fixed the Projection Screen so that its cueing arrows are not included in the focus rectangle.

I have not done the second point of interest and the second light source. They are unfortunately combined in SecondPointNode.js, and I'm planning to address that elsewhere.

[2021-12-16 20:53] pixelzoom opened #279 "Hotkeys for moving rulers to specific positions."
Mentioned by @arouinfar in 12/16/21 design check in...

There may be a need for hotkeys to move the rulers to specific positions.

TODO:
- [ ] Identify which positions are important.
- [ ] Choose hotkeys. Reminder that they will need to differentiate between horizontal and vertical ruler.  And they should not conflict with existing hotkey bindings. (I don't know what those are, or where you might

[2021-12-16 20:57] pixelzoom opened #280 "Initial position for rulers when using alt input."
Related to #258 ...

When the rulers are popped out of the toolbox, where would you like them to be positioned initially?

Info:
* The position of the horizontal ruler is defined by its upper-left corner.
* The position of the vertical ruler is defined by its lower-left corner.
* Both rulers are initially positioned at (0,0), the origin of the model coordinate frame, and the fixed position of the

[2021-12-16 21:03] pixelzoom commented on #258
In the above commit, I increased `dragVelocity` to 300 at @zepumph's suggestion. As he said "300 is the balloon in BASE" and "It's a pretty large space to traverse".  He also suggested increasing `shiftDragVelocity` to 30, but I was not able to accurately place rulers on specific points (e.g. focal point) with that values.  So it currently remains 20.

These values are set in GOConstants.js, and a

[2021-12-16 21:23] pixelzoom opened #281 "Keyboard-help dialogs"
Related to https://github.com/phetsims/geometric-optics/issues/235 ...

Design the keyboard help dialogs, one for each screen. If possible, please provide mockups.

Currently, the dialogs contain the "Slider Controls" and "Basic Actions" sections:

![screenshot_287](https://user-images.githubusercontent.com/3046552/146450672-e9d076ac-7571-4650-bc85-c92a3e7ee5e7.png)

Other things that will be need

[2021-12-16 21:41] pixelzoom commented on #276
At 12/16/21 check-in, @ariel-phet said that he can imagine something related to this being included in the Basics version, but perhaps not in the full version.

[2021-12-16 21:41] pixelzoom commented on #274
At 12/16/21 check-in, @ariel-phet said that he can imagine something related to this being included in the Basics version, but perhaps not in the full version.

[2021-12-16 22:50] pixelzoom commented on #258
In 12/16/21 design check-in, I gave a demo of [1.1.0-dev.10](https://phet-dev.colorado.edu/html/geometric-optics/1.1.0-dev.10/phet/geometric-optics_en_phet.html), and consensus was that it was a good starting point.  And since 1.0 will not have voicing, it's probably good enough to publish with (given a bit of tweaking and polishing).   So @kathy-phet instructed me to wait until Q1 2022 before wor

[2021-12-16 23:07] pixelzoom commented on #258
@zepumph pointed out that if we use GrabDragInteraction for the rulers, then we should do the same for the other draggable things - source object, second point of interest, light sources, and projection screen.

[2021-12-20 17:13] pixelzoom commented on #275
12/20/21 design meeting:

* Change default color profile to be the similar to projector color profile, but will less stark (white) background.
* I'll copy projector color profile over to default.
* @arouinfar will tweak default color profile.

[2021-12-20 18:03] pixelzoom commented on #227
For a flat mirror, change the Diameter label to "Height" in the Basics  version of the sim.

[2021-12-20 19:18] pixelzoom commented on #270
@arouinfar @kathy-phet @ariel-phet @pixelzoom had a design meeting on 12/20/2021.  Notes are in the full sim's design document.

[2021-12-20 19:40] pixelzoom commented on #274
12/20/2021 design meeting, notes from the [design doc](https://docs.google.com/document/d/1hVxM-ax2UyxctbclAhutrRad5A0eeLWKFQNB4U7ls4o/edit#heading=h.239xgh85ukkm).

[2021-12-20 19:44] pixelzoom commented on #229
This is essentially done, so I'm going to close.

The last issue is a general one, https://github.com/phetsims/scenery/issues/1332, and has associated TODO comments in the code.

[2021-12-20 19:44] #229 closed

[2021-12-20 20:42] pixelzoom commented on #274
@arouinfar ready for review.

Notes:

* The query parameter is `enable2F` (not `show2F`), because it enables the 2F feature, it does not necessarily make the 2F points initially visible.  It defaults to `false` in the full version, and will eventually default to `true` in the Basics version.  To test, you'll need to run with `enable2F=true`.

* By default, the "2F Points" checkbox is unchecked.  L

[2021-12-20 20:56] pixelzoom commented on #275
What used to be projector is now the default, and I've set new defaults for 2 colors:

* `screenBackgroundColor` = `rgb( 250, 250, 250 )`, a very light gray, almost white
* `panelFill` = `rgb( 230, 246, 249 )`, a light blue

Over to @arouinfar to commence tweaking.

[2021-12-20 21:43] pixelzoom opened #282 "Option to constrain object to horizontal dragging."
From 12/20/21 design meeting, would like to add a control that optionally constrains dragging of the source object (or light source) to the horizontal dimension.  The object's current y position will effectively be fixed.

From the design doc notes:

[2021-12-20 21:50] pixelzoom commented on #282
I put together a quick implementation of this.

The control uses font awesome icons, so requires no external artwork. It turns red when it's "on".

<img width="289" alt="screenshot_1463" src="https://user-images.githubusercontent.com/3046552/146836758-39f15f67-1a5f-466a-a1ca-d7efdc460d84.png">
<img width="286" alt="screenshot_1464" src="https://user-images.githubusercontent.com/3046552/146836767-1

[2021-12-20 21:53] pixelzoom commented on #282
TODO:

- [ ] Set cueing arrows for source object and light source, based on whether `horizontalDragLockedProperty` is true or false

[2021-12-20 21:54] pixelzoom commented on #228
From 12/20/21 meeting notes in design doc:

[2021-12-20 22:29] pixelzoom commented on #282
It just occurred to me that perhaps the icon arrows should point up and down, to indicate that vertical position is locked.  I'm not sure...

[2021-12-21 22:49] pixelzoom commented on #282
I've changed the icons to match the cueing arrows, screenshots below:

<img width="1043" alt="screenshot_1465" src="https://user-images.githubusercontent.com/3046552/147007553-33f16259-0502-4db5-8cd3-6cf30ff81e1f.png">

<img width="1045" alt="screenshot_1466" src="https://user-images.githubusercontent.com/3046552/147007547-f197e4dc-7ce5-4374-8503-6a951ffd122b.png">

[2021-12-21 23:44] pixelzoom commented on #282
Revised PhET-iO elements:

[code]

[2021-12-22 02:40] pixelzoom opened #283 "Optical axis should look like it's passing through things."
Factored out of https://github.com/phetsims/geometric-optics/issues/125, because the optical axis is a separate project.

We want it to look like the optical image passes through the object, image, and projection screen.  So it should be partially occluded by opaque things that are in front of it.

Here's am old mockup, from https://github.com/phetsims/geometric-optics/issues/125#issuecomment-9489

[2021-12-22 02:40] pixelzoom commented on #125
Moving the optical axis part of this to https://github.com/phetsims/geometric-optics/issues/283, since it's going to be a separate chunk of work.

[2021-12-22 02:46] pixelzoom commented on #283
The commit above uses 2 copies of OpticalAxisNode. One is in the far background, the other is in front of the object, image, and projection screen.  The one in front uses a `clipArea` to show only the part of the optical axis that is in front.

This approach handles the object, real image, and projection screen.  But it does not handle the virtual image.  So I'm going to have to rethink this...

[2021-12-22 02:48] pixelzoom commented on #283
Here are some screenshots showing how the optical axis passes through the object, real image, and projection screen respectively.  Note that the real image is transparent, so you can see the axis through it -- based on discussions, I'm not sure that this was anticipated, so @arouinfar @kathy-phet FYI.

<img width="188" alt="screenshot_1469" src="https://user-images.githubusercontent.com/3046552/14

[2021-12-22 02:53] pixelzoom commented on #283
@arouinfar what do you want to do with the F and 2F points in situations where they are on part of the axis that is behind the object, image, or projection screen?  Example cases shown below. Dynamically adjusting the rendering order for the points (so that they are occluded by the object, image, projection screen) is possible, but not easy. I need to know this with high priority.

<img width="153

[2021-12-22 18:56] pixelzoom commented on #282
Notes from call with @arouinfar:

* Use realistic lock images
* Use font awesome icons for cueing arrows
* Move cueing arrows to right of projection screen

[2021-12-22 19:10] pixelzoom commented on #283
Notes from Zoom meeting with @arouinfar:

* This approach looks good.

* An approach of bisecting each object would have 2 major problems: multiple Nodes in the Studio tree, and possibly a vertical seam in the real/virtual image.

* These 2 checklist items are caused by the same problem:

* For the real image, would like the part of the optical axis that's occluded by the real image to be more tra

[2021-12-22 19:11] pixelzoom commented on #125
From https://github.com/phetsims/geometric-optics/issues/283#issuecomment-999803267:

[2021-12-22 20:33] pixelzoom commented on #282
Back to @arouinfar to review:
* any additional changes to toggle button
* drag behavior for objects and light sources
* cursor behavior for objects and light sources
* cueing arrows behavior for objects and light sources
* PhET-iO elements

[2021-12-22 22:53] arouinfar commented on #280
@pixelzoom I think starting at the origin is the most natural choice.

Another option would be to align the initial position of the rulers to the object or image, but then the positions would vary. I think it's cleaner to use the origin, so let's continue with that. Closing.

[2021-12-22 22:53] #280 closed

[2021-12-22 23:56] pixelzoom commented on #283
In the above commit, I added support for virtual image.

Next up is adding the mask to make the optical axis appear more "faint" where its occluded by the image.

[2021-12-23 00:35] arouinfar commented on #279
The important distances to measure are the focal length, object distance, image distance, object height, and image height. GFL and BASE have hotkeys to move the ruler/balloons to specific positions using "J + another letter", so I've followed that pattern. I think this simple set of hotkeys could work for both rulers.

* J + L or J + M: Jump to lens/mirror (0, 0). This is good for measuring the fo

[2021-12-23 02:28] arouinfar commented on #281
@pixelzoom here's a layout for the dialog:
<table>
<tr><td>Move Items</td><td>Slider Controls</td></tr>
<tr><td>Ruler Controls</td><td>Basic Actions</td></tr>
<tr><td>General section for ComboBoxes</td></tr>
</table>

The ComboBox content is being generalized in https://github.com/phetsims/scenery-phet/issues/715 so the only sim-specific content would be in the Move Items and Ruler Controls sectio

[2021-12-23 02:48] arouinfar commented on #258
@pixelzoom @zepumph I've reviewed the alt input behavior in master, and I'm really happy with it. I agree with @zepumph about the consistency of interaction -- if we use grab/drag for the rulers, we should use it everywhere. However, I don't think this sim needs to use the GrabDragInteraction since we aren't supporting description/voicing. Grabbing items will add an extra keypress, and the benefit

[2021-12-23 16:10] pixelzoom commented on #279
This looks like a nice start.  Questions/clarifications:

* For the horizontal ruler, do you want the hotkey to ALWAYS move the ruler so that it's top is on the optical axis, as shown in the mockups?

* If we really want a hotkey for the second light source, perhaps J + S ? (S = Second)

* Is J + O intended to apply to the first light source? It's technically not an "object" (or correct me on that

[2021-12-23 16:15] pixelzoom commented on #258
I agree, it's a little too easy to cause the rulers to (accidentally) return to the toolbox.  I'll start with the "center" approach, using the center point and checking for "contains".  If that doesn't feel good, then we can define a rectangular part of the center and check for intersection.

[2021-12-23 17:54] pixelzoom commented on #258
The above commit returns a ruler to the toolbox when its center point is inside the toolbox. This certainly addresses the problem of unintentionally putting the ruler back in the toolbox.  But I'm concerned that it may create usability issues.

Questions:

(1) Will users discover this, or will they have problems returning rulers to the toolbox?

(2) Instead of just the center point, should we try

[2021-12-23 18:09] pixelzoom opened #284 "Use a single PNG for each framed object."
For the framed object (pencil, etc.) I'm wondering why we have 4 image files for each.  For example, for the pencil, we have:

pencilLeftFacingInverted.png
pencilLeftFacingUpright.png
pencilRightFacingInverted.png
pencilRightFacingUpright.png

... which look like this respectively (left to right):

![screenshot_294](https://user-images.githubusercontent.com/3046552/147277326-b13c02ff-05a0-4d47-865

[2021-12-23 18:49] sarchang commented on #284
I don't remember exactly why we didn't programmatically rotate/reflect the images but that sounds like a good plan. Definitely double check with @veillette.

[2021-12-23 18:54] pixelzoom commented on #284
Thanks @sarchang.

[2021-12-23 19:57] veillette commented on #284
It would be possible to reduce it from 4 to 2, but one can't reduced it to
a single PNG, in general. Some images do not have horizontal reversal
symmetry, so at least two images are required for those.

Some images like the pencil, have horizontal reversal symmetry , so all the
images could be generated from one PNG for those ones.
Martin

On Thu, Dec 23, 2021, 12:54 PM Chris Malley ***@***.***>
w

[2021-12-23 20:52] pixelzoom commented on #284
Thanks @veillette.  I see that now -- the penguin and planet do not have "horizontal reversal symmetry".

[2021-12-23 20:54] pixelzoom commented on #284
I guess I'm going to "do nothing" here.  It was potentially going to make #283 and #125 a little easier.  But I'll work around it.

Closing.

[2021-12-23 20:54] #284 closed

[2022-01-02 20:03] pixelzoom commented on #155
Still happening very occassionally on CT.  Most recently:

[code]

[2022-01-03 17:57] pixelzoom commented on #283
The remaining bit of work here from https://github.com/phetsims/geometric-optics/issues/283#issuecomment-999803267 is:

The most straightforward way to create the mask would be to use scenery.Image `hitTestPixels: true` and `getSelfImage`, which should return the Shape for the mask.  But that feature of Image seems to be broken, and has in fact never been used , see https://github.com/phetsims/sce

[2022-01-03 21:34] pixelzoom commented on #281
For this section:

See Fourier MeasurementToolsKeyboardHelpSection, and consider generalizing it, with a parameterized title.

[2022-01-04 01:27] pixelzoom commented on #281
I'm done with the keyboard-help dialogs, with the exception of the "General section for Combo Boxes".  That's blocked until https://github.com/phetsims/scenery-phet/issues/715 is completed.

As with Fourier, this took me a large amount of time, 4+ hours today alone.

[2022-01-04 01:57] pixelzoom commented on #279
@arouinfar Hotkeys were fixed in common code (see https://github.com/phetsims/scenery/issues/1334) so this is ready for review.

[2022-01-04 01:59] pixelzoom commented on #281
@arouinfar this is ready for review.  The  "General section for Combo Boxes" section title is temporary, until phetsims/scenery-phet#715 is completed.  Here's what the dialog looks like for each screen:

_Lens_ screen:

<img width="756" alt="screenshot_1483" src="https://user-images.githubusercontent.com/3046552/147999699-d2dee769-41d3-4550-b256-b391294f68bb.png">

_Mirror_ screen:

<img width="74

[2022-01-04 16:09] pixelzoom commented on #235
In https://github.com/phetsims/geometric-optics/issues/235#issuecomment-944798294, @arouinfar has said:

After reviewing the toolbox implementation, https://github.com/phetsims/geometric-optics/issues/258#issuecomment-1000003519 revised this requirement, and said:

So the current plan (as I understand it) is to use focus traversal to "select" all draggable UI elements. When descriptions are added

[2022-01-04 16:48] arouinfar commented on #235
To be clear, the quoted statement predates the pattern that @zepumph came up with which negates the need for GrabDragInteraction in the absence of description.

Yes, sounds good.

[2022-01-04 19:29] pixelzoom commented on #237
This is now a duplicate of #278. Closing.

[2022-01-04 19:43] pixelzoom opened #285 "A11y dependencies for Geometric Optics 1.1 release."
This issue will be used to track a11y issues that potentially impact https://github.com/phetsims/geometric-optics/issues/278, Geometric Optics 1.1.

---
### Blocking

**Alternative Input**
* https://github.com/phetsims/scenery/issues/1313 @zepumph 2022 Q1
* https://github.com/phetsims/scenery/issues/1354
* https://github.com/phetsims/scenery-phet/issues/715 @jessegreenberg 2022 Q1

**UI Sound**
*

[2022-01-04 20:42] pixelzoom commented on #285
@arouinfar @kathy-phet @jessegreenberg @zepumph FYI.

[2022-01-04 21:03] pixelzoom commented on #247
This issue is now a duplicate of https://github.com/phetsims/geometric-optics/issues/278. Closing.

[2022-01-04 21:03] #247 closed

[2022-01-04 21:04] pixelzoom commented on #237
Reopening, I closed the wrong issue.

[2022-01-04 22:36] zepumph commented on #285
Noting this as a sub issue to https://github.com/phetsims/phet-io/issues/1611.

[2022-01-04 23:16] pixelzoom commented on #279
@arouinfar it just ocurred to me that there's no hotkeys related to measuring f or 2f.  Do we need additional hotkeys? Do they make sense for the vertical ruler?  Will the dialogs be too crowded?

[2022-01-04 23:26] pixelzoom commented on #155
We'll need @jonathanolson's assistance on this one, since Image.appendMatrix is in scenery.

[2022-01-04 23:30] pixelzoom commented on #156
This is probably the same as https://github.com/phetsims/geometric-optics/issues/163, since they both mention `Spotlight.getIntersection`, and both fail in `Graph.eliminateIntersection`.   But the 2 GitHub issues contain different information and reports, so I'll leave them both open.  Since https://github.com/phetsims/geometric-optics/issues/163 is assigned to @jonathanolson, assigning this issue

[2022-01-04 23:33] pixelzoom commented on #163
Where did you handle it? Is there a sha that you can reference?

What's the timeframe for completing this?

[2022-01-05 00:11] pixelzoom commented on #283
In the above commit, I'm using Image `getSelfShape` with `hitTestPixels: false` for now.  This results in a rectangular mask, as show by the red stroke in the screenshot below with `?debugMask`.   This doesn't behave correctly above/below the non-transparent part of the image, but we'll live with it until @jonathanolson fixes phetsims/scenery#1333.

<img width="1043" alt="screenshot_1489" src="htt

[2022-01-05 00:34] pixelzoom commented on #125
Similar to what I did in #283 with `opticalAxisNode` and `opticalAxisForegroundNode` ....  I'll need to create `LightRaysForegroundNode extends LightRaysNode`.  Then in GOScreenView.js:

[code]

... and adjust the rendering order.

[2022-01-05 01:20] pixelzoom commented on #125
In the above commit, I did what I described in https://github.com/phetsims/geometric-optics/issues/125#issuecomment-1005279902.   `?debugRays` renders the foreground rays with 'red' stroke.

As mentioned in https://github.com/phetsims/geometric-optics/issues/283#issuecomment-1005269120, the mask for the image is currently not ideal, and won't be correct until phetsims/scenery#1333 is addressed.

[2022-01-05 01:24] pixelzoom commented on #125
@arouinfar This is ready for review in master.  The current opacity of the image mask is 0.8. Let me know if you'd like to see more or less of the occluded rays.  Note that this opacity will also affect how much of the occluded optical axis is seen.

[2022-01-05 01:26] pixelzoom commented on #283
@arouinfar This can be reviewed before phetsims/scenery#1333 is resolved. Just keep in mind that the image mask is currently a rectangle, not the shape of the picture frame.  The current opacity of the image mask is 0.8. Let me know if you'd like to see more or less of the occluded optical axis. Note that this opacity will also affect how much of the occluded rays are seen.

[2022-01-05 01:29] jonathanolson commented on #163
Commits were tagged to the common issue linked to this: https://github.com/phetsims/kite/issues/90

Presumably if it's not failing, we could close this?

[2022-01-05 01:30] jonathanolson commented on #156
Has this been reproduced since https://github.com/phetsims/kite/issues/90 was fixed?

[2022-01-05 01:33] pixelzoom commented on #172
There will be no need to split images.  The approach used in #125 is working great. It uses `clipArea` to create foreground and background parts of the rays and optical axis.

I also don't think I'll have a need for the module described in this issue, so I'm going to close this issue.

[2022-01-05 01:33] #172 closed

[2022-01-05 02:00] pixelzoom commented on #163
I was never able to successfully reproduce this, but QA did.  @KatieWoe could you (or someone you assign) please verify that this has been fixed?

[2022-01-05 02:01] pixelzoom commented on #156
I've never been able to reproduce this.  So I'll go ahead and close this, assuming that it's a duplicate of https://github.com/phetsims/geometric-optics/issues/163, and QA is testing that issue.

[2022-01-05 02:01] #156 closed

[2022-01-05 20:18] KatieWoe commented on #163
A few of us have tested this since this morning and so far we have not reproduced the issue. It looks fixed so far, but since it was difficult to reproduce in the first place, it is hard to be sure.

[2022-01-05 21:07] pixelzoom commented on #163
Thanks QA team.  Let's consider this resolved.  Closing.

[2022-01-05 21:07] #163 closed

[2022-01-05 21:45] pixelzoom commented on #178
I was never able to reproduce this error, and it has not occurred in CT for many months (almost 4 months?)  And now that the source object cannot be moved as close to the optic, I'm confident that the offending vector can no longer have zero magnitude.  So I'm going to close this issue. We can reopen if it reappears.

[2022-01-05 21:48] pixelzoom commented on #133
The rulers went through a major rewrite.  But this is still a problem, as indicated by this TODO in GORulerNode.js:

[code]

[2022-01-05 21:52] pixelzoom commented on #175
Most of this issue is now irrelevant, and the guides code has been reworked.

The part that is still relevant is that only 1 pair of guides is visible at a time. That seems odd/unnecessary, so we'll examine our options in https://github.com/phetsims/geometric-optics/issues/276.

Closing.

[2022-01-05 21:52] #175 closed

[2022-01-05 22:03] pixelzoom commented on #125
Ugh, this is not working correctly for mirror + real image, see screenshot below.  Back to the drawing board...

<img width="1044" alt="screenshot_1491" src="https://user-images.githubusercontent.com/3046552/148296017-8f3c0983-6f39-4bef-b4ee-aed0c5884c8c.png">

[2022-01-05 22:05] pixelzoom commented on #125
I'm not sure what to do here, because @arouinfar and I didn't talk about the mirror.  In the screenshot below, should the rays looks like they are going through the real Image only, and not look like they are going through the Object?

<img width="1043" alt="screenshot_1492" src="https://user-images.githubusercontent.com/3046552/148296225-c7ad3471-8d20-4578-af41-752ee9433e77.png">

[2022-01-05 22:49] pixelzoom commented on #140
I wasn't totally clear on what is desired here, so I discussed with @arouinfar on Zoom.

Several of the comments above refer to "dotted" lines.  Dashed lines are desired, not dotted.

The screenshots below show the 4 scenarios that we need to handle. The red arrows point to the ray segments that should be dashed.

Lens + Real Image:

![140-lens-real](https://user-images.githubusercontent.com/30465

[2022-01-05 22:54] pixelzoom commented on #125
Discussed with @arouinfar on Zoom.

Here are the rules for when rays should go through something:

* Rays should never go through the Object, they should always appear in front of the Object.

* Prior to interacting with the optic, rays should never go through the Image, because the Image doesn't exist until the rays have interacted with the object.

* After interacting with the optic, rays should

[2022-01-05 23:17] pixelzoom commented on #246
This was fixed while working on https://github.com/phetsims/geometric-optics/issues/282.  Closing.

[2022-01-05 23:17] #246 closed

[2022-01-06 21:20] pixelzoom commented on #283
There's a mirror case that is incorrect, see below.  Back to me to fix this.

![screenshot_295](https://user-images.githubusercontent.com/3046552/148453739-97e3fc9e-446f-4ba5-b189-5cee044eb5fe.png)

[2022-01-06 21:55] pixelzoom commented on #283
Fixed in the above commit.

Here are the 7 cases that can occur for the optical axis, showing how the optical axis looks as it passes through Object/Image/Optic/Screen.

### Lens + Light Source

![screenshot_302](https://user-images.githubusercontent.com/3046552/148457600-d13f744c-ceac-4120-b0b6-6a242cd10032.png)

### Convex Lens + Real Image

![screenshot_296](https://user-images.githubuserconten

[2022-01-06 21:56] pixelzoom commented on #283
@arouinfar ready for review.

[2022-01-06 23:05] pixelzoom opened #286 "Performance when dragging the Object has degraded."
On my 2013 Mac Pro, performance when dragging the Object has gotten worse, especially noticeable with "Many" rays.

The most likely suspects are https://github.com/phetsims/geometric-optics/issues/283 and https://github.com/phetsims/geometric-optics/issues/125.   They involved adding additional Nodes for optical axis and rays, and computing `clipArea` for the Image as the Object is dragged.

But I

[2022-01-06 23:05] pixelzoom commented on #125
Two remaining problems:

(1) The performance of dragging the object has gotten worse. I'm not sure exactly when it got worse, but it's really noticeable with "Many" rays.  I'll need to look back through dev versions.  Tracking in https://github.com/phetsims/geometric-optics/issues/286.

(2) There's 1 case that I can't work around, shown below.  The rays between the object and optic should not appe

[2022-01-06 23:15] pixelzoom commented on #286
Performance dropped between 1.1.0-dev.12 (1/4/22) and 1.1.0-dev.13 (today, 1/6/22).   So it should be pretty easy to bisect and locate the problem.

[2022-01-07 22:34] arouinfar commented on #279
Thanks @pixelzoom. The hotkeys look good in master. Can we amend the behavior of J+S to apply to the Second Point or second lamp? The dialog text could read, "Jump to Second point or light source." For the horizontal ruler, the behavior would effectively be the same as J+O, but it would be helpful for the vertical ruler if users want to measure the magnification with respect to the Second Point.

[2022-01-07 22:47] arouinfar commented on #283
Thanks @pixelzoom. The optical axis looks good in the screenshots (thanks for showcasing all of the permutations!) and in master.

Things can sometimes look a little strange when the object and image are close to one other, such as in this case:
![image](https://user-images.githubusercontent.com/8419308/148616809-5f87e7d7-7f3f-4bd3-aa2c-4d99b9154ad4.png)

Steps to reproduce:
1. Lens screen, select

[2022-01-07 23:11] arouinfar commented on #281
@pixelzoom the dialog contents look good, though I suggested this change to the dialog in https://github.com/phetsims/geometric-optics/issues/279:

[2022-01-10 19:56] arouinfar commented on #274
Sounds good to me. I took `enable2F=true` for a test drive in master and it looks good and behaves as expected.

I would default to unchecked in all flavors.

I like the choices you made for phetioIDs. Luckily, the autoselect feature in Studio will make it easy to find the elements in the tree by hovering over them in the sim.

Perfect, looks good.

The phetioIDs look good and things behave as exp

[2022-01-10 22:39] pixelzoom commented on #279
Done. Dialog is handled in https://github.com/phetsims/geometric-optics/issues/281.

@arouinfar please review.  Note that J+S is ignored if the "Second Point" checkbox is not checked.  Also note that J+I will eventually be ignored when the Image is hidden, but is not currently.

[2022-01-10 22:41] pixelzoom commented on #281
Done, see Lens screenshot below (Mirror screen is similar).  @arouinfar please review.

<img width="787" alt="screenshot_1500" src="https://user-images.githubusercontent.com/3046552/148850403-0bbf388c-9c57-486d-b51d-085bd0af6a79.png">

[2022-01-10 23:06] pixelzoom commented on #274
Since visibleProperty was added to Node options, the recommended pattern is to link the Node's visibleProperty to the Property that's controlled by (for example) CheckBox.  And we include the Node in the Studio treee because the instructional designer is more likely (for example) to look for `twoFPointsNode` than  `view.visibleProperties.twoFPointsVisibleProperty`.   So I think we should keep `two

[2022-01-10 23:37] oliver-phet commented on #274
Can we keep this issue open until the version that supports `enable2F=true` is published (so that I can notify the user that sent in the original request)?

[2022-01-10 23:50] pixelzoom commented on #282
Because this isn't actually a sun button, it's a subclasss of something called a ToggleNode.  And by default, `enabledProperty` is not instrumented for ToggleNode.

So... I've reimplemented this as a sun button (BooleanRectangularToggleButton), with transparent background and stroke.  That gives us `enabledProperty` instrumentation.  And it will allow us to make it look like a rectangular sun butt

[2022-01-10 23:52] pixelzoom commented on #274
Certainly.  That's likely to be sometime in May 2022.   So I'm unassigning and labeling as "on-hold".

[2022-01-11 00:03] pixelzoom commented on #283
The problem demonstrated in the scenario shown in https://github.com/phetsims/geometric-optics/issues/283#issuecomment-1007798847 is that the implementation is using the nominal width of the framed Image to compute the clipArea. It needs to use _scale_ width of the framed Image.   There's a TODO related to this in

[code]

I'll work on correcting that.

[2022-01-11 00:11] pixelzoom commented on #283
The scenario in https://github.com/phetsims/geometric-optics/issues/283#issuecomment-1007798847 has been fixed, see screenshot below.  Any remaining weirdness should be related to phetsims/scenery#1333, so I'll leave this open until that issue is fixed.  Labeling as on-hold.

<img width="338" alt="screenshot_1502" src="https://user-images.githubusercontent.com/3046552/148858926-90ff62ce-771b-4748-

[2022-01-11 00:13] pixelzoom commented on #286
When I opened this issue, I was reporting the performance on my 2013 Mac Pro.   On my 2019 MacBook Pro, I don't see any performance issue.  But something has apparently changed on performance-challenged platforms, so I should investigate on my Mac Pro, an older iPad, etc.

[2022-01-11 00:29] arouinfar commented on #282
Thanks for the explanation @pixelzoom. The tree looks good and the added flexibility to change the button appearance is a plus.

[2022-01-11 00:32] arouinfar commented on #281
Looks good @pixelzoom. I think the only thing left is to fix the ComboBox heading, but not sure if that belongs in this issue or will be addressed in https://github.com/phetsims/scenery-phet/issues/715.

[2022-01-11 00:41] arouinfar commented on #279
Thanks @pixelzoom. J+S looks good in master. Back to you for the remaining J+I issue.

[2022-01-11 00:51] arouinfar commented on #269
@pixelzoom this all looks good in master, closing.

[2022-01-11 00:51] #269 closed

[2022-01-11 01:08] pixelzoom commented on #281
Let's leave this open and "on-hold" until the ComboBox heading is addressed in phetsims/scenery-phet#715.

[2022-01-11 01:11] pixelzoom commented on #279
Note to self:  Pass `targetNode.visibleProperty` to GORulerNode, ignore J+I if `targetNode.visibleProperty.value` is false.

[2022-01-11 01:50] pixelzoom commented on #279
J+I is now ignore when the Image is not visible.  This can be tested using the eyeball button.   Back to @arouinfar to review.  If it looks OK, feel free to close this issue.

[2022-01-11 01:54] pixelzoom opened #287 "Focus highlight for Object should not be scaled."
The focus highlight for the Object is noticeably thinner than other focusable elements. See screenshots below, comparing focus highlight for Object and ruler.

This is presumably because that Node is being scaled.  I guess what needs to be done is to scale some child Node, and leave the top-level Node unscaled.

<img width="1536" alt="screenshot_1504" src="https://user-images.githubusercontent.com

[2022-01-11 02:04] pixelzoom commented on #287
Fixed in the above commit, see screenshot below.  Closing.

<img width="1536" alt="screenshot_1506" src="https://user-images.githubusercontent.com/3046552/148868520-8bc5a8f8-a675-4124-96a3-08aa3947cdda.png">
.

[2022-01-11 02:04] #287 closed

[2022-01-11 16:52] pixelzoom commented on #286
Performance feels fine on my iPad6. So I'll have to test on my Mac Pro.

There are a lot of dependencies for computing the clipArea:

[code]

There are undoubtedly intermediate states, because some of these dependencies are also related. For example, sourceObjectPositionProperty is a dependency of targetPositionProperty.

For LightRaysForegroundNode, it would be more efficient to listen to `LightR

[2022-01-11 18:03] pixelzoom commented on #286
In the above commits, I switched to using `LightRaysNode.raysProcessedEmitter`. When that Emitter fires, the clipAreas are updated.

[2022-01-11 20:02] pixelzoom opened #288 "Physics bug with concave mirror."
This is a serious physics bug.

While discussing https://github.com/phetsims/geometric-optics/issues/125 with @ariel-phet, he had a new concern about the case shown in the screenshot below, a concave mirror, with the Object < 2f from the optic. Since the Object is blocking reflected rays, how can a Real Image be formed?

@ariel-phet will investigate. @arouinfar FYI.

<img width="1044" alt="screens

[2022-01-11 20:53] pixelzoom commented on #288
There would probably be a shadow on the real Image, partially blocking it.  And we definitely do not want to go down that path.

@ariel-phet suggested that the way to avoid this problem would be to keep the Object above the optical axis, as shown in the screenshot below. Enforcing this for just the concave mirror would be a confusing user experience - when the user selects concave, we'd have to ju

[2022-01-11 20:56] pixelzoom commented on #125
I really don't like this approach of having rays sometimes stay in the 2D plane, and sometimes pass in front of things. It's conceptually confusing, and has turned into a nightmare to implement.  I think we should keep rays in the 2D plane, allow them to pass through things that are not opaque (real and virtual image), and have them be blocked by things that are solid (Object, projection screen).

[2022-01-11 21:46] pixelzoom commented on #288
Discussed with @arouinfar.  She pointed out that locking to horizontal dragging in the Mirrors screen would also avoid the case below.   That case is not physically incorrect.  But it's conceptually confusing, because it shows the rays going through a Real Image that doesn't exist yet, as well as reflected rays continuing past (and in front of) a solid Object.

<img width="1041" alt="screenshot_15

[2022-01-11 21:56] pixelzoom opened #289 ""Many" rays may not intersect the optic"
This is a relatively serious physics bug.

In Many rays mode, it's possible that no rays may intesect the optic, and therefore no image is formed.  This can happen by reducing the optic diameter, or by zooming out and moving the Object further away from the optic.  I can happen in both screens, and some screenshots are shown below.

@arouinfar pointed out that this was not a problem way back in [1

[2022-01-11 22:47] pixelzoom commented on #140
@arouinfar proposed that virtual rays would look nicer using dashed line style.  I prototyped this, ran it past @arouinfar, and she liked it.  So it's implemented in the above commit.  The screenshot below shows an example.

This make it problematic to use a dashed line style for some of the real ray segments. I have some other ideas for how to address that, which I'll work on next.

<img width="1

[2022-01-11 23:12] pixelzoom commented on #140
I don't think that using a different line style for specific segments of real rays is not going to prevent confusion. It didn't help me undertand this.  What did help was @ariel-phet describing it to me, particularly the bit about thinking of the optic as extended infinitely.

So I think a better approach is to:
* use the same line style for all real ray segments
* provide teacher tips and other s

[2022-01-11 23:21] pixelzoom commented on #140
So to summarize, the proposal for addressing this issue is:

* Provide teacher tips and other resources related to Principal rays.
* Modify the look of the vertical axis to support those resources.

@arouinfar please review.

[2022-01-11 23:28] pixelzoom commented on #125
I'm going to pause work on this until we decide how to address https://github.com/phetsims/geometric-optics/issues/288 (physics bug with concave mirror).   If we constrain dragging in the Mirror screen as described in https://github.com/phetsims/geometric-optics/issues/288#issuecomment-1010350856, then the remaining problems here should go away (or be much easier to solve).

[2022-01-11 23:57] kathy-phet commented on #125
I personally like the idea of everything passing through or being blocked at the center axis, and not having some rays overlay on the very top layer. It's feeling kind of confusing when it overlays on top.

[2022-01-12 20:12] pixelzoom commented on #286
I've squeezed every bit of optimization that I can out of this, see above commits.

It feels very responsive on my 2019 MacBook Pro, iPad6, and iPhone 11.

It still feels sluggish on my 2012 Mac Pro. The unbuilt version feels very sluggish, the built version feels borderline sluggish.  So I'm still concerned about performance-challenged platform, particularly Chromebooks.

@arouinfar please review

[2022-01-12 20:43] pixelzoom commented on #276
In the above commits, both pair of guides are visible, and they are color coded.  The first pair are white (unchanged). The second pair are color-coded to match the second set of light rays.  See screenshots below.

While a little busy with "Second Point" checked, I think this is preferable to the first pair of guides mysteriously disappearing.  Yes, it's possible for the second pair of guides to

[2022-01-12 20:55] pixelzoom opened #290 "Guide arms need to be shortened"
Each guide is composed of 2 "arms" that are connected to a fulcrum.  The arms need to be shortened.  If you move an Object/Light as close to the optic as possible, the guides overlap the Object/Light in a bad way. See screenshots below.

This bug has been present since at least 1.0.0-dev.9, before I started working on the sim.

![screenshot_312](https://user-images.githubusercontent.com/3046552/14

[2022-01-12 21:03] pixelzoom commented on #290
Fixed in the above commit. The guide arms were shortened from 96 to 70.  Screenshots below show the scenarios where the Object/Light is at its closest to the guide arm.  I figured we wanted to see at least a little bit of the ray before it enters the guide arm.

@arouinfar please review in master, running with `?enableGuides`.

![screenshot_314](https://user-images.githubusercontent.com/3046552/14

[2022-01-12 21:32] pixelzoom opened #291 "Revisit zoom controls"
The sim current has zoom controls that looks like this:

![screenshot_316](https://user-images.githubusercontent.com/3046552/149222655-7ac64004-6626-499e-81a0-2d49ef7be5c6.png)

As currently implemented, I don't find this control to be very useful. There are 3 zoom levels (1x, 1/2x, 1/4x), so there's a huge amount of change each time you press a button.

Can we change the amount of zoom for each l

[2022-01-12 22:24] pixelzoom commented on #285
In 1/12/22 Q1 planning meeting, we triaged the list of issues in https://github.com/phetsims/geometric-optics/issues/285#issue-1093696823.  Issues that need to be completed in Q1 2022 are noted with responsible developer shown.

[2022-01-12 22:35] arouinfar commented on #291
@pixelzoom I'm not opposed to using a continuous zoom control, but I don't know that it would work with the rulers. A continuous zoom would require continuous scaling of the rulers. The way it works now is that each zoom level has its own appropriately-scaled ruler.

[2022-01-12 22:56] pixelzoom commented on #291
Ah right, those pesky rulers.  How about a couple more zoom levels in between the existing ones?

[2022-01-12 23:55] pixelzoom opened #292 "Revise how zoom levels are implemented."
Related to https://github.com/phetsims/geometric-optics/issues/277 and https://github.com/phetsims/geometric-optics/issues/291 ...

Revise how zoom levels are handled. Specifically zoomLevelProperty, zoomScaleProperty, and zoomTransformProperty in GOScreenView.js.   Make it easier to add arbitrary scales for each level.  Something like:

[code]

[2022-01-13 19:10] pixelzoom opened #293 "Convert to new Enumeration pattern."
Per https://github.com/phetsims/chipper/issues/1106...

For enumerations that involve a Property, convert to the new static instance-based pattern described in WilderEnumerationPatterns.js.

The enumerations to convert are:

- [ ] FocalLengthControlEnum
- [ ] OpticShapeEnum
- [ ] RaysModeEnum

Type `RulerOrientation` will remain as a string literal.

[2022-01-13 20:47] ariel-phet commented on #288
Discussed at design meeting 1/13/2022 -- it was agreed that keeping things locked to 1d motion on the mirror screen is likely best.

@arouinfar will communicate with @veillette regarding this issue.

[2022-01-14 13:26] veillette commented on #288
@arouinfar .
Yes that seems to be a bug. The constraint on the positioning you have chosen is probably the best way to go about addressing it.

I'll note that the projector screen was removed from the mirror screen for that very reason. Applying the same position contraint on the projector screen would allow to avoid the scenario that lead to its removal.

[2022-01-14 13:58] veillette commented on #291
For your information, last summer, I had toyed with the idea of generalizing the way to handle ticks for a ruler of arbitrary length.  Currently, the client must specify the number of ticks, minor ticks as well as the length of the ruler.
However, the problem of layout ticks in a way that looks "natural" is quite common in graphs.

I remember spending some time looking at the desmos graphing calcu

[2022-01-14 15:00] pixelzoom commented on #291
Thanks for the info @veillette.  I'm also confident that the ruler could lay itself out for an arbitrary zoom scale. But scenery-phet.RulerNode does not support mutation.  So the current implementation in geometric-optics creates an entirely new RulerNode for each scale.  I'm doubtful that a continuous control (e.g. slider) would remain responsive if RulerNode instances are being added/removed fro

[2022-01-14 21:43] pixelzoom commented on #288
A couple of questions that I asked @arouinfar on Slack:

@arouinfar replied:

[2022-01-18 16:42] pixelzoom opened #294 "CT: Assertion failed: width must be a finite number: Infinity"
[code]

[2022-01-18 16:50] pixelzoom commented on #294
Since we don't have source maps working for TypeScript, I had to manually inspect .js and map to .ts.  The assertion occurs in the call the `new Shape` on line 106 of OpticalAxisForegroundNode.js:

[code]

[2022-01-18 17:04] pixelzoom opened #295 "Strange order dependency between zoomTransformProperty and zoomScaleProperty"
[code]

To reproduce manually:

1. Run the sim with `?ea`
2. Go to Lens screen
3. Pull a ruler out of toolbox
4. Press zoom-out (-) button
5. Press zoom-in (+) button. The assertion will fail.

[2022-01-18 17:20] pixelzoom commented on #295
Scaling of rulers got messed up sometime since 1.1.0-dev.14 was published on 1/12/2022.  Their view length should not change when zooming in/out, only the scale on the ruler should change.  But the view length of the ruler is now changing.

For example, here's the horizontal ruler initially:

<img width="862" alt="screenshot_1527" src="https://user-images.githubusercontent.com/3046552/149986547-a5

[2022-01-18 17:24] pixelzoom commented on #295
Bisecting, I isolated this bug to https://github.com/phetsims/geometric-optics/commit/9802b4f10968dcb2a6146105951a2345aee107b8.

[2022-01-18 17:39] pixelzoom commented on #295
As noted in the above commit:

[code]

So there's more work to do here.  And this is another good reason to reimplement model-view transforms in https://github.com/phetsims/geometric-optics/issues/277.

[2022-01-18 19:16] pixelzoom commented on #295
Addressed in #277, closing.

[2022-01-18 19:16] #295 closed

[2022-01-18 19:18] pixelzoom commented on #277
The model-view transform was significantly simplified in the above commit.  Tested with `?debugModelBounds` to verify that the model bounds are behaving correctly.

[2022-01-18 20:07] pixelzoom commented on #293
Partway through this conversion, I bailed.   Imo, it adding unnecessary complication, and ugly constructs like `RaysModeEnum[]` and `RayModeEnum.enumeration.values`.    I can see how the "primary enumeration pattern" in WilderEnumerationPatterns.js will be useful in common code, or if you need a rich enumeration.  But the value it was going to add in this sim was close to zero.

So... I decided to

[2022-01-18 20:07] #293 closed

[2022-01-18 20:08] pixelzoom commented on #294
Fixed, CT is happy, closing.

[2022-01-18 20:08] #294 closed

[2022-01-18 20:08] pixelzoom commented on #292
Done as part of #277.

[2022-01-18 20:08] #292 closed

[2022-01-18 20:56] pixelzoom commented on #291
While I did revise model-view transform implementation in #277, I decided not to change the zoom controls and zoom levels.  Even adding a scale like 0.75 would result in undesirable ruler ticks.

Closing.

[2022-01-18 20:56] #291 closed

[2022-01-18 21:12] pixelzoom commented on #260
This was a problem when the Object got close to the optic, and the last version that exhibits the problem is 1.1.0-dev.3. This became a non-problem in 1.1.0-dev.4 (11/10/21) when increased the minimum distance between the Object and optic.

Closing.

[2022-01-18 21:12] #260 closed

[2022-01-18 21:42] pixelzoom commented on #283
In the above commit, I've added a workaround for the bug in phetsims/scenery#1333. I'm explicitly creating shapes that match the "framed object" images.

@arouinfar please review in master.  If it looks OK, assign back to me.

[2022-01-18 21:45] pixelzoom opened #296 "Replace workaround for `Image.getSelfShape`"
In https://github.com/phetsims/geometric-optics/commit/ff9ab58fafb754033c534bbd207d1a28d4ee8568, I added a workaround for phetsims/scenery#1333.  That workaround needs to be removed and replaced with a call to `getSelfShape`, as noted in TargetNode.js:

[code]

[2022-01-18 21:53] arouinfar commented on #290
Thanks @pixelzoom. The updated length looks perfect. Closing.

[2022-01-18 21:53] #290 closed

[2022-01-18 21:58] arouinfar commented on #286
@KatieWoe can you please do some performance testing on Chromebook and a slower iPad? @pixelzoom has provided instructions in https://github.com/phetsims/geometric-optics/issues/286#issuecomment-1011412317.

[2022-01-18 21:59] arouinfar commented on #286
Thanks for the write-up @pixelzoom. I've passed this one off to QA since I don't currently have access to lower-performing devices.

[2022-01-18 22:02] arouinfar commented on #283
Looks good in master, back to you @pixelzoom.

[2022-01-18 22:04] arouinfar commented on #279
Looks great, thanks @pixelzoom

[2022-01-18 22:04] #279 closed

[2022-01-18 22:10] pixelzoom commented on #283
#296 tracks remaining work, so closing this issue.

[2022-01-18 22:10] #283 closed

[2022-01-18 22:11] arouinfar commented on #276
@pixelzoom thanks for making this change. I think the behavior in master is really clear and is worth making the view a bit busier. After all, the user elected to turn on both the Second Point and the Guides. Color-coding the 2nd guide to the accompanying rays is the way to go. Any further tweaks to colors can be handled in #275.

[2022-01-18 22:11] #276 closed

[2022-01-18 22:53] pixelzoom commented on #288
@arouinfar ready for review in master.

In the Mirror screen, the Object is above the optical axis, and is constrained to horizontal dragging. There is no lock control.

For PhET-iO... The Lens screen has `view.dragLockedProperty` and `view.dragLockedButton`, while the Mirror screen does not.

[2022-01-18 22:59] pixelzoom commented on #125
In https://github.com/phetsims/geometric-optics/issues/288, the Object is now constrained to horizontal dragging above the optical axis.  There are still some bothersome cases where rays pass in front of the Object, examples below.

@arouinfar What do you want to do about this?  As with the performance problem in https://github.com/phetsims/geometric-optics/issues/286#issuecomment-1011412317, my r

[2022-01-18 23:07] pixelzoom commented on #289
In 1.0.0-dev.5, all of the rays intersect the optic. I don't know the history of why that was changed.  Searching for "Many" in closed GitHub issues doesn't find anything relevant.

I don't know how to address this problem while making Many rays look like it does now, AND make are least 2 rays always intersect the optic.

@arouinfar thoughts?

[2022-01-18 23:14] arouinfar commented on #258
Thanks @pixelzoom the current behavior addresses my concerns about accidentally putting away a ruler.

The far more convenient way to put away the ruler is to use the esc key (which is documented in the keyboard help dialog). I  could be convinced that this should be the ONLY way to put away the ruler, but I won't push for it.

The ruler movement is pretty speedy, so it's more likely that users wi

[2022-01-18 23:20] kathy-phet commented on #125
Before going down the road of replacing 3D with 2D, I think a design meeting to mock up what it would look like would be preferable. And I would recommend including MD in discussion/ideation too .... pedagogically my preference is the picture frames because we are not modeling the depth at all, and picture frame really makes that clear as this aspect of things being in a plane and when something i

[2022-01-18 23:20] KatieWoe commented on #286
Tested on a slower Chromebook. Master was the slowest, with dev.14 being a bit better and dev.12 being the best. Even dev.12 had some lag, but none would make the sim unusable, or even particularly frustrating from what I saw.

[2022-01-18 23:20] kathy-phet commented on #125
I can test on the kids school chromebook re performance, if useful.

[2022-01-18 23:21] pixelzoom commented on #258
@arouinfar that all sounds good to me.

That completes the work for 1.1 release, so closing.  If there are changes needed for future releases (GrabDragInteraction, voicing, etc.), new issue(s) can be created.

[2022-01-18 23:21] #258 closed

[2022-01-18 23:27] arouinfar commented on #140
I completely agree. Thanks for summarizing @pixelzoom. I've also added this issue to the Teacher Tips issue.

 The vertical axis in https://github.com/phetsims/geometric-optics/issues/140#issuecomment-1010450253 looks like an extension of the lens, and I'm happy with that look.

Things look a bit off in master (vertical axis only extends below optical axis), however, so back to @pixelzoom to inves

[2022-01-18 23:29] arouinfar commented on #286
Thanks @KatieWoe!

@pixelzoom based on this assessment, I am fine with proceeding with option (1):

[2022-01-19 00:16] pixelzoom commented on #125
Ugh. Rays are still not right for the 2nd point, see below.   This seems to be the case whenever the 2nd point on the Image is above the optical axis.

Back to the drawing board :(

<img width="1258" alt="screenshot_1532" src="https://user-images.githubusercontent.com/3046552/150039492-2eaec914-5a3f-48e6-9fed-6e7cf4586a92.png">
<img width="1285" alt="screenshot_1533" src="https://user-images.githu

[2022-01-19 00:41] pixelzoom opened #297 "2D framed objects are not a solution"
This issue is to document some things that were discussed and tried.  @arouinfar @kathy-phet @ariel-phet FYI.

For the 3D framed objects, we'd like to make the optical axis and rays looks like they pass through the objects and their associated real/virtual images. Related issues are:
* https://github.com/phetsims/geometric-optics/issues/125
* https://github.com/phetsims/geometric-optics/issues/283

[2022-01-19 00:48] pixelzoom commented on #297
The dev version is [1.1.0-dev.16](https://phet-dev.colorado.edu/html/geometric-optics/1.1.0-dev.16/phet/geometric-optics_en_phet.html).  See example screenshot below.

The above commits will be reverted.

<img width="1077" alt="screenshot_1534" src="https://user-images.githubusercontent.com/3046552/150042492-5c2e0b8c-f3d6-4c45-9778-ed7a0964396e.png">

[2022-01-19 00:55] pixelzoom commented on #297
@arouinfar anything that you'd like to add here? Close or leave open for discussion at design meeting?

[2022-01-19 01:59] #286 closed

[2022-01-19 02:03] pixelzoom opened #298 "Position of vertical axis is incorrect"
Reported by @arouinfar in https://github.com/phetsims/geometric-optics/issues/140#issuecomment-1015926329

<img src="https://user-images.githubusercontent.com/8419308/150035046-7015f5d8-da7b-4e18-9d26-1751599d9da3.png" width=150>

I suspect (but have not confirmed) that this was broken by the same change that broke https://github.com/phetsims/geometric-optics/issues/125#issuecomment-1015952157:

[2022-01-19 02:08] pixelzoom opened #299 "Rulers sometimes jump around when using zoom buttons."
A ruler is supposed to stay in a fixed view position, not affected by using the zoom buttons. But if I move a ruler around and press the zoom buttons, sometimes the ruler will change position.   This happens with both the horizontal and vertical ruler.

Probably broken by the major changes made to model-view transforms in https://github.com/phetsims/geometric-optics/commit/a9b9e6a1dc049eff14f1ea3c

[2022-01-19 02:11] pixelzoom commented on #277
Reopening. This broken a bunch of things.

[2022-01-19 23:39] pixelzoom commented on #125
The problem in is due the clipArea not being properly translated.   In the above commit, I added rendering of the clipArea with `?debugRays`, and this is what it looks like (red rectangle):

![screenshot_319](https://user-images.githubusercontent.com/3046552/150235717-b27205a8-fb3e-497e-958a-803d08f431dd.png)

This was indeed a problem in 1.1.0-dev.14 and earlier, but only noticeable when you zoom

[2022-01-20 01:32] pixelzoom commented on #140
@arouinfar said

Handling that problem in #298, so closing this issue.

[2022-01-20 01:32] #140 closed

[2022-01-20 02:18] pixelzoom commented on #298
Fixed in the above commits, published in [1.1.0-dev.17](https://phet-dev.colorado.edu/html/geometric-optics/1.1.0-dev.17/phet/geometric-optics_en_phet.html). Closing.

[2022-01-20 02:18] #298 closed

[2022-01-20 02:21] pixelzoom commented on #125
The problem noted in https://github.com/phetsims/geometric-optics/issues/125#issuecomment-1015952157 is fixed in the above commits, published in [1.1.0-dev.17](https://phet-dev.colorado.edu/html/geometric-optics/1.1.0-dev.17/phet/geometric-optics_en_phet.html).

Assigned to @arouinfar for guidance on the cases where a ray appears to pass in front of the Object, as shown in https://github.com/phets

[2022-01-20 17:43] ariel-phet commented on #125
@pixelzoom for the problems noted in https://github.com/phetsims/geometric-optics/issues/125#issuecomment-1015908897 I think only the 2nd and 3rd case are egregious. However, in those case I do think the most correct thing would be to have the rays stop at the object, despite the unfortunate nature of modifications to the ray-tracing code.

[2022-01-20 17:46] ariel-phet commented on #297
@pixelzoom I personally do not see a need to discuss this issue at design meeting. 2d object (in the way shown) do not really work. I think this issue can be closed.

[2022-01-20 17:53] ariel-phet commented on #288
@pixelzoom reviewed in master -- this solution certainly removes the physics bugs we were concerned about and still seems to get at the key learning goals.

[2022-01-20 17:58] ariel-phet commented on #289
@pixelzoom given that the "many rays" is a representation (there are in a sense nearly infinite rays of which we are showing a subset) I think it would be fine to "add" rays as necessary to ensure you are always hitting the optic. So perhaps some simple algorithm that reduces the angle between rays as you move the object further from the optic and adds rays as necessary to keep the total angular s

[2022-01-20 20:57] pixelzoom commented on #188
Removing design meeting label from this issue. This is currently a back-burner issue, doesn't need a design meeting yet.

[2022-01-20 21:13] pixelzoom commented on #297
1/20/22 design meeting.

Agreed, non-starter. Closing.

[2022-01-20 21:13] #297 closed

[2022-01-20 21:36] pixelzoom commented on #288
1/20/22 design meeting:

This looks good, including constraining the dragging for convex and (eventually) flat mirror.

[2022-01-20 21:37] #288 closed

[2022-01-20 21:46] pixelzoom commented on #125
1/20/22 design meeting:

We all agreed that it would be preferable to not have rays going through the Object. But this could be costly, and would also involve adding information about the height (bisector line) of the framed objects.   I'll do 1-2 hours of exploration and report back.

[2022-01-20 22:02] pixelzoom commented on #283
For posterity... At 1/20/22 design meeting, @ariel-phet asked about an approach where the optical axis is drawn in foreground/background segments.  I initially went down that path, then discovered that the dashed pattern of the line would move around. So as you dragged the Object, the axis appeared to scroll.  I could have tried resolving that using `lineDashOffset`, but it seemed a little to fidd

[2022-01-20 23:31] pixelzoom commented on #289
At 1/22/2022 design meeting, we decided to:

(1) Change the optic diameter range to [60,120] for both screens.
(2) Increase the number of rays in "steps", as the Object gets further from the optic. (The step size is currently 300 cm.)

After I made those changes, a bit more discussion was needed with @arouinfar and @ariel-phet.  Even with more rays, there were cases where the Object was to the lef

[2022-01-20 23:40] pixelzoom commented on #125
In LightRay.js, here's the code that handles termination of a ray on the projection screen.  Terminating a ray on the Object would probably involve something similar.

[code]

[2022-01-21 19:13] pixelzoom commented on #125
It wasn't too difficult to locate the relevant ray-tracing code, and clean it up so that it could be used to terminate rays at the Projection Screen or the Object.

There are 2 additional changes that would need to be made:
* add a bisection line for "framed objects" to the model (non-trivial)
* modify the ray clipArea used for mirrors (relatively easy)

Before making any big changes, I added a ha

[2022-01-21 19:15] pixelzoom commented on #125
While I did commit some cleanup of the ray tracer in https://github.com/phetsims/geometric-optics/commit/dd8f0bd1da80205aa757915d5e3953f6d3eb39a9, I did not commit the changes used to make the above screenshots.  Here's a patch in case we decide to continue with the "Objects block rays" approach.

<details>
<summary>Patch</summary>

[code]

</details>

[2022-01-21 19:33] pixelzoom commented on #125
If you'd like to test-drive the "Object blocks reflected rays" approach, see [1.1.0-dev.18](https://phet-dev.colorado.edu/html/geometric-optics/1.1.0-dev.18/phet/geometric-optics_en_phet.html).

I reverted [changes](https://github.com/phetsims/geometric-optics/commit/75cf430457d1bca08a9cf5888beb6a7ce1bfb591) after publishing that dev version.

[2022-01-21 20:43] pixelzoom commented on #277
Status:
#291 and #298 have been fixed.
#299 (rulers jump around) is still a problem.

[2022-01-21 20:58] pixelzoom commented on #277
#299 was broken before these changes, as demonstrated in 1.1.0-dev.14.  So closing this issue.

[2022-01-21 20:58] #277 closed

[2022-01-21 20:59] pixelzoom commented on #299
That's not the case.  It was broken in 1.1.0-dev.14, which was published before that change.

[2022-01-22 00:15] pixelzoom commented on #299
Indeed introduced in https://github.com/phetsims/geometric-optics/commit/35d9e7557211fbfe87ef1354f4ec5f25d3f910b8.  Fixed in the above commit.  Closing.

[2022-01-22 00:15] #299 closed

[2022-01-22 00:34] pixelzoom commented on #168
In the context of geometric-optics... This late in the game, this would be very difficult and expensive.  I have no familiarity with bending-light or optics-lab, and I inherited geometric-optics.  So I don't recommend tackling this. And I have high confidence that the Geometric Optics team would agree. (@arouinfar let me know if you disagree.)

I do agree that a reusable codebase for optics/light

[2022-01-22 01:06] pixelzoom commented on #232
FYI, the opacity algorithm is still the same as what @veillette described in https://github.com/phetsims/geometric-optics/issues/232#issuecomment-948123740.  The code looks a little different because it's now in TypeScript, and can be found in Target.ts.

[2022-01-22 01:14] pixelzoom commented on #232
The concern that @ariel-phet raised was:

In other words, the image is too opaque.

Can that be addressed by simply changing the range of the opacity algorithm? The range is currently [0,1], where 1 is fully opaque and 0 is fully transparent.  How about if we change that range to something like [0,0.8], so that there is always some noticeable transparency?  @ariel-phet would that address your conc

[2022-01-22 01:27] pixelzoom opened #300 "Adjust the opacity of the Image mask."
The Image (real or virtual) obscures portions of the optical axis and rays that pass through it.  Since the Image has transparency, sometime we can see those obscured things a little too well.  @arouinfar had the excellent idea of putting a mask behind the Image -- shaped like the image, color the same as the screen background - then setting the opacity of the mask to control how well we see the o

[2022-01-22 01:42] pixelzoom commented on #300
I've added `?imageMaskOpacity` for experimenting with the mask's opacity. The default is `0.8`, the range is `[0,1]`, 0 is fully transparent, 1 is fully opaque.  You may wish to also adjust `?imageOpacityRange`, which was added for https://github.com/phetsims/geometric-optics/issues/232.

@ariel-phet would you mind take this for a spin, and suggesting what value looks good to you? @arouinfar and @

[2022-01-22 01:45] pixelzoom commented on #232
Above, I asked:

To help answer that question, I've added `?imageOpacityRange`.  The default is `imageOpacityRange=0,1`.  The first number is the min, the last number is the max.  The range for both values is [0,1], with 0 fully transparent, 1 fully opaque.  You may wish to also adjust `?imageMaskOpacity`, which was added for #300.

@ariel-phet would you mind test driving this? Is there a range th

[2022-01-22 01:51] pixelzoom commented on #232
Also worth noting... The title of this issue includes "... of the virtual Image ...".   But the opacity algorithm is used for _all_ Images, real and virtual.  If you want to do something for real vs virtual, that will need to be added.

[2022-01-22 01:59] pixelzoom commented on #196
Notes to self... Since we're adding an Arrow representation, we'll now have different types of Objects and their associated Images.  So the names I'm now considering using are `FramedObject` and `ArrowObject` (for the Objects) and `FramedImage` and `ArrowImage` (for their associated Images).  I like this much better than "Source Object" and "Optical Image", because it's closer to the correct domai

[2022-01-22 15:39] pixelzoom commented on #300
Another related question... When I add the Object arrow representation, should its Image use the same opacity algorithm as the Images associated with framed Objects?

[2022-01-22 15:40] pixelzoom commented on #232
Another related question... When I add the Object arrow representation, should its Image use the same opacity algorithm as the Images associated with framed Objects?

[2022-01-24 18:51] arouinfar commented on #232
@pixelzoom @ariel-phet the current opacity algorithm makes sense to me. It should depend on how much light hits the optic (diameter) and how large the image is (magnification). I don't see an issue with the image opacity in @ariel-phet's example in https://github.com/phetsims/geometric-optics/issues/232#issue-1026735702, because as @veillette pointed out, the diameter is likely at (or very near) i

[2022-01-24 20:54] arouinfar commented on #125
@pixelzoom I am confident in our decision to allow reflected rays to pass over the object. I've made a note to document this behavior in the Teacher Tips, so I'll go ahead and close.

[2022-01-24 20:54] #125 closed

[2022-01-24 20:58] arouinfar commented on #289
@pixelzoom this looks great in master and feels really natural. The change in the number of rays is fairly subtle, especially if you are watching the optic because the ray density remains relatively constant.

[2022-01-24 20:58] #289 closed

[2022-01-25 20:24] ariel-phet commented on #300
@pixelzoom when paired with `?imageOpacityRange=0,0.75` I think the default value looks great and no need to adjust

[2022-01-25 20:32] ariel-phet commented on #232
@pixelzoom I agree with @arouinfar that the arrow representation can follow the same opacity algorithm

Although I do not disagree with @veillette logic that the image could be quite bright, I do think from a presentation/pedagogical point of view it is nice to maintain some opacity for the image to disambiguate it from the object.

To my eye using `?imageOpacityRange=0,0.75` works very nicely in

[2022-01-28 16:42] pixelzoom commented on #296
phetsims/scenery#1333 is working well enough to use getSelfShape.   So I replaced the workaround in https://github.com/phetsims/geometric-optics/commit/327b96570a92d6262e768f651b2c3a43bd74ae99.  Tested in unbuilt and built versions, and performance was acceptable.

Closing.

[2022-01-28 16:42] #296 closed

[2022-01-28 16:45] pixelzoom commented on #232
Thanks @ariel-phet.  Change default to `?imageOpacityRange=0,0.75` in the above commit.

@arouinfar if this looks OK to you, feel free to close.

[2022-01-28 16:46] pixelzoom commented on #300
👍🏻 closing.

[2022-01-28 16:46] #300 closed

[2022-01-28 20:46] pixelzoom commented on #223
Done in the above commit. Screenshots below showing each zoom level. Closing.

<img width="1122" alt="screenshot_1538" src="https://user-images.githubusercontent.com/3046552/151619119-551fa0af-3b6d-4750-9b8e-b094f86e0ed1.png">
<img width="1121" alt="screenshot_1539" src="https://user-images.githubusercontent.com/3046552/151619143-dbfd5889-8764-4fd2-9d56-bdb6af47a97f.png">
<img width="1121" alt="sc

[2022-01-28 20:46] #223 closed

[2022-01-28 21:50] jonathanolson commented on #155
Tried fuzzing for an hour, couldn't reproduce or find on CT. Basically, don't call `image.scale( 0, y )` or `image.scale( x, 0 )` or both with zero (since it looks like it's failing in a scale call) at https://github.com/phetsims/geometric-optics/blob/fac40ad136283f2ed26601c8874f7505166e9c4a/js/common/view/TargetNode.ts#L76.

[2022-01-28 22:05] pixelzoom commented on #155
Sounds good.  I haven't seen this in CT for awhile either, so closing.

[2022-01-28 22:05] #155 closed

[2022-01-28 23:48] pixelzoom commented on #188
In the above commit, I renamed the associated Property to `raysAndImagesVisibleProperty`, so that the name is more accurate for PhET-iO and readers of the code.

[2022-01-28 23:54] pixelzoom opened #301 "Is the show/hide button useful with light sources?"
The show/hide toggle button hides rays and Images. When we have a light source instead of an Object, then there is no Image.  So I'm wondering if the scenario shown below is intentional.  When we have a light source, hiding the rays also hides the light spots that would normally hit the screen.

<img width="1121" alt="screenshot_1542" src="https://user-images.githubusercontent.com/3046552/15163669

[2022-01-28 23:56] pixelzoom commented on #188
As noted in https://github.com/phetsims/geometric-optics/issues/301, this button also hides light spots when we have a light source.  Should the Property be renamed `raysImagesAndLightSpotsVisibleProperty`? (Yuck.)

[2022-01-28 23:59] pixelzoom commented on #257
I can no longer reproduce this -- it seems to have fixed itself after the numerous changes that have been made.  @arouinfar please confirm, and close if you agree.

[2022-01-29 00:01] pixelzoom commented on #188
We've established that the purpose of the show/hide toggle button is to hide rays and Images, for purposes of prediction. When we have a light source instead of an Object, then there is no Image.  So I'm wondering if the scenario shown below is intentional.  When we have a light source, hiding the rays also hides the light spots that would normally hit the screen.

<img width="1121" alt="screensho

[2022-01-29 00:01] pixelzoom commented on #301
Folding this into https://github.com/phetsims/geometric-optics/issues/188#issuecomment-1024756770.  Closing.

[2022-01-29 00:01] #301 closed

[2022-01-31 17:25] pixelzoom commented on #228
From https://github.com/phetsims/geometric-optics/issues/228#issuecomment-949055634:

I discussed this with @arouinfar, and decided to modify this decision.  The new structure of the sim will divide things into 3 scenes: framed object, arrows, light sources.  The draggable thing (object or light source) in each scene will have a position, but position will not be shared across scenes.

This will p

[2022-01-31 19:38] pixelzoom commented on #234
- [ ] Cueing arrows do not currently disappear when using the keyboard to drag.  I'll need to address that.

[2022-02-07 16:42] pixelzoom opened #302 "Ray tracer fails when the light position is on (or close to) the optical axis"
There are problems in the ray tracer when the light source position is on (or close to) the optical axis. Discovered when I was adjusting the initial position of the light sources for #217.

If the initial position of a light source is (0,0), this assertion failure occurs:

[code]

If the initial position of a light source is (0,1), this assertion failure occurs:

[code]

[2022-02-07 17:13] pixelzoom commented on #217
Major changes in the above commit.  Framed objects and light sources are now _mostly_ decoupled.  And I've introduced the "scenes" that I discussed with @arouinfar last week.  This work is not complete, but this felt like a good check point to commit.

NOTE that a few features are temporarily out-of-service:
* rulers and toolbox are hidden
* Labels checkbox does not work
* Show/Hide toggle button

[2022-02-07 17:16] pixelzoom commented on #155
Reopening. This issue is still occurring occasionally in CT.  Most recently:

[code]

[2022-02-07 17:18] pixelzoom commented on #155
In https://github.com/phetsims/geometric-optics/issues/155#issuecomment-1024670117, @jonathanolson said

I'll investigate why scale is being called with `0` values.

[2022-02-08 19:25] pixelzoom commented on #234
The remaining work on cueing arrows is related to the Arrow objects.  #228 is a prerequisite for that work.

[2022-02-08 20:51] pixelzoom commented on #283
For the record... After "scenes" were introduced in #217, it became possible to use a different approach when the selected object is a light source.  Instead of using clipArea, a foreground copy of the optical axis is drawn from the left edge of the screen to its intersection with the projection screen.  Because the left edge is the same as the background optical axis, there's no movement of the d

[2022-02-09 18:25] arouinfar commented on #232
Thanks for updating @pixelzoom. Initially, 0.75 sounded a bit low to me, but it looks really good in master so I'll close.

[2022-02-09 18:25] #232 closed

[2022-02-09 18:28] arouinfar commented on #257
@pixelzoom I've also been unable to reproduce in master, closing.

[2022-02-09 18:28] #257 closed

[2022-02-10 02:27] pixelzoom commented on #217
This work is done. The bits of duplication will be addressed after the Arrows scene is added in #228.

[2022-02-10 02:27] #217 closed

[2022-02-10 22:00] pixelzoom commented on #228
ArrowNode options in vector-addition are:

[code]

[2022-02-10 22:36] pixelzoom opened #303 "Checkpoint for regressions."
#217 involves many major changes. @ariel-phet volunteered to take the sim for a test-drive, to see if I broke anything.  You can run the sim from master. Please ignore the "Arrow" scene (combo box selection) for now; it's a work in progress for #228.

[2022-02-10 22:39] pixelzoom opened #304 "Checkpoint for Studio tree structure."
#217 involved major changes to the underlying structure of the code.  Due to the nature of PhET-iO, that structure shows up in the Studio tree.  @arouinfar please take the sim for a test-drive in Studio, to verify that the overall structure is looking OK.

When running the sim from master, please ignore the Arrow scene (combo box selection) for now. It's a work in progress for #228.

[2022-02-12 00:52] pixelzoom commented on #228
@arouinfar Arrow representation is ready for review.

Currently:
* 'Arrow' is first in the combo box list, and the default selection.
* Min arrow length is 20 cm. Dragging is not constrained to this min. When dragging ends, the arrow snaps to its min length.
* Drag-lock features works for arrows. If you want to lock to a specific arrow length, press the toggle button.
* Arrow fills and strokes are

[2022-02-12 00:53] pixelzoom commented on #228
Since @ariel-phet was the original proponent of the Arrow representation, I'm also going to assign to him for review.

[2022-02-12 00:53] pixelzoom commented on #303
FYI, the "Arrow" scene is now implemented. Feel free to test drive, but please comment in https://github.com/phetsims/geometric-optics/issues/228.

[2022-02-12 01:32] pixelzoom commented on #304
FYI, the "Arrows" scene is now implemented, and its PhET-iO instrumentation is ready for review.

[2022-02-12 03:15] pixelzoom commented on #214
The implementation has been changed quite a bit --- there's now a "labels Node" for each "scene".   There are still some things that are maddeningly difficult, like putting a label _above_ an arrow instead of below it.  But I'm going to leave this where it is, and call it good.  Closing.

[2022-02-12 03:15] #214 closed

[2022-02-12 03:18] pixelzoom commented on #135
See https://github.com/phetsims/geometric-optics/issues/196#issuecomment-926250039 for terminology used in the code. This should be used to revise implementation-notes.md.

[2022-02-12 03:19] pixelzoom commented on #196
Terminology has been revised in the code.  The table in https://github.com/phetsims/geometric-optics/issues/196#issuecomment-926250039 is up-to-date.  I'll close this issue, and refer to it in https://github.com/phetsims/geometric-optics/issues/135 when I update implementation-notes.md.

[2022-02-12 03:19] #196 closed

[2022-02-12 03:26] pixelzoom commented on #188
In the previous comment, I said:

Is this the desired behavior for "Light", to hide rays but still show the light spots on the projection screen?  @arouinfar please clarify.

[2022-02-12 03:30] pixelzoom opened #305 "CT: the direction must be a unit vector"
First appearance of this CT issue, 2/11/2022, 7:14:53 PM:

[code]

[2022-02-12 03:31] pixelzoom opened #306 "CT: x should be a finite number"
First appearance of this CT issue, 2/11/2022, 2:11:07 PM:
[code]

[2022-02-12 03:38] zepumph opened #307 "Turn on PhET-iO validation by default?"
I think this sim is well past the point where I would recommend turning on validation. It will mostly help keep track of small errors while developing. It looks like you have every required tandem taken care of at this point, so I don't see any value in keeping validation off.

Discovered while working on https://github.com/phetsims/scenery/issues/1360

[2022-02-12 03:39] pixelzoom commented on #307
Duplicate of https://github.com/phetsims/geometric-optics/issues/248.

[2022-02-12 03:39] #307 closed

[2022-02-12 03:41] pixelzoom commented on #248
As of right now, the sim is passing `?phetioValidation`, and I’m not seeing any problems in the State Wrapper.  After I knock off a couple of more gnarly features, I'll probably turn these back on.

[2022-02-12 03:43] zepumph commented on #248
I think that makes sense for phetioState. As for phetioValidation, I think it will only help you implement the gnarly features. Whatever you think is best.

[2022-02-12 03:48] pixelzoom opened #308 "Put labels at tips of arrows."
One "polish" detail I'd like to take care of... I'd like the labels for arrows to be at their tips, not below them as in the screenshot below.  This is surprisingly difficult to accomplish with the current implementation of labels. I'll investigate, but we might consider living with it.

<img width="175" alt="screenshot_1549" src="https://user-images.githubusercontent.com/3046552/153689224-e93140d

[2022-02-14 03:31] pixelzoom opened #309 "Verify that the implementation does not assume that the optic is at (0,0)."
In https://github.com/phetsims/geometric-optics/issues/262, we decide to put the optic at fixed position (0,0).  But there is still Optic `positionProperty`, so the optic's position can be inspected via PhET-iO.  And I've been trying to write the code such that it doesn't assume that the optic is at (0,0).    To verify whether I've been successful, change the default position in Optic.js to someth

[2022-02-14 03:35] pixelzoom commented on #228
I'm wondering if this is the right thing to do.  It's possible to set the arrow length to < 20 cm via PhET-iO/Studio, and it will _not_ snap to 20 cm.  I also need better handling for the case where the arrow length is zero while dragging, because that's going to cause problems with scaling.

[2022-02-14 17:48] arouinfar commented on #228
@pixelzoom I'm really loving the arrow scene. Your comments in https://github.com/phetsims/geometric-optics/issues/228#issuecomment-1036871450 all sound reasonable to me, though I did notice one bug.

This is currently broken in master. I can still change the arrow height (with mouse and keyboard) when in the horizontal-only mode.

I don't think there's anything fundamentally wrong with an arrow h

[2022-02-14 17:59] arouinfar commented on #308
I actually like keeping all labels below the associated items. It looks cleaner that way. I realize you are trying to put the "object" label as close as possible to the origin of the point source, but I don't think that detail is necessary. I've made a note in the Teacher Tips issue.

[2022-02-14 18:27] arouinfar commented on #188
The goal of the button is to support predictive questioning. In the case of the Light scene, the predictions would be about the light spot, so the rays and light spot should both be hidden by the toggle button.

Yuck, indeed. I don't think the name needs to be so literal, we can use the phetioDocumenation to describe what the property does. We could call call it `isHiddenProperty` since it is asso

[2022-02-14 18:30] arouinfar commented on #234
Thanks @pixelzoom. I like the consistency of using the same cueing arrows for all representations, so the behavior in master looks good to me. Closing.

[2022-02-14 18:30] #234 closed, assigned to arouinfar

[2022-02-14 18:37] pixelzoom commented on #308
Great, then I won't spend time on this. Closing.

[2022-02-14 18:37] #308 closed

[2022-02-14 18:44] pixelzoom commented on #228
Whoopsie.  Fixed in master.  I won't make you review it again.  Closing.

[2022-02-14 18:51] pixelzoom commented on #188
Great, then nothing to do here.  It currently behaves as described.

`isShownProperty` would be OK, but not `isHiddenProperty` -- negative logic is a programming anti-pattern, it's too easy to forget to invert the value.   I still want to think on this some more.  What we really want is something that concisely says "show the result of propagating light rays" or "turn on propagation of light rays"

[2022-02-14 18:57] pixelzoom commented on #188
Still tweaking this... Geometric Optics is a model of optics that describes light propagation in terms of rays.  So I think we really want `lightPropagationEnabledProperty`, rather than `rayPropagationEnabledProperty`.

Now can we come with better icons for the toggle button? Something that says "light propagation ON" and "light propagation OFF".   The eye open/closed doesn't tell me anything.

[2022-02-14 19:29] pixelzoom commented on #188
👍🏻 I like the light bulb direction.

[2022-02-14 19:41] pixelzoom opened #310 "Revise hotkeys for rulers."
In https://github.com/phetsims/scenery/issues/1355#issuecomment-1039339856, @arouinfar said:

Member
[arouinfar](https://github.com/arouinfar) commented [2 hours ago](https://github.com/phetsims/geometric-optics/issues/new#issuecomment-1039339856)
I really like @terracoda's idea to cycle through the items. In Geometric Optics there will be 2-5 items visible on screen at any given time. If users ar

[2022-02-14 19:41] pixelzoom commented on #310
OK, I'll proceed with implementing a cycle. The order will be optic, object1, object2, image1, image2. I'll also make up a new description for the keyboard-help dialog.

[2022-02-14 20:08] pixelzoom commented on #302
This is likely a problem with any optical object, not just the lights.

[2022-02-14 21:42] pixelzoom commented on #228
Reopening. @ariel-phet noted that the drag bounds are incorrect. The arrow can currently be dragged through (and to the right of) the optic.

[2022-02-14 22:11] arouinfar commented on #188
@pixelzoom what do you think of this set of buttons and the placement? The toggle button will fit nicely on the left side of the panel if we group the zoom buttons horizontally.
<img width="135" alt="geometric-optics-buttons" src="https://user-images.githubusercontent.com/8419308/153954880-350d48a6-cbe3-47a9-8fc1-5a271bec6976.png">
<img width="1324" alt="geometric-optics-mockup" src="https://user-

[2022-02-14 23:19] ariel-phet commented on #228
Discussed with @pixelzoom and @arouinfar and made some changes. We made modifications that make this representation more like the representation commonly seen in ray diagrams.

- The arrow now has a thin tail
- The magnitude of the arrow scales (but the tail does not get thinner or thicker)

Since the arrow is meant to be more of a 1d representation the current implementation now better reflects t

[2022-02-14 23:28] pixelzoom commented on #188
Discussed icons with @arouinfar and @ariel-phet.  @ariel-phet suggested something like fontawesome sun or brightness icons.  We'll go in that direction.

[2022-02-14 23:33] pixelzoom opened #311 "Adjust ranges for ROC, IOR, Focal Length, and Diameter."
The ranges for ROC and IOR need to be adjusted.   It's currently possible to get focal points a little to close to the optic (first screenshot below) or outside the bounds of the first zoom level (second screenshot below).  Lens and Mirror will have different ranges.  The current values are:

[code]

<img width="1174" alt="screenshot_1554" src="https://user-images.githubusercontent.com/3046552/153

[2022-02-14 23:43] pixelzoom commented on #310
In [1.1.0-dev.25](https://phet-dev.colorado.edu/html/geometric-optics/1.1.0-dev.25/phet/geometric-optics_en_phet.html), I implemented a J+R hotkey that cycles through an ordered list of useful measuement points.  The points for each scene are:

* Arrow Objects: optic, arrowObject 1, arrowImage1, arrowObject2, arrowImage2
* Framed Objects: optic, frameObject, secondPoint
* Light Objects: optic, lig

[2022-02-14 23:47] pixelzoom opened #312 "Separate opacity ranges for "framed objects" vs "arrow objects""
After discussions/experiments with @arouinfar and @ariel-phet, it was decided that we need separate opacity ranges for "framed objects" `[0,0.75]` vs "arrow objects" `[0,0.6]`.

[2022-02-14 23:56] pixelzoom commented on #281
In meeting with @arouinfar, we decided to change the "Choose a combo box option" to "Choose an Object".  Unfortunately, `ComboBoxKeyboardHelpSection` assumes that all nouns begin with a consonant, so we're currently stuck with "Choose a Object", see below.

<img width="373" alt="screenshot_1556" src="https://user-images.githubusercontent.com/3046552/153966664-418c739c-1fe2-4e9b-baca-72b9d317249e.p

[2022-02-15 01:11] pixelzoom commented on #310
@arouinfar ready for review in master or [1.1.0-dev.26]().

Here's a summary of the measurement points for each "scene".

Arrow Objects:
* vertical ruler: optic, arrowObject 1, arrowImage1, arrowObject2, arrowImage2
* horizontal ruler: same as vertical ruler + left F point + left 2F point

Framed Objects:
* vertical ruler: optic, frameObject, secondPoint
* horizontal ruler: same as vertical ruler

[2022-02-15 01:13] pixelzoom commented on #309
Search for `optic.positionProperty` and see where it's used.

[2022-02-15 01:33] pixelzoom commented on #228
Changes discussed with @ariel-phet and @arouinfar were completed in https://github.com/phetsims/geometric-optics/commit/ba4ca492e225ed0c3a2c659cdfadb8303f39bb16. One remaining change is being tracked in https://github.com/phetsims/geometric-optics/issues/312 (separate opacity range for arrow).

This feature is schedule for review at 2/17 design meeting, so I'll leave it open until that's been done

[2022-02-15 01:40] pixelzoom opened #313 "Factor out duplication in Labels feature."
Factor out duplication that appears in the 3 `*ObjectSceneLabelsNode` classes.

[2022-02-15 14:10] pixelzoom commented on #312
Framed objects and arrow objects now have separate opacity ranges, controlled by separate query parameters. The defaults are `?frameObjectOpacityRange=0,0.75` and `arrowObjectOpacityRange=0,0.6`.

@arouinfar please review.

[2022-02-15 15:01] pixelzoom commented on #281
After changes to ComboBoxKeyboardHelpSection in https://github.com/phetsims/scenery-phet/issues/715, issues are resolved, and the "Choose an Object" help section now looks correct, see below.

@arouinfar please make a (final?) pass through keyboard help, let me know if there's anything to change. If nothing to change, please close this issue.

<img width="430" alt="screenshot_1561" src="https://us

[2022-02-15 16:07] ariel-phet commented on #303
All seems solid in my testing, nice work!

[2022-02-15 19:46] pixelzoom commented on #313
Done, closing.

[2022-02-15 20:13] pixelzoom commented on #306
To reproduce locally,  use this option value in LensModel.ts. y=0 is what's important here, resulting in a zero-magnitude arrow.

[code]

The TypeScript stack trace is:

[code]

[2022-02-15 20:28] #306 closed

[2022-02-15 20:31] pixelzoom commented on #305
This is no longer occurring in CT.  And I cannot reproduce locally with `?brand=phet&ea&fuzz`.  So this was probably an intermediate problem while I was refactoring or working on the Arrow feature.

Closing.

[2022-02-15 20:48] pixelzoom commented on #155
I added a small non-zero scale value, `MIN_SCALE: 1e-5`, which is now used when a zero scale is encountered.

Closing.

[2022-02-15 20:50] pixelzoom commented on #309
I made this temporary change in Optic.ts:

[code]

... and everything looked as expected.

[2022-02-15 20:50] #309 closed

[2022-02-15 20:56] pixelzoom commented on #302
The problem in both of these cases is that the x position is too close to the optic.   Values like (100,0) work fine, which is what I was concerned with when I tried (0,0) --- values where the object is on the optical axis.

I'll investigate adding validation to OpticalObject positionProperty, so that values that are too close to the optic will fail in PhET-iO.

[2022-02-15 20:57] pixelzoom opened #314 "Prevent Object from being positioned too close to optic."
Investigate adding validation to OpticalObject `positionProperty`, so that values that are too close to the optic will fail in PhET-iO.

[2022-02-15 20:57] #302 closed

[2022-02-15 21:32] pixelzoom commented on #314
In the above commit, I added positionProperty validation for the object and projection screen.  I verified that this behaves as expected in Studio.  If you try to move these things too close to the optic, validation fails.

Closing.

[2022-02-15 21:32] #314 closed

[2022-02-15 22:18] pixelzoom commented on #248
PhET-iO validation and state testing have been enabled. I'll leave this issue open until I've verified that there are no major CT problems.

[2022-02-15 22:22] pixelzoom commented on #225
https://github.com/phetsims/geometric-optics/issues/275 is a prerequisite to this.

[2022-02-16 02:22] pixelzoom opened #315 "Convert options to TypeScript pattern."
This includes:

- [x] Identify appropriate patterns for picking superclass options.
- [x] Create options types.
- [x] Replace `merge` with `optionize`. (There are > 90 calls to `merge`, so this is going to take awhile.)

[2022-02-16 02:46] pixelzoom commented on #248
CT looks happy after a couple of cycles, so closing.

[2022-02-16 02:46] #248 closed

[2022-02-16 03:18] pixelzoom commented on #188
I tried the layout shown in https://github.com/phetsims/geometric-optics/issues/188#issuecomment-1039622035.  I think usability and aesthetics are better with the zoom button above the toggle button.  I'm also generally not a fan of horizontal layout for zoom buttons, it's just not the way that you see zoom buttons, and (I think) requires more thinking about which button to press. But I can live w

[2022-02-16 03:20] pixelzoom commented on #235
Alt input support is complete. @arouinfar please review.

[2022-02-16 15:01] pixelzoom opened #316 "CT: Assertion failed: Should be empty before adding everything"
This occurred once (so far) in the State Wrapper.  It's in `GORulerNode.onVisiblePropertyChange`, so probably related to a ruler transitioning in/out of the toolbox.

[code]

[2022-02-16 17:27] arouinfar commented on #281
Thanks @pixelzoom. The keyboard help dialog looks great! Closing.

[2022-02-16 17:27] #281 closed

[2022-02-16 17:34] arouinfar commented on #310
I reviewed in master, and the behavior feels really nice. Thanks @pixelzoom!

[2022-02-16 17:34] #310 closed

[2022-02-16 17:48] arouinfar commented on #235
Alt input is working nicely in master, but there are few things that should be fine-tuned:

* Moving the elements in the play area is probably the most important thing for users to do, so I would start the focus order in there and, keeping the relative order the same as it is now. Roughly, the order would go:
  * Draggable elements in the play area (keeping same relative order)
  * Controls along

[2022-02-16 21:40] arouinfar commented on #188
Thanks @pixelzoom let's review at design meeting.

Here are some mockups of alternative buttons:
<img width="185" alt="image" src="https://user-images.githubusercontent.com/8419308/154361804-daffd576-648b-4186-ab83-9369943ae598.png">

[2022-02-16 22:50] pixelzoom commented on #235
Traversal order has been adjusted as requested, including lightPropagationToggleButton.  Ready for review.

[2022-02-16 23:29] pixelzoom opened #317 "Dragging framed object causes "Assertion failed: reentry detected""
To reproduce:

1. Run the unbuilt sim with `?ea`
2. Go to the Lens screen
3. Select one of the framed objects (e.g. Pencil) from the combo box
4. Drag the object as far as possible to the left. It will trigger this assertion failure:

[code]

[2022-02-17 00:03] pixelzoom commented on #72
I'm going to close this because:

(1) I haven't seen this in CT since 10/19/21, almost 4 months ago.
(2) @kathy-phet's steps in https://github.com/phetsims/geometric-optics/issues/72#issuecomment-887161913 no longer reproduce the problem.
(3) So much code has been rewritten, reorganized, renamed, etc. that the problem may no longer exist.

[2022-02-17 16:51] pixelzoom opened #318 "CT: Assertion failed: there should be at least as many PDOMDisplays as Displays"
This CT failure is occurring in the State Wrapper, related to PDOM.  @zepumph @jessegreenberg any advice on how approach debugging this?

[code]

[2022-02-17 17:09] zepumph commented on #318
This is a big one.

Other sims:
https://github.com/phetsims/circuit-construction-kit-common/issues/760
https://github.com/phetsims/greenhouse-effect/issues/46 (lots of investigation/back story in this one)

Underlying problem:
https://github.com/phetsims/scenery/issues/1312

It may be good to check in on the priority of that issue, and to make higher ups aware of it again.

[2022-02-17 18:08] arouinfar commented on #235
Thanks @pixelzoom. Traversal order looks good, all that's left is to add page up/down steps to IOR (0.1) and Diameter (10 cm).

[2022-02-17 19:42] pixelzoom commented on #235
Sorry I missed the keyboard steps.  In addition to Page steps, we should also add Shift steps, and they should be the same as the spinner (arrow button) intervals.   Here's what is now implemented, ready for review:

[code]

[2022-02-17 21:55] pixelzoom commented on #228
2/17/22 design meeting:

Reorder the combo box as follows:

Pencil (default)
Penguin
Arrow
Light

Delete the unused framed objects (enumeration values, images).