[2022-02-17 22:18] pixelzoom commented on #278
2/17/2022 design meeting, planning notes:

* interviews to be done again after the sim is feature complete and "team tested"
* prototype refresh to be published after the sim is feature complete and "team tested"
* code review to be done before dev testing, notify @kathy-phet ~2 weeks before

[2022-02-17 22:22] pixelzoom commented on #188
2/17/2022 design meeting:

* Consensus was to use the icons in the bottom row of https://github.com/phetsims/geometric-optics/issues/188#issuecomment-1042336352 (brightness icons)
* For the "off" icon, use a red "universal no" (circle with line) instead of the horizontal slash
* With the red "universal no", we may not need to change the button color to "yellow" in the "off" state.
* Current placem

[2022-02-17 22:26] pixelzoom opened #319 "Colors"
Revisit the overall color profile, and address these specific issues:

* https://github.com/phetsims/geometric-optics/issues/224
* https://github.com/phetsims/geometric-optics/issues/225
* https://github.com/phetsims/geometric-optics/issues/226
* https://github.com/phetsims/geometric-optics/issues/275
* #322
* #312 `arrowObjectOpacityRange=0,0.6`

[2022-02-17 22:27] pixelzoom commented on #319
@arouinfar I wasn't sure if you wanted me to close the issues listed above as part of this merging to one "Colors" issue.  Up to you...

[2022-02-17 22:34] pixelzoom commented on #285
2/17/22 design meeting:  I'm a bit ahead of schedule on Geometric Optics.  @kathy-phet suggested that I should notify a11y devs, which I did via a group Slack message.

[2022-02-17 22:38] pixelzoom opened #320 "Reflections on inheriting this sim"
@kathy-phet asked me to spend 1/2 hour making some notes on my experience with inheriting this sim -- what was easy to take over, what made some change requests difficult, what code stayed the same and why, what major changes had to be made and why,... Then she'd like me to schedule a 1-hour meeting with @veillette and @sarchang, if they are available.

[2022-02-17 22:41] #317 closed

[2022-02-17 22:42] pixelzoom commented on #316
@zepumph I'm wondering if you've seen this error before, and if it's perhaps related to https://github.com/phetsims/geometric-optics/issues/318 and/or https://github.com/phetsims/scenery/issues/1312.

[2022-02-17 23:10] pixelzoom commented on #228
Change requests from https://github.com/phetsims/geometric-optics/issues/228#issuecomment-1043501014 have been completed. @arouinfar please review, feel free to close.

[2022-02-18 00:30] zepumph commented on #316
It seems like a pretty good bet that this is the same sort of thing as what you mentioned. I'll stay assigned for now.

[2022-02-18 04:06] arouinfar commented on #188
Here's a mockup of the updated icons:
<img width="279" alt="image" src="https://user-images.githubusercontent.com/8419308/154615504-107265dc-9449-4122-a629-c5534ad9848f.png">

@pixelzoom here are the assets: [light-propagation-toggle-button-icons.zip](https://github.com/phetsims/geometric-optics/files/8094002/light-propagation-toggle-button-icons.zip)

[2022-02-18 04:57] pixelzoom commented on #255
Brainstorming notes for myself... Here's a sketch of an idea for implementing this feature.

Create different models for direct vs indirect methods of setting focal length:

[code]

Optic is wired up to an instance of either DirectFocalLengthModel or IndirectFocalLengthModel, and can be mutated via `setFocalLengthModel( focalLengthModel : FocalLengthModel )`.

There is a difference control sub pan

[2022-02-19 04:00] pixelzoom commented on #316
I'll defer this issue, pending fix for https://github.com/phetsims/scenery/issues/1312.

[2022-02-19 04:17] arouinfar commented on #224
Color changes will be addressed in #319, closing.

[2022-02-19 04:17] #224 closed

[2022-02-19 04:17] #225 closed, assigned to kathy-phet

[2022-02-19 04:17] arouinfar commented on #226
Color changes will be addressed in #319, closing.

[2022-02-19 04:17] #226 closed

[2022-02-19 04:17] arouinfar commented on #319
Thanks @pixelzoom. I'll close the linked issues and we can continue color discussions in this issue.

[2022-02-19 04:19] #235 closed, assigned to arouinfar

[2022-02-20 20:05] pixelzoom opened #321 "CT: Assertion failed: scale should be finite"
The first time that this occurred in CT was Saturday 2/19/2022 @ 3:31:37 AM.  I hadn't touched the code since Thu 2/18/2022 @ 8:57PM.   So I'm wondering if this is a common-code regression.

[code]

[2022-02-20 20:13] pixelzoom commented on #321
Manually mapping the .js assertion to FramedImageNode.ts, it's line 88:

[code]

[2022-02-21 18:26] pixelzoom commented on #255
@arouinfar ready for review.

Support for 'direct' vs 'indirect' methods of setting focal length was added in the above commit.   This work went relatively smoothly, using the design that I outlined in https://github.com/phetsims/geometric-optics/issues/255#issuecomment-1043890392. I did hit one major snag: I discovered that a sign was baked into `focalLengthProperty`, and the sign was used to ind

[2022-02-21 18:31] pixelzoom commented on #311
In https://github.com/phetsims/geometric-optics/issues/311, we made Focal Length settable in the UI, with 'direct' vs 'indirect' models of focal length.  So we'll also need to adjust the ranges for Focal Length.

Here's an updated summary of the ranges for ROC, IOR, and focal length:

[code]

[2022-02-21 18:35] pixelzoom commented on #227
In https://github.com/phetsims/geometric-optics/issues/255, we added an option to replace ROC+IOR controls with a Focal Length control.  I'm wondering what we should do with the Focal Length control when 'flat' mirror is selected.  Hide the control? Change it to a read-out that shows infinity? Something else?

[2022-02-21 18:37] pixelzoom commented on #255
@ariel-phet it would also be nice if you could review this feature.

[2022-02-21 18:43] pixelzoom commented on #321
This has not occurred in the 4 most-recent CT cycles. It has not occurred since 2/20/2022 @ 1:30:34 AM.  And CT seems to have restarted, so I can't tell how many times it occurred since the first occurrence on 2/19/2022 @ 3:31:37.   So before spending more time on this, I'm going to wait to see if it reoccurs, or was perhaps some transient common-code issue.

[2022-02-21 18:53] zepumph commented on #316
A fix has been pushed over in https://github.com/phetsims/scenery/issues/1312#issuecomment-1047142324, next steps for this issue are to make sure it is being tested on CT in the state wrapper. This will ensure we got the fix correct.

[2022-02-21 19:12] pixelzoom commented on #221
The sim is approaching "feature complete", so time to address this.

[2022-02-21 19:46] pixelzoom commented on #255
Another issue I just recalled that came up...  Opacity of the lens is determined by IOR.  When we switch to 'direct' model, IOR  is fixed at 1.5, so it's opacity does not change as focal length is adjusted.  Is this OK, or do we need to change how lens opacity is computed?

[2022-02-21 20:11] zepumph commented on #318
A fix has been pushed over in https://github.com/phetsims/scenery/issues/1312#issuecomment-1047142324, next steps for this issue are to make sure it is being tested on CT in the state wrapper. This will ensure we got the fix correct.

[2022-02-21 20:22] pixelzoom commented on #255
Discussed with @arouinfar, 2.0 is fine for Mirror. But will need to be considered when adjusting ranges in #311.

This is OK. We're not changing the material of the lens.

[2022-02-21 20:25] pixelzoom commented on #227
Discussed with @arouinfar.  When 'flat' mirror is chosen, hide ROC and Focal Length controls. There's not much value in showing the (fixed) infinity value, and it would be a significant amount of work.

[2022-02-21 20:56] ariel-phet commented on #255
@pixelzoom @arouinfar a couple of quick comments

1. I agree, the IOR should be fixed when adjust the focal length, that seems like a good assumption and more related to potential learning goals associated with how the lens of the eye works.

2. For the diverging lens (and I believe diverging mirror) we probably should display the numbers as negative numbers, since that is the convention for such

[2022-02-21 20:58] pixelzoom commented on #255
That's not at all possible with the current implementation -- I would have need to know that up front, and it would have been a different implementation.  @arouinfar and I did discuss this, and noted that we not using the negative-number convention for Focal Length or ROC.

[2022-02-21 21:13] ariel-phet opened #322 "Focal points appear too "grabbable""
@pixelzoom @arouinfar

While reviewing a separate sim (Center and Spread) we were showing a feature of Geometric Optics, and several design team members commented that the focal points appear as though they should be draggable.

My two suggestions to try might be:

1. Make the focal points slightly smaller
2.  Reduce the opacity of the fill

[2022-02-21 21:41] pixelzoom commented on #255
Discussed the previous comment with @arouinfar and @ariel-phet.  Change requests:

* Add + and - to "Focal Length" and "Radius of Curvature" labels, like "Focal Length (+)"
* Instrument `signedFocalLengthProperty`
* Create and instrument `signedRadiusOfCurvatureProperty`
* Add generous `phetioDocumentation` to focal length and ROC Properties, to distinguish between magnitudes and signed values.

[2022-02-21 23:43] pixelzoom commented on #255
Change requests completed in the above commits.

The labels on the Focal Length and ROC controls now have (+) and (-) suffixes, as requested.

But as I got into this, I found a better way to organize the Properties.  The focal-length models now have "magnitude" Properties `focalLengthMagnitudeProperty` and `radiusOfCurvatureMagnitudeProperty`, documented like this:

<img width="768" alt="screensho

[2022-02-21 23:56] pixelzoom commented on #322
We previously polished the size of these, and the team was happy with the size. In choosing the current size, they needs to be larger than the 2F points; and the diameter of the black dot in the center needs to be wider than lineWidth of the light rays.

Focal points overlap with other things on the screen. If they're transparent, you'll get all kinds of odd color combinations. If we use a less sa

[2022-02-22 00:08] ariel-phet commented on #255
@pixelzoom the changes look good and I think that will avoid any complaints about the signs of the values.

I also think the PhET-iO changes make sense, that should allow someone to easily retrieve the signed value if needed for a data table or such.

[2022-02-22 02:31] pixelzoom opened #323 "Arrows should be resizeable in the Mirror screen."
Arrows currently cannot be resized in the Mirrors screen because drag-lock is on.  That's appropriate (and necessary) for the framed objects, but not the arrows.

[2022-02-22 02:45] pixelzoom commented on #227
In https://github.com/phetsims/geometric-optics/issues/227#issuecomment-949048738, we had decided:

@veillette had used a large _positive_ ROC, so that's actually a _convex_ mirror.  And that seems to make the most sense, because flat and convex mirrors both produce (solely) virtual images.  Let me know if that is not correct.

If you inspect `focalLengthProperty` and `radiusOfCurvatureProperty` i

[2022-02-22 02:47] pixelzoom commented on #147
All UI components are present in the sim, and pointer areas have been adjusted. Ready for review.

[2022-02-22 02:51] pixelzoom commented on #270
This issue should be migrated to geometric-optics-basics after that repo is created.

[2022-02-22 03:51] arouinfar commented on #322
Thanks for bringing this to our attention @ariel-phet.

The Flash version used X's which didn't look particularly interactive but were a non-standard representation and bit tricky to measure.There are a few constraints we're working with here:
1. The focal points and 2F points need to be visible at the back of the classroom and distinguishable from one another.
2. The focal point is a <i>point</i>

[2022-02-22 03:51] #322 closed

[2022-02-22 04:25] arouinfar commented on #227
The flat mirror looks great. It's a bit odd for it to be off-center, but for consistency, I know that it needs to stay in place. However, for Basics, I think we should center the flat mirror in the play area since it's the only type of mirror.

This looks good in Studio and I think it's best to use the real values in the model. Looks like `twiceFocalLengthProperty`, `right2FProperty` and `left2FPr

[2022-02-22 04:33] arouinfar commented on #255
@pixelzoom @ariel-phet I really like the `(+)` and `(-)` in the NumberControl titles and the updated properties look brilliant.

[2022-02-22 04:33] #255 closed

[2022-02-22 05:45] pixelzoom commented on #227
I can certainly pull that off. But I'll need to add 5 Properties.  For any Property that can have value `Infinity`, I need to add a derived (and uninstrumented) "finite" Property.  Here are the 5 Properties that can have value `Infinity`, and the 5 "finite" Properties that I'll need to add:

* `leftFocalPointProperty`, `finiteLeftFocalPointProperty`
* `rightFocalPointProperty`, `finiteRightFocalPo

[2022-02-22 05:50] pixelzoom commented on #227
That seems to work for the framed objects. What initial positions do you want for the 2 arrows?

[2022-02-22 17:17] pixelzoom opened #324 "Can we enable cueing arrows using a query parameter, instead of a Property?"
We currently have Property `geometricOptics.global.view.options.cueingArrowsEnabledProperty` which determines whether cueing arrows will be shown.  This Property is "PhET-iO only" and cannot be controlled from the sim UI. Managing this Property results in some complicated code, and the implementation would be much simpler (and consistent) if we treated this feature like the Guides and 2F features

[2022-02-22 17:27] pixelzoom commented on #318
The `phet-io-state-fuzz` is not being run very often by CT.  It's only run 3 times since the fix for https://github.com/phetsims/scenery/issues/1312 was pushed, see screenshot below.  @zepumph do you feel comfortable closing with this kind of CT coverage?

<img width="1299" alt="screenshot_1570" src="https://user-images.githubusercontent.com/3046552/155185725-466690ee-5ba5-41a6-a220-9165c6e65ee5.p

[2022-02-22 17:28] pixelzoom commented on #316
The `phet-io-state-fuzz` test is not being run very often by CT.  It's only run 3 times since the fix for https://github.com/phetsims/scenery/issues/1312 was pushed, see screenshot below.  @zepumph do you feel comfortable closing with this kind of CT coverage?

<img width="1299" alt="screenshot_1570" src="https://user-images.githubusercontent.com/3046552/155185725-466690ee-5ba5-41a6-a220-9165c6e65

[2022-02-22 17:44] arouinfar commented on #324
Great question @pixelzoom. I don't see why a client would need to dynamically change the state of the cueing arrows, so a query parameter sounds reasonable to me.

[2022-02-22 18:05] pixelzoom commented on #324
The cueing arrows feature is now enabled/disabled with query parameter `enableCueingArrows`.  It's a public query parameter, and defaults to `true`.

Closing.

[2022-02-22 18:05] #324 closed

[2022-02-22 18:42] zepumph opened #325 "Assertion failed: reentry detected, value=Vector2(-246, 75), oldValue=Vector2(-272.8488146551724, 75)"
While manually testing the state wrapper for https://github.com/phetsims/geometric-optics/issues/318, I am able to hit this assertion in ~60 seconds most runs. I have hit it 3+ times now, so I thought I'd make an issue since it seems a bit too rare for CT to be picking it up at this time.

[code]

[2022-02-22 18:43] zepumph commented on #318
Yes, I feel alright when I take those tests and add them to my local testing. Before the change, either https://github.com/phetsims/geometric-optics/issues/318 or https://github.com/phetsims/geometric-optics/issues/316 would be hit within ~ 5 seconds of state fuzz testing. Closing

[2022-02-22 18:43] #318 closed

[2022-02-22 18:44] zepumph commented on #316
Yes, I feel alright when I take those tests and add them to my local testing. Before the change, either https://github.com/phetsims/geometric-optics/issues/318 or https://github.com/phetsims/geometric-optics/issues/316 would be hit within ~ 5 seconds of state fuzz testing. Closing

Please also note https://github.com/phetsims/geometric-optics/issues/325 is a state wrapper fuzz bug too at this time

[2022-02-22 18:44] #316 closed

[2022-02-22 19:23] pixelzoom commented on #227
@arouinfar and I met on Zoom to adjust the initial positions of objects in the Mirror screen, as well as the initial ROC and focal length.  Those changes are in the above commit.

As for the issue of showing physically-correct values as discussed in https://github.com/phetsims/geometric-optics/issues/227#issuecomment-1047445905 ...  This is a slippery slope.   There are at least 7 such Propertes:

[2022-02-23 00:48] pixelzoom commented on #323
@arouinfar I'm wondering if we need to add the drag-lock toggle button to the Mirrors screen, so that arrows can be locked if desired.   The button would be disabled for framed objects, but that might still be confusing if the disabled stated showed that dragging was not locked. Maybe hide the button for framed objects?

[2022-02-23 00:51] pixelzoom commented on #321
Still nothing in CT, so closing.

[2022-02-23 02:30] pixelzoom commented on #325
It sounds like I'll probably reproduce this by randomly poking around in the sim while it's running in the State Wrapper. But could you give me some steps to reproduce, so that I'm sure that we're doing the same thing?

[2022-02-23 04:31] zepumph commented on #325
I was just running the state wrapper with ?fuzz and the console open.

[2022-02-23 15:25] veillette commented on #320
@pixelzoom . Let me know when you would like to schedule a meeting. I'll make a habit of keeping an eye on Slack for the next few days.

[2022-02-23 15:39] sarchang commented on #320
@pixelzoom @veillette I'm free this coming Monday or Tuesday after 2pm EST. Let me know if any of those times work with your schedules; also feel free to suggest other times!

[2022-02-23 16:49] pixelzoom commented on #320
@veillette @sarchang Thanks for being proactive! But it's going to be awhile -- sometime after the sim is feature-complete, code-reviewed, and in the QA process.

[2022-02-23 21:18] sarchang commented on #320
Okay great, I'll keep an eye out! I'm also relatively active on Slack so feel free to message me on there.

[2022-02-24 03:03] pixelzoom commented on #325
I'm guessing that this is being caused by changing the zoom level while dragging. That results in the drag bounds changing and the object having to be repositioned, causing reentry of `positionProperty` and `dragBoundsProperty`.  It's probably not specific to `FramedObjectNode`.   And (if my hypothesis is correct) I'm wondering why it would be specific to the State Wrapper.

A solution might be to

[2022-02-24 03:06] pixelzoom commented on #325
That's impossible -- the State Wrapper doesn't work with `?fuzz`.  I'm guessing you used `?sim=geometric-optics&phetioDebug&fuzz`.

Reproduced in my working copy after running for ~3 minutes with `?sim=geometric-optics&phetioDebug&fuzz`.

[2022-02-24 03:36] pixelzoom commented on #325
Before making any changes, I ran `geometric-optics_en.html?brand=phet&ea&debugger&initialScreen=1&fuzz` and could not reproduce the problem.  So it is apparently specific to the State Wrapper

I added `interruptSubtreeInput` as proposed in https://github.com/phetsims/geometric-optics/issues/325#issuecomment-1049447491, and that seems to have been sufficient to fix the problem. I tested with `?sim=

[2022-02-24 04:38] pixelzoom commented on #325
Oh boy.... Back to me.  The reason that the error no longer occurs is because those `interruptSubtreeInput` calls are preventing objects from being dragged.

[2022-02-24 05:24] pixelzoom opened #326 "Use common-code Options types."
There are many places where superclasses have not yet been converted to TypeScript, so options types do not exist yet.  I'm going to use this issue to mark those places in the code with TODOs.  For example:

[code]

These TODOs are unlikely to be addressed before this sim is published, and this issue is not blocking.

[2022-02-24 22:15] pixelzoom commented on #315
This is done.   There are still 25 uses of `merge`, associates with common code that has not been converted to TypeScript.  Converting those will be a future task, tracking in https://github.com/phetsims/geometric-optics/issues/326.

[2022-02-24 22:15] #315 closed

[2022-02-24 22:29] pixelzoom commented on #304
The sim is now feature-complete, so this checkpoint has passed.  Let's pick up PhET-iO design in #237.

[2022-02-24 22:29] #304 closed

[2022-02-24 22:30] pixelzoom commented on #237
The sim is now feature complete, ready for PhET-iO design and review.

[2022-02-24 22:34] pixelzoom commented on #198
A lot of this has been done, but I'll make another pass.

[2022-02-24 22:36] arouinfar commented on #227
@kathy-phet can you take a look at this issue when looking over Geometric Optics?

[2022-02-24 22:36] pixelzoom opened #327 "stringTest"
Verify that the sim passes stringTests.

[2022-02-24 23:57] pixelzoom commented on #319
I discovered that the second point/object is not currently using PhetColorScheme.RED_COLORBLIND, which is `rgb( 255, 85, 0 )`.   It's currently using 'rgb( 255, 51, 51 )'.

[2022-02-25 00:04] arouinfar commented on #312
In general, the opacity of the arrows looks good, but I should review this as a part of #319 to make sure the final colors also work with this opacity range. I've tagged this issue in #319 and added the relevant query parameters, so I'll go ahead and close this issue.

[2022-02-25 00:04] #312 closed

[2022-02-25 00:08] arouinfar commented on #323
@pixelzoom that's a great idea. Yes, I think the arrows will need the drag-lock feature, so let's add the button for the arrow scene but hide it when irrelevant.

[2022-02-25 00:47] pixelzoom commented on #323
@arouinfar ready for review.

Once I got into this, it seemed to make more sense to disable (instead of hide) the drag-lock button.  For Pencil or Penguin, the button will always be disabled, and will indicate that dragging is locked to horizontal. It's the same for all 3 mirror shapes. (If you want to freely drag framed objects for the flat mirror, use Basics.)

![screenshot_336](https://user-ima

[2022-02-25 00:50] pixelzoom opened #328 "Feature-complete test drive"
_Geometric Optics_ is now feature-complete, and the design team is encourage to test drive it with high priority.  Please create new GitHub issues for any problems or change requests.   Unassign yourself when you have completed your test drive.

If there's anyone else who should be looking at the sim, please assign this issue to them.

- [x] @ariel-phet
- [x] @arouinfar
- [x] @kathy-phet
- [x] @sa

[2022-02-25 00:51] pixelzoom commented on #328
If there's anyone else who should be looking at the sim, please assign this issue to them.

[2022-02-25 20:02] pixelzoom opened #329 "Duplication in FramedObjectNode and LightObjectNode"
There is a significant amount of duplicated code in FramedObjectNode and LightObjectNode. Investigate factoring it out into a superclass.  This may also involve factoring out an interface or superclass for FramedObject and LightObject.

[2022-02-25 21:42] arouinfar commented on #323
Good call, I think hiding the button would have been problematic. The behavior in master looks good.

This makes sense to me, but thanks for pointing it out. The current implementation looks reasonable to me, so I think we can call it here. Thanks @pixelzoom.

[2022-02-25 21:42] #323 closed

[2022-02-25 22:06] pixelzoom commented on #326
GOCommonTypes.ts now defines "temporary types" for all of the common-code `*Options` types that are currently missing.  As common-code is converted, these temporary types should be replaced and deleted.

[2022-02-25 22:57] arouinfar commented on #311
@pixelzoom  can you please hook the parameters in https://github.com/phetsims/geometric-optics/issues/311#issuecomment-1047141232 up to query parameters?

[2022-02-25 23:12] pixelzoom commented on #311
Query parameters for optic parameters:

**Lens screen**:

| Query Parameter | Optic Parameter | default |
| :---: | --- | --- |
| `rocRangeLens` | radius of curvature (ROC) | `30,130,80` |
| `iorRangeLens` | index of refraction (IOR) | `1.2,1.9,1.5` |
| `fRangeLens` | focal length (f) | `30,130,80` |
| `dRangeLens` | diameter (d) | `60,120,80` |

**Mirror screen**:

| Query Parameter | Optic Param

[2022-02-25 23:21] pixelzoom commented on #311
Reminder that switching focal length between 'direct' and 'indirect' via the Options dialog will cause the current model's valuese to be written to the new model.  So if you start the GO with `? fRangeLens=10,100,50`, then swtich from 'indirect' to 'direct',  you'll see your focal-length range, but not your default value.  Start the sim with `focalLengthControl=direct` if you want to test only `fR

[2022-02-25 23:32] pixelzoom commented on #311
It's highly recommended to run with ?ea (assertion enabled) when using these query parameter. These are not public query parameters, so if a value is incorrect, the sim will complain loudly in the browser console. If you don't run with ?ea, then the sim may work strangely, or fail a some later point.

[2022-02-26 01:54] pixelzoom opened #330 "Address TODOs in OpticalImage."
There are currently 11 TODOs in OpticalImage than need to be addressed.

[2022-02-26 02:08] ariel-phet opened #331 "Arrow representation can fail to invert using keyboard navigation"
Seen testing master as part of #328 testing on Windows 10, Chrome

Steps to reproduce:
1. Tab to the arrow representation
2. Using the keyboard arrow keys to step down or up to invert the arrow represenation
3. Single presses can cause this behavior (does not always occur), but a continuous hold of the keys does not seem to trigger the issue

See the video below (I show the behavior using single p

[2022-02-26 02:16] ariel-phet opened #332 "Can projector mode be deleted?"
@pixelzoom @arouinfar do we need projector mode anymore in the options? It seems that is now unnecessary with the background color choices and such?

Found as part of #328

[2022-02-26 02:20] pixelzoom commented on #332
This is a duplicate of an issue that was hanging around a long time https://github.com/phetsims/geometric-optics/issues/275. We recently decided to roll all issues related to color into https://github.com/phetsims/geometric-optics/issues/319.   So I'm going to close this as a duplicate of https://github.com/phetsims/geometric-optics/issues/319.

[2022-02-26 02:20] #332 closed

[2022-02-26 02:28] ariel-phet opened #333 "Pressing "Reset All" on Mirrors Screen allows free dragging of object"
Seen as part of #328 testing on master on Windows 10, Chrome

Pressing the "Reset All" button on the mirrors screen removes the constraint of objects only moving horizontally

See the video below for an example:

https://user-images.githubusercontent.com/4051174/155825508-1b139561-2c05-4b84-b5fa-36cc60c3a23d.mp4

[2022-02-26 02:54] pixelzoom commented on #333
Reproduced.  Steps:

1. Go to the Mirror screen
2. Note that the drag-lock button is disabled, and state is locked
3. Press reset all button
4. Note that drag-lock button is still disabled, but state is now UNLOCKED

[2022-02-26 03:04] pixelzoom commented on #331
Fixed in master.   With arrow key held down, it will behave like mouse/touch, and snap to minimum magnitude when you release the key.  If you press and release arrow key (don't hold it down), when the arrow is less than minimum magntude, it will snap to minimum magnitude with the sign inverted.

@ariel-phet please review in master, closed if OK.

[2022-02-26 03:13] pixelzoom commented on #333
Problem identified in the code.

In GOScreenView (the base class for both screens), dragLockedProperty is defined and its initial value is false:

[code]

In MirrorScreenView, dragLockedProperty is then changed based on whether we've select "Light":

[code]

So reset all will reset to the initalized state, which was false. This could also present a problem with restoring iO state, since there coul

[2022-02-26 03:16] pixelzoom commented on #326
Since I'm planning to do some TypeScript conversion later this quarter, I'll probably start with the scenery-phet classes whose Options types are in GOCommonTypes.ts.

[2022-02-26 17:37] ariel-phet commented on #331
@pixelzoom appears fixed in master, closing.

[2022-02-26 17:37] #331 closed

[2022-02-26 17:51] ariel-phet opened #334 "Query parameter for readout of focal length, image distance, object distance"
In testing for #328 I noticed that attempting to get good values to plug into the image equation was a bit challenging. You have to be VERY careful and precise with the placement of the rulers, and in many situations the ruler is not the right length to measure the image distance in one measurement (so I was using the vertical ruler as a sign post -- first make a measurement from the optic, place

[2022-02-26 18:02] ariel-phet opened #335 "Spot intensity seems to vary incorrectly with change in optic diameter"
@pixelzoom @arouinfar I do not think the spot "brightness" algorithm is quite correct when using the light source option. For a given configuration the spot size grows larger if the screen is not placed at the focus and the optic diameter is increased -- that behavior is correct. However, the spot appears to dim if you make the optic diameter larger. I think in this situation the spot size should

[2022-02-26 18:23] ariel-phet opened #345 "Show (+) label on Focal Length and ROC controls only when it's needed."
@pixelzoom @arouinfar as part of phetsims/geometric-optics-basics#7

I am not sure if for basics we need the (+) label on the focal length. Since we only have a converging lens there is nothing to contrast this value with (in terms of being negative), so maybe this label is unnecessary here.

My instinct is we should remove it for basics, but not a strong opinion.

[2022-02-26 18:34] pixelzoom commented on #334
This would be easy to add as @ariel-phet described.   But it feels like a bit of a design hack to stick these values in like this. And I have many questions:

* If this is important, is a query parameter appropriate?  Should we instead add an "Image Equation" accordion box, roughy in the same location?
* Is it sufficient to show just the f, do, di values, or should it also show the image equation?

[2022-02-26 18:38] ariel-phet opened #344 "Consider adding 'Star' object back"
@pixelzoom @arouinfar although I generally like the trimming down of objects we have done, I think on the flat mirror screen of basics it might be nice to reintroduce the "star" object. Noticed as part of phetsims/geometric-optics-basics#7

I think the star might offer a nice contrast to the penguin because of its horizontal symmetry (the pencil does have that quality but not quite as obviously),

[2022-02-26 18:43] ariel-phet commented on #334
@pixelzoom I have mixed feelings about adding this feature in to be a default part of the sim. I think the ethos of the design is for students to be able to generally discover this relationship and make measurements. The other questions you raise are probably worthy of a short design discussion if we decide to move forward with having some sort of display like this. Either way, there does seem to

[2022-02-26 18:56] ariel-phet commented on #334
@pixelzoom  -- if we are going there....

A tape measure (or allowing two tape measures) would frankly be ideal. I would think then you would have the tape measures be a bit "snappy" so that they preferentially snap to interesting points, like the center of the optic and the imaging points. A tape measure would also you to measure the diagonal if desired (which would allow further confirmation of

[2022-02-26 19:00] ariel-phet commented on #328
Test drive complete, overall sim is looking really good.

[2022-02-26 19:02] pixelzoom commented on #335
Here's a description of the current implementation, which is in LightSpot.js

* A spot's intensity range is [0,1]
* Intensity is a function of spot diameter (D)
* Intensity = 7 / D, constrained to [0,1], so any spot with diameter <= 7 cm will be full intensity

Or as the author of this algorithm wrote in the code comments:

[code]

Let me know specifically how you want to change this algorithm.

[2022-02-26 19:13] pixelzoom commented on #334
2 tape measure is a toolbox is certainly doable.  It will come with a very large cost.  We spent an enormous amount of design & implementation time on the rulers (dynamic scale, alt input, hotkeys, iO,...) and we'll need to revist all of that for tape measures.

[2022-02-26 19:20] ariel-phet commented on #334
@pixelzoom then my guess is that for the moment doing tape measures is not feasible and would perhaps be best as a separate issue as a design enhancement in future (might make a nice project for an intern/new dev/etc). We can keep this issue focused on whether we want to have the option for some sort of readout of values (which seems like it would be low cost comparatively).

[2022-02-26 19:26] pixelzoom commented on #334
Yes, let's do that.  I'll move "rulers vs tape measure" to a new issue.

[2022-02-26 19:33] pixelzoom opened #336 "Rulers vs tape measures"
For #328.

In https://github.com/phetsims/geometric-optics/issues/334, @ariel-phet identified a need for a read-out of the values (f, do, di) for the image equation.  This was motivated by the fact that there's a usability problem with the rulers. In many cases (especially when zoomed out) the horizontal ruler is not long enough to measure the desired distances.

I suggested replacing rulers with

[2022-02-26 23:20] pixelzoom commented on #328
Thanks @ariel-phet.

[2022-02-28 16:10] arouinfar opened #337 "`zoomLevelProperty` should be discrete"
For #237

The `zoomLevelProperty` is type NumberPropertyIO and accepts any value within the range 0-2. However, this range shouldn’t be treated continuously and it’s easy to break the sim with the current implementation. There are discrete zoom levels, each with its own rulers.

For an example of a discrete `zoomLevelProperty` see `circuitConstructionKitDc.introScreen.model.zoomProperty`.

[2022-02-28 16:18] arouinfar opened #338 "Instrument all labels for checkboxes and radio buttons."
For #237

The NumberControl and Rays subpanel titles are instrumented, but the title text for aqua radio buttons and checkboxes is not. @pixelzoom please instrument these titles. I'm pretty sure a `visibleProperty` will come along for the ride, but those should be `phetioReadOnly: true` otherwise the UI will look really odd (e.g. functional checkbox with hidden title string).

While you're in ther

[2022-02-28 16:28] arouinfar opened #339 "Does `framedImage2` need to be instrumented?"
For #237

Here's the current structure of `model.framedObjectScene`:
<img width="295" alt="image" src="https://user-images.githubusercontent.com/8419308/156019374-2f8ee701-c4aa-478d-ad6b-8fe91f87025f.png">

There is a `framedImage2` which is confusing since there is only one framed image. Its children have the same values as their cousins under `framedImage1`. The useful data related to the second

[2022-02-28 16:32] arouinfar opened #340 "Create `magnificationProperty`"
For #237

It would be helpful to have a `magnificationProperty` for the relevant images: `framedImage1`, `arrowImage1`, and `arrowImage2`. @pixelzoom can you please create it?

[2022-02-28 16:42] pixelzoom commented on #337
The implementation of zoom in Geometric Optics bears no resemblance to CCK.   CCK is an enumeration and has only 2 zoom levels.  Geometric Optics is more general - zoom level is an integer, uses as an index into an array of scale values.

`zoomLevelProperty` is already 'Integer', see screenshot below.  The fact that you're able to enter non-integers is a Studio problem with the new "value entry" U

[2022-02-28 16:45] KatieWoe opened #341 "CT reentry detected"
[code]

[2022-02-28 16:55] pixelzoom commented on #339
Any yes, `framedImage2` does need to be instrumented. The client will presumably want to know where the rays from `secondPoint` would form an image.  And `framedImage2` has state that must be saved/restored by iO.

[2022-02-28 17:00] pixelzoom commented on #340
`magnificationProperty` already exists in the model.  It's a DerivedProperty.  I've added instrumentation in the above commit, please review.

FYI,  in general, DerivedProperty elements don't need to be instrumented for iO state.  So there are other internal DerivedProperty instances that I've chosen not to expose in the API.

[2022-02-28 17:00] pixelzoom commented on #341
Duplicate of https://github.com/phetsims/geometric-optics/issues/325, closing.

[2022-02-28 17:00] #341 closed

[2022-02-28 17:02] pixelzoom commented on #325
As reported by @KatieWoe in https://github.com/phetsims/geometric-optics/issues/341... After factoring out base class HTMLImageElementObjectNode, this error moved from FramedObjectNode to HTMLImageElementObjectNode:

[code]

[2022-02-28 17:27] pixelzoom commented on #338
@arouinfar said:

I'm pretty sure that use mean "labels" here, not "titles".

[2022-02-28 18:33] pixelzoom commented on #337
Also worth noting is that `zoomLevelProperty` is an integer NumberProperty because that's what is required by the common-code zoom controls.  Doing what CCK is doing requires additonal code to map between integer and enumaration value, and the name `zoomLevelProperty` is then inconsistent with other sims.  Since CCK is using a non-standard approach, perhaps it should consider renaming  `zoomLevelP

[2022-02-28 18:48] arouinfar commented on #337
Thanks for the clarification @pixelzoom. I think my confusion is that the zoom magnification levels are 0.25x, 0.5x, and 1x, so I missed that `zoomLevelProperty` was an integer. I recommend adding `phetioDocumentation` that connects the value of `zoomLevelProperty` to the actual zoom magnification.

[2022-02-28 18:53] arouinfar commented on #338
As an aside, I am always asking devs to instrument this sort of label text (for example, https://github.com/phetsims/circuit-construction-kit-common/issues/870). If it's possible to do this in sun instead of in a sim-specific way, let's elevate to a common code issue and tag for phet-io meeting.

[2022-02-28 18:57] pixelzoom opened #342 "Instrument text for combo box items?"
In https://github.com/phetsims/geometric-optics/issues/338, @arouinfar requested that text labels for checkboxes and radio buttons should be instrumented, so that their textProperty is editable.   Does that also need to be done for the combo box items,  `view.controls.opticalObjectChoiceComboBox.listBox.*` ?

[2022-02-28 18:59] pixelzoom commented on #338
Most UI components (checkbox, radio button, combo box,...) take a Node as their label, so the label is not always text, may be text + icon, etc.   So it's not a simple thing to address in common code.

[2022-02-28 19:22] arouinfar commented on #227
@pixelzoom I'm leaning towards option (3).  I just don't think (1) is worth the hassle and (2) is increasingly strange, especially now that we expose the `magnificationProperty` in the tree. For the flat mirror, the magnification is not exactly 1. This is not unexpected given the approach of approximating the flat mirror with a large ROC.

[2022-02-28 19:25] arouinfar commented on #340
Thanks @pixelzoom. The `magnificationProperty` looks good in the tree and behaves as expected.

Thanks, good to know!

[2022-02-28 19:25] #340 closed

[2022-02-28 19:27] pixelzoom commented on #227
Would you like me to implement (3), or are we still waiting for input from @kathy-phet?

[2022-02-28 19:27] pixelzoom commented on #227
@arouinfar I agree.  (1) is a slippery slope.

Would you like me to implement (3), or are we still waiting for input from @kathy-phet?

[2022-02-28 19:32] arouinfar commented on #227
Let's proceed with (3) @pixelzoom.

[2022-02-28 19:41] pixelzoom commented on #338
@arouinfar ready for review.

Notes:
* I instrumented the Text node for all checkbox and radio-button labels. The tandem name is `labelText`.  Each of these Nodes has a `textProperty` that is editable
* Instead of `phetioReadOnly: true` for the labels, I used `phetioVisiblePropertyInstrumented: false` to uninstrument visibleProperty entirely.  I don't see any reason for the client to be hiding che

[2022-02-28 20:08] pixelzoom commented on #337
The actual scale already exists as a Property, so I've instrumented `zoomScaleProperty`:

<img width="489" alt="screenshot_1575" src="https://user-images.githubusercontent.com/3046552/156051176-98121a89-e0d0-4fa5-8bff-1f9a4ebdbb74.png">

I improved the documentation for `zoomIndexProperty`:

<img width="671" alt="screenshot_1576" src="https://user-images.githubusercontent.com/3046552/156051231-11b

[2022-02-28 21:56] pixelzoom commented on #336
In https://github.com/phetsims/geometric-optics/issues/334#issue-1152060670, @ariel-phet provided this screenshot to demonstrate that the horizontal ruler is too short ("is not the right length to measure the image distance in one measurement"):

![measurement](https://user-images.githubusercontent.com/4051174/155853588-4d2de2d4-c751-4d11-acf1-14368042478f.PNG)

But while investigating this runnin

[2022-02-28 22:01] arouinfar opened #343 "Instrument light spots in the view"
For #237

The data related to `lightSpot1` and `lightSpot2` lives entirely under the model, but users may naturally look for the light spots in the view. @pixelzoom please add `lightSpot1Node` and `lightSpot2Node` to the view under `lensScreen.view.scenes.lightObjectSceneNode` with a linked property that points back to the corresponding model element.

We currently do something similar for the `op

[2022-02-28 22:07] arouinfar commented on #339
I realized that`framedImage2.positionProperty` is the coordinate of the second point, which I had overlooked originally. After discussing with @pixelzoom, we can close this issue.

[2022-02-28 22:07] #339 closed

[2022-02-28 22:09] pixelzoom commented on #343
The decision to not instrument light spots in the view was previously made in https://github.com/phetsims/geometric-optics/issues/269 (there's a comment in the code that says "do not instrument").    But I think this is a good change, so I'll proceed.

[2022-02-28 22:25] pixelzoom commented on #343
Done in the above commit.  Note that `lightSpotNode1` and `lightSpotNode2` both have instrumented `visibleProperty`, so you'll see those in the Studio tree too.  See screenshot below.  For `lightSpotNode1`, visibileProperty is linked to `opticalImage1.visibleProperty`.  For `lightSpot2Node`, visibleProperty is derived from `opticalImage2.visibleProperty` and `visibleProperties.secondPointVisiblePr

[2022-02-28 22:39] arouinfar opened #346 "Add linked elements"
For #237

I found a few places that would benefit from having linked elements.

- [x] Link `model.scenes.arrowObjectScene.arrowImage*` under `view.scenes.arrowObjectSceneNode.arrowImage*Node`
- [x] Link `model.scenes.lightObjectScene.projectionScreen.positionProperty` under `view.scenes.lightObjectSceneNode.projectionScreenNode` (Could alternatively link one level up at `projectionScreen`, up to y

[2022-02-28 22:52] pixelzoom opened #347 "Make visibleProperty editable for all NumberControl elements."
The visibility of Focal Length, ROC, and IOR NumberControls is currently controlled by the sim, based on whether 'direct' or 'indirect' is selected for the focal-length model. @arouinfar would like all NumberControls to all have visibleProperty that can be controlled by the iO client.   So for example, a client should be able to hide the ROC control when they have 'indirect' selected.

This will r

[2022-02-28 22:57] pixelzoom commented on #347
Done in the above commit.  The wrapper Nodes required to make this work did not require instrumentation, because their `visibleProperty` elements are derived.

@arouinfar please review in master.

[2022-02-28 23:07] pixelzoom commented on #346
I did link to `projectionScreen`.  While `projectionScreen` currently only has `positionProperty`, that could change someday (unlikely, but possible).   In general, by sticking with the convention of linking Nodes to their full model elements, we minimize the possibility of breaking the API (and client wrappers) in the future.

@arouinfar ready for review.

[2022-02-28 23:26] pixelzoom commented on #227
Done in the above commit. @arouinfar please review in master.

[2022-03-01 01:58] zepumph opened #348 "lightRaysAnimationTimeProperty toggles visibility of images twice per change"
While testing changes in https://github.com/phetsims/scenery/issues/1313, I noticed that Geometric Optics' data stream seems to have a steady stream of changes coming from `lightRaysAnimationTimeProperty`. I know we don't spend a bunch of time on the data stream these days, but this is quite obnoxious. I looks like `lightRaysAnimationTimeProperty` changes a lot. That is alright! Though it should b

[2022-03-01 03:53] pixelzoom commented on #348
@zepumph said:

Yes, this is expect.  Yes, it should probably be `phetioHighFrequency`. `lightRaysAnimationTimeProperty` updates while rays are animating. This is a part of the code (the ray tracer) that has remained largely unchanged since I inherited.  I'm not planning to change it, because it's working nicely.

There has been no time spent on it so far for this sim.  I'm waiting for feedback on

[2022-03-01 03:57] pixelzoom commented on #237
From https://github.com/phetsims/geometric-optics/issues/348#issuecomment-1054978135:

I get the impression that most of the design time is being spent on Studio and "features".  So a reminder that, while we're not spending a lot of time on the data stream, designers need to include some level of data-stream testing and feedback in the iO design process.

[2022-03-01 16:12] ariel-phet commented on #335
@pixelzoom I will need to chew on this a bit

[2022-03-01 16:17] ariel-phet commented on #344
@pixelzoom looks good in master, thanks!

[2022-03-01 16:24] zepumph commented on #348
makes sense!

I created https://github.com/phetsims/tandem/issues/255, but upon initial investigation, it isn't 100% that this is a bug, it may have been purposeful for other constraints. We will investigate there.

If this is the intended behavior, then perhaps it is the best data stream for the sim, but coming at it with no prior knowledge of the simulation, it seemed weird to me that visibility

[2022-03-01 16:30] pixelzoom commented on #348
@zepumph can you explain the title of this issue?

I read this as "every time that `lightRaysAnimationTimeProperty` changes, it change the value of OpticalImage `visibileProperty`".   And I don't see that happening.  What I see happening is:

* There is a `lightRaysAnimationTimeProperty` per "scene", and there are multiple OpticalImage instances per scene.
* When animation of rays begins, `lightRa

[2022-03-01 16:37] pixelzoom commented on #321
Reopening. This occurred once:

[code]

[2022-03-01 16:43] zepumph commented on #348
I'll explain using the first details in the first comment. A single change of the `geometricOptics.lensScreen.model.scenes.lightObjectScene.lightRaysAnimationTimeProperty` results in two toggles of `geometricOptics.lensScreen.model.scenes.lightObjectScene.opticalImage1.visibleProperty`. If just looking at the data stream, it presents as being superfluous since by the end of the event, `geometricOp

[2022-03-01 16:45] pixelzoom commented on #348
Thanks for clarifying.

I added some console logging, and I see what you're saying.  OpticalImage `visibileProperty` is being toggle repeatedly while `lightRaysAnimationTimeProperty` is changing.  That should not be -- `visibileProperty` should be set to `false` once (at the beginning of the animation) and `true` once (when the animating rays reach the image position.)  So I guess I will need to d

[2022-03-01 19:06] pixelzoom commented on #348
I tracked down the problem - `visibleProperty` was being set (and toggled) inside a callback that has `lightRaysAnimationProperty` as a dependency.  Moving it out of that callback and into a new (more appropriate) callback fixed the problem.  So `phetioHighFrequency: true` is not necessary for `visibleProperty`.

I did add `phetioHighFrequency: true` to `lightRaysAnimationProperty`.

Tested with D

[2022-03-01 19:08] pixelzoom commented on #342
Discussed with @arouinfar on Slack (see below) and we're not going to instrument the combo-box items. Closing.

<details>
<summary>Slack</summary>

[Chris Malley](https://app.slack.com/team/U6EMFARV2)  [1:23 PM](https://phetsims.slack.com/archives/D6EKQLN8J/p1646079821094209)
While I’m instrumenting labels, what’s your feeling about https://github.com/phetsims/geometric-optics/issues/342?

[Amy Ro

[2022-03-01 19:08] #342 closed

[2022-03-01 19:10] pixelzoom commented on #334
@arouinfar and I discussed this yesterday.  @arouinfar is going to add comments about why we're not going to do this.

[2022-03-01 19:13] pixelzoom commented on #336
Discussed with @arouinfar on 2/28/2022.  She's going to add comments about why we're not going to make this change.

[2022-03-01 19:18] pixelzoom opened #349 "Review whether `rentrant: true` is needed"
There are a couple of Properties that are currently `rentrant: true`.  Review whether that's necessary.  If so, document why.

[2022-03-01 19:32] kathy-phet opened #350 "Image looks like it gets less "bright" when should get more "bright""
The brightness of the real image seems to be pretty good to me, except under the case when the image gets quite small and the light is all shining into a small area.

Starting from this case:
![image](https://user-images.githubusercontent.com/5096804/156235601-67f2c4f8-c372-415a-bb05-7c79e2852199.png)

And changing the radius of curvature to smaller, the area drops to about 1/4 of its value, and s

[2022-03-01 19:40] pixelzoom commented on #327
@arouinfar ready for review. Tested with `stringTest=long`, `stringTest=double`, `stringTest=X`.  To make all features visible that involve strings, run with `enableGuides=true&enable2F=true` and check all checkboxes.

[2022-03-01 20:02] pixelzoom commented on #350
No, we're not at any kind of limit.  ROC (and IOR) have no affect on image opacity.

Light intensity is a value in the range [0,1], and is a function of optic diameter and magnification.  Manification is a function of the optic position and the object position.  Here's the algorithm ( implemented in OpticalImage.ts), with the original author's comments:

[code]

Light intensity is linearly mapped

[2022-03-01 20:10] samreid opened #351 "The opticalAxisNode is not pickable in studio autoselect"
From https://github.com/phetsims/studio/issues/243#issuecomment-1055735992 @arouinfar said:

@zepumph and I investigated and found that Line stroke are not pickable by default, and `strokePickable: true` must be added to make the stroke pickable.

[2022-03-01 20:17] pixelzoom commented on #350
Sorry, I take that back... ROC and IOR do affect intensity.  There is a limiting factor, and it's this line in the above algorithm:

[code]

This will always be 1 for an image whose size is less than the object size (down-sized).   And in the case that you've shown, the diameter is the max (120 cm).   So intensity will be 1 for all images that are down-sized, and changing ROC will have no affect o

[2022-03-01 20:23] pixelzoom commented on #351
I get that `strokePickable: false` might be a nice default for Paintable.  But for Line, which is nothing but a stroke...?   Seems like a scenery issue would have been more appropriate here.

But I'll go ahead and add `strokePickable: true`.

[2022-03-01 20:31] pixelzoom commented on #351
@arouinfar please review in master.

[2022-03-01 20:36] pixelzoom commented on #350
Here's the above algorithm with improved documentation:

[code]

[2022-03-01 21:50] zepumph commented on #351
Great idea! I created https://github.com/phetsims/scenery/issues/1370 after speaking with @jonathanolson about it.

[2022-03-01 22:18] pixelzoom commented on #330
Done, closing.

[2022-03-01 22:18] #330 closed

[2022-03-01 22:56] arouinfar commented on #351
Thanks @pixelzoom, the optical axis is now selectable in Studio, closing.

[2022-03-01 22:56] #351 closed

[2022-03-01 23:00] arouinfar commented on #347
Thanks @pixelzoom! This looks great in master.

[2022-03-01 23:00] #347 closed

[2022-03-01 23:03] arouinfar commented on #346
Thanks @pixelzoom, looks good in master.

That makes sense to me @pixelzoom. I'll try to remember that when it inevitably comes up in other sims.

[2022-03-01 23:03] #346 closed

[2022-03-01 23:12] arouinfar commented on #343
The tree structure looks good in master, thanks!

Thanks for the reminder @pixelzoom. This change also enables light spots to be selectable in Studio, but the decision in #269 predates this Studio feature.

[2022-03-01 23:12] #343 closed

[2022-03-01 23:16] arouinfar commented on #337
Thanks @pixelzoom. I think this is a big improvement and really clarifies things.

[2022-03-01 23:16] #337 closed

[2022-03-01 23:35] arouinfar commented on #336
Thanks for factoring out the measuring tape discussion into this issue @pixelzoom.

Early on, we considered using measuring tapes instead of rulers. A measuring tape would quickly provide more precise data to users. However, we ultimately decided to stick with rulers because it better fit the goals related to measurement and experimental error. I also think the scale of this project was very diffe

[2022-03-01 23:36] arouinfar commented on #344
Thanks for this suggestion @ariel-phet. You brought up a lot of really good points, and I totally agree that the star is an interesting example. Thanks for adding it back @pixelzoom.

[2022-03-01 23:36] #344 closed

[2022-03-02 00:49] pixelzoom commented on #133
Fixed in the above commit, tested with `shuffleListeners`, closing.

[2022-03-02 00:49] #133 closed

[2022-03-02 00:52] pixelzoom commented on #198
Code comments are in good shape, closing.

[2022-03-02 00:52] #198 closed

[2022-03-02 00:54] pixelzoom commented on #145
This has sorted itself out after all the changes and refactoring.   I can no longer reproduce by switching between concave and convex lens types.  Closing.

[2022-03-02 00:54] #145 closed

[2022-03-02 01:04] pixelzoom commented on #149
The sim has been feature-complete for a couple of weeks, and I've completed all major changes.  I'm expecting additional code changes to be minor "polishing".  So this sim is ready for performance testing and sign-off @arouinfar.

[2022-03-02 02:55] pixelzoom commented on #349
Addressed in #325, by adjusting object's `positionProperty` in the next animation frame.   Closing.

[2022-03-02 02:55] #349 closed

[2022-03-02 02:57] pixelzoom commented on #325
Addressed in the above commits by adjusting object's `positionProperty` in the next animation frame, and removing all usages of `reentrant: true`.   Ran with `?fuzz` in standalone and State Wrapper for 15 minutes each, didn't see any problems.

Closing.

[2022-03-02 16:03] pixelzoom commented on #311
Raising priority to high, because we can't proceed with dev-lite testing without this one.

[2022-03-02 16:04] pixelzoom commented on #328
@arouinfar @kathy-phet what is your status on this issue?

[2022-03-02 16:31] kathy-phet commented on #328
I spent about 30 minutes working yesterday on review, but haven't quite finished. I'll try more today.

[2022-03-02 19:02] kathy-phet commented on #350
Hi Chris,

Magnification should have an impact for downscaled images - making them brighter if the captured light stays the same amount (e.g. if the diameter of the mirror or lens stays constant).

Technically, if the magnification is 0.5, it means that you have the same light in 1/4 of the area, and the brightness would be 4 times larger.

I don't thing we can go brighter than the original image

[2022-03-02 20:18] pixelzoom commented on #350
If @veillette is available, I'd be interested in the history behind the current algorithm - which now lives in OpticalImage.ts as `lightIntensityProperty`.  "Hollywooded" is mentioned in the comments, so someone must've decided that some compromises were necessary/acceptable.

That said... I'll be happy to change the algorithm.  Provide me with the specific formula for computing light intensity in

[2022-03-02 20:39] arouinfar commented on #227
Looks good in master, thanks @pixelzoom

[2022-03-02 20:39] #227 closed

[2022-03-02 20:44] arouinfar commented on #338
Thanks @pixelzoom this all looks good in master.

[2022-03-02 20:44] #338 closed

[2022-03-02 20:50] pixelzoom commented on #321
I suspect that parentNode has zero bounds because the Image node that it wraps does not have valid bounds -- for some reason. In the above commit, I've added assertions with messages that will help me (dis)prove this theory.

[2022-03-02 21:09] arouinfar opened #352 "Set `positionProperty` of draggable elements to `phetioHighFrequency: true`"
For #237

Moving freely-draggable elements around the play area generates a ton of events in the data stream. Let's mark the corresponding `positionProperty` as high-frequency.

- [ ] `model.rulers.*Ruler.positionProperty`
- [ ] `model.scenes.*ObjectScene.*Object*.positionProperty` (all objects in all scenes)
- [ ] `model.scenes.framedObjectScene.secondPoint.positionProperty`
- [ ] `lensScreen.mod

[2022-03-02 21:43] pixelzoom commented on #348
Reopening.

While discussing https://github.com/phetsims/geometric-optics/issues/352 with @arouinfar, she found
https://github.com/phetsims/phet-io/issues/1629#issuecomment-608002410 (best practices for phetioHighFrequency in the data stream), where our conclusions were:

@zepumph can you please clarify why I should be adding `phetioHighFrequency: true` to `lightRaysAnimationTimeProperty`?

[2022-03-02 21:46] pixelzoom commented on #352
@arouinfar and I discussed this.

`model.rulers.*Ruler.positionProperty` might have been worthwhile, since nothing depends on it.

But `positionProperty` related to the object (and second point) is a dependency of so many other things, that making `positionProperty` high-frequency has almost no impacty on the data stream.

@arouinfar also found
https://github.com/phetsims/phet-io/issues/1629#issue

[2022-03-02 22:00] zepumph commented on #348
Very enlightening! Thanks for jogging my memory. I understand and agree with the decision made in that issue.  I marked it as such in `PhetioObject` so I don't forget next time.

Though I was wrong to recommend `phetioHighFrequency`, it does still seem valuable to be looking at the data stream to help discover logic bugs. I have also found items like https://github.com/phetsims/geometric-optics/is

[2022-03-02 22:02] pixelzoom commented on #348
OK if I remove `phetioHighFrequency: true` from `lightRaysAnimationTimeProperty`?  I'm not keen on creating more usages that have to be removed later.

[2022-03-02 22:03] zepumph commented on #352
If we are deciding that we no longer care about HFE, then I'm all for it, just as long as designers are up for still navigating the data stream to look at what is coming out and making sure that it is acceptable. HFE used to be a nice way to wean out certain events (once acceptably designed) and to look at the user-driven event stream.

Even though https://github.com/phetsims/phet-io/issues/1734 i

[2022-03-02 22:12] pixelzoom commented on #352
I don't think that's a reasonable expectation.  It's pretty much impossible inspect (much less validate) the data stream without writing code to do so.  It also seems problematic that there's no automated testing of the data stream.

[2022-03-02 22:31] arouinfar commented on #352
Individual events are reasonably human-readable, but the data stream as a whole isn't, nor is it meant to be. A single click can generate dozens of events. For example, pressing the decrement button on a NumberControl can create 55 events. It's not 55 (or even 10) instances of a single thing, though. Changing the index of refraction will change the focal length of the lens and therefore the positi

[2022-03-03 04:16] arouinfar commented on #327
I reviewed in master with `enableGuides=true&enable2F=true` and all variations of `stringTest`. Everything looks good @pixelzoom, thanks!

[2022-03-03 04:16] #327 closed

[2022-03-03 04:22] arouinfar commented on #147
The pointer areas look good with `showPointerAreas` and I didn't have any issues with the touch areas on my phone, so I'll go ahead and close.

[2022-03-03 04:22] #147 closed

[2022-03-03 04:27] arouinfar commented on #149
@pixelzoom I'll be able to test out the performance on iPad and Chromebook when I'm in the office next Monday. I did some testing on my phone, and things generally seem good. The only issue I've noticed is that things can get pretty jerky when dragging the object through the focal point. When Do = f, Di = Infinity, so I imagine that's causing the stutter. It's noticeable even on my new MacBook Pro

[2022-03-03 14:56] pixelzoom commented on #149
Thanks @arouinfar.  I'm not aware of anything that should impact performance when Do = f, so self-assigning to investigate.

[2022-03-03 16:09] ariel-phet commented on #335
@pixelzoom the spot diameter basically scales linearly with the diameter of the lens. So I think we just need to add a factor to the algorithm that takes the lens diameter into account. Perhaps just a multiplicative factor (call the minimum lens diameter of 60 cm "1" and the maximum lens size of 120 cm "2" and then multiply the opacity representing intensity by that factor.  The saturation conditi

[2022-03-03 16:22] pixelzoom commented on #335
In addition to, our instead of, the diameter of the spot itself ?

[2022-03-03 17:17] pixelzoom commented on #352
Since we're no longer using `phetioHighFrequency: true`, there's nothing to do here. So closing.

[2022-03-03 17:17] #352 closed

[2022-03-03 22:59] pixelzoom opened #353 "Polish labels"
3/3/2022 design meeting, for https://github.com/phetsims/geometric-optics/issues/328

* Label focal points as simply “F”
* Split the longer labels into 2 lines:  “Real Image”, “Virtual Image”, “Concave Lens”, “Convex Lens”, etc.

[2022-03-03 23:21] pixelzoom commented on #353
Done in the above commit. @arouinfar please review.

[2022-03-03 23:22] pixelzoom opened #354 "Optical image is not updating its position consistently."
When dragging the object, the image is not updating its position consistently.

Likely caused by recent work to address TODOs in OpticalImage.ts.  See https://github.com/phetsims/geometric-optics/commit/f18330a2cfca39d775df21856ce56c0b9f990d41

[2022-03-03 23:27] pixelzoom opened #355 "Add position markers to the toolbox."
3/3/2022 design meeting, for https://github.com/phetsims/geometric-optics/issues/328

Add 2 position markers to the toolbox.  Freely draggable.  See center-and-spread for example "look", maybe something like "pins" used in map apps.

[2022-03-03 23:28] pixelzoom opened #356 "Add 2F to Options dialog."
3/3/2022 design meeting, for https://github.com/phetsims/geometric-optics/issues/328

Add a control to enable the "2F" feature to the Options dialog.  Initial values set via the existing `enable2F` query parameter.

[2022-03-03 23:33] pixelzoom commented on #334
3/3/2022 design meeting.

The consensus was that the best way to do this would be by adding dimensional arrows that should labels and values for important measurements.  We decided not to do this for the next release, defer and reconsider for a future release.

Notes:
* Add a "Values" checkbox
* Quantities: f, do, di (with correct signs), possibly arrow height
* For horizontal quantities, dimensio

[2022-03-03 23:36] pixelzoom commented on #278
3/3/2022 design meeting, we discussed some process questions.

* Dev-lite or "team" testing in a couple of weeks, to get a version ready for interviews and possible prototype publication

* Code review in Q2. No devs available in Q1, so we may do this later than where it usually occurs in the PhET process.

[2022-03-03 23:40] pixelzoom opened #357 "Add a scale to the optical axis"
3/3/2022 for #328

@kathy-phet suggested that adding an optional scale to the optical axis might address some of the measurement issues that @ariel-phet raised in #334.

Notes:
* add an additional checkbox, or show when labels are shown, or use the "Values" checkbox proposed in #334, or something else?
* tick marks and values might be the same as the major tick marks on the ruler
* tick marks and

[2022-03-03 23:43] pixelzoom commented on #350
3/3/2022 design meeting

We played around with making changes to the code, and concluded that the algorithm is more involved.  @kathy-phet will take a stab at it.   @ariel-phet and I may take a stab at it next week.

[2022-03-03 23:44] pixelzoom commented on #335
3/3/2022

 @ariel-phet and I will take a stab at this next week. I'll contact him to set up a time.

[2022-03-03 23:47] pixelzoom commented on #328
3/3/2022 design meeting:

@arouinfar and @kathy-phet have both completed the test drive.

We went over @kathy-phet's feedback and created several issues (see above).

I'll invite @veillette and @sarchang to test-drive as soon as I fix #354 and create a dev version.

[2022-03-04 00:15] pixelzoom opened #358 "Revisit design for Guides feature."
A question about the Guides feature...

I guess I can understand how they may be useful to check alignment with "Marginal" rays:

![screenshot_338](https://user-images.githubusercontent.com/3046552/156674459-b8ce0de3-18c6-408e-b89b-7712f0a28bfa.png)

But I don't understand how they are anything but confusing for the other "Rays" choices. See screenshots below.   Should we consider hiding the guide

[2022-03-04 01:04] pixelzoom commented on #356
@arouinfar ready for review.  Screenshot below.

Notes:
* Let me know if you'd prefer a different label on the checkbox. Note that "Show 2F points" would be an incorrect label. The "2F Points" checkbox shows the points. This checkbox makes the 2F feature available.
* `geometricOptics.global.view.options.enable2FProperty` is the new iO Property.
* `enable2F` query parameter provides the initial val

[2022-03-04 01:08] pixelzoom commented on #356
Maybe this is a better label for the checkbox? It's not exactly accurate, but perhaps more meaningful to users.

![screenshot_345](https://user-images.githubusercontent.com/3046552/156679671-06d45b3b-ffe3-48ab-85a5-c7184dd338e6.png)

[2022-03-04 01:21] pixelzoom commented on #356
I pushed the change to the checkbox label, as shown in https://github.com/phetsims/geometric-optics/issues/356#issuecomment-1058725215.

Note that this is a case where the iO element names do not match the checkbox label.  Checkbox is `enable2FCheckbox` because it's associated with the `enable2FProperty` Property, which is associated with the `?enable2F` query parameter.  This seems preferable to

[2022-03-04 01:28] pixelzoom commented on #354
https://github.com/phetsims/geometric-optics/commit/f18330a2cfca39d775df21856ce56c0b9f990d41 is definitely the culprit. Reverting that commit resolved the problem.  But I did not have time to investigate why, and that commit addresses a number of TODOs.   So... to be continued.

[2022-03-04 01:31] pixelzoom commented on #355
Notes to self:

* RulersToolbox will need to be renamed
* GOMarker can be similar to GORuler
* GOMarkerNode can use similar drag handlers to GORulerNode
* Alt input
* Hotkeys?

[2022-03-04 01:40] pixelzoom opened #359 "Use ReadOnlyProperty"
In https://github.com/phetsims/axon/commit/2dc362b17edb24f6f465ef1ee46596eee1c071ce, @jonathanolson added ReadOnlyProperty, documented as:

[code]

Use it in Geometric Optics, where I've been forced to use Property as a parameter.

[2022-03-04 01:46] pixelzoom commented on #359
Boo hoo. I still can’t pass a `ReadOnlyProperty` to `addLinkedElement( element: PhetioObject, options?: any): void`.  So I'm stuck with `Property` until that's addressed.

[2022-03-04 19:28] veillette commented on #350
As Kathy pointed out, a magnification of 0.5 for the image should appear more intense than the object.

The issue we faced is that the intensity of light is connected to the transparency. At that point in time, the object had a transparency of 1  so we could not tackle images that would appear brighter than the object itself. Instead we simply address the case where the image where magnified >1, f

[2022-03-04 19:35] veillette commented on #350
Here is a first stab at addressing the issue

[code]

This is just one potential approach, and it has it own limitations.

In essence, an image of the same size as the object would have the same transparency,
however, the transparency could be upscaled by for magnification between 1 and 3/4.
Magnifications that are smaller than 3/4, then the transparency is maxed out to 1.

[2022-03-04 23:42] jbphet commented on #259
Generalized support for sound in sliders has been initially implemented, see https://github.com/phetsims/sun/issues/697.  In this particular sim, the default sound generation seemed a little suboptimal because the clicks didn't always occur in conjunction with the quantized slider jumps, so I did some customizations to make them match, see https://github.com/phetsims/geometric-optics/commit/eb0e48

[2022-03-05 16:20] kathy-phet commented on #350
@pixelzoom - Here is my recommendation to try - that also accounts for object distance from lens:

referenceObjectDistance = 160
objectDistanceFactor = referenceObjectDistance/objectDistance

diameterFactor = diameter/maxDiameter

magnificationFactor = Math.abs( 1/magnification)

transparencyOfImage = min[1 , 0.75*objectDistanceFactor*diameterFactor*magnificationFactor]

It could get very dim for

[2022-03-07 18:22] arouinfar commented on #259
Thanks @jbphet. Things generally sound pretty good. Connecting the clicks to `constrainValue` seems reasonable, but the result is that sliders with a larger range (like Radius of Curvature on the Mirror screen) may sound a bit clickier than others. I don't know that it's something we need to specifically change, but it was noticeable to me.

There does seem to be a bug with keyboard nav. Adjusting

[2022-03-07 18:46] pixelzoom commented on #259
Fixed in the above commit. `soundGeneratorOptions.numberOfMiddleThresholds` was missing for FocalLengthControl.ts.  That's understandable because it's only visible in the UI if you switch to "direct" in PhET>Options.

[2022-03-07 19:06] pixelzoom commented on #259
Instead of loading up this sim-specific issue with general comments... I'm adding more general comments to https://github.com/phetsims/sun/issues/697.

[2022-03-07 19:42] jbphet commented on #259
It worked when I assigned this issue to you, but `Slider.js` was changes to TypeScript in the mean time, and it broke this functionality.  I've committed a fix, and will review it with the developer who did the conversion.

[2022-03-07 20:20] pixelzoom commented on #359
Deferring until ReadOnlyProperty is working.  This does not block publication.

[2022-03-07 20:23] pixelzoom commented on #358
I'm also wondering about the Guides when "light propagation" toggle button is off.  See screenshot below.  Should guides be shown when light rays are not propagating?

I realize that the not everyone on the sim team likes the Guides feature.  But I recommend we revisit its design, even if it's going to be hidden behind a query parameter.

<img width="997" alt="screenshot_1591" src="https://user-im

[2022-03-07 20:25] jbphet commented on #259
@pixelzoom asked above:

Not at this time.  In our previous custom implementations of sound for sliders, the sound has *always* been generated for a keyboard-based change, so these values are irrelevant.  The code just produced a sound every time the user did a keyboard-based drag that caused a value change.  I've gone with that same approach in the generalized code.

He also asked:

Yes.

[2022-03-08 00:53] pixelzoom commented on #259
I verified that alt input is working nicely with slider sound.

@jbphet and I paired on slider sound for awhile today.  It's looking very nice.  While there are certainly additional features and issues to address, what's there now is enough to support the release of Geometric Optics.

[2022-03-08 01:13] pixelzoom commented on #326
Down to 4 common-code Options types that are needed by Geometric Optics.

[2022-03-08 03:34] pixelzoom commented on #354
Fixed in the above commits.  The problem was occurring when the object was dragged vertically.  There was a dependency on opticImageXDistanceProperty, which changes only when the object x position changes.

As part of this fix, `opticObjectXDistanceProperty` was added to OpticalObject.  This is analogous to  `opticImageXDistanceProperty` in OpticalObject.  And both of these Properties are now iO-i

[2022-03-08 03:34] #354 closed

[2022-03-08 03:38] pixelzoom opened #360 "New instrumented Properties for object and image"
FYI... As part of https://github.com/phetsims/geometric-optics/issues/354, 2 additional DerivedProperties were instrumented.

`opticObjectXDistanceProperty` is included for every optical object.  It's what we've been calling D<sub>o</sub> or d<sub>o</sub> in other issues.  It looks like this in Studio:

<img width="677" alt="screenshot_1593" src="https://user-images.githubusercontent.com/3046552/1

[2022-03-08 03:43] pixelzoom commented on #328
@veillette and @sarchang If you have the time, we'd like to invite you to test-drive Geometric Optics, as we approach the finish line.  Please use [1.1.0-dev.32](https://phet-dev.colorado.edu/html/geometric-optics/1.1.0-dev.32/phet/geometric-optics_en_phet.html), and ideally complete this by 3/11/2022.  Be sure to check out the new "flat" mirror, and the additional features available via the PhET

[2022-03-08 04:26] pixelzoom commented on #350
@kathy-phet (and anyone else who wants to try it) your algorithm is implemented in master, and ready for review.

Some notes:
* You skipped over light intensity and went directly to opacity. The model computes compute light intenstity in the range [0,1]. The view then maps light intensity to opacity (what you're calling transparencyOfImage).
* You used a range of [0,0.75] for opacity.  That's what

[2022-03-08 04:27] pixelzoom commented on #350
@kathy-phet your algorithm is implemented in master, and ready for review. @arouinfar and @ariel-phet, please have a look and provide feedback.

Some notes:
* You skipped over light intensity and went directly to opacity. The model computes compute light intenstity in the range [0,1]. The view then maps light intensity to opacity (what you're calling transparencyOfImage).
* You used a range of [0,

[2022-03-08 05:23] kathy-phet commented on #350
Hi Chris, The model I had suggested resulted in the opacity of the largest diameter lens and the framed picture at the 0.75 opacity that folks liked, but allowed the opacity to go up to 1, because of the min [1 , 0.75*model factors] where 0.75 * model factors could result in >1 values. From what I am seeing here, the opacity cannot get to 1 now because of the range that is set. I wanted to ensure

[2022-03-08 05:24] pixelzoom commented on #350
If you want the opacity of the framed images to go to 1, run with `? framedImageOpacityRange=0,1`.

[2022-03-08 05:30] kathy-phet commented on #350
Chris, I am not seeing either of these properties in studio
You can use Studio to inspect the values for lightIntensityProperty (model) and opacityProperty (view).

[2022-03-08 05:41] pixelzoom commented on #350
How are you running Studio? Did you have "All" or "Featured" selected? (You must have "All" selected -- nothing is featured yet.) Any errors in the console? If you're using phettest, have you pulled all repositories? ...

Dev versions:
https://phet-dev.colorado.edu/html/geometric-optics/1.1.0-dev.33/phet-io/
https://phet-dev.colorado.edu/html/geometric-optics/1.1.0-dev.33/phet/geometric-optics_en_

[2022-03-08 05:48] kathy-phet commented on #350
I was running on Master, and looking under this iD, using "All Elements".
geometricOptics.lensScreen.view.scenes.framedObjectSceneNode.framedImageNode

I also tried to use the search and it didn't pull up anything with opacity in it.

I'm not sure why I cannot see what you are seeing on Master. phettest?

[2022-03-08 05:57] pixelzoom commented on #350
https://bayes.colorado.edu/dev/phettest/phettest/ currently shows many common-code repos out of dates, and geometric-optics out of date. See screenshot below.   If phettest's repos are stale, then you're not going to see changes that were checked in later.

After pressing the "Pull All" button at the top of phettest, and waiting for all of the repos to change to "up-to-date", running Geometric Opt

[2022-03-08 05:58] kathy-phet commented on #350
I see in dev.33, but not on Master/phettest.

Going with dev.33, I want the opacity to go 0-1, but in the way that I had modeled it to get 0.75 transparency where it needed to be.

Can you do
lightIntensity = min[1 , 0.75 * objectDistanceFactor * diameterFactor * magnificationFactor]

Then map that linearly to opacity of [0-1]. That should give the behavior for images that I am looking for.

[2022-03-08 06:00] pixelzoom commented on #350
If running with `?framedImageOpacityRange=0,1` doesn't give you want you want, then please revise your algorithm to include light intensity (in the range [0,1]) that is then mapped to opacity.   I can't simply skip the light intensity step.

[2022-03-08 06:15] pixelzoom commented on #350
Revised derivation of `lightIntensityProperty` in OpticalImage.ts:

[code]

I've revised the query parameter ranges for opacity, so that both ranges at [0,1].  This will cause `lightIntensityProperty` and `opacityProperty` values to be identical.

`framedImageOpacityRange=0,1`
`arrowImageOpacityRange=0,1`

To my eye, the arrow images are too opaque.  So I question whether your 0.75 multiplier is a

[2022-03-08 13:26] kathy-phet commented on #350
This is looking great for the images to me, with framedImageOpacityRange=0,1 and this intensity calculation above. And it does a very nice job of being less opaque when the object is further from the lens and capturing less light. It gets dim, but you can still see it in the cases I tried. I didn't admittedly exercise the most dim cases - we might want to put minimum on it, possibly.

To return to

[2022-03-08 13:33] kathy-phet commented on #350
@pixelzoom - Also, the reason putting the 0.75 factor in the opacity directly didn't meet the effect I was after, was because I wanted to utliize the entire dynamic range of 0-1, so that compact images where the light is focused to a small area needed to look very opaque/bright, thus needed to go higher than 0.75.

[2022-03-08 15:37] pixelzoom commented on #350
Yes, I understand why you put the 0.75 factor where you did.  I was trying to make what you gave me work with the current implementation, so that we still had the flexibility and tunability   provided by decoupling intensity and opacity.  I'm glad that where we ended up achieved the look you were going for. I'm not happy with where the code is at now.

Going forward... Since we now have opacity ra

[2022-03-08 16:54] arouinfar commented on #350
The opacity of the images in the framed objects scene looks great to me, and I think it's a huge improvement.

https://phet-dev.colorado.edu/html/geometric-optics/1.1.0-dev.34/phet/geometric-optics_en_phet.html?arrowImageOpacityRange=0,0.8

Thanks @kathy-phet. Assuming we treat arrows like framed objects, I don't think we can fine-tune their opacity until we decide on the final colors, so I had or

[2022-03-08 17:49] ariel-phet commented on #350
@pixelzoom @arouinfar @kathy-phet for the Arrow representation, I would be fine it were just a constant opacity with no scaling. It seemed at the time easier to just have it behave (in an opacity sense) like other objects. However, having the arrow image being a constant opacity seems also likely an easy and clear implementation, so I would be fine with that and it would probably be a clearer, sim

[2022-03-08 17:59] pixelzoom commented on #345
Trying to determine when it's relevant to show (+) turned into a horrible mess. There are so many ways that a divering optic can be added via iO. So there's no reliable way of knowing.

The compromise is to remove the (+) altogether, in all cases.  And only show (-) when the actual focal length (or ROC) has a negative sign.  That's what I've done in the above commit.

So in GO and GO:Basics, posit

[2022-03-08 18:04] kathy-phet commented on #350
This sounds OK to me, and would give the same behavior I think.

[2022-03-08 18:41] arouinfar commented on #345
That seems totally reasonable to me and the behavior looks good in master.

While the `(+)` adds consistency in the labeling, I don't think it's necessary. Without it, the `(-)` may actually become more noticeable because the string change between concave and convex optics will be more signficant.

[2022-03-08 18:41] #345 closed

[2022-03-08 20:45] pixelzoom commented on #350
Now that we have everyone's opinion on what to do for the arrows... Who is making the decision on what we're going to do?

[2022-03-08 21:11] kathy-phet commented on #350
@arouinfar - Your call on what to do with arrow. If forced to choose, I lean towards fixed opacity for the arrows to stick with the model framing of this representation, but happy to support either direction.

[2022-03-08 22:57] pixelzoom commented on #355
@arouinfar ready for review in master.

Notes:
* Markers look like upside-down Map markers, and use a FontAwesome icon. If you want something else, please provide artwork.
* Default colors for the markers are `positionMarker1Fill` and `positionMarker2Fill`, both default to 'black'. Let me know if you want to change these.
* Markers are to the right of rulers in the toolbox. Let me know if you'd pr

[2022-03-08 23:08] pixelzoom opened #361 "Dragging the object through the focal point is jerky."
In https://github.com/phetsims/geometric-optics/issues/149#issuecomment-1057655181, @arouinfar noted:

[2022-03-08 23:15] pixelzoom commented on #259
Since sound support for sliders is now sufficient for the needs of this sim, I'm going to close this issue.  Overall review of UI sound for this sim is being tracked in https://github.com/phetsims/geometric-optics/issues/236.  And general work on slider sound will continue in https://github.com/phetsims/sun/issues/697.

[2022-03-08 23:15] #259 closed

[2022-03-08 23:18] pixelzoom commented on #359
In https://github.com/phetsims/scenery-phet/issues/726#issuecomment-1062117397, @jonathanolson said:

I'm going to bail on using ReadOnlyProperty in Geometric Optics. Closing.

[2022-03-08 23:57] arouinfar commented on #360
Thanks @pixelzoom. These look great in Studio and should be convenient for clients, closing.

[2022-03-08 23:57] #360 closed

[2022-03-09 00:00] arouinfar opened #362 "phetioFeatured overrides"
Now that the tree structure has been reviewed in #237 it's time to take care of the phetioFeatured overrides.

[2022-03-09 00:00] arouinfar commented on #237
I don't have any remaining PhET-iO design comments for Geometric Optics, so I think we can go ahead and close this issue.

The only remaining design work is phetioFeatured overrides, but I've opened a separate issue for that.

[2022-03-09 00:00] #237 closed

[2022-03-09 00:31] arouinfar commented on #358
@pixelzoom @kathy-phet my understanding of the Guides is that they are intended to provide information about the extent to which light bends when traveling through a lens. The angle between the guide arms is smaller when the lens has a shorter focal length, etc.

If Do ~ 2f the guide arms will be well-aligned with the marginal rays. However, that's not always the case:
![image](https://user-images

[2022-03-09 00:34] arouinfar commented on #356
Thanks @pixelzoom this looks good in master. I prefer using the `enable2F` language in the tree for clarity, but I think you made a good call to use more natural language for the checkbox in the Options dialog. I know we generally try to coordinate the phetioID and the checkbox label, but there are good reasons not to do that here.

[2022-03-09 00:34] #356 closed

[2022-03-09 00:36] arouinfar commented on #353
Thanks @pixelzoom, looks good in master

[2022-03-09 00:36] #353 closed

[2022-03-09 00:49] arouinfar commented on #350
@pixelzoom let's go with a fixed opacity for the arrow objects. I'm a bit concerned that it will be tricky to find an opacity that works for both arrow images. Could we instead add arrowImage1 and arrowImage2 to the color profile? That way, we could tune them independently to achieve the same perceived saturation.

[2022-03-09 03:45] pixelzoom commented on #358
Thanks @arouinfar.  So it sounds like there's nothing to do here, and the Guide will continue to be shown whenever the "Guides" checkbox is checked.  Closing.

[2022-03-09 03:45] #358 closed

[2022-03-09 03:47] pixelzoom commented on #350
Will do.

They are already in the color profile. See `arrow1Fill` and `arrow2Fill`.

[2022-03-09 15:26] zepumph commented on #285
My blocking issues have been taken care of, unassigning.

[2022-03-09 18:24] pixelzoom commented on #355
Some polishing of the markers with @ariel-phet in the above commit, including:

* slight vertical elongation
* use the ruler fill color, with black stroke (fills and strokes are in color profile)
* use `opacity: 0.85`
* make toolbox icons slight smaller (0.8 scaling) than the actual markers

@arouinfar let me know if you find any of those changes to be disagreeable.

We also discussed a couple of

[2022-03-09 19:10] pixelzoom commented on #355
@arouinfar and I discussed on Zoom. Summary:

* Like the "look" of markers.
* Zoom behavior as described in the previous comment sounds correct.
* Hotkeys as described in previous comments sounds like the right thing to do, go for it.
* We changed traversal order, so that tools that are outside the toolbox are in the "play area".
* I'm going to revisit how `visibleProperty` is used for tools in th

[2022-03-09 19:35] pixelzoom commented on #350
When I asked about `referenceObjectDistance = 160`, @kathy-phet said:

f is the distance from the optic. F is a point.  F.x is not the same as f unless the optic is at x = 0.  That said...

Is using 2f really safe to do?  In https://github.com/phetsims/geometric-optics/issues/311, we're changing the ranges (and perhaps defaults) for all controls. I'll be surprised if 2f = 160

Also note that 2f is

[2022-03-09 19:42] kathy-phet commented on #350
This doesn't have to be an exact science on the "default distance". It's just a comfortable distance from the lens, and nominally where the image/object sizes are the same. I have not tested it on the mirror screen, so will need to look at that.

If you are OK with hard coding a value then 160 is fine, if things change 10% here or there in distances, I think it will remain fine.

I did think the O

[2022-03-09 21:33] pixelzoom commented on #335
@ariel-phet and I knocked this one off this morning.  The algorithm in LightSpot.ts is:

[code]

@arouinfar @ariel-phet ready for verification in master or [1.1.0-dev.35](https://phet-dev.colorado.edu/html/geometric-optics/1.1.0-dev.35/phet/geometric-optics_en_phet.html).

[2022-03-09 21:40] pixelzoom commented on #350
I decided to stick with the magic numbers so that the behavior won't inadvertently change.  I documented those magic numbers in the code like this:

[code]

@arouinfar @kathy-phet ready for review in master, or use the dev links below. Remember to test in both Lens and Mirror screen!

https://phet-dev.colorado.edu/html/geometric-optics/1.1.0-dev.35/phet/geometric-optics_en_phet.html
https://phet-d

[2022-03-10 04:41] pixelzoom commented on #355
Summary of above commits:

* `visibleProperty` was replaced with `isInToolboxProperty` for tools
* icons in the toolbox are iO-instrumented, and the client can hide them via their `visibleProperty`
* major refactoring to move duplicated code into base classes: GOTool (model), GOToolNode (view), GOToolIcon (toolbox icon), GOToolDragHandler, and GOToolKeyboardDragHandler.  This was a big piece of wo

[2022-03-10 15:17] pixelzoom opened #363 "CT: Cannot read properties of null (reading 'pointer')"
First occurrence was 3/9/2022 @ 7:22 PM.  Probably related to work in #355.
[code]

[2022-03-10 16:26] ariel-phet commented on #335
Looks great to me, I think this issue can be closed.

[2022-03-10 21:12] pixelzoom commented on #363
This is failing because the `end` function for GOToolDragListener is receiving a null event,

Slack to @jonathanolson:

GOToolDragListener is a DragListener subclass, and I’m passing it an end function via options:

[code]

I’m not doing anything to synthetically call `end` , so I expected (based on reading the doc) that event should be non-null.  But with fuzz testing, it’s receiving a null event

[2022-03-10 21:50] pixelzoom commented on #333
Fixed in master. @ariel-phet would you please verify, in GO and GO:Basics?

[2022-03-10 21:54] pixelzoom opened #364 "Change dragLockedProperty to objectDragModeProperty"
While working on https://github.com/phetsims/geometric-optics/issues/333, I found myself getting confused about the value of `dragLockedProperty`.  This Property has bugged me for awhile, and I think it could be improved - a boolean value isn't quite cutting it.  So I'm going to change it to `objectDragModeProperty`, with values `'free'` and `'horizontal'`.    This will make the code easier to mai

[2022-03-11 00:58] pixelzoom commented on #364
@arouinfar this is ready for review.  Screenshot below shows what it looks like in Studio.  I like this quite a bit more, and it made the code so much more understandable.

Also... The tandem name of the toggle button changed to `objectDragModeToggleButton`.

<img width="875" alt="screenshot_1599" src="https://user-images.githubusercontent.com/3046552/157781107-17fe26b2-08c3-4177-b7ac-0b6f720f3257

[2022-03-11 01:04] pixelzoom opened #365 "Behavior of guidesEnabledProperty and twoFPointsEnabledProperty"
Here's an interesting PhET-iO design question.  These 2 global Properties are initialized using query parameters. The enable the "Guides" and "2F Points" features:

`geometricOptics.global.view.options.guidesEnabledProperty`
`geometricOptics.global.view.options.twoFPointsEnabledProperty`

I'll discuss `guidesEnabledProperty`, but the same behavor is similar for both Properties.  If `guidesEnabledP

[2022-03-11 01:09] pixelzoom commented on #365
The more I think about it, the more I'm convinces that this is what we want to do.

[2022-03-11 01:21] pixelzoom commented on #363
Slack:

[Jonathan Olson](https://app.slack.com/team/U6E4HHSTF)  [3:21 PM](https://phetsims.slack.com/archives/D6FNMP2LX/p1646950863602069)
Interrupt doesn't take an event, so it can't be passed through
PointerCancel is presumably from a gesture that cancels the interaction?

[Chris Malley](https://app.slack.com/team/U6EMFARV2)  [3:54 PM](https://phetsims.slack.com/archives/D6FNMP2LX/p1646952888903

[2022-03-11 01:26] pixelzoom commented on #363
GOToolDragListener is now keeping track of event.pointer.point in `drag`. If `end` is called with no event, it uses the last event that it got from `drag`.   This seems to work with fuzz testing. I'll leave this issue open to confirm that CT is happy.

[2022-03-11 01:28] pixelzoom commented on #321
I haven't seen this failure since 3/1/2022.

[2022-03-11 01:32] pixelzoom opened #366 "`toolboxBounds` should be in global coordinate frame"
In GOToolNode, `toolboxBounds` is currently in the parent coordinate frame of GOToolbox.

Here's where it's set in GOToolbox.ts:

[code]

This works correctly only because the toolbox and the tools are in the same view coordinate frame. If that were to change in the future, then putting tools back in the toolbox could break.

It would be more bulletproof if `toolboxBounds` were in global coordinat

[2022-03-11 01:46] pixelzoom commented on #366
Done in the above commit, closing.

[2022-03-11 01:46] #366 closed

[2022-03-11 05:48] pixelzoom commented on #363
CT is happy. Closing.

[2022-03-11 05:48] #363 closed

[2022-03-11 06:27] pixelzoom commented on #361
When the object passes through the focal point, the HTMLImageElement used to draw the image changes, and the image mask is regenerated.  Line 109 in FramedImageNode.ts is causing the performance problem:

[code]

Since all images are the same size, I should be able to load 1 mask, and reuse it by transforming it.

[2022-03-11 16:31] #333 closed

[2022-03-11 19:01] veillette commented on #328
I took the simulation for a ride. The simulation has come a long since  last August. I am particularly impressed with the arrow mode. Kudos to @pixelzoom because there must have been a fairly large internal restructure of the code base to support this representation.

There are many small but significant enhancements.  The dashed virtual rays really emphasized the fact that they are virtual.
The n

[2022-03-11 19:34] pixelzoom commented on #328
Thank you @veillette.  There were indeed a lot of changes to be made, but I had a good code base to build on. And it's a testament to you and @sarchang that I was able to understand the code and make major changes without having to consult you very often.  So "well done" to you too!

Re:

Yes, this was discussed quite a bit.  There's not a lot of backstory recorded in the issue, but I noted the de

[2022-03-11 20:27] sarchang commented on #328
Thanks for including me in this! Overall, it looks much improved; thanks for all the work you put in to clean up and add to what we had started.
1. I was a bit confused about the projector mode situation: when I selected the projector mode, I only saw a couple colors change. Wasn’t sure if the font size of the labels were supposed to get larger as well. I also saw some discussion in the Colors #31

[2022-03-11 20:52] pixelzoom commented on #328
Thanks @sarchang!  To address your feedback:

We've moved away from the original "dark background" color scheme, so "Projector mode" is now somewhat obsolete.  There was a proposal to make it go away entirely in https://github.com/phetsims/geometric-optics/issues/275. @arouinfar is now going to address that as a general revision of the color profile(s) in https://github.com/phetsims/geometric-opti

[2022-03-11 20:54] KatieWoe opened #367 "Dragging ruler while zoomed in leads to uncontrolled panning"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Chrome
**Problem description**
Found in master on 3/11/22. First discovered by @kathy-phet.
When you drag the ruler while the sim is zoomed in, it can be very hard to place it in an intended position. Panning occurs any time you move the mouse, and also occurs the second you pick up the ruler. This makes it hard to place the ruler where

[2022-03-11 20:54] pixelzoom commented on #328
Thanks everyone for test driving!  Closing this issue.

[2022-03-11 20:54] #328 closed

[2022-03-11 21:11] pixelzoom commented on #367
I don't see how this can be address -- or really why it needs to be addressed.  You need to be able to see the full ruler to place it, so you should zoom out.

@arouinfar @jessegreenberg thought?

[2022-03-11 22:06] pixelzoom commented on #361
I took this approach:

The downside is that the mask will need to be modified if the PNG files are changed. I've documented that well, and it seems like a fine compromise for the performance improvement.

@arouinfar ready for review, OK to close.

[2022-03-11 22:34] arouinfar commented on #236
@pixelzoom the sim sounds good in master. The only thing that is potentially missing is a sound related to the tools and toolbox. In Waves Intro, there is a sound whenever a tool is picked up and released (including when removing from/returning to toolbox). I doubt this sound has been generalized, but it sounds very similar to the toggle button sound so perhaps we could use that instead.

@kathy-p

[2022-03-11 22:39] arouinfar commented on #367
This behavior is not unique to Geometric Optics, the same happens in master with the ruler in Gravity Force Lab. This seems like a natural consequence of the size of the ruler exceeding the zoom bounds.

Agreed @pixelzoom. It doesn't seem like anything that needs to be addressed, but I'll defer to @jessegreenberg's judgment.

[2022-03-11 22:48] arouinfar commented on #365
Great question @pixelzoom.

This sounds problematic to me. Is there a way to disentangle things so that the feature can be turned on, but the checkbox can be hidden?

It's not totally clear if this proposal would do what I proposed above. If so, I like this direction. It also has the added benefit of matching the "Show "2F Points" checkbox" wording in the Options dialog.

[2022-03-11 22:53] pixelzoom commented on #236
I recall an earlier discussion where we said we were not going to add sounds (or do sound design) for custom draggable things that were not part of common code.  But if you want to go revist that...

* Do we need a sound when a tool is released?
* Does there need to be a sound when you press on an Object or the Projection Screen?  Is there also a sound when you release?

[2022-03-11 22:53] arouinfar commented on #364
Thanks @pixelzoom. This change definitely adds more clarity, I like it! Closing.

[2022-03-11 22:53] #364 closed

[2022-03-11 22:55] arouinfar commented on #361
Thanks @pixelzoom! I'm no longer seeing the jerky behavior in master.

This seems like a reasonable trade-off to me.

[2022-03-11 22:55] #361 closed

[2022-03-11 23:01] arouinfar commented on #350
@pixelzoom I think the behavior in master looks great for both screens. Given @kathy-phet's earlier review comments, I think this is safe to close, but please feel free to re-open if you feel otherwise @kathy-phet.

[2022-03-11 23:01] #350 closed

[2022-03-11 23:02] arouinfar commented on #335
Agreed, this does look great. Thanks @pixelzoom @ariel-phet!

[2022-03-11 23:02] #335 closed

[2022-03-11 23:05] arouinfar commented on #221
@pixelzoom do you have any thoughts about how we can address the aliasing? Should I try exporting a high-dpi image at the resolution used in the sim? Let me know what size you'd like the image to be and I can send you new .png assests.

[2022-03-11 23:16] pixelzoom commented on #236
From the first comment in this issue:

But if you want to go revist that decision...

* Do we need a sound when a tool is released?
* Do we need to be a sound for press (and release?) on an Object?
* Do we need to be a sound for press (and release?) on the Projection Screen?

[2022-03-11 23:18] arouinfar commented on #236
Thanks for the reminder @pixelzoom! I'm comfortable with sticking with our earlier decision -- I just couldn't remember if it had been discussed or not. In that case, I think this issue is safe to close.

[2022-03-11 23:18] #236 closed, assigned to ariel-phet, kathy-phet

[2022-03-11 23:31] arouinfar commented on #264
Here are some reasons why we decided against including a mask:

* The mask can create problems with the ray representations, as it can block many/most of the incoming rays. There should be at least two intersecting rays to form the image. For Marginal and Principal rays, occluding 50% of the optic could block 2/3 of the rays. Furthermore, the Principal rays for an off-axis object may not even inte

[2022-03-11 23:31] #264 closed

[2022-03-11 23:45] arouinfar commented on #311
Thanks for setting up these query parameters @pixelzoom. Let's go with:

- [ ] `rocRangeLens=40,120,80`
- [ ] `iorRangeLens=1.2,1.9,1.5`
- [ ] `fRangeLens=40,120,80` (to keep it in sync with the focal lengths at IOR=1.5)
- [ ] `fRangeMirror=75,150,90` (so it matches up with `rocRangeMirror`)

[2022-03-11 23:58] arouinfar opened #368 "Empty regions of toolbox should not be focusable"
Observed in master and dev.36 (latest) but not dev.30 (arbitrarily chosen older version).

Steps to reproduce:
1. Remove any tool from the toolbox (using mouse or keyboard, doesn't matter)
2. Tab until focus reaches the toolbox.
3. Notice that empty regions of the toolbox receive focus.
![image](https://user-images.githubusercontent.com/8419308/157993522-ec03cfbc-c473-4a5f-9f34-4f54d8e8ab48.png)

[2022-03-12 00:44] pixelzoom commented on #368
Thanks for noticing this @arouinfar.  Fixed in the above commits, ready for review.  This regression occurred in https://github.com/phetsims/geometric-optics/issues/355, when we decided to make the `visibleProperty` of toolbox icons settable by iO clients.

[2022-03-12 01:48] pixelzoom commented on #311
Done in the above commit. @arouinfar please review.

[2022-03-12 01:53] pixelzoom opened #369 "Create a new geometric-optics-screenshot.png"
Create a new geometric-optics-screenshot.png.  The current one is for the prototype and looks completely different.

[2022-03-12 01:56] pixelzoom commented on #221
The current size of light1.png and light2.png is 118x125, and they are scaled by 0.5 in the sim.

They look pretty jaggy when viewed in WebStorm's viewer:

<img width="404" alt="screenshot_1607" src="https://user-images.githubusercontent.com/3046552/157999258-6827348b-948a-475d-84d2-e81e10d23fd6.png">
<img width="282" alt="screenshot_1606" src="https://user-images.githubusercontent.com/3046552/157

[2022-03-12 04:54] arouinfar commented on #368
Looks good in master, thanks @pixelzoom.

[2022-03-12 04:54] #368 closed

[2022-03-12 04:57] arouinfar commented on #311
Looks good in master, thanks @pixelzoom

[2022-03-12 04:57] #311 closed

[2022-03-12 21:27] pixelzoom commented on #361
A couple of additional notes for posterity:

* The sim is now much more responsive on my Mid-2012 Mac Pro.  With `getSelfShape`, dragging framed objects was noticeably laggy.  I expect this improvement to apply to other performance-challenged machines, like Chromebooks.

* The new mask Shape is composed of 6 line segments. The mask generated by `getSelfShape` looks like it contained possibly hundr

[2022-03-14 19:07] pixelzoom commented on #178
Reopening, this is back.  Mostly showng up in geometric-optics-basics:

[code]

[2022-03-14 19:07] arouinfar opened #370 "Zoom buttons are floating at the top of the window"
@pixelzoom the zoom buttons are currently aligned to the top of the browser window instead of the control panel. You can currently find them floating near the ComboBox:

<img width="272" alt="image" src="https://user-images.githubusercontent.com/8419308/158243077-c2eba613-e168-4496-8c6c-3a7712e6eaf6.png">

[2022-03-14 19:13] arouinfar commented on #149
@pixelzoom I tested on iPadOS 14 and Chromebook, and the performance is looking good. The fix in #361 dramatically improved the performance on both platforms.

On Chromebook, the worst case appears to be: framed object, second point on, many rays. Dragging the object around can be fairly laggy, but within acceptable levels. Otherwise, the performance is fine. It's not as snappy as other platforms,

[2022-03-14 19:13] #149 closed

[2022-03-14 19:14] pixelzoom commented on #370
Thanks. This snuck in during https://github.com/phetsims/geometric-optics/issues/365, when I was dealing with dynamic layout of the control panel in response to iO changes.

Fixed in the above commit, closing.

[2022-03-14 19:14] #370 closed

[2022-03-14 22:39] jessegreenberg opened #371 "Remove temporary KeyboardDragListenerOptions"
KeyboardDragListener has been converted to TypeScript so it should be possible now to replace the KeyboardDragListenerOptions  in GOCommonOptions.ts with the actual options exported by KeyboardDragListener.ts.

[2022-03-14 22:43] jessegreenberg commented on #371
For the temporary options I had to update the `drag` option to match the type required by KeyboardDragListener in https://github.com/phetsims/geometric-optics/commit/c973a49bc089e5b67595a5b0eb8bc3c2bbc61a3d, just wanted to point out this commit.

[2022-03-14 23:25] pixelzoom commented on #371
Thanks @jessegreenberg!  I removed my temporary type definition, and I'm now using
KeyboardDragListenerOptions from scenery imports.js.

[2022-03-14 23:25] #371 closed

[2022-03-15 01:25] pixelzoom commented on #355
J+P is implemented for position markers, and required major refactoring of the implementation for rulers.

I have to say that I'm concerned about how complicated this feature is to implement, explain, and test, because  I think it's symptomatic of the UX.  That said...

The set of jump points (in no particular order) is as follows:

All scenes:
* optic
* F left
* F right
* 2F left
* 2F right

Fram

[2022-03-15 01:27] pixelzoom commented on #326
All common-code options are now used, with the exception of SimOptions. I've moved the temporary SimOptions to GOSim.ts, where it's used, with a TODO to address it later.

Closing.

[2022-03-15 01:27] #326 closed

[2022-03-15 02:11] pixelzoom commented on #148
Since this sim has changed so much, and since we now need to test both phet and phet-io brands, I'm going to close this issue, and resume testing in new issues.

[2022-03-15 02:11] #148 closed

[2022-03-15 02:13] pixelzoom opened #372 "Memory testing (brand=phet)"
Testing was done on a local build `grunt --minify.mangle=false --brands=phet` that has identical shas with 1.1.0-dev.37.

Here are the heap snapshots:

<img width="214" alt="screenshot_1608" src="https://user-images.githubusercontent.com/3046552/158291916-c0753f76-d1a7-43a8-912b-1af46b9fa5be.png">

Snapshot 1 was taken immediately after starting the sim with no query parameters. It's the baseline

[2022-03-15 02:38] pixelzoom opened #373 "Memory testing (brand=phet-io)"
Test platform: macOS 12.2.1, Chrome 99.0.4844.51, MacBookPro16,1

Testing was done with a local build `grunt --minify.mangle=false --brands=phet` that has identical shas with 1.1.0-dev.37.

Stanalone PhET-iO sim was run from the Wrapper Index using local URL:
`.../geometric-optics/build/phet-io/geometric-optics_all_phet-io.html?postMessageOnError&phetioStandalone&fuzz`

Heap snapshots:

<img width

[2022-03-15 16:56] pixelzoom opened #374 "Self code review"
# PhET Code-Review Checklist (a.k.a "CRC")

* The responsible dev is responsible for removing the irrelevant parts
* A checked-off item doesn't mean "no problem here", it means "it was reviewed"
* Problems can be noted in side issues that reference this issue, or through `// REVIEW` comments in the code

## GitHub Issues

The following standard GitHub issues should exist. _If these issues are miss

[2022-03-15 17:43] pixelzoom opened #375 "Duplicated instantiation of Guides"
For #374

Duplication in ArrowObjectScene and FramedObjectScene. The only thing that differs is the object arguments and `phetioDocumentation`.

[code]

[2022-03-15 17:45] pixelzoom opened #376 "Duplication in GuideNode"
For #374

Duplication in GuideNode, factor out ArmNode:

[code]

[2022-03-15 17:47] pixelzoom opened #377 "Move point area options to GOToolNode."
For #374

PositionMarkerNode currently has these SelfOptions:

[code]

Consider moving them to GOToolNode, default to zero for GORulerNode.

[2022-03-15 17:50] pixelzoom opened #378 "Duplicated `positionProperty` listener"
For #374

LensNode, MirrorNode, and ProjectionScreenNode all have this listener:

[code]

Are there others? Should I factor out a "positionable" model element and Node subclass?  It might be more trouble than it's worth.

[2022-03-15 17:52] pixelzoom opened #379 "Duplicated `drag` function"
For #374

This is duplicated in 4 draggable Nodes. Can it be factored out? Is it worth it?

[code]

[2022-03-15 17:56] pixelzoom opened #380 "Duplicated numbering of Object labels"
For #374

Duplication in ArrowObjectSceneLabelsNode and LightObjectSceneLabelsNode:

[code]

[2022-03-15 17:58] pixelzoom opened #381 "Duplicated `visibleProperty` value for cueing arrows"
For #374

SecondPointNode, OpticalObjectNode, and ProjectionScreenNode all have this duplicated `visibleProperty` value for their cueing arrows:

[code]

[2022-03-15 18:13] pixelzoom opened #382 "Review keys for translated strings."
For #374

From the CRC:

[2022-03-15 19:11] #377 closed

[2022-03-15 19:26] pixelzoom commented on #375
This turned into a bit of a mess -- doable, but at the expense of code readability in other areas.  The optical objects are created by the subclass, and their positions are need to instantiate the guides.   in the case of `secondPoint`, it's not really an optical object, just a position.

So at the expense of a few lines of duplicated code, I think it's best to keep things as is. The base class is

[2022-03-15 19:26] #375 closed

[2022-03-15 19:52] pixelzoom commented on #381
Factored out CueingArrowsNode.createVisibleProperty in the above commit. Closing.

[2022-03-15 19:52] #381 closed

[2022-03-15 21:06] pixelzoom commented on #379
Two of these occurrences where in subclasses of OpticalObjectNode, so those were moved into that base class.

The other two occurrences are in SecondPointNode and ProjectionScreenNode, both of  which extend Node.  I decided to leave those alone.

Closing.

[2022-03-15 21:06] #379 closed

[2022-03-15 21:20] pixelzoom commented on #378
Investigated... This is definitely not worth the trouble. Closing.

[2022-03-15 21:20] #378 closed

[2022-03-15 21:48] jessegreenberg commented on #367
I agree that one needs to zoom out to place it but dragging it does feel out of control. As soon as you tap on the ruler the whole screen pans so that the left most side of the ruler is in view and it is disorienting. Taking a look.

[2022-03-15 22:44] jessegreenberg commented on #367
I propose that we don't pan objects that are larger than the available screen size during drag. When the object can be fully contained by the available screen space we pan to keep it in view. Otherwise you need to drop the object and drag the screen to understand where you are going.

Example:
<details>

![rts](https://user-images.githubusercontent.com/6396244/158484222-5ff129ba-25e0-4bc2-9392-449

[2022-03-15 22:56] pixelzoom commented on #380
Done in above commits. Also addressed duplication related to numbering and real/virtual in image labels.

[2022-03-15 22:56] #380 closed

[2022-03-15 23:02] pixelzoom commented on #382
Done, closing.

[2022-03-15 23:02] #382 closed

[2022-03-16 00:09] pixelzoom opened #383 "Revise how the visibility of individual labels is handled."
For #374

The implementation of the Labels feature is still overly complicated.  In particular, the logic that sets visibility of the labels is complicated and duplicated elsewhere.  It should be much simpler -- a label should simply be visible based on whether the Node that it's labeling is visible.   I'm going to try that approach.

[2022-03-16 00:29] pixelzoom commented on #383
Done. Much cleaner. Closing.

[2022-03-16 00:29] #383 closed

[2022-03-16 00:31] pixelzoom commented on #374
I still have to complete model.md #134 and implementation-notes.md #135.  But otherwise, this is done.

[2022-03-16 00:31] #374 closed

[2022-03-16 03:03] pixelzoom commented on #367
Adding @arouinfar to the "try on master" assignment.

[2022-03-16 03:08] pixelzoom opened #384 "CT: no item found that has focus (ComboBoxLisgBox)"
This has been popping up (pun intended) in geometric-optics, a problem with focus in ComboBoxListBox.  I don't know if it's happening in other sims.  @jessegreenberg @zepumph thoughts?

[code]

[2022-03-16 16:19] KatieWoe commented on #367
I think it behaves much better now.

[2022-03-16 16:49] jessegreenberg commented on #384
This is not a sim-specific issue but a general problem with headless Chrome and CT. It started showing upbecause we improved testing coverage in https://github.com/phetsims/scenery/issues/1379 recently. But it is happening because certain DOM events that we rely on do not fire in headless Chrome.

`?fuzzBoard` had been effectively disabled on CT until we can address this.

Reassigning to @pixelzoo

[2022-03-16 17:19] pixelzoom commented on #384
👍🏻 closing

[2022-03-16 18:23] arouinfar commented on #367
Thanks @jessegreenberg, the behavior in master looks much better to me.

This seems like something we would want to generalize to any draggable object. Not sure if it has already been generalized, or if it needs a separate issue to track, so back to @jessegreenberg.

[2022-03-16 23:15] jessegreenberg commented on #367
OK sounds good. Yes, this is being done generally in https://github.com/phetsims/scenery/issues/1381. Ill consider that a sign-off for this change and finish up over there.

[2022-03-16 23:15] #367 closed

[2022-03-17 15:48] pixelzoom commented on #178
I fuzzed tested the unbuilt sim for 30 minutes and did not encounter this problem.
URL: `geometric-optics_en.html?brand=phet&ea&debugger&fuzz`

[2022-03-17 15:48] pixelzoom commented on #321
I fuzzed tested the unbuilt sim for 30 minutes and did not encounter this problem.
URL: `geometric-optics_en.html?brand=phet&ea&debugger&fuzz`

[2022-03-17 15:49] pixelzoom commented on #72
I fuzzed tested the unbuilt sim for 30 minutes and did not encounter this problem.
URL: `geometric-optics_en.html?brand=phet&ea&debugger&fuzz`

[2022-03-17 16:47] pixelzoom commented on #369
This will also be needed if we publish a new prototype version.

[2022-03-17 18:43] pixelzoom commented on #355
The jump code has a list of points and whether they're visible. It doesn't know that one of those points is the optic.  This is going to be a big change, so I'm going to ask... Do you still want this?

[2022-03-17 18:45] pixelzoom commented on #355
I'm also curious about why we'd want to measure the optic radius when the diamater is shown (and settable) in the control panel.

[2022-03-17 19:20] arouinfar commented on #365
Thanks @pixelzoom. That all sounds reasonable and the behavior looks good in Studio.

That makes sense to me, but it might not be clear to a client how to hide the checkbox, especially if they are starting in GOB. Is it possible to add a linked property to `global.view.options.add2FPointsCheckboxProperty` under `view.controls.controlPanel.checkboxGroup.twoFPointsCheckbox`?

[2022-03-17 19:23] arouinfar commented on #355
It's not a hill I'm willing to die on, but it is a noticeable change from the previous implementation.

It'd purely be for verification purposes. It's not critically important and the default position of the ruler is (0,0), so I suppose that'll do. Closing.

[2022-03-17 19:52] arouinfar commented on #319
Here are the colors reviewed in the design check-in:
- [ ] panelFill `#e5f7fe` (Vector Addition background color)
- [ ] realRays1: black
- [ ] realRays2: `rgb(255, 51, 51)`
- [ ] guideArm1Fill: `rgb(230,230,230)`
- [ ] guideArm2Fill: `rgb(255, 51, 51)`

Here are some screenshots (taken from an stale version of master, so ignore the zoom buttons)
![Geometric Optics screenshot (10)](https://user-ima

[2022-03-17 20:55] pixelzoom commented on #365
The '2F Points' checkbox is created as part of a VerticalCheckboxGroup, and I can't actually get at the actual checkbox.  I'd have to do something "clever", like lookup the checkbox by it's phetioID.

I also noticed that I was creating the 'Focal Point (F)' and '2F Points' checkboxes in the Mirror screen of GO:Basics, where they will never be relevant (because that screen only has a flat mirror, w

[2022-03-17 21:06] pixelzoom commented on #355
Vertical ruler now includes the optic position in its list of jump points. Back to @arouinfar for review.  Close if this looks OK.

[2022-03-17 21:09] pixelzoom commented on #319
I checked with @arouinfar via Slack, and we are ditching the "projector" color profile.  So I'll remove those colors from GOColor.ts, and remove the "Projector Mode" checkbox from the Options dialog.

[2022-03-17 21:25] pixelzoom commented on #319
Projector Mode has been removed, and default color profile has been revised as requested. Back to @arouinfar for review, close if it looks OK.

[2022-03-17 21:27] pixelzoom commented on #373
Now that this issue is referenced in #374, I'm going to close this issue.

[2022-03-17 21:27] #373 closed

[2022-03-17 21:27] pixelzoom commented on #372
Now that this issue is referenced in #374, I'm going to close this issue.

[2022-03-17 21:33] pixelzoom commented on #319
One more things.... I noticed that our red is `rgb( 255, 51, 51 )`, not PhetColorScheme.RED_COLORBLIND `rgb( 255, 85, 0 )`.   Is that an issue?

[2022-03-17 21:35] pixelzoom commented on #319
A couple more things...

* I noticed that our red is `rgb( 255, 51, 51 )`, not PhetColorScheme.RED_COLORBLIND `rgb( 255, 85, 0 )`.   Is that an issue?

* Has the new color profile been tested for colorblind issues?

[2022-03-17 22:51] pixelzoom commented on #369
@arouinfar can you please update geometric-optics-screenshot.png for the new prototype version?

[2022-03-17 23:03] pixelzoom opened #385 "Reduce lineWidth for rays?"
Now that we've settled on ray colors in #319 ....

I like the new colors (black & red) for rays.  But they feel really "heavy" with `lineWidth=2`. Examples:

<img width="1144" alt="screenshot_1615" src="https://user-images.githubusercontent.com/3046552/158907965-33242c18-eb75-4738-8d45-cf8d6e8d813d.png">
<img width="1144" alt="screenshot_1614" src="https://user-images.githubusercontent.com/3046552

[2022-03-17 23:05] pixelzoom commented on #385
Or we could split the difference, and use `lineWidth=1.5`.

I think that `lineWidth=2` was chose when the background was dark, since a thicker line is typically needed on dark backrounds.  But with the white background, it feels too heavy.  And I think that switching from gray & green for the ray colors has accentuated that.

[2022-03-17 23:07] pixelzoom commented on #385
Here's `lineWidth=1.5`.  This still feels a little heavy on a computer screen, but might project better?

<img width="1139" alt="screenshot_1618" src="https://user-images.githubusercontent.com/3046552/158908459-8a2e7c44-91a5-4481-b564-cd5f8d321f22.png">

<img width="1143" alt="screenshot_1619" src="https://user-images.githubusercontent.com/3046552/158908485-9fd4bd36-e77a-4b59-bffc-0df476dc35b7.png

[2022-03-17 23:12] pixelzoom commented on #385
I've added query parameter `raysLineWidth` (default 2) so you can experiement in master.

[2022-03-17 23:13] pixelzoom commented on #285
Since all blocking issues have been addressed, I'm going to close this.

Thanks @zepumph, @jessegreenberg, and @jbphet!

[2022-03-17 23:13] #285 closed

[2022-03-18 01:59] pixelzoom commented on #385
Different lineWidth for real vs virtual rays is also trivial, if that's desirable. The dash virtual rays could definitely use a larger lineWidth without feeling too heavy, and might project better. Happy to add separate query parameters if you want to explore that.

[2022-03-18 02:59] pixelzoom commented on #385
In the above commit, I replaced `raysLineWidth` with `realRaysLineWidth` (default 2) and `virtualRaysLineWidth` (default 2).

I like
`?realRaysLineWidth=1&virtualRaysLineWidth=1.5`
or maybe even
`?realRaysLineWidth=1&virtualRaysLineWidth=2`

[2022-03-18 16:02] KatieWoe commented on #178
[code]

[2022-03-18 16:03] KatieWoe opened #386 "CT: Cannot handle messages until after initialization"
[code]

[2022-03-18 16:22] pixelzoom commented on #386
I don't know where to start with this one. @zepumph @samreid thoughts?

[2022-03-18 16:32] samreid commented on #386
My local copy shows no errors for http://localhost/main/phet-io-wrappers/phet-io-wrappers-tests.html?sim=geometric-optics, and http://localhost/main/phet-io-wrappers/phet-io-wrappers-tests.html?sim=geometric-optics&phetioDebug fails with "too many query parameters" error.  @zepumph can you please advise?

[2022-03-18 18:28] arouinfar commented on #355
Looks good, thanks!

[2022-03-18 18:28] #355 closed

[2022-03-18 18:36] arouinfar commented on #385
@pixelzoom thanks for creating these query parameters! I'm not sure if I would take the real rays all the way down to 1. It looks great on a computer screen, but it's probably a bit too thin for classroom projection. My vote would be for `realRaysLineWidth=1.5&virtualRaysLineWidth=2`. It lightens things up a bit, but should still look good at the back of the classroom.

[2022-03-18 18:39] arouinfar commented on #365
Thanks @pixelzoom. Looks good in Studio, closing.

[2022-03-18 18:39] #365 closed

[2022-03-18 18:52] arouinfar commented on #319
The red we've been using `rgb( 255, 51, 51 )` had good contrast with previous colors, but it's not so great against the black rays.
<img width="673" alt="image" src="https://user-images.githubusercontent.com/8419308/159060922-ebb6820c-7fb4-42af-8777-b3dc02774807.png">

@pixelzoom let's swap out the red for `PhetColorScheme.RED_COLORBLIND`. I don't really love they way it looks, in general, but it

[2022-03-18 18:53] arouinfar commented on #221
Note to self: update color of red lamp to `rgb( 255, 85, 0 )`.

[2022-03-18 19:34] pixelzoom commented on #385
`realRaysLineWidth=1.5&virtualRaysLineWidth=2` looks great to me, done in the above commit. Closing.

[2022-03-18 19:34] #385 closed

[2022-03-18 19:35] pixelzoom commented on #319
Changed to `PhetColorScheme.RED_COLORBLIND` in the above commit.   I also prefer a nice pure red.  But I think this is a fine compromise.

Closing.

[2022-03-18 19:35] #319 closed

[2022-03-18 19:39] pixelzoom commented on #386
`/phet-io-wrappers/phet-io-wrappers-tests.html?sim=geometric-optics&phetioDebug` fails for me with "Assertion failed: query parameter cannot occur multiple times" , stack trace below.  @samreid is that what you mean by  "too many query parameters" error, or are you seeing something else? And is this related or a different problem?

[code]

[2022-03-18 19:43] pixelzoom commented on #134
@arouinfar ready for review.  If you'd like to modify, feel free to do so directly.

[2022-03-18 19:43] pixelzoom commented on #134
@arouinfar ready for review. If you'd like to modify, feel free to do so directly.

This must be reviewed before code review can begin.

[2022-03-18 21:08] pixelzoom opened #387 "Geometric Optics: publish 1.1 (brand=phet)"
This version will also be used for interviews.

[2022-03-18 21:09] pixelzoom commented on #278
Sicne we're doing a 1.1.0 prototype refresh in https://github.com/phetsims/geometric-optics/issues/387, this version number bumps to 1.2.0.

[2022-03-18 21:10] pixelzoom commented on #387
3/18/21, release branch 1.1 created, 1.1.0-rc.1 published for rc-lite testing:
* https://github.com/phetsims/qa/issues/787

[2022-03-18 21:24] Nancy-Salpepi opened #388 "Can't return items to toolbox when zoomed in"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.2.1

**Browser**
Safari/Chrome

**Problem description**
Seen when testing the pan and zoom feature https://github.com/phetsims/qa/issues/785 for @jessegreenberg.
If I am zoomed in a good bit, I can't get the rulers back in the toolbox. I also have difficulty returning the position markers.
This happens in both GO and GO-Basics on all s

[2022-03-18 21:56] jessegreenberg commented on #388
This is happening because of https://github.com/phetsims/geometric-optics/blob/55d4490f804a649c846cf7ecc2670f08ff6d7e1e/js/common/view/tools/GOToolbox.ts#L48-L54

The listener isn't called if the `globalBounds` of the GOToolbox change. There isn't a `globalBoundsProperty` so here is another way that works by setting a function that returns the global bounds.

<details>

[code]
</details>

[2022-03-18 22:01] pixelzoom commented on #388
Ah, looks like @jessegreenberg and I were commenting at the same time.  I'll discuss with him.

[2022-03-18 22:16] pixelzoom commented on #388
Discussed with @jessegreenberg on Zoom...

The global coordinate frame doesn't change. But pan/zoom changes where everthing is in the global coordinate frame -- even things that don't change position/bounds in the scenegraph.  So you need to assume that nothing has static global bounds --  you cannot assume that something has the same global bounds as the last time that you checked.

As @jessegree

[2022-03-18 22:19] pixelzoom commented on #388
And lest I forget... Nice find @Nancy-Salpepi!

[2022-03-18 22:44] zepumph commented on #386
There is a general problem that I am aware of with phet-io-wrappers-tests, they need some work. I only just realized the vast majority of them weren't reporting their errors during a call with JO earlier this week.  I feel like this issue will get sorted out over in that issue.

[2022-03-18 23:28] pixelzoom commented on #388
Fixed in master and 1.1 branches in the above commits.

@Nancy-Salpepi could you please verify in master? If it looks OK, change the label to "status:fixed-awaiting-deploy".

[2022-03-18 23:32] pixelzoom commented on #386
Thanks @zepumph. I'll unassign us for now, and put this issue "on-hold" until https://github.com/phetsims/phet-io-wrappers/issues/434 is addressed.

[2022-03-19 13:06] Nancy-Salpepi commented on #388
Looks good in master.

[2022-03-19 14:20] pixelzoom opened #389 "Validate y constraint on OpticalObject positionProperty"
While working on implementation-notes.md in #135, I described this constraint:

Looking at OpticalObject.js, it's validating the x constraint, but not the y constraint:

[code]

So I should add validation of the y constraint, as in this patch:

<details>
<summary>Patch</summary>

[code]

</details>

I'll probably wait to do this until the new 1.1 prototype is published in #387.  Or I may go for it

[2022-03-19 14:26] pixelzoom commented on #388
Unassigning, to be tested in the next RC.

[2022-03-21 13:35] Nancy-Salpepi opened #390 "Image missing when 'None' is selected with light propagation off"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.3

**Browser**
Chrome

**Problem description**
For https://github.com/phetsims/qa/issues/787
Switching to the 'None' option for Rays with light propagation turned off, will not produce an image (either Real or Virtual) when light propagation is turned on.

**Steps to reproduce**
1. On either screen, press the Light Propagation toggle b

[2022-03-21 16:02] pixelzoom commented on #389
I applied the patch to 1.1 and master branches.  This should result in no behavior changes to the sim.  A quick test with `?ea&fuzz` should be sufficient for the next RC.

[2022-03-21 16:05] pixelzoom commented on #390
Reproduced with real and virtual images in master and 1.1.0-rc.1.

[2022-03-21 16:06] KatieWoe opened #391 "CT phetioID already registered"
[code]

[2022-03-21 16:09] pixelzoom commented on #390
Light scene is also messed up:

1. Go to Lens screen
2. Choose 'Light' fron the combo box
3. Set Light Propagation toggle button to off
4. Set Rays to "None"
5.  Set Light Propagation toggle button to on.  Light spot should be visible on projection screen, but is not.
6. Set Light Propagation toggle button to off. Light spot should NOT be visible on projection screen, but is.
7. Continue to toggle

[2022-03-21 16:21] pixelzoom commented on #391
Hmmm... I thought this had been was fixed in https://github.com/phetsims/phet-io/issues/1853 on 3/17/2022 @ 10:41AM.  I'll investigate.

[2022-03-21 17:31] pixelzoom commented on #391
Reproduced manaully by:

1. Run the sim in  State wrapper with `phet-io-wrappers/state/?sim=geometric-optics&phetioDebug`.
2. In the upstream sim, open the Options dialog.
3. Wait ~3 seconds and the assertion should fail.

In the above commits, I fixed this error and improved the iO instrumentation.  Tested with the above steps in my working copy.  I'll leave this open to make sure that CT is happ

[2022-03-21 17:39] pixelzoom commented on #390
For posterity... I want to once again note how the complexity of implementing this button (and our repeated inability to get it right) is directly related to the fact that this button has too many responsibilities, and high potential to get the user into confusing situations.  I understand the goal, but the design and excution here has been nothing but problems.

[2022-03-21 17:39] pixelzoom commented on #390
@arouinfar @ariel-phet @kathy-phet For posterity... I want to once again note how the complexity of implementing this button (and our repeated inability to get it right) is directly related to the fact that this button has too many responsibilities, and high potential to get the user into confusing situations. I understand the goal, but the design and excution here has been nothing but problems.

[2022-03-21 17:49] pixelzoom commented on #390
This is duplicated in ArrowImageNode and FramedImageNode, and should probably be moved to OpticalImageNode:

[code]

[2022-03-21 19:35] Nancy-Salpepi opened #392 "Rays aren't always smooth in appearance"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.3

**Browser**
Safari and Chrome

**Problem description**
For https://github.com/phetsims/qa/issues/787

Some rays don't look smooth. As you move the object, which rays appear rough and which appear smooth changes. This is particularly noticeable when moving the object slowly with keyboard nav. Looking at the published prototype, the r

[2022-03-21 19:50] Nancy-Salpepi commented on #392
After pressing the zoom out button once:
<img width="653" alt="Screen Shot 2022-03-21 at 3 47 09 PM" src="https://user-images.githubusercontent.com/87318828/159352634-6ec99ffe-3de0-4e19-ab57-fdbe4eee82a3.png">

[2022-03-21 20:01] arouinfar opened #393 "Migrate translated strings with updated string keys"
This issue blocks the publication of 1.1.0, but not additional RC versions on this branch. When the 1.1.0 version is ready to be deployed, @pixelzoom should notify @jbphet so he can manually update babel files.

Rosetta now has support for translating prototypes, and the Geometric Optics prototype has already been translated into 13 locales. @pixelzoom pointed out that many string keys have change

[2022-03-21 20:36] KatieWoe opened #394 "Rays from object disappear behind object in concave mirror scene"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Firefox
**Problem description**
For https://github.com/phetsims/qa/issues/787
If the object is behind the image created by the concave mirror, the rays that should come from the top of the picture (or second point) will be layered under the object.
**Steps to reproduce**
1. Go to the mirror screen
2. On the concave scene, drag the object

[2022-03-21 20:41] pixelzoom commented on #392
Rays are drawn as a set of scenery Line segments.  What you're seeing is aliasing, which is more noticable with lines that are not horiontal or vertical.  And it honestly doesn't look too bad too me.

I haven't made changes to the ray tracer since publishing the prototype.  So I think the aliasing is more noticeable because we inverted the color profile.  We now have dark lines on a white backgrou

[2022-03-21 20:41] pixelzoom commented on #392
@arouinfar could you also weigh in on whether this is an issue that needs to be addressed?

[2022-03-21 20:46] Nancy-Salpepi commented on #394
Also happens with the second point on the framed object. I don't see it occur with the arrows
<img width="541" alt="Screen Shot 2022-03-21 at 4 45 00 PM" src="https://user-images.githubusercontent.com/87318828/159360739-79c5d095-3ef0-4ebf-aa6f-24f957e7aaa7.png">

[2022-03-21 20:55] pixelzoom commented on #394
Reproduced in 1.1.0-rc.1 and master.   This problem was introduced between 1.1.0-dev.24 (2/11/22 20:44) and 1.1.0-dev.25 (2/14/22 16:38).

This problem is unique to framed objects, because they are the only type of object that has 3D perspective.  In the case shown above, the rays that are front of the framed object are being incorrectly clipped.   I'll need to adjust the `clipArea` in RealLightRa

[2022-03-21 20:58] KatieWoe opened #395 "Hotkey behavior is inconsistent"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Firefox
**Problem description**
For https://github.com/phetsims/qa/issues/787
When using J + P to jump the rulers to different points of interest I had trouble controlling this. The commands didn't always work and I wasn't able to determine what caused it to work vs. not work.

Troubleshooting information:

<details>

!!!!! DO NOT EDIT !

[2022-03-21 21:12] pixelzoom commented on #394
This is actually a rendering order problem, not a clipArea problem. In https://github.com/phetsims/geometric-optics/commit/7eff8807e11130602b2979e2d9f1775bbfa8eb5c, GOSceneNode was factored out, and that changes rendering order, as I had to tease out the Nodes that are common to all scenes.

Running with `?debugRays` in 1.1.0-dev.24, we can see that `realLightRays1Node` (the gray ray segements) is

[2022-03-21 21:38] KatieWoe opened #396 "Left behind pointer areas are still interactive"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Firefox
**Problem description**
For https://github.com/phetsims/qa/issues/787
If you drag a ruler out of the tool box, then click that area of the tool box again, the ruler jumps back to the box as if it had just been grabbed.
**Steps to reproduce**
1. Drag a ruler out of a tool box
2. Click the empty space in the tool box
3. Using the `

[2022-03-21 21:39] pixelzoom commented on #394
Fixed in master and 1.1 branches, see screenshot below.

The `debugRays` query parameter also was broken (probably when I converted to the new TypeScritpt options pattern) and that's also fixed.

@Nancy-Salpepi please verify in master. If it looks OK, change the issue label to "status:fixed-awaiting-deloy".  Thanks!

<img width="1202" alt="screenshot_1627" src="https://user-images.githubuserconten

[2022-03-21 21:40] pixelzoom commented on #394
Sorry, I see that @KatieWoe originally reported this, so I'll assign to her.

[2022-03-21 21:54] KatieWoe commented on #394
Looks fixed on master

[2022-03-21 22:28] pixelzoom commented on #392
@jonathanolson and I discussed on Zoom.  We tried `rootRenderer=canvas`, but it actually looks worse with Canvas.  If it's really not acceptable, @jonathanolson will dive in to see if there's anything else to be done.

@arouinfar your call.

[2022-03-21 23:00] pixelzoom commented on #396
There's a wrapper Node around each icon, which was added so that visibility of the icons in the toolbox can be controlled independently of moving the tools in/out of the toolbox.  The problem was that those wrapper Nodes also had the input listeners attached to them.  Fixed in master and 1.1 branches.

@KatieWoe please verify in master. Change label to "status:fixed-awaiting-deploy" if it looks OK

[2022-03-21 23:19] pixelzoom commented on #395
Reproduced in master and 1.1.0-rc.1.

In the above commits, I added logging to the hotkey callback - run master with `?log` and watch the console.  If the hotkey fires, you'll see "hotkey J+P" in the console.  What I'm seeing is that the J+P hotkey is not reliably firing. And it seems to fire less reliably if I release the J key before pressing the P key.

Also very strange is that if I hold down

[2022-03-21 23:38] pixelzoom commented on #395
I see similar flakey behavior with J+W and J+S in ballons-and-static-electricity master.  @KatieWoe can you confirm?

[2022-03-22 00:28] pixelzoom commented on #393
I hope that @jbphet is not actually going to do this update manually.  Given @arouinfar's spreadsheet, it should be straightforward to write something that handles the migration of old strings to the new keys.

[2022-03-22 13:43] pixelzoom commented on #395
This issue has made me re-think our hotkey choice for this action.

When we started the design of rulers in https://github.com/phetsims/geometric-optics/issues/279, we originally had multiple hotkheys, one of each specific point. E.g. J+O, J+I, J+L, J+M, etc.  This is simlar to BASE, which has J+S, J+W, etc.

After interations on the design and implementation (e.g. https://github.com/phetsims/geom

[2022-03-22 14:03] pixelzoom opened #397 "Add CT fuzz tests for the "Arrow" and "Light" scenes."
Over in https://github.com/phetsims/aqua/issues/136, I noted that fuzz testing is not providing adequate code coverage for UI components that require multiple actions (like ComboBox) or that require multiple actions to get to (like Options dialog).   As I noted in that issue:

Specifically, I don't feel like CT is doing an effective job of testing the "Arrow" and "Light" scenes.  And this is not g

[2022-03-22 14:06] pixelzoom commented on #397
Before adding these tests, I'm going to attempt to quantify how much time is spent in each scene during a fuzz test.

[2022-03-22 14:40] KatieWoe commented on #396
Looks good in master

[2022-03-22 15:34] KatieWoe commented on #395
I did see the difficulty on BASE in master, but not on BASE in the published sim. Hopefully that helps narrow some things down.

[2022-03-22 16:30] KatieWoe opened #398 "Should pointing tools stay in place when zooming with buttons?"
**Device**
iPad
**OS**
iPadOS 15.4
**Browser**
Safari
**Problem Description**
For https://github.com/phetsims/qa/issues/787
If you place one of the pointing tools in the play area then use the zoom buttons to zoom in or out, the pointing tool stays in the same place on the screen, but not in regards to the items in the sim. So if you put it on the image then zoomed out, it will be to the side of t

[2022-03-22 17:12] pixelzoom commented on #397
In the above commits:

* New query parameter `fuzzScene` was added to master and 1.1 branch.
* Scene-specific fuzz tests have been added to listContinuousTest.js.

[2022-03-22 17:28] pixelzoom commented on #397
`fuzzScene` query parameter name gave the impression that it would fuzz test, which it does not. You need to run it with `fuzz`.   So I renamed it to simply `scene`, with usage `?ea&fuzz&scene=arrow`.

[2022-03-22 17:36] pixelzoom commented on #398
Yes, the position markers are supposed to behave like the rulers - they do not move when zoom changes.

Discussion about this occured in https://github.com/phetsims/geometric-optics/issues/355#issuecomment-1063226660:

And https://github.com/phetsims/geometric-optics/issues/355#issuecomment-1063264701:

So my recommendation is to close this issue.  Assigning to @arouinfar in case she wants to revi

[2022-03-22 18:00] KatieWoe opened #399 "Possible screen flash when object passes over focus point"
For https://github.com/phetsims/qa/issues/787. This was seen on iPadOS 15.4 in the XHTML sim. However, I haven't been able to reproduce, even on the same device after the page was reloaded. As such, I'm not sure if this is device or XHTML specific.

When dragging the pencil object over the focal point in the first scene on the first screen, the screen would go completely blank while the object pas

[2022-03-22 18:40] KatieWoe opened #400 "Memory leak"
For https://github.com/phetsims/qa/issues/787.
Memory test results on Win 11 Chrome
Start: 42.7 MB
1 min: 87.0
2 min: 114
3 min: 147
4 min: 176
5 min: 200
6 min: 232
7 min: 264
8 min: console crashed

[2022-03-22 18:59] pixelzoom commented on #400
Hmmm.... That's very surprising.  About a week ago, I did extensive memory testing for brand=phet in https://github.com/phetsims/geometric-optics/issues/372 and brand=phet-io in https://github.com/phetsims/geometric-optics/issues/373.  There is no dynamic memory allocation in this sim. Everything except the Options dialog is allocated at startup. And the Options dialog is allocated  when you first

[2022-03-22 19:14] pixelzoom commented on #400
Reproduced in 1.1.0-rc.1.  Here are the heap snapshots. Snapshot 1 is startup, after visiting all screens.  The other snapshots are at 1-minute intervals with `?fuzz`.

I'm guessing that a leak has been introduced in some very-active piece of common code.

<img width="252" alt="screenshot_1628" src="https://user-images.githubusercontent.com/3046552/159557721-cb8d1a47-121d-4e42-952a-f4007cdc1e2e.pn

[2022-03-22 19:22] pixelzoom commented on #400
In Slack, @KatieWoe said:

[2022-03-22 20:14] pixelzoom commented on #400
@jonathanolson identified https://github.com/phetsims/scenery/issues/1356 as a possible source of the leak.

[2022-03-22 20:53] pixelzoom commented on #399
I could not reproduce this on my iPad6 with iPadOS 15.3.  After updating to iPadOS 15.4, I still cannot reproduce it.  So I can't do anything here.  @KatieWoe I'm afraid I'll have to assign this back to you to reproduce.  If you can't make it happen again, then I think we should close this issue.

[2022-03-22 21:51] ariel-phet opened #401 "Consider increasing vertical range of "second point" slightly"
Found as part of testing https://github.com/phetsims/qa/issues/787 (Windows 11, Chrome)

It would be nice if the second point extended slightly further vertically downward in its range. On the penguin and the pencil it would be nice if the second point reached to the full extent of each of these objects. Currently it feels a little unsymmetric if you move the second point all the way to the end of

[2022-03-22 22:12] arouinfar commented on #398
Thanks for the suggestion @KatieWoe and thanks for summarizing @pixelzoom. When zooming out, we can maintain the model coordinates while keeping the markers on the screen. However, this isn't always the case when zooming in, which can lead to strange UX. Treating the markers like the rulers is a more consistent experience, though I concede it may not always be the most convenient.

My preference i

[2022-03-22 22:12] #398 closed

[2022-03-22 22:23] Nancy-Salpepi commented on #399
I wasn't able to reproduce on the iPad Air 2 with iPadOS 15.3.

[2022-03-22 22:23] arouinfar commented on #395
This would be fine with me. Two-key hotkeys make sense when there are several unique options, but it's not needed for the current approach.

Interesting! I missed it because I normally hold down J and then tap the other key as needed.

This is not my experience in rc.1 -- the hotkeys are really snappy.  Master is awful, however. I would consider the current behavior in master to be publication-blo

[2022-03-22 22:26] arouinfar commented on #392
Thanks for reporting @Nancy-Salpepi.

It's possible that reducing the stroke weight of the rays to 1.5 may be contributing to some of the aliasing. However, I think it's minor enough to ignore, so closing.

[2022-03-22 22:26] #392 closed

[2022-03-22 22:34] pixelzoom commented on #392
I tried bumping it back up to `lineWidth:2` and there's no noticeable change.

[2022-03-22 22:43] pixelzoom commented on #401
This is also something that could probably wait until after the 1.1 prototype release.  On the other hand, there were enough things in 1.1.0-rc.1 that another RC will be needed, and we could patch this in.

[2022-03-22 22:45] arouinfar commented on #134
@pixelzoom this was really nicely done. I fixed a few small things in the commit above.

The last sentence in this section is a bit unclear, and I recommend re-wording it. In particular, I'm not sure what you meant by, "The light spots... are based on the size of the light spot."

[2022-03-22 22:57] pixelzoom commented on #401
I went for it, pushed to master and 1.1 in the above commits.

This was indeed adjusted by eye.  And because the extrema for the pencil and penguin are not exactly the same location, it's a compromise.   If it's not acceptable, please describe what you'd like changed. If it's acceptable, please mark this issue as "fixed:ready-for-review" and I'll schedule it for the next 1.1 RC.

[2022-03-22 23:03] pixelzoom commented on #134
Thanks @arouinfar. I must give credit to @veillette.  Most of the stuff below the **Abbreviations** section was his work.  I reorganized it into sections, and did a little worksmithing.

The last sentence you referred to has been modified to read:

If this makes sense, please close.

[2022-03-22 23:05] pixelzoom commented on #397
The new tests (`fuzzArrow`, `fuzzLight`) are showing up in CT, see below. Closing.

<img width="762" alt="screenshot_1632" src="https://user-images.githubusercontent.com/3046552/159590672-4bdc85bc-e425-40ab-b491-9bbbd1b6d662.png">

[2022-03-22 23:05] #397 closed

[2022-03-22 23:26] pixelzoom commented on #395
Unassigning @jessegreenberg and @zepumph because we're no longer using a multi-key hotkey.

In the above commits, I changed 'J+P' to simply 'J' in master and 1.1. @arouinfar please review in master, including the changes to the keyboard-help dialog.  If it looks OK, assign back to me.

I agree, hotkeys are very broken in master.  I've promoted that to https://github.com/phetsims/scenery/issues/139

[2022-03-22 23:40] pixelzoom commented on #395
I just did a local build from the 1.1 branch.  Hotkeys feel very broken to me in 1.1 branch too.  For example, I can't just deliberately press the "J" key, I have to hold it down - for what feels like too long.  If I press and hold the "J" key, it fires repeately, which I guess is expected. The interval that it repeats at feels like its about the same as the amount of time I have to hold "J" down

[2022-03-23 02:06] ariel-phet commented on #401
@pixelzoom that visual "compromise" looks great to me! Marking the issue as requested

[2022-03-23 04:05] pixelzoom commented on #401
@arouinfar if this looks OK to you, feel free to unassign yourself.

[2022-03-23 20:05] pixelzoom commented on #135
[implementation-notes.md](https://github.com/phetsims/geometric-optics/blob/master/doc/implementation-notes.md) is ready for review by whoever does the sim code review.

[2022-03-23 20:09] arouinfar commented on #401
Thanks for the suggestion @ariel-phet. @pixelzoom master looks good to me!

[2022-03-23 20:10] pixelzoom opened #402 "Code review"
# PhET Code-Review Checklist (a.k.a "CRC")

* The responsible dev is responsible for removing the irrelevant parts (@pixelzoom: I've done this ~~using strikethrough text~~.)
* A checked-off item doesn't mean "no problem here", it means "it was reviewed"
* Problems can be noted in side issues that reference this issue, or through `// REVIEW` comments in the code

## GitHub Issues

The following sta

[2022-03-23 20:12] pixelzoom commented on #402
This sim is ready for code review. Assigning to @kathy-phet to assign a developer.

[2022-03-23 20:17] arouinfar commented on #395
@pixelzoom the updated keyboard help dialog looks good.

I don't have a way to test the latest behavior in the 1.1 branch, but it sounds like my experience in master. The behavior in master truly awful right now. I completely agree that it's blocking.

[2022-03-23 22:36] arouinfar commented on #134
Looks good, thanks.

[2022-03-23 22:36] #134 closed

[2022-03-23 22:40] arouinfar commented on #369
I've updated the main screenshot and added the alternates to master and 1.1. Unless there are significant visual changes, this set of screenshots should also be fine for publication in https://github.com/phetsims/geometric-optics/issues/278.

[2022-03-23 22:40] #369 closed

[2022-03-23 23:55] pixelzoom opened #403 "Document how OpticalImage visibleProperty is used in Light scene."
There's a quirk in the ray tracer (LightRays.ts) that needs more documentation.

In the Arrow and framed object scenes, OpticalImage `visibleProperty` controls the visibility of the optical image. The ray tracer sets it to `false` when the rays animation starts, and sets it to `true` when a ray reaches the position of the optical image.  So the image is not visible until an animated ray reaches it

[2022-03-24 00:03] pixelzoom commented on #395
On hold until https://github.com/phetsims/scenery/issues/1355 is addressed.

[2022-03-24 00:16] pixelzoom opened #404 "Code polishes"
A few minor code polishes that I'd like to do, after 1.1 prototype is published.

- [x] Rename GOGlobalOptions.ts to GOOptions.ts, rename GOGlobalOptionsNode.ts to GOOptionsNode.ts.

- [x] In OpticalObjectChoices.ts, move constructor parameters to required options.

- [x] Note in GOModel.ts and GOScreenView.ts that, while the Light scene is specific to the Mirror screen, it was more straightforwar

[2022-03-24 13:17] Nancy-Salpepi opened #405 "Amount of 'Many Rays' changes"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.3

**Browser**
Chrome

**Problem description**
For https://github.com/phetsims/qa/issues/787
The amount of many rays coming from the object doubles as the object is moved away from the optic. This happens on both screens, in all scenes, and with all objects. This also happens with the second point.

Also seen in master.

**Steps to rep

[2022-03-24 13:44] pixelzoom commented on #405
Thanks for reporting @Nancy-Salpepi, very observant of you!  But this behavior is both intentional and necessary.  If we don't increase the number of rays as the distance from the optic increases, then we can get many incorrect/confusing cases (like the screenshot shown below), where no rays intersect the optic, and no image is formed.  To form an optical image, the ray tracer needs at least 1 ray

[2022-03-24 13:49] pixelzoom commented on #405
I expanded the description in model.md a bit:

[2022-03-24 13:59] Nancy-Salpepi commented on #405
Thanks @pixelzoom. The expanded description makes it super clear :)

[2022-03-24 13:59] #405 closed

[2022-03-25 15:29] pixelzoom commented on #390
The commits above hide the light spots when light propagation is disabled.

There's another problem.

1. Go to Lens screen
2. Select the Light scene
3.  Set Rays to "None"
4. Press and release toggle button to turn light propagation off. Note that it takes a long time for the toggle button to pop back up, and a long time for the light spots to disappear.

This delay does not occur with other Ray c

[2022-03-25 16:36] pixelzoom opened #406 "LightPropagationToggleButton is sometime slow to respond."
For https://github.com/phetsims/qa/issues/787

Noticed while working on https://github.com/phetsims/geometric-optics/issues/390.

1. Go to Lens screen
2. Select any scene.
3. Toggle the light propagation on and off quickly.  Sometimes the button will take a long time to change state.

This happens with all scenes.

[2022-03-25 16:42] pixelzoom commented on #406
LightPropagationToggleButton is instantiated in GOScreenView.ts:

[code]

To verify whether this problem is related to `lightPropagationEnabledProperty` changes,  I changed instantiation to pass in `new BooleanProperty( true )`:

[code]

... and I still see the same problem.  So this appears to be a either a problem with sun toggle buttons, or scenery input.  I used Chrome's Performance tools to i

[2022-03-25 16:53] pixelzoom commented on #406
I'm seeing the same problem with ObjectDragModeToggleButton, a subclass of RectangularToggleButton.  It's also instantiated in GOScreenView.

I cannot reproduce this with the sun demo (Buttons screen, ToggleButtons combo box selection).

[2022-03-25 18:08] pixelzoom commented on #406
This is definitely a general problem that's affecting all sims.

I'm seeing the same problem with:

* the RectangularToggleButton used in BASE to show/hide the wall:

<img width="196" alt="screenshot_1635" src="https://user-images.githubusercontent.com/3046552/160177316-5f95b8e5-898f-469f-98a3-917a3714250c.png">

* the BooleanRoundToggleButton used in the _Predict_ screen of Proportion Playground:

[2022-03-25 18:08] pixelzoom commented on #406
Transferring this issue from geometric-optics to scenery.

[2022-03-25 18:10] pixelzoom opened #407 "Toggle buttons are sometimes slow to respond."
The toggle buttons in this sim are sometimes slow to respond.  This included LightPropagationToggleButton and ObjectDragModeToggleButton.  After investigating, this was determined to be a general problem in all sims.   On hold until https://github.com/phetsims/scenery/issues/1394 is reolved.

[2022-03-28 12:11] Nancy-Salpepi commented on #390
Looks good in master.

[2022-03-28 16:26] jessegreenberg commented on #400
Sorry about that! The leak has been fixed in https://github.com/phetsims/scenery/issues/1356#issuecomment-1080856852. Commit https://github.com/phetsims/scenery/commit/6d4ecc64393c96c4ce744a6e77d9e55c036499cd is what will need to be patched into a "geometric-optics-1.1" branch of scenery.

[2022-03-28 16:41] KatieWoe opened #408 "CT Cannot normalize a zero-magnitude vector"
Also in Basics
[code]

[2022-03-28 16:45] pixelzoom commented on #408
Duplicate of https://github.com/phetsims/geometric-optics/issues/178.

[2022-03-28 16:45] #408 closed

[2022-03-28 16:47] jessegreenberg commented on #388
I realized later that this problem is not just specific to pan and zoom but would also happen for window resizes. The `globalBounds` of a Node will change in that case as well.

[2022-03-28 18:21] KatieWoe opened #409 "Small arrows jump to a large minimum height"
**Test device**
Chromebook and Dell
**Operating System**
Chrome OS and Win 11
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/787.
If you change the object an arrow (on either screen) and try to make the arrow small, it will jump to have a height of 20 cm or -20 cm. This happen with the blue and the red arrows and can feel quite odd

**Visuals**
![jumparrow](ht

[2022-03-28 18:27] pixelzoom commented on #409
Thanks for reporting @KatieWoe.

The arrow does (by design) have a minimum magnitude of 20 cm. Reasons: there's really no pegagogical value in making is smaller, we didn't want the head size to look scaled/distorted (which would be required with a very small magnitude), and we didn't want to the user to lose track of the arrow by making it so small that they'd have trouble grabbing it.

Assigning

[2022-03-28 18:53] arouinfar commented on #409
Thanks for the write-up @pixelzoom. I do not see any reason to allow smaller arrows, so I'll go ahead and close.

[2022-03-28 18:53] #409 closed

[2022-03-28 19:45] pixelzoom commented on #399
Discussed with @arouinfar, and we agree that it seems reasonable to close this issue as "won't fix", since it cannot be reproduced.

[2022-03-28 20:03] pixelzoom commented on #400
1.1 branch patched and tested using the steps below.  Verified that the memory leak is fixed. Ready for testing in next 1.1 RC.

[code]

<img width="262" alt="screenshot_1637" src="https://user-images.githubusercontent.com/3046552/160477573-6c5beb8c-b265-4fe7-ba27-646681d53bc1.png">

[2022-03-28 20:17] pixelzoom commented on #146
Slack:

[Chris Malley](https://app.slack.com/team/U6EMFARV2)  [2:14 PM](https://phetsims.slack.com/archives/DBQK9V6LF/p1648498483355909)
Do you have anyone else to add to GO QA credits?

Kathryn Woessner  [2:15 PM](https://phetsims.slack.com/archives/DBQK9V6LF/p1648498554098749)
Clifford Hardin should be added. Thanks

[2022-03-29 02:42] pixelzoom opened #410 "OptionizeDefaults does not flag bogus options."
With `merge`, I often had patterns like this, assembling default values from 3 sources:

[code]

This doesn't convert to `optionize`, because it only supports 2 sources of option values. In the 3-arg form of `optionize`, the first arg must be `{}`.

I believe it was @zepumph that recommended using `OptionizeDefaults` to work around this.  For example in DiameterControl.ts:

[code]

What I recently

[2022-03-29 03:14] pixelzoom commented on #410
I said:

That can be accomplished by using `optionize` in GOConstants, like this:

[code]

[2022-03-29 03:44] pixelzoom commented on #410
Let's say I have 3 sources of option values, one of which is `providedOptions`.   I could make multiple calls to `optionize` like this:

[code]

Or I could nest them, like this:

[code]

So could we make `optionize` take a variable number of arguments, and have it handle this nesting, where it only combines 2 args at a time?

[2022-03-29 16:09] zepumph commented on #410
I remember our conversation! I thought we may have gotten around it with a single line that merges and provided the type, but the same issue that loses our strong typing for object literals when declaring them is causing this issue here, where it becomes structurally typed after being passed through merge. I was able to find a path forward using OptionizeDefaults how it was originally intended, bu

[2022-03-30 14:55] pixelzoom commented on #407
From https://github.com/phetsims/scenery/issues/1394#issuecomment-1083242698:

[2022-03-30 14:55] #407 closed

[2022-03-30 21:36] arouinfar commented on #221
Things I've tried, but don't seem to make any difference in the image quality:
* Sizing the artboard the exact dimensions of the artwork to be exported
* Ensuring coordinates of artboard and artwork are integer values
* Exporting artwork at 72ppi and 150ppi (obviously resolution is different, but the quality is not)
* Comparing Type Optimized (Hinted) and Art Optimized (Supersampling) anti-aliasin

[2022-03-30 22:46] arouinfar opened #411 "Make optic label read-only"
Discovered in https://github.com/phetsims/geometric-optics-basics/issues/3 but applies to both flavors.

Currently, `view.scenes.*.labels.opticLabel.textNode.textProperty` is editable. However, the model will override it when the optic type is changed, and rightly so. Let's make these `phetioReadOnly: true` @pixelzoom.

[2022-03-31 01:35] pixelzoom commented on #404
On hold until 1.1 prototype is published.  I don't want to introduce master changes that make it more difficult to cherry-pick.

[2022-03-31 01:35] pixelzoom commented on #403
On hold until 1.1 prototype is published.  I don't want to introduce master changes that make it more difficult to cherry-pick.

[2022-03-31 03:52] arouinfar commented on #362
The phetioFeatured overrides are ready to commit, but it can wait until 1.1 is published.

<details>
<summary>phetioFeatured overrides</summary>

[code]

</details>

[2022-03-31 04:30] arouinfar opened #412 "IOR of mirrors should be read-only"
Noticed in #362 and applies to both flavors.

`mirrorScreen.model.mirror.focalLengthModels.indirectFocalLengthModel.indexOfRefractionProperty` should be `phetioReadOnly: true`. Otherwise, a client could completely break the mirror model which assumes IOR=2.

This has no impact on the 1.1 release, so I'll mark as on-hold.

[2022-03-31 14:46] pixelzoom commented on #412
I thought of a quick-and-dirty way to make `indexOfRefractionProperty` conditionally read-only, if the length of its range is zero:

[code]

Again, this is not something that should be handled on a sim-specific basis.  But I'll reluctantly add it in this case, if you'd like.

[2022-03-31 16:25] arouinfar commented on #412
@pixelzoom thanks for the explanations, both long and short. I agree, we don't need to do anything here. I am not featuring anything related to the IOR of mirrors because it's really just a trick that allows us to share code between the lens and mirror models.

I think it's clear enough to anyone looking at it in Studio. I'll admit that I didn't really pay much attention or try to edit the value.

[2022-03-31 16:25] #412 closed

[2022-03-31 16:37] pixelzoom commented on #395
Patched and tested in 1.1 branch using this process:

[code]

Ready for verification in next 1.1 RC.

[2022-03-31 16:57] pixelzoom commented on #388
To verify in 1.1.0-rc.2, follow the "steps to reproduce" in https://github.com/phetsims/geometric-optics/issues/388#issue-1174046184.

[2022-03-31 17:00] pixelzoom commented on #389
This cannot be fuzz tested in an RC, because assertions are disabled.  And if there was a problem, it would have also appears in CT for master by now.  So I'm going to go ahead and close this.

[2022-03-31 17:00] #389 closed

[2022-03-31 17:01] pixelzoom commented on #390
To verify in 1.1.0-rc.2:

* Check the scenario that reported in https://github.com/phetsims/geometric-optics/issues/390#issue-1175399517
* Check the scenario described in https://github.com/phetsims/geometric-optics/issues/390#issuecomment-1074091244.

If it looks OK, close this issue.

[2022-03-31 17:02] pixelzoom commented on #394
To verify in 1.1.0-rc.2, follow "steps to reproduce" in https://github.com/phetsims/geometric-optics/issues/394#issue-1175913862.

If it looks OK, close this issue.

[2022-03-31 17:17] pixelzoom commented on #395
To verify in 1.1.0-rc.1:

* Go to PhET > Options, check "Add 2F checkbox to control panels"

For each screen:

* Check the "2F Points" checkbox in the control panel, so that the 2F points are visible.
* Use keyboard input to test each of the 4 tools.
* Use SPACE to move a tool out of the toolbox. It's initial position will be at the optic origin.
* Use ESCAPE to return a tool to the toolbox.
* Use

[2022-03-31 17:32] pixelzoom opened #413 "Jumping tools become stuck at identical points of interest."
For https://github.com/phetsims/qa/issues/787, and related to https://github.com/phetsims/geometric-optics/issues/395.

There is a general problem with tools. If 2 points of interest have the same coordinates, the tool will become stuck at that position.  I suspect that it's stuck looping between the 2 identical points.  To reproduce:

1. Go to Lens screen
2. Check "Second Point" checkbox
3. Use k

[2022-03-31 19:40] pixelzoom commented on #396
To verify in 1.1.0-rc.2, follow the steps to reproduce in https://github.com/phetsims/geometric-optics/issues/396#issue-1175971294.

Please close after verifying.

[2022-03-31 19:41] pixelzoom commented on #400
To verify in 1.1.0-rc.2, do a heap comparison test. The heap snapshots should look similar in size to https://github.com/phetsims/geometric-optics/issues/400#issuecomment-1081083988.

Please close after verifying.

[2022-03-31 21:45] pixelzoom commented on #387
In today's design meeting, we decided to promote this release from a prototype to a public version.

* 1.1 will be brand=phet only
* 1.2 will be brands=phet,phet-io
* @arouinfar is OK with addressing interview feedback in 1.2
* @KatieWoe will check untested platforms in https://github.com/phetsims/qa/issues/793
* Geometric Optics: Basics will be deferred until the 1.2 release, and its version numb

[2022-03-31 21:48] pixelzoom opened #414 "Geometric Optics: publish 1.2 (brands=phet,phet-io)"
Geometric Optics 1.2 will be the first version to support both phet and phet-io brands. See decisions in
https://github.com/phetsims/geometric-optics/issues/387#issuecomment-1085155336.

Geometric Optics: Basics 1.2 will be published at the same time, see https://github.com/phetsims/geometric-optics-basics/issues/18.

[2022-03-31 22:23] pixelzoom opened #415 "PhET-iO instrumentation for Options dialog"
@arouinfar and I ran across this while working on something else. The Options dialog has not been reviewed for PhET-iO design. Change requests:

Uninstrument these children of `optionsDialogCapsule.optionsDialog.content`:

- [x] visibleProperty
- [x] add2FPointsCheckbox.labelNode.visibleProperty
- [x] focalLengthModelControl.labelNode.visibleProperty
- [x] focalLengthModelControl.radioButtonGroup.

[2022-03-31 22:48] pixelzoom commented on #393
Barring any unforeseen problems with RC spot-check, I’m anticipating that Geometric Optics will be ready to publish around this time next week (4/7?). It will be a public version, not a prototype version.

I alerted @jbphet via Slack, and he said:

[2022-04-01 15:24] pixelzoom opened #416 "Use `IProperty` or `IReadOnlyProperty` for param types."
Now that https://github.com/phetsims/axon/issues/382 ....  It's no longer necessary to use `parameter: Property` just because there's a call to `addLinkedElement` in the class or its subclass.  So go back and use `IProperty` or `IReadOnlyProperty` as appropriate.

[2022-04-01 16:10] #400 closed

[2022-04-01 16:33] pixelzoom commented on #415
On hold until 1.1 prototype is published. I don't want to introduce master changes that make it more difficult to cherry-pick.

[2022-04-01 16:36] KatieWoe commented on #388
Looks fixed. Will reopen if something comes up.

[2022-04-01 16:36] #388 closed

[2022-04-01 16:43] KatieWoe commented on #390
Looks good. Will reopen if something comes up.

[2022-04-01 16:43] #390 closed

[2022-04-01 16:45] Nancy-Salpepi commented on #394
Looks fixed!

[2022-04-01 16:45] #394 closed

[2022-04-01 16:54] KatieWoe commented on #413
Looks good in rc.2. However, I wasn't able to reproduce this in rc.1, so I'm a bit less confident.

[2022-04-01 17:00] #413 closed, assigned to pixelzoom

[2022-04-01 17:19] KatieWoe commented on #401
Looks good. If something comes up, will reopen.

[2022-04-01 17:19] #401 closed

[2022-04-01 17:19] Nancy-Salpepi commented on #396
Looks fixed! Will reopen if something comes up.

[2022-04-01 17:19] #396 closed

[2022-04-01 18:02] KatieWoe commented on #395
Some inconsistencies with the point of interest:
For horizontal ruler, the object position is always on the dotted line (not clear if this is intended).
For vertical ruler, F and 2F are not included.
For position markers, F and 2F are included.

Reassigning since behavior does not match https://github.com/phetsims/geometric-optics/issues/395#issuecomment-1084875349. However, pressing J does consis

[2022-04-01 18:49] Nancy-Salpepi opened #417 "Light spot intensity inconsistent when switching between ray types"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.3

**Browser**
Safari

**Problem description**
For https://github.com/phetsims/qa/issues/793 in the lens screen, concave lens scene:
When the lamp is positioned so that only 1 marginal ray hits the screen--the screen is light yellow in color. It is that same color no matter which ray type is selected. Moving the screen so that no margi

[2022-04-01 19:04] pixelzoom commented on #395
@KatieWoe reported:

This behavior is correct, as noted in https://github.com/phetsims/geometric-optics/issues/395#issuecomment-1084875349 for horizontal ruler:

@KatieWoe reported:

This behavior is correct.  I think I must've accidentally put "F and 2F" under vertical ruler, when it should have been under "position markers".  I'll fix https://github.com/phetsims/geometric-optics/issues/395#issue

[2022-04-01 19:04] #395 closed

[2022-04-01 19:11] pixelzoom commented on #417
Reproduced in master.

The fact that's it's not behaving consistently is a problem.  But a bigger problem is that its possible for the rays to miss the screen entirely, as in @Nancy-Salpepi's example.

@arouinfar @ariel-phet how should this behave?

[2022-04-01 20:09] KatieWoe opened #418 "Image is already there when switching from none to other ray option"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/793. This is very minor, and may not be worth addressing.
When a ray option is selected the image disappears as the new rays propagate, then the image appears when the rays reach the appropriate location. However, if you are switching from the none option, the image

[2022-04-01 22:10] jbphet commented on #393
I have the script working, so I think I'm ready for my part.

@arouinfar - I noticed some inconsistencies in the format of the spreadsheet.  My script is handling it okay, but I wanted to make sure that it wasn't indicative of something that was missed.  I noticed that in some cases there is nothing in the 2nd column, in some cases the values in the first and second columns match, and sometimes th

[2022-04-02 15:00] pixelzoom commented on #418
This was not a problem in 1.1.0-rc1, and is new to 1.1.0-rc.2 (and master). It was probably introduced by the fix for https://github.com/phetsims/geometric-optics/issues/390.

[2022-04-03 15:19] pixelzoom opened #419 "CT: assertion failure in kite.Graph"
No assertion message for this one, so I'll have to investigate.

[code]

[2022-04-03 15:22] pixelzoom commented on #72
[code]

[2022-04-03 15:22] pixelzoom commented on #419
Duplicate of https://github.com/phetsims/geometric-optics/issues/72

[2022-04-03 15:22] #419 closed

[2022-04-03 23:26] ariel-phet commented on #417
@pixelzoom I don't think it is a problem that the rays are missing the screen. Yes the "marginal rays" might be, but if you turn to "many rays" you still see rays hitting the screen. The correct behavior is that the screen should have some illumination (the slight yellow). Happy to discuss.

[2022-04-04 11:33] Nancy-Salpepi opened #420 "Consider changing the Return to Toolbox keyboard shortcut"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.3

**Browser**
Safari/Chrome

**Problem description**
For https://github.com/phetsims/qa/issues/793

With full screen selected, pressing `esc` exits out of full screen instead of returning a tool to the toolbox.

**Steps to reproduce**
1. Select Full Screen in the PhET Menu
2. Remove a ruler from the toolbox using keyboard nav
3. press

[2022-04-04 12:24] Nancy-Salpepi commented on #420
The same thing happens when pressing `esc` to exit a combobox or dialog (I usually tab back to the close button and press enter).

[2022-04-04 15:20] pixelzoom commented on #418
This also happens in the "Light" scene with the light spots on the projection screen. To reproduce:

1. Start the sim
2. Go to Lens screen
3. Select "Light" from combo box
4. Set "Rays" to "None"
5. Set "Rays" to "Marginal".  Note the the light spot on the screen remains visible the entire time the rays are animating. It should be invisible until the rays reach the screen.

[2022-04-04 15:23] pixelzoom commented on #418
Fixed in master and 1.1 branches.  @KatieWoe please verify in master.  If it looks OK, change the label to 'status:fixed-awaiting-deploy'.

[2022-04-04 15:27] pixelzoom commented on #417
Yes, let's discuss.  Scenarios like the one shown below seem problematic to me.   There is no light spot because the rays that interact with the optic do not intersect the screen.  But other rays do intersect the screen.

<img width="1104" alt="screenshot_1640" src="https://user-images.githubusercontent.com/3046552/161578108-519fc6df-a013-4c7e-a0a0-d58be53c6bc7.png">

[2022-04-04 16:31] KatieWoe commented on #418
Looks good on master

[2022-04-04 16:55] jessegreenberg commented on #420
"Escape" is a common/intuitive close and return key but it does collide with the "exit full screen" key of the browser. There is no way to prevent the browser from exiting full screen in these cases.

I think this collision is relatively common for the web apps when using full screen. There are menus on youtube that I can close with the escape key. But if I play a video in full screen, escape exis

[2022-04-04 16:58] pixelzoom commented on #417
I discovered several other problems

These are general problems:

* LightSpot `shapeProperty` should be in the view, and should be derived from `positionProperty` and `diameter` Property. It's currently in the model, and it's resulting in duplicated calls to `getPositionAndDiameter`.

* Clipping the light spots to the projection screen should be handled by the model, not the view. And handling it

[2022-04-04 17:10] arouinfar commented on #420
Thanks @jessegreenberg! Given your explanation, I am comfortable with closing this issue. Thanks for updating the QA book, as this will likely come up again.

[2022-04-04 17:10] #420 closed

[2022-04-04 17:11] ariel-phet commented on #417
@pixelzoom @arouinfar I do agree that publishing the sim as is with a known issue like this is the better choice, I think as @arouinfar says it is definitely an edge case and won't be discovered/noticed by the majority of users, and also agreed not central to the learning goals.

[2022-04-04 17:14] arouinfar commented on #393
Yes, that's correct @jbphet.

[2022-04-04 17:16] pixelzoom commented on #417
I started by fixing the problems I noted in https://github.com/phetsims/geometric-optics/issues/417#issuecomment-1087794055, see the above commit to master and 1.1.   These changes were needed regardless.

It seems like the consesus is not to do this. And I think that's a good consensus, because there's currently no way to do this - the screen cannot be given a glow, we'd have to decide on the glo

[2022-04-04 18:33] pixelzoom commented on #417
Here's what's going on in the ray tracer.  When rays are animated, the ray tracer starts by making the optical image (or light spot) invisible.   It remains invisible until the ray reaches the location of the image/spot.  In the case of the light spots, the ray tracer is testing for intersection with the screen. What is should probably be doing is testing for intersection with the _vertical plane

[2022-04-04 19:02] pixelzoom commented on #416
On hold until 1.1 prototype is published. I don't want to introduce master changes that make it more difficult to cherry-pick.

[2022-04-04 19:03] pixelzoom commented on #221
Since we're going to need another RC (1.1.0-rc.3), I'm going to add this to that RC.

[2022-04-04 19:08] pixelzoom commented on #221
Changes in master and 1.1.  Ready for verification in 1.1.0-rc.3.

[2022-04-04 22:55] pixelzoom commented on #417
In the above commits, I did some cleanup in LightRay.ts.  Then I changed `hasReachedTarget` to return `true` when a ray has reached the x position of the projections screen, not when it has intersected the screen.

@Nancy-Salpepi please review in master. In addition to verifying the case that you reported in https://github.com/phetsims/geometric-optics/issues/417#issue-1190157026, please take the

[2022-04-04 22:58] pixelzoom commented on #110
Per https://github.com/phetsims/geometric-optics/issues/417...  In the Light scene, rays that do not interact with the lens will not cast any light on the projection screen, because we are not modeling ambient light.  For example, in the case below, some of the "Many" rays hit the screen, but they do not interact with the optic.

<img width="1104" alt="screenshot_1640" src="https://user-images.git

[2022-04-04 23:35] pixelzoom commented on #410
Applying the patch and looking at DiameterControl.ts ...

You've  removed the `merge` call on the righthand side of the `instanceDefaults` assignment:

[code]

And moved the `merge` call (and the problem) to the `options` assignment:

[code]

Now if some changes `{}` to `{ foo: 5 }`, the typechecker will not detect the bogus option.   So if I still have to use `merge` to combine options from multi

[2022-04-05 00:06] Nancy-Salpepi commented on #417
Looks fixed in master and I didn't see any other issues with the "light" scene.

[2022-04-05 00:26] zepumph commented on #410
It seems like the issue we are trying to solve is that cloning objects is not type safe, because it provides a spot where someone could incorrectly provide an option that sneaks through. If that is the case, let's just create a new method that hides that object with the same algorithm that powers merge:

<details>

[code]

[2022-04-05 12:48] pixelzoom commented on #387
3/31/22,  1.1.0-rc.2 published for rc-spot-check testing:

* https://github.com/phetsims/qa/issues/793

Completed 4/4/22.

[2022-04-05 12:54] pixelzoom commented on #417
To verify in 1.1.0-rc.3, follow the steps to reproduce in https://github.com/phetsims/geometric-optics/issues/417#issue-1190157026.  Also give the "Light" scene a quick test drive.  It is sufficient to verify on 1 platform.

Please close after verifying.

[2022-04-05 12:58] pixelzoom commented on #221
To verify in 1.1.0-rc.3:

1. Go to Lens screen
2. Select "Light" from combo box.
3. Check "Second Point" checkbox.
4. Verify that the color of the second light (the PNG image) is the same as the color at its associated light rays, and the icon next to the "Second Point" checkbox.

It is sufficient to verify on 1 platform.

Please close after verifying.

[2022-04-05 13:48] pixelzoom commented on #410
@zepumph I see what you're doing with `merge.clone`.  But help me understand.... How is having to combine `OptionizeDefaults`, `optionize`, and now `merge.clone` preferrable to using multiple `optionize` calls?  This used to be a straightforward pattern with `merge`, and (for example) the above patch is anything but straightforward.

You did not comment about the proposal in https://github.com/phe

[2022-04-05 19:03] pixelzoom commented on #387
4/5/2022, 1.1.0-rc.3 published for rc-spot-check testing:
* https://github.com/phetsims/qa/issues/794

[2022-04-05 19:11] KatieWoe commented on #221
Looks good in rc.3

[2022-04-05 19:11] #221 closed

[2022-04-05 19:20] Nancy-Salpepi commented on #417
looks good in rc.3

[2022-04-05 19:20] #417 closed

[2022-04-05 23:02] arouinfar opened #421 "Create LoL icons/descriptions"
For #1

[2022-04-06 05:02] pixelzoom commented on #393
@jbphet FYI, Geometric Optics 1.1 is ready for production deploy, as soon as the build sever is fixed (see https://github.com/phetsims/perennial/issues/266).

[2022-04-06 13:32] pixelzoom opened #422 "Review uses of `override` modifier."
In https://github.com/phetsims/geometric-optics/commit/71aef793a598f42f43b4e7e2ab19c06d2923f7e9 for https://github.com/phetsims/chipper/issues/1211, @samreid added overrides to this sim.  I need to review them.

At least one of those masks a programming error. In FramedObject.js:

[code]

[2022-04-06 14:34] #416 closed

[2022-04-06 15:45] pixelzoom commented on #411
@arouinfar ready for review in master.

[2022-04-06 17:29] pixelzoom commented on #410
I decided to replace `OptionizeDefaults` with `optionize`, and it seems to be working nicely. See above commit.  Thanks for discussing.

[2022-04-06 17:29] #410 closed

[2022-04-06 18:06] arouinfar commented on #411
Thanks, looks good!

[2022-04-06 18:06] #411 closed

[2022-04-06 18:15] pixelzoom commented on #146
Slack:

[Chris Malley](https://app.slack.com/team/U6EMFARV2)  [8:03 AM](https://phetsims.slack.com/archives/DBQK9V6LF/p1649253813184089)
Any addition QA credits for https://github.com/phetsims/geometric-optics/issues/146?  The current credits are:
qualityAssurance: 'Steele Dalton, Clifford Hardin, Emily Miller, Nancy Salpepi, [Kathryn Woessner](https://app.slack.com/team/UBLN0PWJU)',

Kathryn Woes

[2022-04-06 18:16] pixelzoom commented on #146
Publishing 1.1, closing.

[2022-04-06 18:16] #146 closed

[2022-04-06 18:22] jbphet commented on #393
I've run the script for changing the keys and commit the changes to the babel repo.  Here is a list of the translation files that were changed:

[code]

Once the publication is complete, we should check several of these sims and make sure that they changes strings appear to be translated.  @pixelzoom and I did some local testing of this before triggering the build, so he should know what to look f

[2022-04-06 19:30] pixelzoom commented on #404
Done, closing.

[2022-04-06 19:30] #404 closed

[2022-04-06 19:30] pixelzoom commented on #403
Done, closing.

[2022-04-06 19:30] #403 closed

[2022-04-06 19:33] pixelzoom commented on #393
I spot-checked a few translations after 1.1 publication, and they looked good. Strings had been migrated as expected.

@jbphet asked about where his scripts should live, etc I'm not sure, and will defer to him.  I am concerned that this may become a standard part of publication.  If that's the case, we can't be doing this manually.

@jbphet I'm comfortable closing this when you are.

[2022-04-06 19:36] pixelzoom commented on #402
@jonathanolson This is ready for review.

Recommended to start by reading model.md and implementation-notes.md.

It would be great to have this review completed in < 2 weeks, prior to 1.2 publication, which will occur with batch release https://github.com/orgs/phetsims/projects/44.

[2022-04-06 19:37] pixelzoom commented on #135
Please review as part of code review https://github.com/phetsims/geometric-optics/issues/402.

[2022-04-06 19:42] pixelzoom commented on #278
1.1 was actually a public release for `brand=phet`, see #387.

1.2 will include `brands=phet,phet-io`, and is schedule to be included with the batch release https://github.com/orgs/phetsims/projects/44.

[2022-04-06 19:42] #414 closed

[2022-04-06 19:43] pixelzoom commented on #387
1.1.0 was published on 4/6/2022.

[2022-04-06 19:43] #387 closed

[2022-04-06 20:09] pixelzoom commented on #415
@arouinfar ready for review in master.

[2022-04-06 22:01] jbphet commented on #393
I added the script that was used for this - named `rename-string-keys.js` - to the rosetta repo, and I brought several others along for the ride.  I think we're good here.  Closing.

[2022-04-06 22:01] #393 closed

[2022-04-06 22:30] pixelzoom commented on #274
This feature is now live in Geometric Optics 1.1, which was published today (4/6/2022) at
https://phet.colorado.edu/sims/html/geometric-optics/latest/geometric-optics_en.html

By default, this feature is off (hidden).  Turning it on adds a "2F Points" checkbox to the control panel.  There are 2 ways to turn it on:

(1) Go to the PhET menu (lower right), and choose the "Options" menu item to open t

[2022-04-06 22:35] pixelzoom commented on #72
This is a non-blocking error. It won't cause the sim to crash, and is unlikely to result in any noticeable problems in practice.   1.1 was published with this as a known issue.

[2022-04-06 22:35] pixelzoom commented on #178
This is a non-blocking error. It won't cause the sim to crash, and is unlikely to result in any noticeable problems in practice.   1.1 was published with this as a known issue.

[2022-04-06 22:35] pixelzoom commented on #321
This is a non-blocking error. It won't cause the sim to crash, and is unlikely to result in any noticeable problems in practice.   1.1 was published with this as a known issue.

[2022-04-07 04:26] arouinfar opened #423 "Create Sim Primer"
For #1

- [ ] Draft script
- [ ] Record rough version for script verification
- [ ] Review script verification draft and adjust script as necessary
- [ ] Record 2nd draft
- [ ] Review 2nd draft
- [ ] Produce primer and upload
- [ ] Caption primer

[2022-04-08 22:01] arouinfar opened #424 "Radius of Curvature control should be hidden for flat mirrors"
When switching to the flat mirror, the ROC NumberControl does not disappear as it should. This bug exists in the published 1.1 version of the sim, and appears to have been introduced sometime between dev.30 and dev.31. However, the bug is not present in master for GO or GOB. @pixelzoom I recommend publishing a MR as this a fairly serious bug.

![Screenshot Capture - 2022-04-08 - 15-54-22](https://

[2022-04-08 22:12] pixelzoom commented on #424
Wow... That's been broken since 3/2/2022, and was broken in every 1.1 RC.

Nice to know it's fixed in master. But it's not going to be easy to patch in 1.1, because master has now diverged significantly.  I'll probably need to create a fix that's specific to 1.1, then run it through QA as an RC test.  That's not going to happen until Monday 4/8/22 at the earliest.

[2022-04-08 22:18] pixelzoom commented on #424
Broken sometime between 2/22/2022 5:41PM and 3/2/2022 1:27PM MT.   And there are hundreds of commits between those 2 times :(

[2022-04-08 22:31] arouinfar opened #425 "Disable Focal Points Checkbox for flat mirror"
Unlike #424, I don't think this is a bug. Looking through #227, it doesn't look like something we've considered, either.

For flat mirrors, the Focal Points Checkbox is irrelevant. In fact, we took it out entirely in GOB, which only has a flat mirror. I don't think the current behavior is harmful, just a bit inconsistent with how we treat other UI controls (like the drag mode toggle and Virtual Im

[2022-04-08 22:34] pixelzoom commented on #424
Notes to self:
* This fix needs to be applied in OpticSubpanel.
* For `radiusOfCurvatureControl` add an option something like:

[code]

[2022-04-08 22:43] pixelzoom commented on #425
Presumably this applies to the "2F Points" checkbox too.

My recollection is that we did discuss whether to disable these checkboxes. And we decided to leave them enabled to facilitate discussions about why you couldn't see the F and 2F points for a flat mirror -- because those points are located at infinity.

If the sim is going to control whether those checkboxes are disabled, then I'll also nee

[2022-04-11 14:13] pixelzoom commented on #424
@arouinfar please review these scenarios in master and 1.1.1-rc.1.  Verify that the control panel looks correct.

Focal Length control = 'direct':
- [ ] convex lens
- [ ] concave lens
- [ ] concave mirror
- [ ] convex mirror
- [ ] flat mirror

Focal Length control = 'indirect':
- [ ] convex lens
- [ ] concave lens
- [ ] concave mirror
- [ ] convex mirror
- [ ] flat mirror

Assign back to me, and I

[2022-04-11 14:53] oliver-phet commented on #274
User emailed!

[2022-04-11 14:53] #274 closed

[2022-04-11 16:13] arouinfar commented on #424
@pixelzoom looks good in master and the RC, back to you.

[2022-04-11 16:58] pixelzoom commented on #424
To verify in 1.1.1-rc.1:

After starting the sim (Focal Lenght control defaults to "indirect") verify the look of the control panel as follows:

- [ ] both lens shapes:

<img width="850" alt="screenshot_1645" src="https://user-images.githubusercontent.com/3046552/162790908-8d2d61c6-81fb-47a8-98b1-3b7f2dba9c7f.png">

- [ ] for concave and convex mirror:

<img width="670" alt="screenshot_1646" src="

[2022-04-11 22:20] pixelzoom commented on #320
Finally circling back to this...   I've identified 3 things worthy of a brief discussion. @veillette @sarchang please contact me on Slack, and let me know when you'd have time for a 30-minute discussion on Zoom.

(1) Division of responsibilities.  Adding the 'Arrow' representation to this sim required widespread changes because a couple of classes (SourceObject in particular, if I recall correctly

[2022-04-12 17:56] Nancy-Salpepi commented on #424
The controls present match what is shown in https://github.com/phetsims/geometric-optics/issues/424#issuecomment-1095303315.

@pixelzoom I just wanted to make sure that the negative sign (-) is present at the correct times (because it is a bit different from what I am seeing in your comment).

When the Focal Length control is indirect:
For the concave lens/mirror, the Radius of Curvature has (-) w

[2022-04-12 18:11] pixelzoom commented on #424
Thanks for confirming @Nancy-Salpepi.

For ROC and Focal Length, we decided to show (-) when the value is negative, but not show (+) for positive.  That was a bit of a compromise, documented in https://github.com/phetsims/geometric-optics/issues/345#issuecomment-1062088842 and in the code.

As for when the value is negative...

For the concave lens/mirror, the Radius of Curvature has (-) written a

[2022-04-12 18:32] #424 closed

[2022-04-12 21:09] Nancy-Salpepi opened #426 "Tools jump to non-existent points of interest in light scene"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.3.1

**Browser**
Chrome

**Problem description**
For https://github.com/phetsims/qa/issues/796 and related to https://github.com/phetsims/geometric-optics/issues/395

In lens screen, with the light and the concave lens: using the 'J' key to jump to points of interest takes the rulers and position markers to non-existent points of inter

[2022-04-12 21:22] arouinfar commented on #426
Really nice find @Nancy-Salpepi.

I only see this happing with the light/concave lens combo. The markers also jump to the same x-coordinates as the horizontal ruler, but reveal a non-zero y-coordinate. I have no idea what these points of interest are meant to represent, but if you add the second light and move them around, the marker always touches the central ray.

<img width="637" alt="image" sr

[2022-04-12 21:45] pixelzoom commented on #426
This "jump" feature is so complicated and fragile.  I hope someone finds it useful, but I'll be surprised if most people can figure out what it does without scaffolding.  That said...

Agreed, let's defer this to 1.2 release.

[2022-04-13 13:47] pixelzoom commented on #426
The problem occurs with all tools.  As @Nancy-Salpepi surmised, these are the optical image points, where an optical image would be formed.  No optical image is formed in the Light scene, but these points are nevertheless interesting -- sometimes.  When the optic is converging (convex lens) these points are were the rays converge, on the right side of the lens, and they are useful measurement poin

[2022-04-13 15:39] pixelzoom commented on #426
I also realized that the positions of the light spots are not really "interesting" for the concave lens. The diameter of the spot is huge, so there's no distint "spot" on the screen.  And the position doesn't aligned with the center marginal ray (see screenshot below) -- I'm not sure if that's correct or incorrect, and it's not easy to determine.

So... I've also exlcuded the positions of the ligh

[2022-04-13 15:49] pixelzoom commented on #426
Another problem, related to convex lens.  There's currently nothing that knows whether the lights spots intersect the project screen.  The light spots are always drawn, and simply clipped to the projections screen.  So if the center of the light spot is not on the projection screen, jumping to the light spot can look like the 2 examples below.  This is the position of the light spot _in the vertic

[2022-04-13 16:00] pixelzoom commented on #426
@arouinfar while you're replying.... Please review the changes that I've made so far.  For concave lens in the Light scene, I've removed (1) the optical image position and (2) the light spot positions from the jump points.

[2022-04-13 19:19] pixelzoom commented on #426
I thought of a way to address https://github.com/phetsims/geometric-optics/issues/426#issuecomment-1098213935.  It involves a significant amount of work, but nothing particularly tricky:

* Add a constant to ProjectionScreen that indicates how tall the screen is at its center-x. ` const averageScreenHeight` looks like it's what we need, change it to `this.averageScreenHeight`.

* Add `visiblePrope

[2022-04-13 19:41] pixelzoom commented on #426
Well, that went smoother than expected...  I did not exactly follow the plan outlined in https://github.com/phetsims/geometric-optics/issues/426#issuecomment-1098398015.  Instead of LightSpot `visibleProperty`, I added `intersectsProjectionScreenProperty`.   If any part of a light spot intersects the projection screen, then the associated LightSpotNode will be visible, and the light spot's `positi

[2022-04-14 16:01] pixelzoom opened #427 "CT: phetioID already registered: ... `directRadioButton.labelText`"
Showed up in CT once for geometric-optics-basics, but would also occur for geometric-optics.

[code]

[2022-04-14 16:16] pixelzoom commented on #427
To reproduce locally, run the sim in the State wrapper:
`phet-io-wrappers/state/?sim=geometric-optics&phetioDebug`.  In the upstream sim, select PhET > Options, and the exception will occur.

[2022-04-14 16:18] pixelzoom commented on #427
Fixed in the above commit.

This is another one of those bugs that CT is not good a locating, because the chances that it will open the Options dialog are small.  See https://github.com/phetsims/aqua/issues/136

[2022-04-14 16:18] #427 closed

[2022-04-14 16:25] pixelzoom commented on #386
Since this is a general problem with phet-io-wrappers-tests, will presumably be fixed/tested generally, and is afaik not blocking...  I'm going to go ahead and close this sim-specific issue, because there's nothing sim-specific to be done.

[2022-04-14 16:25] #386 closed

[2022-04-14 16:50] pixelzoom opened #428 "CT: reentry detected (SliderTrack)"
Reported for geometric-optics-basics, but would presumably be an issue in geometric-optics too.

[code]

I was unable to reproduce locally with:
`?phet&ea&fuzz&fuzzPointers=2&memoryLimit=1000&supportsPanAndZoom=false`
... and in case it was related to the Focal Length slider, which is difficult for CT to reach:
`?phet&ea&fuzz&fuzzPointers=2&memoryLimit=1000&supportsPanAndZoom=false&focalLengthCont

[2022-04-14 17:03] pixelzoom commented on #428
I tested this hypothesis with a tethered iPad6, and could not reproduce the problem.

[2022-04-14 17:07] pixelzoom commented on #72
In c8f18cde, the implementation changed.  LightSpot no longer computes intersection with the projection screen, `getLightSpotShape` no longer exists, and `Graph.computeWindingMap`.   So this issue is no irrelevant and can be closed.

[2022-04-14 17:07] #72 closed

[2022-04-14 19:49] pixelzoom commented on #282
@arouinfar debriefed the team on interviews, and there were no problems with this feature. One student used the feature quite a bit.

@arouinfar anything to add before closing this issue?

[2022-04-15 15:12] pixelzoom commented on #362
@arouinfar what's the status of this issue? Does it need to be reviewed, or can it be closed?

[2022-04-15 15:46] arouinfar commented on #362
Initial commit has been made, but needs to be reviewed. It is good enough for a dev test, though.

[2022-04-15 15:47] arouinfar commented on #282
Thanks for summarizing, we can close.

[2022-04-15 15:47] #282 closed

[2022-04-15 16:04] arouinfar commented on #426
Thanks @pixelzoom. Here are the notable changes:

1. Concave lens: optical image positions are skipped
2. Concave lens: light spot position is skipped
3. Convex lens: light spot skipped if fully off-screen
4. Convex lens: if light spot is fully off-screen, the optical image position is also skipped

It's not clear if (4) is intentional or not. In general, the optical image isn't particularly inter

[2022-04-15 16:19] arouinfar commented on #415
Thanks @pixelzoom this all looks good in master, closing.

[2022-04-15 16:19] #415 closed

[2022-04-15 20:27] pixelzoom commented on #426
@arouinfar and I met on Zoom, and decided to delete the optical image positions from the Light scene jump points. Done in the above commit, and we both verified.  Labeling as fixed-awaiting-deploy until the next 1.2 RC.

[2022-04-18 22:23] arouinfar opened #429 "Reduce max magnitude of arrows to 80cm"
Tagging https://github.com/phetsims/qa/issues/799 since we should address in the 1.2 version.

It's currently possible to create situations with the Arrow where there are less than 2 rays intersecting the optic.

Steps to reproduce:
1. Either screen, Arrow scene, Many Rays
2. Maximize the height of the arrow and minimize the optic diameter
3. Minimize object distance
![image](https://user-images.g

[2022-04-18 22:47] pixelzoom commented on #429
Actually, we're not limiting the height of any of the objects.  We're constraining objects to be fully inside the "scene bounds", which we've defined to extend +100cm and -100cm from the optical axis.    Run with `?debugSceneBounds` to display the scene bounds as a red rectangle, see screenshot below.

For the framed object and lights, the entire object must inside the scene bounds.  The lights ca

[2022-04-18 23:05] pixelzoom commented on #429
Done in the above commit.  Note that it's ideal for 2 rays to interect the optic, but not required for the ray tracer to work correctly.  And with "Many" rays, the original length (100 cm) may have been fine (even conceptually?) That said, over to @arouinfar for review.

[2022-04-18 23:08] pixelzoom commented on #278
Dev testing started on 4/15/2022, with a focus on PhET-iO:

* https://github.com/phetsims/qa/issues/798
* https://github.com/phetsims/qa/issues/799

[2022-04-19 04:40] arouinfar commented on #110
Tips have been uploaded to the site, closing.

[2022-04-19 04:40] #110 closed

[2022-04-19 17:03] KatieWoe opened #430 "Possible to have an arrow with no height"
**Device**
iPad
**OS**
iPadOS 15.4.1
**Browser**
Safari
**Problem Description**
For https://github.com/phetsims/qa/issues/798
If you drag the arrow to the middle line exactly, it doesn't jump to a taller value and seems to disappear. You can still grab it with touch by swiping over it. May be possible on other devices, but I've mostly seen it on iPad.
**Visuals**
![0AB86F52-9A53-441B-BBFD-62DEAF5F

[2022-04-19 17:26] pixelzoom commented on #430
Good find!

 Here's the relevant code in ArrowObjectNode.ts that snaps the arrow to its minimum magnitude:

[code]

The problem line is:

[code]

When `arrowLength` is exactly zero, `Math.sign( 0 )` returns `0`, so `y = 0`.

Fixed in the above commit. @KatieWoe please verify in master. Be sure to test with both mouse, touch, and keyboard dragging.  If it looks OK, change label to "fixed-awaiting-d

[2022-04-19 18:05] pixelzoom commented on #430
Understood. I wanted you to test with mouse and keyboard to verify that the fix hadn't broken anything more general with drag handling of the arrows.

[2022-04-19 18:08] KatieWoe commented on #430
Things looked ok from what I saw.

[2022-04-19 19:33] KatieWoe commented on #399
I saw this again in https://github.com/phetsims/qa/issues/799. On iPad but not xhtml. Still not sure of the cause, but reopening in case this needs another look.

[2022-04-19 20:11] KatieWoe commented on #399
I've managed to reproduce it a few times. I _think_ what might be happening is, if you set a point down on the focus point (the tip of the pencil in the case in the video) then pick it up and drag it over that point the flashing behavior occurs. This may just be on iPads.

[2022-04-19 21:03] pixelzoom commented on #399
@KatieWoe are you seeing this with the same device that you originally reported this problem?  Or is this a different iPad?

[2022-04-19 21:05] KatieWoe commented on #399
This is a different iPad, but with the same OS

[2022-04-20 14:46] KatieWoe commented on #399
I'm willing to pair at some point if you think it would help. Even though I managed to reproduce it 3 or 4 times, it often takes awhile and I'm not incredibly confident on how it is done. Sorry about that.

[2022-04-20 14:54] pixelzoom commented on #399
What is the model of the 2 iPads on which you've seen this problem? The model can be found in Settings > General > Model Name.

[2022-04-20 15:33] arouinfar commented on #399
I am fine with closing this as wont-fix, and it's already been documented in the teacher tips. Up to @pixelzoom if you would like to do more investigation to better understand the issue, though.

[2022-04-20 19:56] KatieWoe opened #431 "Layering of tools not recorded in State"
**Device**
Dell
**OS**
Win 11
**Browser**
Firefox
**Problem Description**
For https://github.com/phetsims/qa/issues/799
If you pull multiple tools out of the tool box in State, the layering of those tools isn't necessarily the same in the bottom sim as in the top sim.
**Visuals**
<img width="519" alt="rulerlayering" src="https://user-images.githubusercontent.com/41024075/164311168-b202fa8e-70f8-4c

[2022-04-20 21:51] pixelzoom opened #432 ""Data: textarea" and "State" wrappers perform poorly on iPad."
For https://github.com/phetsims/qa/issues/798. @arouinfar @kathy-phet FYI.

In https://github.com/phetsims/qa/issues/798#issuecomment-1104466769 @KatieWoe reported:

"the textarea" is presumably the "Data: textarea" link in the Wrapper Index.

I'm surprised that these wrappers are being tested on iPad.  @samreid and @zepumph can you please comment? Are these wrappers intended to be tested on iPad?

[2022-04-20 22:36] pixelzoom commented on #431
All of the tools share the same parent, `toolsLayer` in GOScreenView.  When a drag starts on a GOToolNode, `moveToFront` is called.  See `start:` in GOToolDragListener and GOToolKeyboardDragListener.

Looking at ComboBoxListItemNode, I added `phetioType: IndexedNodeIO` to GOToolNode, the base class for tools.  It had no effect, the z-ordering of the GOToolNode instances is not stateful.

@zepumph

[2022-04-20 23:08] jonathanolson commented on #135
Implementation and model notes are excellent! Thank you.

[2022-04-20 23:08] #135 closed

[2022-04-21 16:44] pixelzoom commented on #431
Excellent, thanks @zepumph!

@KatieWoe please verify in master.  If it looks OK, change the label to "fixed-awaiting-deploy" and clear assignees.

[2022-04-21 18:12] KatieWoe commented on #431
Looks good on master.

[2022-04-22 22:40] samreid commented on #432
It sounds OK for the text area and state wrappers to have poor performance on iPad.