[2021-04-15 15:47] veillette opened #1 "Geometric Optics Master Checklist"
# Geometric Optics main checklist

## Design
- [ ] **Sim folder and design doc created** (Date: //)
  - [ ] Create sim folder in [PhET Sim Design Folder](https://drive.google.com/drive/folders/0B6CMwxdP0NGYUUhvZnlCUDF0bGc) using phet-docs account
  - [ ] Place design doc in the sim folder
- [ ] **Sim suggestions doc reviewed** [suggestions doc](https://phet.unfuddle.com/a#/projects/9404/notebooks/

[2021-04-20 19:37] veillette opened #2 "Dragbounds for lens."
The flash simulation of geometric-optics does not have any drag bounds on the lens. The lens can be put anywhere on the screen. For instance, the lens can be put on top of the control panel. The lens can also be put to the left of the object.

There are different approaches that we can consider.
- [ ] leave as is. After all, there have never been any complaints about this behavior.
- [ ] prevent t

[2021-04-20 20:31] veillette opened #3 "Interplay between curvature radius and diameter of the lens."
On the flash simulation, when the diameter of the lens is increased, the lens width stays constant. At the same time, the numerical value of the slider for the curvature radius remains the same, which is physically impossible. A more "realistic" model of the lens would increase the width of the lens as well in order to preserve the curvature of the lens.

If we decide to address this issue,  we wo

[2021-04-20 20:32] veillette commented on #3
This issue is a good starting point for a discussion at our next design meeting.

[2021-04-24 17:55] veillette opened #4 "Implementation of Mask."
As part of the design discussion, a mask has been considered as an addition to the simulation.
The purpose of this issue is to keep track of the features that need to be implemented for the mask.

[2021-04-24 17:57] veillette commented on #4
The main idea is to demonstrate that the position mask does not interfere with the position of the image, but rather affect the intensity of the image produced.

The mask should block the rays, and see how it impacts the intensity of the image.

[2021-05-06 15:49] KatieWoe opened #5 "CT cannot read property lens of undefined"
Automated testing label doesn't seem to be in this repo
[code]

[2021-05-06 17:24] KatieWoe commented on #5
Seems to be in perennial as well.
[code]

[2021-05-06 17:37] veillette commented on #5
I had failed to lint the simulation. The previous commit should addressed the problem.

[2021-05-07 14:36] veillette commented on #5
I figured out (from phet-info) how to generate all the labels.

[2021-05-07 16:08] veillette commented on #5
Most of the issue resulted from me not linting the simulation.

[2021-05-12 13:46] veillette commented on #5
Bayes is now silent. Closing

[2021-05-12 13:46] #5 closed

[2021-05-17 15:39] KatieWoe opened #6 "CT should be a finite Vector2"
[code]

[2021-05-20 15:30] KatieWoe commented on #6
May be related:
[code]

[2021-05-20 15:56] veillette commented on #6
The problem with the license is addressed with https://github.com/phetsims/geometric-optics/commit/9067e7cb3438e581024099cd8b359a60ece831b1

[2021-05-25 16:39] veillette opened #7 "Create guides feature"
The guides exist at the top and bottom of the lens. Each guide is made of three graphical element. A disk that represents a pivot point, and two long rectangles that extend from the disk.

The rectangle on the side of the object always point directly to the object.  The internal angle between the two rectangles is a property of the lens.

For a convex lens, the guide internal angles is determined

[2021-05-25 17:11] veillette opened #8 "Create optical axis"
This issue will collect  all the details associated with the optical axis.
![image](https://user-images.githubusercontent.com/7633344/119539835-abaed480-bd5a-11eb-90e6-c1d632dfe389.png)

[2021-05-25 17:25] veillette commented on #8
Here is a first pass at requirements and details of implementation.

The optical axis is the horizontal line that goes through the middle of the optical element (mirror and lens). The optical axis is always visible and move along with the optical element.

It is most likely an overkill to create a model element for the optical axis. It will be sufficient to create a view element and instantiate it

[2021-05-25 17:28] veillette commented on #8
This feature should be relatively easy to implement and therefore is ideal as an entry level issue to address.

[2021-05-25 17:54] veillette opened #9 "Create and add vertical and horizontal rulers"
The ruler should be movable and span about half the screen in length. The
Scenery-phet as a RulerNode that should be leveraged for this simulation. Pendulum Lab, BeersLaw, masses and springs and many other simulation have rulers.

The rulers should be on top of everything else (z-order wise) in the simulation. The last ruler that has been  grabbed should appear on top of the z-order of the other r

[2021-05-25 17:58] veillette commented on #9
Flash Horizontal rulers:
![image](https://user-images.githubusercontent.com/7633344/119545890-4b6f6100-bd61-11eb-831f-99ce8e02307a.png)

[2021-05-25 19:28] veillette commented on #7
S

[2021-05-27 12:27] veillette commented on #6
Bayes seems to hit the "Should be a finite Vector2" on a pretty regular bases but I cant reproduce it .

[2021-05-27 17:23] veillette opened #10 "Refactor image names"
The simulation makes uses of several images, some of which are closely related.
The name of the assets should be consistent and more descriptive.

For each object representation, we need five images: , a logo and four images within a frame.
A good naming convention to follow is

object-logo.png
object-left-facing-upright.png
object-right-facing-upright.png
object-left-facing-inverted.png
object-ri

[2021-05-27 17:44] veillette commented on #10
As part of this issue, we can also update the naming convention within the representation.

[2021-05-27 18:06] veillette opened #11 "Revisit Methods of Optics.js"
The module Optics has a very extensive set of methods. Although they could be potentially useful, many are currently unused. It will be helpful to find out the set of methods that are currently unused.
Eventually, we can decide if we would like to prune them out.

[2021-05-27 19:49] veillette opened #12 "Virtual image and light source with lens."
In the lens screen, it is possible to have a source of light. The source of light often converges  of the opposite side of the lens. However, sometimes it doesn't in which case the source of light forms a virtual image. The question arises: Should we display a virtual image for this case like we do for an object.  See

![image](https://user-images.githubusercontent.com/7633344/119887620-5b727680-b

[2021-05-27 19:50] veillette commented on #12
Here is a snapshot of the flash simulation for this case.
![image](https://user-images.githubusercontent.com/7633344/119888372-43e7bd80-bf03-11eb-80d0-2ce5cd61c83e.png)

[2021-05-27 20:05] veillette opened #13 "Rays should stop when they hit the screen, but they continue on."
![image](https://user-images.githubusercontent.com/7633344/119889997-464b1700-bf05-11eb-8a85-f41bbaa2e881.png)

The LightRays should be aware of the position of the screen.

[2021-05-27 20:07] veillette commented on #9
From the google drive document:

<b style="font-weight:normal;" id="docs-internal-guid-0174121a-7fff-aeea-92f8-fba341f5a0ed"><div dir="ltr" style="margin-left:0pt;" align="left">
Rulers always on top, but have reduced opacity (like Masses and Springs).Current size of the horizontal ruler looks good (½ dev bounds width). Vertical ruler can be shorter since.When zooming out, swap out the ruler for a

[2021-05-27 21:08] veillette opened #14 "Artwork for screen, objects and light sources"
The flash simulation has a star, a smiley face, an arrow pointing up and a pencil.
The openstax simulation has a pencil, a rocket, a tree and the openstax logo.

Each object has 5 figures associated with it:
 - a facing forward object (used as a logo for the combo box), no frame
 - a frame with a left facing, upright object
 - a frame with a right facing, upright object
 - a frame with a left faci

[2021-05-27 21:12] veillette commented on #14
I'll add that the openstax images are good starting point except for their sizing.
![pencil-3d](https://user-images.githubusercontent.com/7633344/119897410-5ca9a080-bf0e-11eb-910a-fa4217aa9767.png)
![tree-3d](https://user-images.githubusercontent.com/7633344/119897437-659a7200-bf0e-11eb-8b60-d3fbe28fd081.png)
![rocket-3d](https://user-images.githubusercontent.com/7633344/119897508-7f3bb980-bf0e-11

[2021-05-28 01:48] veillette opened #15 "Scene Buttons for Curve type"
![image](https://user-images.githubusercontent.com/7633344/119916559-bfad2e80-bf32-11eb-8ab1-33bdf5f3be1b.png)

As a starting point, we need to create two icons for the lens screen.
They function as a radio button group.

An example of scene buttons, one can look at PlinkoProbability, and the HistogramModeControl  https://github.com/phetsims/plinko-probability/blob/9cf9d797fcff38b8f6f1316bdcaceb86

[2021-05-28 01:52] veillette commented on #15
Before we move forward with this, we should get the green light from the design team, since there was some back and forth between keeping simple radio Buttons. I'll add the label design:meeting such that we ca bring it up next time before we move ahead with the implementation.

[2021-05-28 02:07] veillette commented on #2
In the design meeting, we decided that
- the objectSource can never go the right of the optic.
- The same condition applies to the source of lights.
- The optic cannot be dragged to the left of the sources and objects.
- On the lens screen, the screen/target  cannot be put to the left of the lens.

In other words, we should maintain the relationship,  object.x< optic.x<screen.x

[2021-05-28 15:47] veillette opened #16 "create chexboxes that support icons, i18, and optional elements."
The design document for the Lens screen indicates the need for vertical checkboxes.

![image](https://user-images.githubusercontent.com/7633344/120006601-0b012480-bfa7-11eb-9e3e-6149b14305b1.png)

Currently there is already support for Vertical checkbox group on master.
However, there are a few design elements that are currently missing:
-  The Focal Point checkbox has an icon
-  There is currentl

[2021-05-28 16:50] veillette opened #17 "Add query parameters"
This issue will collect information about query parameters that are useful for the simulation.

[2021-05-28 17:57] veillette commented on #17
Useful query parameters would be:
 - showTargetPoints- show the target points
 - showObjectPoints- show the sources of light or objects
 - showCenterPoint - similar to focalPointNode but for the center of curvature of the mirror
 - showImageLeftTop - show (with a circle) the position of the left top of the images.
 - showOpticalVertical - show a vertical line through the center of the optic

These

[2021-06-01 13:56] veillette opened #18 "refactor Screen to ProjectorScreen"
The word Screen is already used extensively within PhET. We should try to avoid overloading it. We can refactor it to ProjectorScreen instead.

Therefore, the modules Screen and ScreenNode should become ProjectorScreen and ProjectorScreenNode.

There are instances and methods  with the word Screen in them. They should also be refactored.

[2021-06-01 18:09] veillette commented on #12
Design meeting decision: leave as is. (6/1/2021)

[2021-06-02 16:46] sarchang commented on #8
Still need to prevent optical axis from scaling with zoom and use the bounds of the simulation to determine line length

[2021-06-02 19:23] sarchang commented on #8
We tried to make the bounds of the optical axis depend on the zoom level (option 3), but this proved to be complicated. We ended up extending the bounds of the optical axis far beyond the bounds of the screen view (option 2).

[2021-06-02 19:27] sarchang opened #19 "Scaling width of optical axis"
While working on issue #8, we wondered what would be the optimal way of scaling the optical axis.  Currently, the optical axis is scaled along with the other nodes in the play area, which means that the thickness of the line is scaled as well.  This might help show perspective.  An alternative would be holding the thickness of the line constant.

[2021-06-02 19:36] sarchang opened #20 "Should objects be allowed to cover the control panel?"
In the old Flash sim, objects can cover the control panel but not the text/buttons on the control panel.

![image](https://user-images.githubusercontent.com/29347882/120541220-d6c2a500-c3a6-11eb-93dd-43b9464d56d9.png)

In the current sim, objects can fully cover the control panel, which blocks use of buttons and text.

![image](https://user-images.githubusercontent.com/29347882/120541652-5fd9dc00-

[2021-06-02 19:38] sarchang commented on #2
Should the optic be allowed to be dragged off the sim screen?

[2021-06-02 23:44] sarchang commented on #9
1. Why is `options` greyed out in `Ruler.js`? Because of this, I had to pass in `{orientation: 'horizontal'}` to get the horizontal ruler to appear.
2. I can't seem to change the initial positions of the rulers by changing the Vector2 in the model.  Also, when I print out the position, they both seem to have the position of the vertical ruler?  But one appears horizontal and the other appears vert

[2021-06-03 12:49] veillette commented on #9
I have addressed the positioning of the ruler.

[2021-06-03 12:52] veillette commented on #9
The orientation of the ruler should be done in the model and pass down to the model. Review the work done to understand how you can reach the value se in the option field.

[2021-06-03 12:52] veillette commented on #9
I also added a reset function to reset the position of the ruler.

[2021-06-03 15:38] sarchang commented on #9
We set the opacity of the rulers.

[2021-06-03 20:16] veillette commented on #9
We have previously discussed that the view model of the ruler should stay the same, as we scale the ruler. However, that does not answer many questions about the scaling properties of the ruler.
We are unsure on how to proceed about to scale the ruler when zoom in/out.
In particular, we would like to know if the height of the ruler , the font, the tick marks should scale.
Should the number of tick

[2021-06-04 20:44] sarchang commented on #7
Left guide follows light ray from object. Fulcrum circle and left guide both follow movement of lens.

[2021-06-07 12:44] veillette opened #21 "narrow the scope of the arguments passed to Screen.js"

[2021-06-07 12:46] veillette commented on #21
The constructor requires  entire optic object but only the diameter and position are truly needed.

[2021-06-07 13:31] #12 closed

[2021-06-07 13:34] veillette commented on #17
I created a query parameter called showDebugPoints, that shows
- the optic position
- the object position
- the image position

[2021-06-07 13:51] veillette commented on #21
In addition, the method getScreenShape was transferred to the screen.

[2021-06-07 13:51] veillette commented on #21
Work done, closing.

[2021-06-07 13:51] #21 closed

[2021-06-07 14:27] veillette commented on #17
I added a query parameter named "show2fPoints" that put two disks at a distance 2f from each side of the optic.

[2021-06-07 14:54] veillette commented on #13
One approach to address this is to create a shape ( or a vertical line) that cut vertically through the middle of the screen. A light ray that intercepts the vertical line would be stopped.
This means that we need to augment the api of LightRay to take into consideration the shape of this vertical line.

[2021-06-07 18:35] sarchang commented on #18
Refactored image names, module names, instances to ProjectorScreen and ProjectorScreenNode

[2021-06-07 18:40] sarchang commented on #7
The two components of guide are now referred to as the incident and transmitted rectangles. The model has two properties: incidentAngleProperty and transmittedAngleProperty. The transmittedAngleProperty = incidentAngleProperty + internalAngleProperty. This makes it easier to abstract the rotation of the rectangles.

[2021-06-08 15:29] sarchang opened #22 "Optic dragging behavior"
Currently, different objects have different drag listener behaviors. The drag listener of the object has no offset when it is dragged, whereas the drag listener of the optic centers the optic on the cursor when it is dragged.

[2021-06-08 15:32] sarchang commented on #15
Created scene buttons for mirror and lens
![image](https://user-images.githubusercontent.com/29347882/121214530-6d2a1700-c83c-11eb-9bcd-4fed8b070bdd.png)
![image](https://user-images.githubusercontent.com/29347882/121214562-761ae880-c83c-11eb-93b2-fd99b98d4440.png)

[2021-06-08 15:33] sarchang commented on #15
Note: thickness of mirror is not uniform; this should be addressed by changing getFillAndOutlineShapes

[2021-06-08 16:02] sarchang commented on #15
Removed the concave/convex radio buttons

[2021-06-08 18:34] sarchang commented on #22
optic behavior should match object

[2021-06-08 18:36] sarchang commented on #19
should scale

[2021-06-08 18:37] sarchang commented on #20
rulers and image can cover, the rest cannot

[2021-06-08 18:40] sarchang commented on #2
Design Meeting: optic should only be allowed to move up and down; can't cover control panel

[2021-06-08 19:14] sarchang opened #23 "Toolbox for rulers"
Rulers should be draggable out of a toolbox in the top right corner of the sim.  The toolbox shows a miniature version of the horizontal and vertical rulers.  There will be a maximum of 1 horizontal and 1 vertical ruler in the sim at a time.  Rulers can be removed by dragging them back to the toolbox or by clicking the reset button.

See Energy Skate Park for an example with the measuring tape.
A

[2021-06-08 19:19] sarchang opened #24 "Labels"
We need text labels for:
- object
- image
- focal point
- type of optic (convex/concave, lens/mirror)

Checkbox for labels in control panel.
Labels should be centered beneath the object being labeled.  White-colored text on label should have a semi-transparent background so that it is visible on top of white rays.  Labeled should not scale with zoom options.  Font size should remain the same throu

[2021-06-08 19:21] sarchang opened #25 "Change zoom scale factor to 2"
There should be 3 levels of zoom; default will be the middle one.  Each level scales the simulation by 2.

[2021-06-08 19:31] sarchang commented on #9
Rulers should not be part of the Play Area and therefore should not scale (font size, ruler height/width).  Ruler should always take up the same visual length in the simulation, even when zooming.  So when we zoom, the model length should be scaled appropriately and the numbers should change such that the major ticks are multiples of 10.  Minor ticks should be set such that they are useful and res

[2021-06-08 19:37] sarchang opened #26 "Drag bounds for all objects"
- [ ] **Optic**: can only move up and down in the middle, should remain above the control panel
- [x] **Projector screen**: never moves to the left of the optic, must stay inside dev bounds (unsure if it can cover control panel)
- [ ] **Object**: never moves to the right of the optic, must stay inside dev bounds, cannot cover control panel
- [x] **Rulers**: anywhere inside dev bounds

[2021-06-08 19:43] sarchang opened #27 "Show/hide button: animated ray tracing and image appearance"
Create a show/hide button above the reset button. Use EyeToggleButton in scenery-phet.

When on 'show', rays should emerge from the object, pass through the optic, and once they converge, the image appears.  In the case when rays diverge, virtual rays should also be animated and the virtual image should appear.

'Hide' should make rays and image disappear.

[2021-06-08 19:45] sarchang commented on #8
As a result of the discussion in the design meeting on 6/8/2021, we agreed that the optical axis should scale with the playground and that our approach was sufficient.

[2021-06-08 19:45] #8 closed

[2021-06-08 19:49] sarchang commented on #3
The mirror and lens will behave realistically.

[2021-06-08 19:49] #3 closed

[2021-06-08 19:50] sarchang commented on #7
Guides are created.

[2021-06-08 19:50] #7 closed

[2021-06-08 19:52] veillette commented on #18
The work has been reviewed. Well done

[2021-06-08 19:52] #18 closed

[2021-06-08 19:53] sarchang commented on #19
Optical axis scales with zoom.

[2021-06-08 19:53] #19 closed

[2021-06-08 19:53] sarchang commented on #20
See #26

[2021-06-08 19:53] #20 closed

[2021-06-08 19:55] sarchang commented on #2
Closing this issue and tracking in #26

[2021-06-09 13:59] veillette commented on #26
The optical element is now constrained to move vertically.

[2021-06-09 15:09] veillette opened #28 "link the visibility of Guide to the visibleGuidesProperty"
As part of #8, the visibility of the guides was not tied to the checkbox status.

[2021-06-09 16:27] sarchang commented on #28
Guides only appear when checkbox is checked in lens screen

[2021-06-09 16:40] veillette commented on #28
Well done!.  Closing

[2021-06-09 16:40] #28 closed

[2021-06-09 16:45] veillette opened #29 "FocalPointNode should extend PlusNode"
The PlusNode is attached as a child whereas it could be better if FocalPointNode was extending PlusNode

[2021-06-09 16:47] veillette commented on #29
The constructor should also take an option argument that can be then passed to the super class.

[2021-06-09 16:57] veillette commented on #25
I have reviewed this commit. Well done. Closing

[2021-06-09 16:57] #25 closed

[2021-06-09 20:07] sarchang commented on #16
Checkbox for guides in the Control Panel only appears when on lens screen.

[2021-06-10 00:18] sarchang commented on #22
I tried looking at how it was done for the source object, and based on what I read about the drag listener, I think the applyOffset in the options object of dragListener of the optic should be true, but that somehow makes the offset worse when dragging. I am also not sure what OFFSET_VECTOR is for in SourceObjectNode. @veillette

[2021-06-10 00:48] sarchang commented on #29
FocalPointNode now extends PlusNode instead of Node.  I added the options argument in the constructor, passed it into super, and replaced FocalCrossNode with super.  There are two commits because I forgot to delete a line I had commented out temporarily and then there was a merge conflict, so hopefully this works okay now.

[2021-06-10 01:24] sarchang commented on #26
I was able to constrict the dragging of the rulers to within a 1x1 box but wasn't able to figure out where to access the dev bounds of the sim.
@veillette

[2021-06-10 09:01] veillette commented on #29
Well done @sarchang . I added a bit of documentation to the listeners and rewrote the description of the scenery node.

The second commit was about the use of this.center over super.center .  Both work but it is more traditionally to center the node directly than through the parent class.

Very clean commits, and github hygiene.

[2021-06-10 09:02] veillette commented on #29
We are done here. Closing

[2021-06-10 09:02] #29 closed

[2021-06-10 09:21] veillette opened #30 "Refrain from referring to ScreenView.DEFAULT_LAYOUT_BOUNDS"
The simulation uses the default layout bounds but it should refer to them through the instance  this.layoutBounds.

[2021-06-10 11:46] veillette commented on #26
Thanks @sarchang .
I see that the ruler is drag bounds to a 1m by 1m square. It is a good first step.

For RulerNode, you are passing an argument This.dragBoundsProperty that does not exist.

We will need to pass the layoutBounds in the constructor in order to make the bounds more practical.

Since we will take out the ruler from the PlayAreaNode, we dont need to worry about the effect of the zoom

[2021-06-10 11:52] veillette opened #31 "Hoist string in rulerNode to geometric-optics-strings_en.json"
In order to translate the simulation, all strings must reside in geometric-optics-strings_en.json.

As part of this issue, we can track other strings that may be hardcoded.

[2021-06-10 11:54] veillette commented on #30
I think the work is done here.
I'm assigning this issue to @sarchang to review.

[2021-06-10 12:07] veillette commented on #26
In the commit https://github.com/phetsims/geometric-optics/commit/accede68b1bd1539330546825e2e568f5d0c270b, I generalized the dragBounds behavior. The rulerNode takes the layoutBounds and generate some dragBounds from it. There was some subtleties in how to handle the rotated ruler since the control point in this case is at the bottom left of the ruler.

[2021-06-10 14:11] veillette commented on #26
Now the ruler is dragBounds to the layout Bounds.

I think I may have missed the mark. I wondered if the rulers should be bounds to the visibleBounds rather than the layoutBounds. (devBounds)

@arouinfar , what was the decision with regarding the dragBounds  behavior?

[2021-06-10 19:20] veillette opened #32 "Panel sizes in Mirror and Lens Screens"
![image](https://user-images.githubusercontent.com/7633344/121583144-e329ac00-c9fd-11eb-8040-a0772335e27d.png)
![image](https://user-images.githubusercontent.com/7633344/121583256-081e1f00-c9fe-11eb-9965-069c50c31ae6.png)

The content of the panel in Lens and Mirror is slightly different, yet similar.
Since their content is different, scenery creates a panel of different sizes

This issue is to tr

[2021-06-10 19:45] sarchang commented on #30
All have been changed.

[2021-06-10 19:45] #30 closed

[2021-06-10 20:02] sarchang commented on #31
Ready for review.

[2021-06-10 20:09] veillette commented on #31
Thanks @sarchang. The changes have been done. Closing

[2021-06-10 20:09] #31 closed

[2021-06-10 22:43] sarchang commented on #10
Image names are refactored; ready for @veillette to review.

[2021-06-10 23:30] sarchang commented on #23
@veillette I probably didn't do this correctly, but I was able to add a grey box/panel at the centerRight of the screen. I know it's supposed to be at the top right corner, but I didn't have time to look into offsets, since we already have the combo box at the top right. I also am pretty sure my use of Circle is incorrect. This commit is very bare bones and minimal, but I didn't have time to figur

[2021-06-11 02:13] veillette commented on #22
In the case of the opticNode, we need to find the offset between the position of the start press and the center of the optic. Once we have this information, we can offset the model position appropriately.

One way to resolve it is to change the dragListener in OpticNode to

[code]

[2021-06-11 12:26] veillette opened #33 "Consider having shapes with a relative position."
The  model shapes for the lens and the mirror are drawn using absolute positions.

A reason to use an absolute positions is that it is makes easier to perform hit tests with the rays.
However, as observed in #22, it makes the drag handling more difficult.

One approach is to  have the method getFillAndOutlineShapes return shapes with relative position and transformed them for it testing using the

[2021-06-11 15:41] veillette commented on #15
The thickness of the mirrors was addressed in the previous commits.
Our work is done here.

[2021-06-11 15:41] #15 closed

[2021-06-11 15:48] veillette commented on #23
FYI, you can see how a ruler icon is generated in https://github.com/phetsims/masses-and-springs/blob/2a19d39e1df86e4ca42e7e7044d951c1402819b4/js/common/view/ToolboxPanel.js#L83

I dont know if we will need to mimap the image as well, but here is the issue for it: https://github.com/phetsims/masses-and-springs/issues/199

[2021-06-11 15:52] veillette commented on #10
I have reviewed the commits. Well done. We can close this.

[2021-06-11 15:52] #10 closed

[2021-06-11 15:55] veillette commented on #33
The work is done here. This should help in addressing #22.

[2021-06-11 15:55] #33 closed

[2021-06-11 18:03] veillette commented on #23
Here is a screenshot for reference:
![image](https://user-images.githubusercontent.com/7633344/121730432-a9b87580-cabd-11eb-9ea8-dd1223a5f0f1.png)

The width of the panel should match the box

[2021-06-11 18:34] veillette commented on #24
Let's try to break down how to start oing this.
- [ ] create a boolean property in visibleProperties
- [ ] Add a checkbox for labels in control panel.
- [ ]  create a scenery Node for the labels in GeometricOptics view folder
- [ ]  attach it to GeometricOpticsScreenView

The constructor for the scenery node will need
 - [ ] the appropriate boolean visible property
 - [ ]  the modelviewTransform

[2021-06-14 11:28] veillette opened #34 "Disable Many Ray Modes for testing."
In order to address #6, let's disable the many rays to see if it helps CT.

[2021-06-14 12:54] veillette commented on #27
ScreenShot:
![image](https://user-images.githubusercontent.com/7633344/121895308-12863480-ccee-11eb-9abb-165892171ee2.png)

[2021-06-14 15:11] veillette opened #35 "Avoiding name collisions with common code in classes"
We should go over the name of the modules and make sure we dont have very generic name that conflict with common code.  (see for  instance https://github.com/phetsims/bending-light/issues/399 for example of problems).

Our solution would be to prefix the classes/modules with GeometricOptics.

[2021-06-14 16:13] veillette commented on #35
There are two classes, that although do not conflict with common code, could be refactored:
- [ ] ControlPanel
- [ ] ToolboxPanel

Their names are perhaps too common and will conflicts with many other sims.

[2021-06-14 16:17] veillette opened #36 "Complete model.md"
The  model.md should adequately describe the model, in terms appropriate for teachers.
A good example can be found at https://github.com/phetsims/vector-addition/blob/master/doc/model.md.

[2021-06-14 19:21] sarchang commented on #9
Now major tick labels on rulers change based on zoom level.

[2021-06-14 19:46] sarchang commented on #9
Still need to resolve dependencies:
1. functional dependencies of the zoom in GeometricOpticsRulerNode and GeometricOpticsScreenView (constant and Math.pow are present in both)
2. zoom factor should be able to take on a value other than exactly 2 (ex. 1.9)

[2021-06-15 15:21] sarchang opened #37 "Should size of scene buttons remain consistent across lens and mirror screens?"
Currently, scene buttons are not the same size for both lens and mirror screens. The button size adjusts based on the icon size.
![image](https://user-images.githubusercontent.com/29347882/122079794-fa301b80-cdba-11eb-9801-02b9cc46370e.png)
![image](https://user-images.githubusercontent.com/29347882/122079832-05834700-cdbb-11eb-8d12-a6993a74395f.png)

[2021-06-15 15:23] sarchang commented on #27
Does show/hide button have to be circular? The one in scenery-phet is rectangular.

[2021-06-15 15:31] sarchang commented on #23
Need to consider the case where the user drags the ruler while changing the zoom level.

[2021-06-15 15:31] veillette commented on #24
![image](https://user-images.githubusercontent.com/7633344/122081659-497f4780-cdcd-11eb-8cc5-cdafef278abf.png)

[2021-06-15 18:07] sarchang commented on #37
Design meeting: make them all square

[2021-06-15 18:10] sarchang commented on #32
Design meeting: control panel can adjust size based on elements

[2021-06-15 18:11] veillette commented on #32
The panels do not need to have the same size.

[2021-06-15 18:12] sarchang commented on #27
see second screen of Proportions Playground: round toggle button to find round version

[2021-06-15 18:21] sarchang commented on #26
first major tick mark of ruler should be always be inside visible bounds
full width of ruler should be inside visible bounds

[2021-06-15 18:59] veillette opened #38 "Location of ComboBox"
Move Combo Box on the top middle of the screen.

![image](https://user-images.githubusercontent.com/7633344/122108488-3f1f7680-cdea-11eb-9765-172dc9f0aa16.png)

[2021-06-15 19:05] sarchang commented on #9
Ruler scales opposite of intended direction!

[2021-06-16 14:44] veillette commented on #24
Our approach to create labels within the playArea layer failed. It turns out to be impractical to counteract the effect of the zoom. There are too many parameters to update: margin, fontsize, corner radius.

It will be more practical to attach the labelsNode directly to the GeometricOpticsScreenView and find a way to position the labels accurately.

[2021-06-16 14:50] veillette opened #39 "Find a mapping for the model position that takes into account the zoom-level"
Our current approach for zoom in/out is to place the nodes within a layer that is scale.

In #24, we ran into an issue where the labels should not be scaled , but should be positioned relative to scaled objects.
The issue will track the development  of tools that allows the mapping between scale and unscaled nodes.

[2021-06-16 17:50] veillette commented on #24
One thing we have not discussed is what to do with labels with a light source and a projector screen.
Label for discussion to the design meeting.

[2021-06-17 13:46] veillette commented on #39
[code]

This zoomModelViewTransform would be able to map between different zoom coordinates

[2021-06-17 15:50] sarchang commented on #38
Position of combo box is now at the top of the screen.

[2021-06-17 15:50] veillette commented on #24
As part of the work in #39, we have created a modelview transform that maps easily between the coordinates of different zoom level . The previous commits allows us to reposition the labels based on the modelviewTransform

[2021-06-17 15:51] veillette commented on #38
Well done. Closing.

[2021-06-17 15:51] #38 closed

[2021-06-17 16:27] veillette opened #40 "Combo box and overlap of menu."
![image](https://user-images.githubusercontent.com/7633344/122436889-30120300-cf67-11eb-9d98-9b07d40755e8.png)

Although we expect the menu of the combo box to be long, it should not be underneath the lens, or mirror, but above it.

[2021-06-18 18:18] veillette commented on #26
We have set about two major tick marks to stay within the visible bounds. However we have still to attach a listener to the dragBounds to prevent losing the rulers when changing the visibleBounds.

[2021-06-18 19:03] veillette opened #41 "screen Projector should appear above control panel"

[2021-06-18 19:07] veillette commented on #41
In addition, it should be included within the playArea

[2021-06-18 19:50] sarchang commented on #26
Projector screen drag bounds doesn't work with zoom

[2021-06-21 12:48] veillette opened #42 "Investigate the use of OrientationPair for Ruler"
phet-core has a class that is called OrientationPair, that extends an EnumerationMap. This may be useful for to simplify the handling of the two rulers.

[2021-06-21 12:51] veillette commented on #41
Reviewed. Closing

[2021-06-21 12:51] #41 closed

[2021-06-21 15:38] veillette commented on #40
Upon reflection, there are least three possible options:
- the combox box and list is beneath the optic
- the combox bos is beneath (z-order) the optic but the list is visible, the list is above the optic
-  the optic is alway beneath the combox box and the list.

The button in common code is currently tagged as private, so it is not possible to change the z-order dynamically.

[2021-06-21 15:42] veillette commented on #40
Options #2
![image](https://user-images.githubusercontent.com/7633344/122789579-73c97d00-d285-11eb-9d18-54c6898b28d6.png)
![image](https://user-images.githubusercontent.com/7633344/122789635-8348c600-d285-11eb-83ff-712560507506.png)

Options #3
![image](https://user-images.githubusercontent.com/7633344/122789843-bbe89f80-d285-11eb-84a5-1c67fdd92180.png)

[2021-06-21 15:43] veillette commented on #40
Currently the simulation is using option 1

[2021-06-21 15:57] veillette opened #43 "Pixel polish the look of control panel."

[2021-06-21 16:00] veillette commented on #43
![image](https://user-images.githubusercontent.com/7633344/122792479-361a2380-d288-11eb-8d50-20e422f5707f.png)

[2021-06-21 16:04] veillette commented on #43
List of things that need to be addressed:
- Add a title
- Center the vertical directions the number controls
- The size of the checkbox and the size of the font of the checkbox should match the design document.
- The control panels should be divided by vertical separators.
- Address issue #16 (supporting icons)

[2021-06-21 20:22] sarchang commented on #16
Do we want the focal point icon next to the checkbox? Seems a bit redundant with the labels.
![image](https://user-images.githubusercontent.com/29347882/122823015-0ecd5180-d29c-11eb-94ed-37044c251996.png)

[2021-06-21 20:32] sarchang commented on #32
Panels adjust based on elements.

[2021-06-21 20:32] #32 closed

[2021-06-22 13:04] veillette opened #44 "address size of buttons"
While tackling #43, I realize that the size of some buttons do not line up with the design document.
Two types of buttons to consider:

- [x] curve control buttons
- [x]  zoom in and out buttons

[2021-06-22 13:04] veillette commented on #44
![image](https://user-images.githubusercontent.com/7633344/122929386-e47da180-d338-11eb-9cec-b91d67197df2.png)

[2021-06-22 13:06] veillette opened #45 "size and font of combo box"
The size and font of the combo box does not match the design document.

![image](https://user-images.githubusercontent.com/7633344/122929483-feb77f80-d338-11eb-9f53-58839e3164bd.png)

[2021-06-22 13:40] veillette commented on #23
Our work is done here. CLosing

[2021-06-22 13:40] #23 closed

[2021-06-22 14:12] veillette commented on #39
our work is done. Closing

[2021-06-22 14:12] #39 closed

[2021-06-22 14:42] veillette opened #46 "GeometricOpticsRulerNode needs a dispose function"
There are several GeometricOpticsRulers that are (possibly) created in this simulation. This can create a memory leak.

[2021-06-22 16:05] sarchang commented on #16
Do we still want the focal point icon next to the checkbox? Seems a bit redundant with the labels since the focal point is labeled explicitly as well. Currently, we have a focal point icon always visible next to the focal point checkbox.

[2021-06-22 16:08] sarchang commented on #24
1. what to do with labels with a light source and a projector screen
2. background color/size of labels

[2021-06-22 16:13] sarchang commented on #9
Design meeting: The rulers are currently returned to the toolbox when any part of the ruler overlaps with the toolbox panel. Should it be this way? Or should more of the ruler be required to overlap?  Should we expand the touch margins for dragging out the rulers (they are thin)?

[2021-06-22 16:56] veillette opened #47 "Zoom Factor"
The zoom factor is set to 2.
There is one level of zooming in and one of zooming out.

The factor of two makes it convenient to draw rulers.
Should we work on make the ruler more robust such that other zoom levels (factors) be possible?

[2021-06-22 17:51] veillette commented on #46
![image](https://user-images.githubusercontent.com/7633344/122974930-d5124e80-d360-11eb-8fbc-852ac5d8a8b1.png)

There are only four GeometricOpticsRulerNodes that are present at a given time. The memory footprint seems reasonable as well.

[2021-06-22 18:13] sarchang commented on #16
keep as is

[2021-06-22 18:17] sarchang commented on #40
optic should be beneath both list and combo box

[2021-06-22 18:23] sarchang commented on #26
- optical axis and center of optic should go from top of control panel to bottom of combo box (this means half of the optic will be underneath control panel/combo box) ----- same for all objects
- optic should also be bound by visible bounds (center gets bumped up when zooming in)

[2021-06-22 19:21] veillette opened #48 "labels for lens and mirror should be translatable."
The label for concave label should be only one string such that it can be easily translated.
We are currently concatenating strings, but this only work in english.

[2021-06-22 19:23] veillette opened #49 "add icon to movable point checkbox"
The icon for movable point is a circle (disk). Maybe some gradient? Definitely a bright color.

[2021-06-22 19:31] sarchang commented on #16
work is done

[2021-06-22 19:31] #16 closed

[2021-06-22 19:31] sarchang commented on #43
done

[2021-06-22 19:31] #43 closed

[2021-06-22 19:37] sarchang commented on #9
- [ ] Rulers should be returned when cursor and ruler overlap with toolbox.
- [ ] Ruler touch margins should be expanded.
- [ ] Add touchsnag
- [ ] Vertical ruler should be taller

[2021-06-22 19:38] sarchang commented on #24
No labels needed for light source/projector screen (test during interviews)

- [ ] Hoist background color to color profile
- [ ] Label text size should be bigger

[2021-06-22 19:40] sarchang opened #50 "show/hide button formatting"
- [x] Move show/hide button higher
- [x] should be same size as reset button

[2021-06-22 19:43] sarchang opened #51 "Create screen icons in code"
Screen icon for Lens screen: a convex lens
for Mirror screen: a concave mirror

Should create a method for creating lens/mirror icons which should be used for the Curve Control buttons

[2021-06-22 19:44] veillette opened #52 "Switch order for curve lens buttons"
The convex lens icon button should be atop the concave button for the lens screen. Mirror screen is fine.

[2021-06-22 20:00] sarchang commented on #46
Memory leak addressed.

[2021-06-22 20:00] #46 closed

[2021-06-22 20:23] veillette commented on #51
In order to make this, we should create a seperate class that had the information about the shapes of the optic, i.e. the outline and the fill.

[2021-06-23 14:14] sarchang commented on #48
@veillette I tried to use the ternary operators on this one; not sure if this is the best solution...

[2021-06-23 14:32] veillette commented on #48
@sarchang : I think the nested ternary operators are a bit much in this situation.  It makes it harder to read, since the expression is so long..
It would be more readable with an if statement even though it will end up taking many more lines.

[2021-06-23 14:33] veillette commented on #48
reassigning back to @sarchang

[2021-06-23 14:50] sarchang commented on #48
changed to nested conditionals @veillette

[2021-06-23 15:03] sarchang commented on #50
@veillette not sure if they are far enough apart but I think I like how big they are now

[2021-06-23 15:57] veillette commented on #26
I have written in GeometricOpticsScreenView a new property , that determines the visibleDrag Bounds in model coordinates (which are correct even when the zoom is changed).

[code]

I have applied it to ProjectorScreenNode and it works well.

[2021-06-23 16:06] sarchang commented on #45
@veillette artwork will change eventually, so I'm not too worried about the icons looking weird for now

[2021-06-23 16:25] veillette commented on #26
oops, the position of the optic is hard coded. This doesnt work for the mirror

[2021-06-23 16:38] sarchang commented on #44
Passed in custom options for RectangularButton to make zoom buttons more square and margins smaller; there was a comment in RectangularButton.js that referenced https://github.com/phetsims/sun/issues/109#issue-35756026. Does PhET want all the zoom buttons standardized (dimensions, margins, color, etc)? CCK zoom buttons were the only yellow zoom buttons I could find on another simulation and I thin

[2021-06-23 16:47] KatieWoe opened #53 "CT assertion failed & y must be a finite number"
[code]

[2021-06-23 18:01] veillette commented on #53
Thanks @KatieWoe ,

In one case, it is a problem with the ProjectorScreen and how the spotlight is calcutings its shape.
In the second  case, one of the lightray positions is infinity.

[2021-06-23 18:02] veillette commented on #50
That looks good. Closing

[2021-06-23 18:02] #50 closed

[2021-06-23 18:16] veillette commented on #48
I changed it to a mix of if statement and ternary. In my opinion, it is the most readable
[code]

[2021-06-23 18:26] veillette commented on #48
Our work is done. Closing

[2021-06-23 18:26] #48 closed

[2021-06-23 18:27] veillette commented on #47
Assigning @sarchang to work on this issue.

[2021-06-23 18:29] veillette commented on #45
Good work hoisting the font constant all the way to the constant file. It looks good.

[2021-06-23 18:29] #45 closed

[2021-06-23 18:39] sarchang commented on #37
Size of buttons stay constant.

[2021-06-23 18:55] sarchang commented on #52
Order of curve control buttons is now correct. Lens screen starts on convex lens (top button).
But mirror screen starts on convex mirror (bottom button). Maybe change this so that it starts on the top mirror button? @veillette

[2021-06-23 19:10] #17 closed

[2021-06-23 19:16] sarchang commented on #47
changed default zoom level and extended optical axis

[2021-06-23 19:21] veillette commented on #22
there is no more offset on a drag. Closing

[2021-06-23 19:21] #22 closed

[2021-06-23 19:23] sarchang commented on #40
moved playAreaNode to be beneath zoom buttons, combo box, and toolbox nodes in z-order so that the object, optic, image, and optical axis are all underneath the zoom buttons, combo box, and toolbox.

[2021-06-23 20:10] veillette commented on #26
The "main" object is now  bound properly although there is work to be done to ensure that the movable point (with light source) is dragbounded. as well.

[2021-06-23 20:38] veillette commented on #52
well done. Closing

[2021-06-23 20:38] #52 closed

[2021-06-23 20:40] veillette commented on #37
Good use of spacer. Closing

[2021-06-23 20:40] #37 closed

[2021-06-23 21:42] veillette commented on #44
Well done, I'm not sure about the relative positioning of the buttons with respect to the control panel but we can see what the design team think about it.

[2021-06-23 21:42] #44 closed

[2021-06-23 21:44] veillette commented on #40
Combobox is fixed. I'm not sure about the behavior of the other components, but we can raise an issue if the design team thinks it is problematic.

[2021-06-23 21:44] #40 closed

[2021-06-23 21:50] veillette opened #54 "Optical Axis and Zoom"
As observed in #47, the optical axis is a bit fragile as the length of the optical does not change with zoom.
The optical axis should receive the visibleModelsBoundsProperty in the constructor rather than the layoutBounds. This would ensure that the optical axis spans the entire screen at all times.

[2021-06-23 22:02] veillette commented on #47
Good. I created a new issue #54, to track the handling of the optical axis. Closing this issue.

[2021-06-23 22:02] #47 closed

[2021-06-23 22:03] veillette commented on #54
This works well. Closing.

[2021-06-23 22:03] #54 closed

[2021-06-23 22:04] veillette opened #55 "Ruler and toolBox."
- [x] Rulers should be returned when cursor and ruler overlap with toolbox.
- [x] Ruler touch margins should be expanded.
- [x] Add touchsnag
- [x] Vertical ruler should be taller

[2021-06-23 22:05] veillette commented on #9
Tracking the remaining issues in #55. Closing

[2021-06-23 22:05] #9 closed

[2021-06-23 22:06] veillette commented on #6
Superseded by #53

[2021-06-23 22:06] #6 closed

[2021-06-24 13:28] veillette commented on #53
The thin lens equation (and the mirror equation) involve a sum of inverses. In the case where the focal length is equal to the distance between the object and optic, then the thin lens equation would yield infinity.

In the previous commit, we handle this situation by assigning the image distance to a very large number (but not infinite).

[2021-06-24 14:02] veillette commented on #11
I have examined most of the methods on the optic class. The methods have proved to be useful and are used .  The one that was superfluous was get FocalLength, which was expurged.

[2021-06-24 14:02] veillette commented on #11
Our work is done here. CLosing.

[2021-06-24 14:02] #11 closed

[2021-06-24 16:09] sarchang commented on #55
I noticed that the font size of "cm" on the horizontal ruler decreases slightly when zooming out to the most zoomed out level.

[2021-06-24 16:23] veillette commented on #55
in RulerNode, there is some logic to determine the max width of the string.
[code]
and
[code]

When the text strings  gets longer (say 160 instead of 80), there is less space left for layout the units.

[2021-06-24 16:52] veillette commented on #55
The touch bounds screen have been increased.
![image](https://user-images.githubusercontent.com/7633344/123302771-0ae33e80-d4eb-11eb-9a1e-b48ab4c70af1.png)

[2021-06-24 16:53] sarchang commented on #55
When I start the simulation, change the zoom level, and then drag a ruler out of the toolbox, the initial position of the ruler when I start the drag is not where my cursor is.
This issue does not happen when I click on the rulers before changing the zoom level.

[2021-06-24 16:54] veillette commented on #55
@sarchang , you should create a new issue describing the problem with the ruler start drag

[2021-06-24 16:55] veillette commented on #49
Assigning to @sarchang.

[2021-06-24 17:02] sarchang opened #56 "Ruler startDrag is affected by zoom"
When I start the simulation, change the zoom level, and then drag a ruler out of the toolbox, the initial position of the ruler when I start the drag is not where my pointer is.  The ruler is created on the left side of the sim screen and continues to be created at that location for the duration of the sim.

This issue does not happen when I click on the rulers before ever changing the zoom level.

[2021-06-24 18:55] veillette commented on #55
This issue is addressed. Tracking the problem with ruler in #56. Closing this issue

[2021-06-24 18:55] #55 closed

[2021-06-24 18:57] veillette opened #57 "Optic: can only move up and down in the middle, should remain above the control panel"

[2021-06-24 18:59] veillette opened #58 "Second light source can be dragged to the right of the lens."
similar to the object, the movable source of light should have dragbounds.

[2021-06-24 18:59] veillette commented on #26
Tracking the remaining issues in #57 and #58.

[2021-06-24 18:59] #26 closed

[2021-06-24 19:01] veillette commented on #27
Well done. Closing

[2021-06-24 19:01] #27 closed

[2021-06-24 19:02] veillette opened #59 "Ray Animation and other component interactions"
This is the master issue for all the ray tracing.
We should come up with a list of requirements with corresponding issues.

[2021-06-24 19:29] veillette commented on #59
When on 'show', rays should emerge from the object, pass through the optic, and once they converge, the image appears. In the case when rays diverge, virtual rays should also be animated and the virtual image should appear.

'Hide' should make rays and image disappear.

[2021-06-24 20:03] veillette commented on #59
if the optic produces a real image, this image should appear only after the rays reached the image position.

if the optic produces a virtual image, this image should appear only after the rays reached the image position and the virtual check box is turned on.

If the checkbox labels is on, the label for the image should only appear after the rays reached the image.

[2021-06-25 12:47] veillette commented on #53
This issue seems resolved on CT. Closing

[2021-06-25 12:47] #53 closed

[2021-06-25 12:49] veillette opened #60 "CT: Assertion failed: Line end should be a Vector2: null"
[code]

[2021-06-25 14:48] veillette commented on #59
if any of the properties that affect the rays, (such at the position of the optic, source,  representation, diameter, focal length, radius of curvature), the rays animation is stopped, and restart at zero.

[2021-06-25 15:10] veillette commented on #59
We can create two properties called  say: rayTerminated, and movableRayTerminated. We can wire them to the projector spots, the image label , and the image.

The real image would appear if ray terminated is on and would be invisible otherwise.

The virtual image would appear is the checkbox is set to isVirtual, the image is virtual and if the ray is terminated. ALl these conditions must be fulfill

[2021-06-25 15:41] veillette opened #61 "Ray Animation and prototyping"
For the purpose of implementing the ray animation, it may make the development easier, if the ray animation is tied to a time slider rather than an actual time stepper.

[2021-06-25 18:59] veillette opened #62 "CreateBranch: RayAnimation"
As part of the work on RayAnimation, we will create a branch called animatedRays to keep track of our work.

[2021-06-25 20:08] sarchang commented on #49
Movable point icon added; might want to add gradient or change color later.

[2021-06-26 11:57] #62 closed

[2021-06-26 11:57] #34 closed

[2021-06-26 11:59] veillette commented on #49
Well done. Closing

[2021-06-26 11:59] #49 closed

[2021-06-30 23:00] arouinfar commented on #14
@megan-phet met to discuss the artwork needs for this sim, and her focus will be on one set of framed images of the pencil. @veillette has outlined the technical needs above, but please let me know if there are any other technical details you need. The artwork size varies a lot in the sim, so perhaps start with a 600px tall artboard, and we can export the images at the necessary resolution.

Frame

[2021-06-30 23:06] arouinfar commented on #14
@megan-phet if you want to see the artwork in context, you can access the sim on [phettest](https://bayes.colorado.edu/dev/phettest/) using the login credentials I shared in the meeting.

[2021-07-01 19:43] veillette opened #63 "Should rays from movable point animate after the object rays have already animated?"
There are two bundles of ray in the simulation. One from the object and a second one from the movable point.

When the show/hide button is toggle the rays will animate from the object position.
However, if one checks the movable point check point. Currently the rays appear statically.
Our question is "Should the rays from movable point be animated after the object rays have already finished their

[2021-07-01 19:45] veillette commented on #63
![image](https://user-images.githubusercontent.com/7633344/124181331-5b2a4580-da83-11eb-8980-cd07c89b5b87.png)

[2021-07-01 20:16] veillette opened #64 "Behavior of Guides when movable point is visible."
The flash simulation has guides that switch from the object position to the movable point position when the movable point checkbox is toggled.

We just realized that our simulation always track the object position rather than the movable point position.

Before we change our codebase, we want to make sure that this behavior is desired.

[2021-07-01 20:28] veillette opened #65 "Corresponding image for movable point (tiny red dot)"
![image](https://user-images.githubusercontent.com/7633344/124185718-51a3dc00-da89-11eb-90c4-0eb69f03922d.png)

[2021-07-01 20:32] sarchang commented on #63
Keep as is; don't need to animate second one

[2021-07-01 21:16] sarchang commented on #65
From Amy: tiny red dot was probably not supposed to be there; definitely remove. But consider the possibility of adding a "ghost" of the movable point on the image that is the same size as the actual movable point to show where the movable point's rays would converge they were shown. Discuss at design meeting.

[2021-07-01 21:17] sarchang commented on #64
From Amy: Guides should follow the object (keep as is), but discuss at design meeting to confirm.

[2021-07-01 21:21] sarchang opened #66 "Change the colors of the rays"
Rays from the object and from the movable point should be different colors.
Real rays and virtual rays should be different colors.
Hoist colors to color profile.

[2021-07-01 21:24] sarchang opened #67 "Reconsider wording of "Movable Point" checkbox"
Toggling the "Movable Point" checkbox makes both a red dot or a red lamp appear, depending on which object is chosen.  The term "Movable Point" does not make sense to describe the second lamp.  Maybe "second source"?  Should the text for the checkbox change for objects vs. spotlight/screen?

[2021-07-01 22:37] sarchang commented on #59
### Expected behaviors
**With `Hide` toggled:**
- `Rays` ON/OFF: Rays do not appear
     - `Virtual Image`
          - ON/OFF: no image will appear (not even a real one)
     - `Labels`
          - ON: labels should appear for visible components
          - OFF: no change
     - `Movable Point`
          - ON: dot should appear on object, no rays
          - OFF: no change

**With `Show` toggled:*

[2021-07-02 13:16] veillette commented on #60
We are passing CT on a regular basis. Closing

[2021-07-02 13:16] #60 closed

[2021-07-02 13:29] veillette commented on #61
We have added a slider for timing

[2021-07-02 13:29] #61 closed

[2021-07-02 18:21] sarchang opened #68 "Two radio buttons sometimes can be selected simultaneously"
To reproduce: toggle back and forth between Marginal and Principal ray mode radio buttons, about 10 times. Occasionally both will be selected (circles turn blue). But only one ray mode is shown.
Device: Macbook Air M1
Chrome Version 91.0.4472.114 (Official Build) (arm64)

[code]

[2021-07-02 18:24] sarchang commented on #68
Was unable to reproduce in other simulations with radio buttons (CCK, Acid Base, Capacitor Lab).
Happened more than once in Geometric Optics

[2021-07-02 18:26] sarchang commented on #68
@KatieWoe Can you reproduce this bug on Geometric Optics or on other devices/sims? We are using the standard vertical radio button group.

[2021-07-02 18:43] sarchang commented on #59
Tested all the different expected behaviors; everything is working as expected with the objects (pencil, tree, rocket) and with both lens and mirror. Ran into many clicking/multiple selection issues with Macbook Air M1. Now focusing on fixing the spotlight/screen option.

[2021-07-02 19:36] sarchang commented on #59
Only tasks left are on the light/projector screen:

If the source of light is present, the projector screen should always be present and the **rays should terminate** on the projector screen. The spotlight should show up when the rays reach it the projector screen. (tracking in #13)

If the movable point is checked on and the representation is set to light, the rays should be animated and the spot

[2021-07-02 19:38] sarchang opened #69 "Timing of spotlight appearance for lamp/screen"
Currently, when the show/hide button is toggled for the lamp/screen, the spotlight (yellow circle) appears on the black screen when the rays converge. The spotlight should appear when the rays reach the screen.

[2021-07-02 20:35] sarchang opened #70 "How to handle rays that go around the optic"
In the flash sim, many rays option, some rays don't pass through the optic:
![image](https://user-images.githubusercontent.com/29347882/124325716-61cbc200-db42-11eb-8ab4-14da152fc6cc.png)

When we introduced the diverging lens in the new sim, we were unsure of how to handle rays that pass through the side and top of the diverging lens.  Currently, it is set up to not display any rays that do not p

[2021-07-02 20:36] sarchang commented on #63
Amy answered our question.

[2021-07-02 20:36] #63 closed

[2021-07-02 20:37] sarchang commented on #59
Closing and tracking leftover tasks in #13 and #69.

[2021-07-02 20:37] #59 closed

[2021-07-02 20:41] sarchang opened #71 "Speed of ray animation"
How fast should the rays be drawn?

[2021-07-02 20:45] sarchang opened #72 "CT: assertion failure in Graph.computeWindingMap"
[code]

[2021-07-06 13:21] veillette opened #73 "How to deal with object close to the optics but very far from optical axis."
When the curvature of a mirror and lens is large and the object if very far from the axis, the object and the image can appear on the same side of the optic as illustrated in the two pictures below.

The magenta points represent the position of the object and image.

![image](https://user-images.githubusercontent.com/7633344/124605419-e025ae00-de39-11eb-8785-5b4ba1e37efb.png)

![image](https://use

[2021-07-06 16:04] veillette commented on #56
This is related to the dispose function.

[code]

once the RulersNode have been created, we need to remove the children and dispose of the rulerNode.

[2021-07-06 17:36] KatieWoe commented on #68
I'm having trouble reproducing this in master on a Win 10 + Chrome device. Is there a particular build showing this issue?

[2021-07-06 17:40] sarchang commented on #68
@KatieWoe I think it might have to do with me using the M1 Macbook Air + Chrome?

[2021-07-06 18:21] KatieWoe commented on #68
We don't have an M1 Test device with QA, so I'm not able to confirm for sure. I also wasn't able to replicate it on our MacOS 11 device. I did notice that on master rays don't seem to be showing up at all, so I wonder if something changed on master.

[2021-07-06 19:14] veillette commented on #71
@arouinfar will play with the simulation.
The constant that control the speed of the rays is in GeometricOpticsConstants
[code]

[2021-07-06 19:20] veillette commented on #67
At the 7/6 design meeting, it was decided that the text "second source" should be used throughout the sim.  Also the spacing between the icon and the text should increase.

[2021-07-06 19:26] veillette commented on #64
At the 7/6 design meeting, we decided that the guides should follow the behavior of the flash simulation.

[2021-07-06 19:29] veillette commented on #65
The discussion from the 7/6 meeting was to not have any indication of the 2nd point on the image.
The conclusion was based on the idea that by starting on the marginal rays, it should be clear what is the effect of the second source (movable point).

[2021-07-06 19:30] veillette commented on #65
Since we dont have a second image point to implement, we can close this issue.

[2021-07-06 19:30] #65 closed

[2021-07-06 19:34] veillette commented on #66
Thanks @sarchang .
Our work is done here. @arouinfar  will be able to change the colors of the rays from the color profile.

[2021-07-06 19:46] sarchang commented on #68
Rays should not appear unless you toggle the show/hide button. The rays seem to be working fine for me. And this issue seems to be difficult to reproduce; not sure where to go from here

[2021-07-06 20:09] veillette opened #74 "Refactor all references to movablePoint to second source."
In light of #67, we should refactor the terms movablePoint to secondSource.

[2021-07-06 21:19] stemilymill commented on #68
@sarchang I have also been able to reproduce it, but like Katie I do not have a comparable device. Sorry I can't be more helpful!

[2021-07-06 21:23] sarchang commented on #73
From 7/6 design meeting: we could change the limits for curvature radius and diameter or prevent object from getting too close to the optic

[2021-07-06 21:26] sarchang commented on #70
From design meeting 7/6: leave as is?

[2021-07-06 21:27] sarchang opened #75 "Change default sim setup"
Show/hide button should start on show
Rays should start on Marginal Rays

[2021-07-06 21:28] sarchang opened #76 "Add vertical dashed line through center of optic"
Add a vertical dashed line though the center of the lenses and mirrors

[2021-07-06 21:45] sarchang commented on #67
Changed the spacing:
before
![image](https://user-images.githubusercontent.com/29347882/124670156-cce20500-de70-11eb-956d-ec8e7f9a8d27.png)
after
![image](https://user-images.githubusercontent.com/29347882/124670196-dbc8b780-de70-11eb-9bf8-96df9a055743.png)
Not sure if this is enough. The spacing for both icons is controlled by one HBox `spacing` option, which is now set to 8. Not sure if it is a

[2021-07-07 13:30] veillette commented on #70
@sarchang, I think the decision was to implement a new strategy that deals with the rays, which would include showing a constant number of rays. For the concave lens, we would show rays that go through the first surface of the lens and propagate them as having gone through the lens at that point.

[2021-07-07 13:56] veillette opened #77 "Publish Dev version 1.0"
The goal is to publish a first dev version on 7/8/2021.  We will ask @chrisklus for help to deploy it to Bayes.

[2021-07-07 13:59] veillette opened #78 "Image representation"
In preparation for #77, it would be good if we can put new "mirror" assets for the tree and rocket representation.

[2021-07-07 14:07] veillette commented on #78
There are online tools to resize and flip images.
Here are two of them.
https://www.img2go.com/rotate-image
https://www.resizepixel.com/edit?sample=true

[2021-07-07 15:03] veillette opened #79 "Light Positioning"
Address the light position such that rays emerge from light bulb

[2021-07-07 15:06] veillette opened #80 "Timing of spotlights"
The spotlights should appear when the rays hit the screen (rather than when the converge)

[2021-07-07 15:09] veillette commented on #76
The vertical line that goes through the optic should only be present  when principal ways are present.

[2021-07-07 15:13] veillette opened #81 "Cueing arrows should be added to indicate that the point is draggable"
See Atomic Interactions for an example (as well as the design document of Geometric Optics)

[2021-07-07 15:15] veillette commented on #80
Duplicate of #69 . Closing

[2021-07-07 15:15] #80 closed

[2021-07-07 15:17] veillette commented on #81
“Movable” helps cue the interaction, but we should just use cueing arrows, similar to Projectile Motion height control:

Add cueing arrows above and below the dot. Same color as dot.

![image](https://user-images.githubusercontent.com/7633344/124785453-dcb32500-df14-11eb-8fd1-deca4a94cd22.png)

[2021-07-07 15:19] sarchang commented on #77
Remaining tasks in order of priority:

- [ ] Change default sim setup (#75)
- [ ] Rays should come from light bulb, not middle of lamp (#79)
- [ ] Rays should stop at the screen (#13)
- [ ] Add other images of the tree in different orientations (#78)
- [ ] Add other images of the rocket in different orientations (#78)
- [ ] Tree: Manually adjust where the rays intersect the object and the image su

[2021-07-07 18:22] veillette commented on #75
We have modified the initial setup.

[2021-07-07 18:24] veillette opened #82 "The dragHandler for the second source has an offset."

[2021-07-07 18:25] veillette commented on #79
The scale and position of the first and second light source have been adjusted.

The dragHandler for the second source  has an unnatural offset. Tracking the offset in #82.

[2021-07-07 18:51] veillette commented on #82
As part of the work on #79, we noticed that there is an offset to the second source on start event off the dragListener. This is present solely on the movable source of light and  not on the movable object.

[2021-07-07 18:54] veillette commented on #78
New assets orientation for the tree and rockets have been added. Closing

[2021-07-07 18:54] #78 closed

[2021-07-07 18:56] veillette opened #83 "Rocket: Manually adjust where the rays intersect the object and the image such that it is consistent with artwork"

[2021-07-07 18:56] veillette opened #84 "Tree: Manually adjust where the rays intersect the object and the image such that it is consistent with artwork"

[2021-07-07 18:57] sarchang opened #85 "z-order of projector screen and rays"
In the Flash simulation, rays that don't pass through the screen continue on past the screen. The optical axis also passes through the screen.
![image](https://user-images.githubusercontent.com/29347882/124813670-62899d00-df22-11eb-9a90-c05aee810554.png)

Our current sim blocks all rays along the x value of the screen and is behind the optical axis.
![image](https://user-images.githubusercontent.c

[2021-07-07 18:57] sarchang commented on #13
Rays stop at the x value of the screen, but there are many other behaviors that need to be resolved, like when the rays don't hit the screen, the rays should continue. Closing this issue but tracking other tasks related to the rays and the screen in #85

[2021-07-07 18:57] #13 closed

[2021-07-07 19:02] veillette opened #86 "Only rays that hit the projector screen should be stopped."
Currently all the rays that reach the same horizontal position of the screen are stopped.

One approach to address this is to create a shape ( or a vertical line) that cut vertically through the middle of the screen. A light ray that intercepts the vertical line would be stopped.
This means that we need to augment the api of LightRay to take into consideration the shape of this vertical line.

The

[2021-07-07 19:14] veillette commented on #81
The cueing arrows should appear after the first time that second source checkbox is checked and the representation is object. The cueing arrows should disappeared after the stop drag event.

[2021-07-07 19:16] veillette commented on #81
If the user does not interact with the cueing arrows and change the representation to light source  or reset, the cueing arrows should be  present again when selecting any object representation.

[2021-07-07 19:30] veillette opened #87 "Set z-order of rays above optic."

[2021-07-07 19:37] veillette commented on #87
It turns out that the mirror was already beneath the rays. We have set the lens beneath the movablelightrays  and lightRays.

[2021-07-07 19:42] veillette commented on #87
As part of our work, we noticed that mirror was behind the optical axis, object and mirror. The previous commit brings it in line with the behavior of the lens such that the z-order is uniform across the two screens.

[2021-07-07 20:46] sarchang commented on #76
Line is currently on top of control panel

[2021-07-08 14:26] veillette commented on #84
The offset for the tree has been adjusted manually in relationship to the object.

[2021-07-08 14:26] veillette commented on #83
The offset for the rocket has been adjusted manually in relationship to the object.

[2021-07-08 14:26] veillette commented on #79
The work here is done. Closing

[2021-07-08 14:26] #79 closed

[2021-07-08 14:28] veillette commented on #67
That looks good closing.

[2021-07-08 14:28] #67 closed

[2021-07-08 14:40] veillette commented on #87
Done, Closing.

[2021-07-08 14:40] #87 closed

[2021-07-08 15:55] veillette commented on #75
Our work id done here. Closing.

[2021-07-08 15:56] #75 closed

[2021-07-08 15:57] veillette commented on #83
Assigning to @sarchang for review.

[2021-07-08 15:57] veillette commented on #84
Assigning to @sarchang for review.

[2021-07-08 16:30] veillette opened #88 "Consider using config parameters rather than subclassing optic and opticNode."
Currently, we have an abstract class called optic that acts as a base class for mirror and lens. Similarly the OpticNode, mirrorNode and LensNode class.

This was setting up early on as a useful paradigm for the simulation, but it has not proved to be very useful. Most responsibilities are given to the base class and there is not clear benefit to use such a structure.

Many components are dependen

[2021-07-08 17:14] sarchang opened #89 "Toggling from pencil to light to pencil causes the pencil image to increase in size"
Starting on the initial setup of the sim:
![image](https://user-images.githubusercontent.com/29347882/124963650-4f87d300-dfdd-11eb-9519-e6f9735dc6ae.png)

And then switching to light:
![image](https://user-images.githubusercontent.com/29347882/124963712-62020c80-dfdd-11eb-83ec-8d1924191cf0.png)

And then switching back to pencil causes the pencil image to be much larger than expected (but the penc

[2021-07-08 18:01] sarchang commented on #83
I slightly adjusted some values to make the pencil rays look better. Otherwise looks good; closing.

[2021-07-08 18:01] #83 closed

[2021-07-08 18:02] sarchang commented on #84
I slightly adjusted some values. We'll have to change all of this anyway when we receive the new artwork. Looks good; closing.

[2021-07-08 18:02] #84 closed

[2021-07-08 18:32] veillette commented on #72
Still present
[code]

[2021-07-08 18:35] veillette commented on #72
It fails at this point
[code]

[code]

[2021-07-08 18:55] veillette commented on #72
This happens rather irregularly on Bayes. My initial assumption is that it is a corner case.

Possibly when the spotlight gets some small that it becomes a point on the edge of the projector screen. This would create an a graph union that could potentially fail. This is pure speculation on my part.

I have not been able to reproduce it.

[2021-07-08 19:09] veillette commented on #89
We need to update the scale if the value of the imageProperty changes.

[2021-07-08 19:56] veillette commented on #89
Assigning to @sarchang  to check if it adresses the issue.

[2021-07-08 20:00] veillette opened #90 "delete unused strings"
[code]

[2021-07-08 20:09] veillette commented on #90
Assigning to @sarchang  to review.

[2021-07-08 20:11] sarchang commented on #90
Looks good.

[2021-07-08 20:11] #90 closed

[2021-07-08 20:18] sarchang commented on #77
Link to dev version: https://phet-dev.colorado.edu/html/geometric-optics/1.0.0-dev.1/phet/geometric-optics_en_phet.html

[2021-07-08 22:02] ariel-phet opened #91 "Consider making "Principal" the default option on the Lens screen"
I was playing around with the initial dev version of this sim, and it seems it would be better if the radio buttons were rearranged slightly so that "Principal" was the first choice.

In my experience we usually use the principal rays first, in addition the focal points have more meaning with the principal ray view, so I think their importance is highlighted if that is the default suggestion.

Wor

[2021-07-08 22:05] ariel-phet opened #92 "Consider changing background color"
I know the original geometric optics has this dark blue background, but it feels like it lacks some contrast, and could be improved upon.

Just for example, look at what openstax did when they tried performing a conversion:

https://archive.cnx.org/specials/137b787c-9c2c-4430-b4c0-c1f55e3921d2/geometric-optics/#sim-geometric-optics

I am not saying they necessarily made a great choice either, but

[2021-07-08 22:23] KatieWoe opened #93 "Odd looking Principal Rays"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/667. Mostly an odd visual behavior. It is, however, correct from a physics stand point, so I don't think it is a bug, but a second design pass may be desired. Specifically, the rays passing through the middle of the screen and bending or reflecting, even when the le

[2021-07-08 22:49] KatieWoe opened #94 "Image is not correct while changing Curvature Radius"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/667. When you change the curvature Radius of a lens or mirror the image seems to change incorrectly initially. If you move the object, the image corrects itself. It may also happen with the refractive index lens settings, but I'm having a bit of a difficult time tel

[2021-07-08 22:52] KatieWoe commented on #94
Also seems to happen with any virtual image.

[2021-07-08 22:58] sarchang commented on #89
Fixed; closing.

[2021-07-08 22:58] #89 closed

[2021-07-08 23:33] sarchang commented on #92
Consider black? Might also think about changing the other colors as well (rays, optical axis, optic, buttons)
![image](https://user-images.githubusercontent.com/29347882/125002532-698fd880-e012-11eb-8975-217a8c0d6682.png)

[2021-07-09 12:50] veillette opened #95 "remove branch animated Rays"
The branch is no longer needed.

[2021-07-09 12:53] veillette commented on #93
We will bring it up at our next design meeting (7/13)

[2021-07-09 12:55] veillette commented on #92
Thanks @ariel-phet  for chiming in and @sarchang for the screenshot. We will bring it up a our next design meeting.

[2021-07-09 14:11] veillette commented on #95
The branch has been removed.

[2021-07-09 14:11] #95 closed

[2021-07-09 14:28] veillette commented on #94
I can confirm that it is happening.

[2021-07-09 15:36] veillette commented on #94
This is now fixed although I do not understand why the previous approach did not work.

[2021-07-09 15:49] veillette opened #96 "Stopping point of the final rays affect the virtuals"
The display of the real rays affect the virtual rays when the representation is set to Light. The rays are drawn symmetrically, such that the position of the screen affects the virtual rays.

![image](https://user-images.githubusercontent.com/7633344/125104517-76acd600-e0ab-11eb-9449-1c590fffc3f5.png)

[2021-07-09 15:54] veillette opened #97 "For principal rays and light representation, some of the rays are not drawn on the side of the projector screen."
For principal rays and light representation, some of the rays are not drawn on the side of the projector screen.

![image](https://user-images.githubusercontent.com/7633344/125105225-3e59c780-e0ac-11eb-9c4a-e056fd78b46f.png)

[2021-07-09 15:55] veillette commented on #97
The missing ray will appear eventually if the screen is moved further to the right.

[2021-07-09 16:18] veillette opened #98 "Consider simplifying and compartmentalize LightRay responsibilities"
The LightRay class should have different methods

A method should identify all the intersections points of a real ray with shapes (lens or mirror) as well as screenProjector.
A method should identify the starting point  for the virtual ray (on the optic).
A method should identify the final position of a real ray given the propagation time. and representation.
A method should identity the final pos

[2021-07-09 16:26] KatieWoe opened #99 "Marginal Rays Miss Mirror if Mirror Moves"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/667. Only seen on mirror screen so far. If you have marginal rays on and move the mirror, the outside rays will not follow to the margins of the new mirror position. They will stay in the same position and miss the mirror if it move far enough. So only the middle ra

[2021-07-09 16:50] KatieWoe opened #100 "Lens/Mirror can be lost off screen"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/667.
When dragging the lens/mirror up and down, you can drag it bellow the nav bar or above the top of the page. If you then let go you won't be able to pick it up again. Depending on the circumstance you may be able to change the window size or lens/mirror diameter

[2021-07-09 18:19] KatieWoe opened #101 "Focal length is equal to object distance"
For https://github.com/phetsims/qa/issues/667. Seen on Win 10 Chrome while fuzz testing.
This notice came up when fuzz testing. It doesn't seem to be an error, but MV says on Slack:

<img width="359" alt="thesealerts" src="https://user-images.githubusercontent.com/41024075/125120595-e2913d80-e0af-11eb-9084-c9fda0415373.png">

[2021-07-09 19:16] KatieWoe opened #102 "Light going behind lens leads to odd behavior"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/667.
On the lens screen, if you move the light source far to the right the light is starting behind the lens. The different rays have strange behavior and the image on the screen behaves as though it is passing through the lens somehow.

**Visuals**
![behindlens](ht

[2021-07-09 20:17] KatieWoe opened #103 "Flashing screen on iPad when object passes focal point"
**Device**
iPad
**OS**
iPadOS 14
**Browser**
Safari
**Problem Description**
For https://github.com/phetsims/qa/issues/667. I wasn't able to get this to occur on Win 10 Chrome.
When on the mirror screen with a concave mirror, moving the object back and forth over the focal point would cause the screen to flash. It was inconsistent, so it may happen on on screens/scenes as well.
**Visuals**

https:/

[2021-07-09 21:22] phet-steele commented on #72
In a setup like below, I can at least get the sim to freeze up (from poor performance, I assume), but I get no error. Until such time that I determine if this screenshot is at all related to this issue, or this is its own issue, I will just leave it here.

![image](https://user-images.githubusercontent.com/5863899/125137135-52f88880-e0c9-11eb-92b7-cecbfc49ccf8.png)

[2021-07-09 21:23] KatieWoe opened #104 "Rulers jump out of box far to the left"
**Device**
iPad
**OS**
iPadOS 14
**Browser**
Safari
**Problem Description**
For https://github.com/phetsims/qa/issues/667. Seen on iPad Safari, but not on Win 10 Chrome, even with touch.
When dragging the rulers out of their box, they pop out far to the left and not under the finger dragging them out.

https://user-images.githubusercontent.com/41024075/125137195-73284780-e0c9-11eb-8194-45161aca6df

[2021-07-09 21:28] KatieWoe commented on #104
Also did not happen on Safari 14.1 on a MacOS 10.15.7. This device does not have touch.

[2021-07-09 21:32] stemilymill commented on #104
I noticed this on Win10 chrome 91.0.4472.124 a bit earlier, but only on the Mirror screen, and with a mouse. Doesn't seem to happen on master.

![should the ruler appear there](https://user-images.githubusercontent.com/85511101/125137678-2e0d1100-e0db-11eb-998b-31e192643b5e.gif)

also, in a lesser and different way, on the Lens screen (ignore the brown background) :

![ruler jumps when clicked](ht

[2021-07-09 21:47] KatieWoe commented on #104
I ended up seeing this with the second lamp on Win 10 Chrome
![secondlamp](https://user-images.githubusercontent.com/41024075/125138979-e4b5c500-e0cc-11eb-92bb-0dc9895a9bd3.gif)

[2021-07-09 21:49] stemilymill commented on #104
I wasn't sure if that is what https://github.com/phetsims/geometric-optics/issues/82 is referring to?

[2021-07-09 21:57] phet-steele commented on #104
I believe this is also #56

[2021-07-09 22:07] phet-steele commented on #69
I should note that with the current timing, the spotlight never appears at all if the screen is placed in front of the point where the light converges before the show/hide button is toggled.

![image](https://user-images.githubusercontent.com/5863899/125140114-0ca62800-e0cf-11eb-9d92-57e6bc044d0a.png)

The sim waits for the light to converge, so if the screen is dragged backwards and past the conv

[2021-07-09 22:22] KatieWoe opened #105 "Color-blind filter makes telling rays from different sources apart difficult"
**Device**
Dell
**OS**
Win 10
**Browser**
Chrome
**Problem Description**
For https://github.com/phetsims/qa/issues/667. Using the Chrome color blind extension "Let's get color blind" I saw that the green and red ray lines for the two different sources are difficult, if not impossible, to tell apart.
<img width="809" alt="colorblindrays" src="https://user-images.githubusercontent.com/41024075/12514

[2021-07-09 22:50] KatieWoe opened #106 "Second source dot can be hard to grab with touch"
**Device**
iPad
**OS**
iPadOS 14
**Browser**
Safari
**Problem Description**
For https://github.com/phetsims/qa/issues/667. When trying to grab the second source on an object with touch, I often grabbed and dragged the object instead.

[2021-07-10 20:37] brooklynlash commented on #102
Also seen on Win10 FF

[2021-07-10 20:41] brooklynlash commented on #99
Also seen on Win10 FF.

[2021-07-12 15:03] veillette commented on #103
The mirror equation (as well as the lens equation) is given by the sum of harmonics. This implies that there must be a discontinuous singularity for the position of the target.

A slight change of position of the object (when crossing the focal point) can lead the target to go from a position of +infinity to - infinity.
Since a target at infinity as infinite height, its size can bleed into the pla

[2021-07-12 15:10] veillette commented on #104
This is indeed related to #56.

[2021-07-12 16:13] samreid commented on #68
I am unable to reproduce this problem on my M1 Macbook Air.  Are you testing with the mouse or keyboard?  The stack traces say a lot of things about key states and the alt key.

[2021-07-12 16:31] kathy-phet commented on #68
@sarchang - can you capture with a screen video?

[2021-07-12 17:03] jessegreenberg commented on #68
Indeed, the error is from KeyStateTracker, related to the "Alt" key. The error shouldn't happen, but was the "Alt" key pressed at any time this happened?

I wasn't able to see this happen on my Windows 10 machine, I switched between radio buttons frequently and pressed alt/ctrl/shift modifier keys frequently while doing so.

[2021-07-12 17:28] jessegreenberg commented on #68
I just hit this error on my Windows 10 machine, but I am not sure how I got it and haven't been able to see it again. But since I was able to see it, it may not be platform specific.

[2021-07-12 18:45] sarchang commented on #68
I am unable to reproduce it on my M1 Macbook Air as of now. I was using my trackpad @samreid. I was not pressing any of the  alt/crtl/shift modifier keys when clicking between the radio buttons.

[2021-07-12 18:52] jessegreenberg commented on #68
@sarchang would you mind commenting which keyboard layout you use? Do you use a custom layout or one other than English (United States)?

[2021-07-12 18:59] sarchang commented on #68
Nope it's just English (US).

[2021-07-12 19:11] jessegreenberg commented on #68
OK thanks - The only reason I asked is because I could only get it to happen when I changed my keyboard layout. In those cases KeyStateTracker state is correct but the assertion is not, and I opened https://github.com/phetsims/scenery/issues/1249 to either remove this assertion or investigate a different way to implement it.

[2021-07-13 12:50] veillette opened #107 "Use font awesome 5 for icons in ShowHideToggleButton"
See https://github.com/phetsims/sherpa/issues/83#event-5010659616

[2021-07-13 13:01] veillette commented on #107
It looks a tad different than before.
I assign the label meeting:design for review by the design team.

[2021-07-13 13:56] veillette commented on #99
The rays are missing the position of the mirror because they are using a stale value of the mirror position.

[2021-07-13 14:12] veillette commented on #99
The marginal rays are now receiving the correct position of the mirror.

[2021-07-13 14:18] veillette commented on #101
The console.log statements in TargetImage have been removed. There are no more console.log statements in the sim.

[2021-07-13 14:19] veillette commented on #101
Assigning to @sarchang  to review.

[2021-07-13 14:20] veillette commented on #99
Assigning to @sarchang to review.

[2021-07-13 14:23] veillette commented on #103
A similar phenomenon should be present in the lens screen as well.

[2021-07-13 14:46] veillette commented on #103
On second thought, I am not sure if this is a bug, but a "feature".

When one is walking toward a large concave mirror, there is a singularity at the focal point where your reflection goes from being inverted to upright.  The reflection gets incredibly and distorted (because irregularities in the mirror surface get amplified at the focal point). In some ways, this "flashing" of the screen illustra

[2021-07-13 14:46] veillette commented on #103
I'll assign the meeting-label, such that we can discuss it with the design team.

[2021-07-13 15:18] sarchang commented on #101
Looks good; closing.

[2021-07-13 15:18] #101 closed

[2021-07-13 15:50] sarchang commented on #99
Rays move with the mirror now; closing.

[2021-07-13 15:50] #99 closed

[2021-07-13 15:55] sarchang commented on #105
Related to #66

[2021-07-13 15:59] veillette opened #108 "Consider refactoring TargetImage"
The chipper issue https://github.com/phetsims/chipper/issues/1060 is considering a suffix Image for all images.

Geometric Optics uses the term "Image" in the physical sense  used in geometric optics.
It may be preferable to limit it to Target instead and add  documentation in model.md

[2021-07-13 16:02] veillette commented on #85
Tagging with Metting:design to ensure that we are on the right track with this feature.

[2021-07-13 16:03] veillette commented on #81
Let's run the last two comments by the design-team.

[2021-07-13 17:12] veillette commented on #72
I tried to setup cases where the intersections of two shapes might fail, say a circle "kissing" a rectangle
[code]

but that does not trigger an assertion.

[2021-07-13 17:16] veillette commented on #72
Even the case of disk of radius 0 on the edge of a rectangle is handled correctly.

[code]

[2021-07-13 18:09] sarchang commented on #91
From Amy: Leave "marginal" as default.

[2021-07-13 18:10] sarchang commented on #107
From Amy: make eye toggle icon logo smaller so that the slash is further from the border of the button

[2021-07-13 18:41] veillette commented on #105
Assigning to @arouinfar . The colors can be changed in the GOcolorProfile

[2021-07-13 18:44] veillette commented on #91
We discussed in the 7/13 meeting the pros and cons of marginal vs principal rays.

Assigning back to @arouinfar.

[2021-07-13 18:51] veillette commented on #85
In the 7/13, @arouinfar confirmed that our approach is sound.

[2021-07-13 18:52] veillette commented on #93
We brought it up at the design meeting (7/13) . Assigning to @arouinfar to  make design decision if needed.

[2021-07-13 19:27] veillette commented on #94
This is now fixed and working.

[2021-07-13 19:27] #94 closed

[2021-07-13 19:39] veillette opened #109 "Create a prototype for half split images"
In order to give 3D perspective, it was suggested that the object and images be split in half vertically, where each half would be on a different z layer.  The optical axis and rays could then be allow to fit within the two z-layers to give a sense of depth.

The flash simulation uses a similar approach with the projector screen (but not the images).
![image](https://user-images.githubusercontent.

[2021-07-13 19:42] veillette commented on #92
Brought up for discussion at the 7/13 design meeting. Assigning back to @arouinfar to make final decision.
FYI, the background color has been hoisted to the color profile.

[2021-07-13 19:57] veillette commented on #107
Assigning to @sarchang to finish implementing

[2021-07-13 19:59] veillette commented on #106
The touch and mouse bounds could be dilated. Assigning to @sarchang to implement.

[2021-07-13 20:02] veillette commented on #102
The dragListener for the lightsource is the same as the dragListener for the object. The current assets are of different size and have been scaled up (or down), so what is correct for the pencil is wrong for the light source.  This should be corrected once we get the new assets, which should be of the same size.

[2021-07-13 20:03] veillette commented on #100
This is related to #57 .

[2021-07-13 20:05] veillette commented on #81
Our approach was greenlighted by the design team on 7/13.

[2021-07-13 20:07] veillette commented on #64
Our work is done here. Closing

[2021-07-13 20:07] #64 closed

[2021-07-14 12:55] veillette commented on #103
We discussed it during the 7/13 design meeting.

[2021-07-14 16:12] arouinfar opened #110 "Items for Teacher Tips"
For #1

- [x] Singularity when an object is placed exactly at the focal point that results in an infinitely large image - #103
- [x] Guides correspond to marginal rays when the object distance = 2f.
- [x] Ray path through diverging lens - https://github.com/phetsims/geometric-optics/issues/124
- [x] Perspective of the picture frames implies that the observer is looking from the side. Technically y

[2021-07-14 16:19] arouinfar commented on #103
In the 7/13 design meeting, we discussed the possibility of hiding the image when it becomes sufficiently large. However, given the zoom range, it's possible to create very large images that aren't the result of the singularity.  It's quite tricky to place the object exactly at the focal point, and when a user succeeds, the physics is correct.  I don't think we need to do anything here, aside from

[2021-07-14 16:19] #103 closed

[2021-07-14 19:47] Nancy-Salpepi commented on #68
I have an M1 MacBook Air and this happened to me today as well while using the most recent version of Chrome. I will try to reproduce.

[2021-07-14 20:52] Nancy-Salpepi opened #111 "Incorrect number of marginal rays with concave lens at maximum diameter"
**Test device**
MacBook Air (M1 chip)

**Operating System**
MacOS version 11.4

**Browser**
Chrome--most recent version (91.0.4472.114)

**Problem description**

https://github.com/phetsims/qa/issues/667

3 marginal rays aren't shown when the concave lens is at a diameter of 1.3 (max).

**Steps to reproduce**

1. Go to lens screen
2. Choose the concave lens
3. Increase diameter to 1.3
4. Move penc

[2021-07-14 21:21] jessegreenberg commented on #68
I just pushed a fix for https://github.com/phetsims/scenery/issues/1249 and I can no longer get this to happen in my "United Kingdom" keyboard layout. I believe this is fixed, @Nancy-Salpepi can you please try again after this comment? If it cannot be observed now I think this can be closed.

[2021-07-14 21:23] KatieWoe commented on #68
@Nancy-Salpepi make sure you test on master

[2021-07-15 12:59] Nancy-Salpepi commented on #68
I'll work on that now and let you know.

[2021-07-15 13:27] Nancy-Salpepi commented on #68
I wasn't able to replicate it.

[2021-07-15 14:25] jessegreenberg commented on #68
OK great, thank you!

[2021-07-15 14:41] veillette commented on #111
Thanks @Nancy-Salpepi.
We use an heuristic argument to determine the initial direction of the rays for the concave lens, which doesn't guaranteed that they will go through the front and back shape.

There is a mathematical way to guarantee that the initials rays will go through the two shapes.

[2021-07-15 15:31] sarchang commented on #107
Increased margin. Ready for review by @veillette

[2021-07-15 15:41] Nancy-Salpepi opened #112 "Rays, object and image move in front of bottom panel rather than behind"
**Test device**
MacBook Air (M1 chip)

**Operating System**
macOS version 11.4

**Browser**
chrome (Version 91.0.4472.114)

**Problem description**
For https://github.com/phetsims/qa/issues/667
The rays, object or image move in front of the bottom panel rather than behind (they move behind the zoom buttons, ruler and combo box).

**Steps to reproduce**
1. Choose either the lens or mirror screen
2.

[2021-07-15 16:21] veillette commented on #112
Thanks @Nancy-Salpepi .

The z-layering of the bottom of the screen is different than the top of the screen.

Some of these interactions will need to review by the design team.

Tagging with meeting:design.

[2021-07-15 16:29] veillette commented on #107
That looks  good. Closing

[2021-07-15 16:29] #107 closed

[2021-07-15 18:17] veillette commented on #98
LightRay has mostly be rewritten. The most important change is the introduction of a new class called Ray which extends Ray2. The ray class can described a semi infinite ray and a ray a finite length. A lightRay can be understood a combination of multiple Ray(s).

The Ray class can allow to more easily keep track of the lengths, making the transfer from an array of rays to line shape that that dep

[2021-07-15 20:44] sarchang commented on #68
Reopening because it happened to me again today. I was able to select two radio buttons simultaneously. It went back to normal as soon as I moved my cursor. I was not touching the keyboard. It happened again when assertions were enabled, but nothing was triggered. I suspect this has something to do with the cursor/display because at one point one and a half of the radio buttons were light blue and

[2021-07-15 20:46] samreid commented on #68
This sounds like a dirty paint region issue, perhaps @jonathanolson knows more?

[2021-07-15 21:03] Nancy-Salpepi commented on #68
Let me know if you want me to try again to replicate.

[2021-07-15 21:10] sarchang commented on #76
closing

[2021-07-15 21:10] #76 closed

[2021-07-15 21:41] jessegreenberg commented on #68
Thanks @Nancy-Salpepi and @sarchang.

Very odd. Also wondering if you have seen this outside of of Zoom, I have seen some cases where Zoom/screen sharing causes odd behaviors.

The assertion thrown in https://github.com/phetsims/geometric-optics/issues/68#issue-935977988 does not seem related to this anymore so removing my assignment, but feel free to pass it back if I can help.

[2021-07-15 22:45] sarchang commented on #106
I expanded the touchArea bounds for the movable point (red circle). I didn't get the chance to figure out how to make the touch bounds a circle, so it's a square for now. Perhaps use `movableNode.setTouchArea()`? The argument for that expression has to be a `kite.Shape` and I was not able to figure out how to make a circle. Assigning @veillette for help.

![image](https://user-images.githubusercon

[2021-07-16 18:06] veillette commented on #111
IN the process of addressing this issue for marginal rays of a concave lens, I created a method to find the extremum point. This can be leverage to find the exact size of the spotlight if we wish to go in that direction.

[2021-07-16 18:55] veillette commented on #72
@jonathanolson , I think this is a Kite bug that involves Shape.intersection.

We are passing two shapes and want to determine their intersections.

[code]

ScreenShape is a fixed, well defined parallelogram.
DiskShape changes and could give rise to ellipses of different positions and radii.

I added some assertions to diskShape to make sure its shape is legit. However, I have not been able to tri

[2021-07-16 18:56] veillette commented on #72
Assigning @jonathanolson to look into it.

[2021-07-19 13:36] veillette commented on #97
This is now fixed following the work in #98. Closing

[2021-07-19 13:36] #97 closed

[2021-07-19 13:37] veillette commented on #69
This is now fixed following the work in #98. Closing

[2021-07-19 13:37] #69 closed

[2021-07-19 13:37] veillette commented on #96
This is now fixed following the work in #98. Closing

[2021-07-19 13:37] #96 closed

[2021-07-19 13:38] veillette commented on #86
This is now fixed following the work in #98. Closing

[2021-07-19 13:38] #86 closed

[2021-07-19 13:39] veillette commented on #70
This is now fixed following the work in #98. Closing

[2021-07-19 13:39] #70 closed

[2021-07-19 13:40] veillette commented on #98
Our work has been merged into master. Closing.

[2021-07-19 13:40] #98 closed

[2021-07-19 13:42] veillette commented on #111
The number of rays is set to be three even for marginal rays and concave lens. Closing

[2021-07-19 13:42] #111 closed

[2021-07-19 13:44] veillette commented on #104
Tracking this issue in #56. Closing.

[2021-07-19 13:44] #104 closed

[2021-07-19 14:48] veillette commented on #106
@sarchang.: touchArea can take Bounds2 or Shape or null. If you would like to have the shape of a circle, then you can create a shape circle with a larger radius than the icon.

RoundButton and the ResetAllButton have approaches to deal with circular shape.

From RoundButton

[code]
However, the approach you took works well too. The touch area are not directly visible to the user and there is no h

[2021-07-19 15:14] veillette commented on #77
The dev version was published.
Some of these issues have not ben tackled but we are now tracking relevant issues on a project Board. Closing

[2021-07-19 15:14] #77 closed

[2021-07-19 16:21] sarchang commented on #106
@KatieWoe I changed the touch area bounds to be a larger square (see above). Can you test this on the iPad and tell me if it would be better if I made the touch bounds a circle? Or is a larger square good enough?

[2021-07-19 17:45] KatieWoe commented on #106
Feels much better on master. Only did a quick check, but this seems to be a good size. I don't think circle vs square will make too much of a difference that a user could tell.

[2021-07-19 18:23] veillette commented on #81
Cueing arrows have been added. Their style was borrow from the implementation in Projectile Motion.
The visibility is tied to the end event of the drag Listener.

[2021-07-19 18:26] veillette commented on #74
There are 8 instances of Movable_Point and 31 matches for movablePoint

[2021-07-19 18:41] veillette opened #114 "Mismatch between marginal rays and spotsize"
![Geometric Optics screenshot (4)](https://user-images.githubusercontent.com/7633344/126210178-7dba3b6e-67ee-40cf-b495-52e43278a5f6.png)

The spotsize and the marginal ray incident directions are determined according to two independent calculations.
The results yield identical results for convex lenses but it differ for concave lenses.
The difference is not large but it gets more sizable as the ra

[2021-07-19 20:01] sarchang commented on #106
Resolved

[2021-07-19 20:01] #106 closed

[2021-07-19 20:42] sarchang opened #115 "Spotlight doesn't appear when rays are set to 'none'"
Spotlight appears when rays are present but disappears when rays are set to 'none' and the user starts dragging the screen.
![image](https://user-images.githubusercontent.com/29347882/126224259-fa3bd297-7d63-413e-b3e4-52b5454f75b4.png)

[2021-07-20 12:42] veillette opened #116 "constrain object, light sources and optic with controlPanel"

[2021-07-20 14:01] veillette commented on #116
The center of the optic is bound by the top of the control panel.

[2021-07-20 14:13] veillette opened #117 "Vertical optic line is at the wrong location for mirror"
![image](https://user-images.githubusercontent.com/7633344/126339320-bb3fe1fb-19f6-4e62-a637-4c86c8f6bb1e.png)

[2021-07-20 15:30] sarchang commented on #115
Looks good

[2021-07-20 15:30] #115 closed

[2021-07-20 15:35] sarchang commented on #100
Optic is constrained from top of control panel to bottom of toolbox panel

[2021-07-20 15:35] sarchang commented on #57
see #100

[2021-07-20 15:35] #57 closed

[2021-07-20 16:06] sarchang commented on #100
Should the optic go over the control panel?

[2021-07-20 17:24] veillette opened #118 "ProjectorScreen, spotlight and Time Arrival of rays."
Observed in https://phet-dev.colorado.edu/html/geometric-optics/1.0.0-dev.6/phet/geometric-optics_en_phet.html

The spotlight on the projector screen is activated when a ray reaches the screen ( except for None Rays, where it is on by default)

In most cases, this work well: Marginal rays are the marginal rays of the spotlight and for Many rays, the bundle of light rays cover the spotlight.  Howev

[2021-07-20 17:43] veillette commented on #118
![_Geometric Optics_](https://user-images.githubusercontent.com/7633344/126370755-6b790880-2c4c-4efe-8f71-e2efd8dc7d35.gif)

[2021-07-20 19:08] sarchang commented on #112
From Amy: this is fine, we can have object and image on top of the control panel.

[2021-07-20 19:08] #112 closed

[2021-07-20 19:09] sarchang commented on #118
From Amy: this is a corner case and is probably fine as is.

[2021-07-20 19:10] sarchang commented on #100
From design meeting: add padding to the upper and lower drag bounds for the optic.

[2021-07-20 19:11] sarchang commented on #81
From design meeting: looks good

[2021-07-20 19:11] #81 closed

[2021-07-20 19:18] sarchang commented on #117
Line is in the correct position now.

[2021-07-20 19:18] #117 closed

[2021-07-20 19:21] sarchang opened #119 "Length of vertical dotted line"
The length of the vertical dotted line should go from the top of the control panel to the upper layout bound of the sim. Line should go beneath control panel and combo box.

[2021-07-20 19:23] sarchang commented on #116
Behavior approved by design team

[2021-07-20 19:23] #116 closed

[2021-07-20 19:26] veillette opened #120 "Move Second Source to a new Node, so that it can be on top of the lightrays."
The z-layer of the second source and cueing arrows should be change. They should be on top of the lightrays.

[2021-07-20 19:26] sarchang opened #121 "Set initial position of second source further away from object rays"
Set initial position of second source further down so that rays are less crowded and it is easier to see that the second source is movable.

![image](https://user-images.githubusercontent.com/29347882/126383733-559bfcbb-1a02-4818-b5e5-7a9eaa3b7751.png)

[2021-07-20 19:28] sarchang opened #122 "Convert slider units to cm"
Convert curvature radius, refractive index, and diameter displayed from meters to centimeters.
Remove units from refractive index.

[2021-07-20 19:29] veillette opened #123 "Convert the simulation to use cm as base units."
Following the work on #122, the model units should be updated throughout to use centimeters.

[2021-07-20 19:32] sarchang opened #124 "Rays that only pass through front and top sides of diverging lens should still bend"
Rays that only pass through the front and top sides of a diverging lens should bend at the front of the diverging lens and then leave through the top.
![image](https://user-images.githubusercontent.com/29347882/126384377-6576f7c8-05dd-43b2-a0fa-4455f10bd4a8.png)

[2021-07-20 19:35] sarchang opened #125 "Rays should look like they're passing through things."
(This comment was edited by @pixelzoom.)

The optical axis should appear to poke through the object and the image (real and virtual).

The optical axis should also appear to poke through the projection screen, to prevent a 3D optical illusion effect.

Ditto for rays.

This should not apply to light sources.

[2021-07-20 19:36] sarchang opened #126 "Optical axis should pass through projection screen"
The optical axis should appear to poke through the projector screen to prevent a 3D optical illusion effect.

[2021-07-20 19:38] sarchang opened #127 "Icon for lamp/screen in combo box should be a larger head of the lamp"
Create an icon from the head of the lamp to use in the combo box menu.

[2021-07-20 19:59] veillette commented on #125
This should not apply to light sources.

[2021-07-20 20:30] veillette opened #128 "Merge options appropriately."
I light on #122, we discovered that we did not merge options correctly, due to a faulty understand of the merge function.

The merge function has a side effect on the first parameters.

We should go over other merge functions in geometric optics.

[2021-07-20 20:36] veillette commented on #122
There was a faulty logic about the way we were passing the options for the NumberDisplay.
Tracking other possible merge problems in #128. Also tracking the changes of units in the simulation #123.

Closing

[2021-07-20 20:42] sarchang commented on #121
Initial position is now:
![image](https://user-images.githubusercontent.com/29347882/126392759-2b1b4f9f-71f3-4a32-9b7d-aa045774222b.png)

[2021-07-20 20:42] #121 closed

[2021-07-20 21:00] sarchang commented on #119
![image](https://user-images.githubusercontent.com/29347882/126394667-285947e0-df83-4d10-8ded-51dd6f34e35d.png)

[2021-07-20 21:00] #119 closed

[2021-07-21 09:22] veillette commented on #122
Beyo

[2021-07-21 09:38] veillette commented on #128
We search for all merge calls within geometric optics. Closing

[2021-07-21 09:38] #128 closed

[2021-07-21 14:36] veillette commented on #123
Assigning to @sarchang  to review.

[2021-07-21 14:37] veillette commented on #122
The sliders have been updated to take centimeters and the "delta" step values has been updated to 1.  Assigning to @sarchang  for review.

[2021-07-21 14:44] veillette commented on #124
I have handled the rays that do not go through the back of the lens.
However, there is still a dependence on "firstPoint" that is the ray must be able to go through halfway through the lens.
This may result is some odd effects.

@sarchang, can you tell me what you think?

[2021-07-21 17:32] sarchang commented on #124
I think this is probably fine; maybe we should ask Amy just to confirm? I will also be on the lookout during the interviews to see if students notice this and are confused by it.

[2021-07-21 18:13] sarchang commented on #123
Looks good so far. I did not find any weird behavior but will re-open this issue if anything comes up.

[2021-07-21 18:13] #123 closed

[2021-07-21 18:13] sarchang commented on #122
Looks good so far. I did not find any weird behavior but will re-open this issue if anything comes up.

[2021-07-21 18:13] #122 closed

[2021-07-21 18:37] veillette commented on #74
There are no more references to "movable" that applies to the second source.

[2021-07-21 18:37] #74 closed

[2021-07-21 19:14] veillette commented on #72
I added assertions to make sure that the two shapes that are passed are appropriate. We will monitor Bayes to see if that proves useful.

[2021-07-21 19:15] veillette commented on #124
That sounds like a good approach.

[2021-07-21 20:06] veillette commented on #108
All the variables with the suffix Image are of the class Image.

[2021-07-21 20:06] veillette commented on #108
Closing.

[2021-07-21 20:06] #108 closed

[2021-07-21 20:25] sarchang commented on #127
Current design of combo box: logos are all the same size
![image](https://user-images.githubusercontent.com/29347882/126555066-e2693787-263b-48fa-b8c5-f7131bb0d92f.png)
Maybe later we will create icons without backgrounds; maybe it will look cleaner and less crowded

[2021-07-21 22:12] sarchang commented on #24
Still need to adjust position of object label

[2021-07-22 13:32] veillette commented on #127
@sarchang : You should note where you got the logo from, and their permission license. If not, you can put your name as the creator.

[2021-07-22 16:43] arouinfar commented on #124
I think this approach sounds good. Here's what the worst case looks like (topmost ray in the lens):

![ray](https://user-images.githubusercontent.com/8419308/126552417-12ffce98-c5d5-4cf6-b48e-d49569b3ebfb.gif)

I'll add a note to the Teacher Tips about it.

[2021-07-22 16:54] veillette commented on #51
We have created a static method in CurveControl  that can create  a scenery Node that depends on radius, diameter, curve and type of optic.

This is now leveraged in the curveControl class  as well as the Mirror and Lens ScreenView.

[2021-07-22 16:55] #124 closed

[2021-07-22 17:01] veillette commented on #51
![image](https://user-images.githubusercontent.com/7633344/126678942-14fcc8ce-9051-4c5b-a9f2-1cfb072d0021.png)

I assigned preliminary sizes and colors, but I'm assigning it @arouinfar  for further design decisions.

[2021-07-22 17:59] veillette opened #129 "Internal Code Review CheckList (MV and SC)"
# PhET Code-Review Checklist (a.k.a "CRC")

* Mark failed items with ❌ and note any related GitHub issues.
* Call attention to items with ⚠️ and note any related GitHub issues.
* Mark items that are not applicable with **N/A**

## Specific Instructions

_Provide specific instructions here. For example: known problems that will fail CRC items, files that can be skipped, code that is not completed,

[2021-07-22 18:48] veillette commented on #109
Similar to #126

[2021-07-22 18:49] veillette commented on #85
See #109 for a similar idea for object and target image

[2021-07-22 18:55] veillette opened #130 "Create a dev test for MD"
We had a request earlier this semester for Geometric Optic.
We should deploy a dev and send it to MD for his summer class.
Deadline: 7/23.

[2021-07-22 19:02] veillette commented on #88
It looks as if I did not tag the commits correctly. Nevertheless, the work has been done.

The GeometricOpticModel takes many parameters such as the optic position, radius of curvature, etc, and then passes it to optic, avoiding the uses of abstract subclass.

Closing.

[2021-07-22 19:02] #88 closed

[2021-07-22 21:35] sarchang commented on #24
I think we're finally done with the labels. Ready for review by @veillette

[2021-07-22 21:38] sarchang commented on #91
From my experience with student interviews on this sim, the current order (marginal, principal, many, none) is a good order and makes the most sense for students. Principal rays are very confusing for students who have never taken optics. Closing.

[2021-07-22 21:38] #91 closed

[2021-07-22 21:40] sarchang commented on #127
Should we will create icons without backgrounds (like the lamp logo)? Maybe it will look cleaner and less crowded?

[2021-07-22 21:42] sarchang commented on #66
Closing this duplicate issue; tracking in #105

[2021-07-22 21:42] #66 closed

[2021-07-23 00:51] veillette commented on #130
@sarchang released https://phet-dev.colorado.edu/html/geometric-optics/1.0.0-dev.8/
I sent an email to MD regarding it.
Closing.

[2021-07-23 00:51] #130 closed

[2021-07-23 13:35] veillette commented on #114
The extremum points in conjunction with the target point can be used to determine the size of the cone of  light.

[2021-07-23 13:39] veillette commented on #72
Using BinaryResult instead of the more general intersection method still trigger assertions.
This occurs despite filtering the zero area shape to BinaryResult.
[code]

[2021-07-23 16:09] veillette opened #131 "Guides position for Concave lens."
For the convex lens, the position of the guides is at the extreme ends of the lens. This position is fixed for a given lens diameter.

![image](https://user-images.githubusercontent.com/7633344/126810648-aee55fb8-aef5-484f-bf43-6ad0041ab628.png)

When turning on the marginal rays, the rays go through the extreme ends of the lens, such that the left guides match the direction of the ray.

For a con

[2021-07-23 16:22] veillette commented on #131
I should note that the internal angle of the guides, i.e. the deflection angle, is solely a property of the lens.
This is the defining feature of the guides, namely that the internal angle does not depend on the object position.

The internal angle depends on the focal length AND the vertical position of the guide.
If we dynamically readjust the position of  the guides based on the object position

[2021-07-23 18:12] sarchang commented on #24
Actually the image label should be attached to the TargetNode instead of the target model position so that it is always below the picture frame

[2021-07-23 18:25] jonathanolson commented on #72
(I will be looking into this)

[2021-07-26 23:16] arouinfar commented on #91
@ariel-phet I appreciate the suggestion, there was some internal debate between principal and marginal rays, but we ultimately decided to keep marginal rays the default option. Principal rays are certainly more useful in the setting of an optics course, but they are not as intuitive for learners. This is particularly true when moving the object far enough away from the optical axis that the rays n

[2021-07-27 02:36] kathy-phet commented on #72
This is really reproducible ...
From the lens screen
Select Light
Switch to principle rays
Use the slider to reduce the refractive index. It seems to happen every time to me.

[2021-07-27 12:40] veillette commented on #72
Thanks @kathy-phet.
I was able to reproduce.

Reduce the slider until you reach the index of refraction 1.36.

![image](https://user-images.githubusercontent.com/7633344/127155029-3b44951f-4192-4e14-ae09-8ab49f4a3448.png)

[2021-07-27 13:32] veillette commented on #72
In the above case, it is the "second source" spotlight that fails.

[2021-07-27 14:00] veillette opened #132 "Magic Numbers in TargetNode and SourceObjectNode"
As part of the work on #129, we should remove most (all?) magic numbers that are related to the positioning of the objects, and images.

[2021-07-27 14:17] veillette commented on #24
Adding bounds to the target model should allow the positioning of the label.

[2021-07-27 15:59] veillette commented on #24
Both target and sourceObject have model bounds that can be used to position the label accurately without ad hoc values. Closing

[2021-07-27 15:59] #24 closed

[2021-07-27 18:52] veillette opened #133 "Incorrect ruler length with `shuffleListeners` query parameter"
As part of the work on #129, we found that  run the simulation with  the query parameters ea&shuffleListeners lead to an unexpected behavior.

Putting a ruler within the playArea and zooming out leas to a ruler that is twice as long as expected.

![image](https://user-images.githubusercontent.com/7633344/127211072-3d95466d-9c9e-485b-b548-ebb53d5414c7.png)

[2021-07-27 19:40] veillette opened #134 "model.md"
From the CRC:

See https://github.com/phetsims/geometric-optics/blob/master/doc/model.md

[2021-07-27 19:42] veillette commented on #134
Duplicate of #36

[2021-07-27 19:42] veillette opened #135 "implementation-notes.md"
From the CRC:

See https://github.com/phetsims/geometric-optics/blob/master/doc/implementation-notes.md

[2021-07-27 20:08] veillette commented on #56
I can confirm that if we remove the dispose call, then the issue disappears ( but then we created a memory leak).
If we add back the dispose function but remove the call to super.dispose, then the problem goes away.

The initial positioning of the rulerNode is done in toolboxPanel where we create a forward listener on the icon node.
[code]

If we do not click on the zoom button initially, then the

[2021-07-27 20:32] veillette commented on #56
The dispose function in GeometricOpticsRulerNode is the only one in the simulation. We have tried to create a simulation where the listeners, observers are created for the lifetime of the simulation to avoid creating memory leak.  However, because RulerNode from scenery is not mutable and that we have extended GeometricOpticsRulerNode with RulerNode, we have been forced to create a brand new Geome

[2021-07-28 14:53] veillette opened #136 "Self review each class."
COMMON
 model
- [x] FocalPoint.js
- [ ] GeometricOpticsModel.js
- [ ] LightRay.js
- [ ] LightRayMode.js
- [ ] LightRays.js
- [ ] Optic.js
- [ ] Ray.js
- [ ] Representation.js
- [ ] Ruler.js
- [ ] SourceObject.js
- [ ] Target.js
view
- [ ] CurveControl.js
- [ ] FocalPointNode.js
- [ ] GeometricOpticsControlPanel.js
- [ ] GeometricOpticsRulerNode.js
- [ ] GeometricOpticsRulersLayer.js
- [ ] Geometri

[2021-07-28 14:57] veillette commented on #136
Should review for

- [ ] All classes, methods and properties are documented.

- [ ] Documentation at the top of .js files should provide an overview of purpose, responsibilities, and (where useful) examples of API use. If the file contains a subclass definition, it should indicate what functionality it adds to the superclass.

[2021-07-28 19:21] veillette opened #137 "add a query parameter (showGuides=false) to hide guides"
AFter considering #131 in the design meeting, we decided to leave them as is but to add a query parameter that would allow them  to be hidden if needed.

[2021-07-28 19:22] veillette commented on #137
The query parameter will be public and a note should be attached to the teacher tip before as part of this issue.

[2021-07-28 19:26] veillette opened #138 "Virtual image checkbox should be on by default"
Decision from 7/28 design meeting.

[2021-07-28 19:27] veillette opened #139 "Switch order of labels and virtual image checkboxes"
Decision from 7/28 design meeting.

[2021-07-28 19:28] sarchang opened #140 "Address confusion related to Principal rays"
Some students were confused when comparing Many Rays to Principal Rays because in Many Rays, rays that don't pass through the optic are straight, but in Principal Rays, rays that don't pass through the optic are still reflected/refracted.
![image](https://user-images.githubusercontent.com/29347882/127383807-2822fdd2-fbf0-44d8-b925-7f0a36c17462.png)
![image](https://user-images.githubusercontent.co

[2021-07-28 19:29] veillette opened #141 "Labels should be “image” and “virtual image”"
Following discussion at our 7/28 design meeting, we decided that our label for the image should be "Image" but "Virtual Image" if the image is virtual.

[2021-07-28 19:32] sarchang opened #142 "Change initial position of object"
Object should be a little more than 2F away from the optic so that the object and image are noticeably different sizes. The object should also be offset from the optical axis.

Maybe something like this? Not sure if the top marginal ray should look parallel to the optical axis or not.
![image](https://user-images.githubusercontent.com/29347882/127384386-b0404c8c-4720-4c19-b954-2b200e8c7c7c.png)
![

[2021-07-28 19:37] sarchang opened #143 "Add double-headed cueing arrow to object"
See pH scale for example:
![image](https://user-images.githubusercontent.com/29347882/127384734-5f4e1e90-5899-45e7-b048-2b6efd16fc55.png)
Should be a connected double arrow head. Use arrowNode.

Should disappear after the first time a user moves the object. Should be present for all representations of the object until the user moves any of the objects. For the spotlight option, it should only appe

[2021-07-28 19:39] veillette commented on #142
The initial position of the first source is within GeometricOpticsConstants

  DEFAULT_SOURCE_POINT_1: new Vector2( -150, 0.0 ), // centimeters

Currently there is only one position for Point_1 which is shared across the Mirror and Lens Screen.
However we may want to promote it to separate initial positions if needed.

[2021-07-28 19:40] sarchang opened #144 "Ray should bend at the first surface of the diverging lens"
![image](https://user-images.githubusercontent.com/29347882/127385188-797e1237-766c-4048-81d4-3a2e3f6f1a11.png)
The ray should bend when it intersects the left surface of the diverging lens, unlike the image on the left. It should look like the image on the right.
Currently, the ray only bends when it intersects with a line going through the center of the diverging lens.

[2021-07-28 19:43] veillette commented on #140
To clarify, only the portion of the ray that extends beyond  vertical optic line (but without passing through the optic) should be dotted.

In the case of the mirror, the "reflected" ray should be dotted if the ray does not go hit the mirror.

[2021-07-29 00:18] veillette commented on #139
That looks good. Closing

[2021-07-29 00:18] #139 closed

[2021-07-29 00:20] veillette commented on #138
Good. Closing

[2021-07-29 00:20] #138 closed

[2021-07-29 02:20] veillette opened #145 "Inaccurate rendering with `shuffleListeners` query parameter"
While working on #129, I noticed that having the queryParameter ShuffleListeners , lead to  inaccurate rendering with the curveType button. The image position and scale as well as the rays position do not update correctly, when toggling between convex and concave optic.

[2021-07-29 02:48] veillette opened #146 "credits"

[2021-07-29 02:49] veillette opened #147 "review of pointer areas"

[2021-07-29 02:53] veillette commented on #147
![image](https://user-images.githubusercontent.com/7633344/127424148-8b3c5972-366b-4449-8149-5763e998de78.png)
![image](https://user-images.githubusercontent.com/7633344/127424233-29a014df-c8a6-4ee7-b059-5b3265d01e71.png)

[2021-07-29 02:57] veillette commented on #147
The show pointers do not overlap and seems large enough for most purposes.
The object and the optic are large and do not need to have larger pointer areas.

The second source on the object and the ruler Icon bounds were dilated manually.
All the other ones are using the default values.

[2021-07-29 02:58] veillette opened #148 "Memory testing"

[2021-07-29 03:13] veillette commented on #148
![image](https://user-images.githubusercontent.com/7633344/127425710-6e4823f1-dcd4-4c69-b53b-55b3d8300e4e.png)

Each of the snapshots were collected with a 1 minute interval for a total of five minutes with ea, fuzz and brand=phet.

For the last snapshot (6), I forced a garbage collection before taking the snapshot

[2021-07-29 03:15] veillette commented on #148
There is no obvious memory leakage of sim-specific classes. This looks like a very reasonable memory footprint

[2021-07-29 03:16] veillette opened #149 "performance testing and sign-off"

[2021-07-29 03:28] veillette commented on #149
This is a "standard GitHub issue" in the code-review checklist. The lead designer must sign off on performance.
The most current dev at present time is
https://phet-dev.colorado.edu/html/geometric-optics/1.0.0-dev.8/phet/geometric-optics_en_phet.html

[2021-07-29 03:30] veillette commented on #149
Assigning to @arouinfar although it may be preferable to do this performance sign-off on an RC instead.

[2021-07-29 03:35] veillette opened #150 "For each common-code component (sun, scenery-phet, vegas, …) that opaquely registers observers or listeners, isthere a call to that component’s `dispose` function, or is it obvious why it isn't necessary, or is there documentationabout why `dispose` isn't called? An example of why no call to `dispose` is needed is if the component is used ina `ScreenView` that would never be removed from the scene graph."

[2021-07-29 03:36] #150 closed

[2021-07-29 03:42] veillette opened #151 "Does a heap comparison using Chrome Developer Tools indicate a memory leak?"
Test on a version built using `grunt --minify.mangle=false`.

[2021-07-29 03:46] veillette commented on #151
![image](https://user-images.githubusercontent.com/7633344/127428233-c5424cf6-51f6-48eb-bc8b-700e2d1659aa.png)

The first snapshot was taken with fuzz off and the snapshot 2 to 5 where taken with fuzz enabled with about 1 minute interval between each snapshot..

[2021-07-29 04:04] veillette commented on #151
Performing a heap comparison between snapshot 2 and 3 (with a five minute interval this time) does not reveal anything significant.

![image](https://user-images.githubusercontent.com/7633344/127429554-0eb5e95a-7632-4ac4-920c-e285c084272b.png)

[2021-07-29 13:57] veillette commented on #147
Assigning to @arouinfar to review.

[2021-07-29 15:49] veillette opened #152 "Is there a file in assets/ for every resource file in sound/ and images/? Note that there is not necessarily a 1:1 correspondence between asset and resource files; for example, several related images may be in the same .ai file. Check license.json for possible documentation of why some reesources might not have a corresponding asset file."

[2021-07-29 15:51] veillette commented on #152
Assigning to @arouinfar

[2021-07-29 15:57] veillette commented on #151
Closing

[2021-07-29 15:57] #151 closed

[2021-07-29 17:07] veillette commented on #56
[code]

I think the problem resides with the reassigning of a new object this.horizontalRulerNode and this.verticalRulerNode.

The new rulers are added to the scene graph but this.horizontalRulerNode does not point to the new ruler but the old one.
The startDrag method on the old ruler still exists but we can center it since the old ruler is not longer attach to the scene graph.

This would explai

[2021-07-29 19:56] veillette opened #153 "Projector screen: the model should give its size to the view rather than the other way around."

[2021-07-29 20:53] veillette commented on #153
I'll add that the MASK_CORNERS are in model coordinates. Changing the PROJECTOR_SCALE will change the size of the image, but will not affect the MASK_CORNERS.

A more robust approach would be to give the MASK_CORNERS in pixel coordinates. The model projectorScreen could get the MASK_CORNERS and SCALE to get the screenShape with appropriate model coordinates.
In addition, the bounds of the image ca

[2021-07-29 21:30] veillette commented on #142
![Geometric Optics screenshot (11)](https://user-images.githubusercontent.com/7633344/127568381-58d411dc-3301-4eaf-944f-96c5f938547b.png)

for Mirror
![Geometric Optics screenshot (12)](https://user-images.githubusercontent.com/7633344/127568466-b0809dc4-8130-4254-b1c8-36e894ea793c.png)

[2021-07-29 21:32] veillette commented on #142
The constant for the second source vertical offset has been hoisted to GeometricOpticsConstant which will make it easier to tweak in the future.

[2021-07-29 21:34] veillette commented on #142
The value of the second source vertical offset has been changed to match the eraser. The so called
[code]
has been updated.

Assigning to @arouinfar  for review.

[2021-07-30 00:07] veillette commented on #132
There are no more magic numbers in TargetNode and SourceObjectNode has all its constant hoisted. Closing

[2021-07-30 00:07] #132 closed

[2021-07-30 13:51] veillette commented on #36
Tracking in #134. Closing

[2021-07-30 13:51] #36 closed

[2021-07-30 13:56] veillette commented on #134
@arouinfar : I took a stab at writing a draft of the model but you are in a better position to write it.
Assigning to @arouinfar .

[2021-07-30 17:49] veillette opened #154 "Code Review"
* Replace {{GITHUB_ISSUE_LINK}} with links to GitHub issues.
* Fill in (or delete) the **Specific Instructions** section.

---

# PhET Code-Review Checklist (a.k.a "CRC")

* Mark failed items with ❌ and note any related GitHub issues.
* Call attention to items with ⚠️ and note any related GitHub issues.
* Mark items that are not applicable with **N/A**

## Specific Instructions

_Provide specific

[2021-07-30 18:14] veillette commented on #154
I just deployed
https://phet-dev.colorado.edu/html/geometric-optics/1.0.0-dev.9/phet/geometric-optics_en_phet.html
This is the most recent dev version prior to this code review.

[2021-07-30 19:10] veillette commented on #129
This has been helpful. Some of the remaining checkbox are a bit more subjective. I issued the code review  in #154. We can close this.

[2021-07-30 19:10] #129 closed

[2021-07-30 19:12] veillette commented on #136
I did not end up using this for the self review. SInce #129 is now closed. We can close this as well.

[2021-07-30 19:12] #136 closed

[2021-07-30 19:15] veillette commented on #141
I failed to tag the proper commit for this issue. However, you can see  the result in the most recent dev
https://phet-dev.colorado.edu/html/geometric-optics/1.0.0-dev.9/phet/geometric-optics_all_phet.html

[2021-07-30 19:17] veillette commented on #135
I added to the implementation node before the code review although there is surely more confusing aspect of the similation that could be fleshed out.

[2021-07-30 19:20] veillette commented on #131
As part of our previous design meeting, we decided to add a query parameter that could hide the guides.
This is being tracked in #137. Closing

[2021-07-30 19:20] #131 closed

[2021-07-30 19:25] veillette commented on #102
As part of fixing our work on dragBound and model bounds, this problem has been addressed. CLosing

[2021-07-30 19:25] #102 closed

[2021-07-31 01:50] veillette commented on #137
The query parameter was added as a boolean.

[2021-07-31 01:50] veillette commented on #137
Work is done here.

[2021-07-31 04:00] veillette opened #155 "CT: Assertion failed: matrix should not map plane to a line or point"
[code]

[2021-08-03 19:18] veillette commented on #137
Closing.

[2021-08-03 19:18] #137 closed

[2021-08-03 19:19] veillette commented on #51
Our work is done. Closing

[2021-08-03 19:19] #51 closed

[2021-08-03 19:20] veillette commented on #141
Our work is done here. Closing

[2021-08-03 19:20] #141 closed

[2021-08-03 19:21] veillette commented on #127
Our work is done. Closing

[2021-08-03 19:21] #127 closed

[2021-08-04 01:03] veillette commented on #144
![image](https://user-images.githubusercontent.com/7633344/128105211-ceb98d77-7940-435a-a9d8-baa6c298b6ff.png)

The behavior was changed such that there is no longer a dependencies on the bisecting line.
Instead, we have written a new method to find the intermediate point if we have first hit the first shape.

As a result, the ray will always be refracted at the front shape if the hit it.

[2021-08-04 12:53] zepumph opened #156 "Assertion failed in Spotlight.getIntersection()"
I hit this assertion during my first time playing with the sim for https://github.com/phetsims/geometric-optics/issues/154. I don't feel like I did anything out of the ordinary, or even tried to break it. I pretty much just moved the lens a small amount, and then dragged around the pencil, eventually leading to the bottom left, as shown in the picture. Sorry I didn't have my dev tools open so that

[2021-08-04 12:55] zepumph opened #157 "No cursor change on hover"
I noticed for for https://github.com/phetsims/geometric-optics/issues/154, during my first time using this sim, that it seems a bit strange to me that the "pointer" cursor only appears once you begin dragging the elements in the sim. I would have expected a cursor change on hover to help cue what is draggable. For example, it wasn't immediately clear to me that only the left pencil was draggable,

[2021-08-04 13:50] zepumph commented on #154
I made some mostly formatting updates to the model and implementation notes. Feel free to update or change as you go.

[2021-08-04 14:04] zepumph commented on #154
I gave this sim 100x11 seconds of fuzz testing, and didn't run into any assertion errors locally.

[2021-08-04 14:09] zepumph opened #158 "Rulers jump away from mouse when dragged out of the toolbox"
It is possible that this is a feature, and not a bug, but I wanted to note that it is quite weird to me that the rulers jump into the play area, and don't come out of the toolbox underneath my mouse. The reason this is weird is because when I click and drag the ruler icon down, the mouse is ~80% of the screen away from the ruler it is dragging. I would recommend changing it to what I have found to

[2021-08-04 14:14] zepumph opened #159 "Lots of overlapping labels when zoomed out"
I feel a bit like this is likely a known issue by the team, but just in case you want to discuss further. It is quite easy to find that labels overlap

![image](https://user-images.githubusercontent.com/6856943/128196025-cf2df00d-55be-4c2c-86c8-2bad4a552ea2.png)

I can imagine this could be a challenge to fix generally. Perhaps it would be good to check in with a designer before working on it. Ove

[2021-08-04 14:23] veillette commented on #156
Thanks @zepumph.
This is related to the spotlight and projectorScreen. The spotlight model gets update, independent of the visibility of the projectorScreenNode.  We have made progress on a method to reproduce it ( see #72) but we have not manage to track it down.

[2021-08-04 14:26] zepumph opened #160 "Long strings layout problems"
There are two minor issues when I use `stringTest=long`. Note this isn't a problem when using `stringTest=double`, so likely this is low priority. Please note two things from the below picture, both based on the width of the control panel in the bottom center:

1. The width has pushed the lens radio buttons on the left out of the screen view layout bounds (most likely a code smell, but could be pu

[2021-08-04 14:30] zepumph opened #161 "meters template var?"
I think this is buggy:

[code]

Shouldn't the template var be "centimeters" or "cm"

Like this?

[code]

[2021-08-04 14:38] veillette commented on #161
Yes, all units in the simulation should be centimeters. This an oversight from the refactoring process in #123, where we converted the internal units from cm to m.

[2021-08-04 14:56] zepumph commented on #134
Note some formatting done in https://github.com/phetsims/geometric-optics/commit/276d32bc0cf2f027811cbd869840d2eb6bb77d24

[2021-08-04 14:56] zepumph commented on #135
Note some formatting done in https://github.com/phetsims/geometric-optics/commit/276d32bc0cf2f027811cbd869840d2eb6bb77d24

[2021-08-04 14:57] zepumph commented on #135
Honestly. I thought that was a very intelligently written implementation notes markdown. It helped get me up to speed quite well on the physics and code structure. Up to you how much more you would like to flesh out.

[2021-08-04 15:03] zepumph opened #162 "More documentation needed for ?showGuides"
Looks like an unfinished doc:

https://github.com/phetsims/geometric-optics/blob/f530833f9dc37cbc15ac228cc61a7df2d13956d9/js/common/GeometricOpticsQueryParameters.js#L24-L30

[2021-08-04 15:40] zepumph opened #163 "Spotlight.getIntersection() results in assertion failure in kite."
While playing with the sim with the second source turned on, I found that the sim just froze, with no errors. I was able to pause in the chrome dev tools fast enough that the page didn't crash. It looks like there is a loop in `BoundsIntersections.pushSubdivisions()`. Note the current length of the "intersections" array below (13962399).

![image](https://user-images.githubusercontent.com/6856943/

[2021-08-04 15:43] zepumph opened #164 "Lots of hardcoding for "first" and "second" sources etc."
I see that much of the model for the source/object seems to be based on if it is the first or second. I wonder if there is an abstraction to be made here. What if in the future we wanted to have three source points on the source object? I'm imagining a model class that embodies the "trifecta" of source, lens, and target. Then the rest model can utilize each of these as desired. Does this refactor

[2021-08-04 15:57] zepumph commented on #164
I would also like to say that this part is quite confusing:

https://github.com/phetsims/geometric-optics/blob/1628f6fbd541261892e359e31ebc3652b4dee61b/js/common/model/GeometricOpticsModel.js#L100-L114

The "first" and "second" here seem related, due to the vicinity in the code and the parallelism in declaration, but there are very different duos that do not have anything to do with each other.

[2021-08-04 16:05] zepumph opened #165 "Understanding Tandem"
I see lots of places where Tandem is passed through, so I thought I would take a moment to explain why that worked its way into your sim, and what its purpose it.

Tandem is a glorified string identification tree/concatenator. It allows you to pass objects around to make ids like "screen.model.component.xProperty". It is used in its entirety for PhET-iO, and so it doesn't really need to be added t

[2021-08-04 16:46] zepumph opened #166 "Thoughts about enableFirstTargetProperty"
This seems like a good candidate for being refacted into `Target.js`. The it would be something like `this.firstTarget.enabledProperty`.

With a patch as simple as this, you can use the benefits of `EnabledComponent.js`:

[code]

Then `Target` will automatically get an `enabledProperty` which is a `BooleanProperty`.

I feel like there would have to be a pretty good reason to keep this separated, b

[2021-08-04 16:46] zepumph commented on #166
And of course this would apply to the `second` too.

[2021-08-04 16:48] zepumph commented on #166
Also, as an aside, I think in general we name based on adjectives, as opposed to verbs, so the current name (which is likely to removed anyways), should be `firstTargetEnabledProperty`.

[2021-08-04 16:58] zepumph opened #167 "Create a small data class for the return type of Optic.get*Shapes()"
I think it would be a bit more clear if instead of returning an object literal of shape keys, there was a private class that was a data type that stored those fields, and then the return type could be that class.

Something like `OpticShapeCollection` or `OpticShapeStorage` or `ShapesForOptic`. Up to you if you want to do this.

[2021-08-04 16:59] zepumph commented on #167
https://github.com/phetsims/geometric-optics/issues/154

[2021-08-04 16:59] zepumph commented on #162
https://github.com/phetsims/geometric-optics/issues/154

[2021-08-04 16:59] zepumph commented on #163
https://github.com/phetsims/geometric-optics/issues/154

[2021-08-04 16:59] zepumph commented on #164
https://github.com/phetsims/geometric-optics/issues/154

[2021-08-04 16:59] zepumph commented on #165
https://github.com/phetsims/geometric-optics/issues/154

[2021-08-04 17:00] zepumph commented on #166
https://github.com/phetsims/geometric-optics/issues/154

[2021-08-04 18:38] zepumph opened #168 "Duplication of Optics model code"
While working on https://github.com/phetsims/geometric-optics/issues/154, I was thinking about the other sims that are optics/light-related. Bending Light and Optics Lab both seem quite similar to this sim at least in theory. Looking through the common model code between them, I see OPTICS_LAB/SourceModel and GEOMETRIC_OPTICS/SourceObject. I also see a version of  a light ray in all three (LightRa

[2021-08-04 18:43] zepumph commented on #158
Not sure if you want a separate issue (let me know if I should make it), but this same bug occurs when trying to drag the second light source.

[2021-08-04 18:45] zepumph opened #169 "Do we need both verticalOffsetProperty and lightSourcePositionProperty?"
It seems like verticalOffsetProperty is just a subset of unconstrainedSecondSourcePositionProperty. It feels a bit more clear if you just had a single Property, perhaps `secondSourcePositionProperty`, which is clamped into the "track" if there is an object, and is allowed to be free if the "light" source/object is selected. I think that would save a bunch of code that splits on if the representati

[2021-08-04 18:56] zepumph commented on #154
Today I only made it through the first instantiation of a Target in `GeometricOpticsModel.js`.

[2021-08-04 19:24] veillette commented on #158
FYI @zepumph , the light source offset of the second source is another bug that is in fact not related. We are tracking it separately in #82.

[2021-08-04 19:46] veillette commented on #56
As explained above, I have addressed this issue  by having GeometricOpticsRulerNode extend Node instead of RulerNode.
The Scenery RulerNode would be created by composition instead.

This has several benefits:
- We do not need to instantiate new GeometricOpticsRulerNodes after the initialization.
- All the listeners that were  attached to the GeometricOpticsRuleNodes do not need to be disposed anym

[2021-08-04 20:19] veillette commented on #166
This seems like a very sensible idea.

[2021-08-04 20:30] veillette commented on #163
I rendered the shapes.
Visually, we get (I cropped the image):
![image](https://user-images.githubusercontent.com/7633344/128250495-0f467e5a-ba24-4e28-92c0-04f6f540eccf.png)

[2021-08-04 20:37] veillette commented on #167
I agree.

[2021-08-04 22:53] veillette commented on #166
A side benefit is to simplify the constructor of LightRays and TargetNode.

[2021-08-05 04:28] jonathanolson commented on #72
I tried reproducing using the above instructions in master, and couldn't reproduce. I tried fuzzing for 30 minutes, both with master and a dev version (https://phet-dev.colorado.edu/html/geometric-optics/1.0.0-dev.9/phet/geometric-optics_all_phet_debug.html?fuzz). Thoughts on how I can reproduce? Is it potentially dependent on screen size?

Alternatively, if you could toString() both of the shapes

[2021-08-05 13:38] veillette commented on #72
We have moved the initial position of the source since, and this affects the reproduction instructions.

[2021-08-05 14:01] veillette commented on #168
Thanks MK for bringing this up.
Very early on, we have taken a look at both Optics lab and Bending light. As you point you, they deal with the same subject and share many similarities. Bending light and optics lab are ray driven simulation. As a result they can display the effect of aberrations and coma.
The handling of rays  in the two previous simulation is done in a more physical ways where, in

[2021-08-05 14:08] veillette commented on #169
One more successful approach would be to have a class SourceObject that is responsible for one source position and two instatiations for the first and second source.  The constraint between the two positions would then be imposed outside of this class.

[2021-08-05 14:23] veillette opened #170 "Consider renaming first and second focal point."
The name first and second focal points refer to their position with respect to the optic.
https://www.topperlearning.com/answer/i-wanted-to-know-about-first-principal-focus-and-second-principal-focus/iysbu1ll

Their name allows to distinguish between the two of them, using some standard language of optics.

However, in #164, it was noted that there is a false equivalence between first and second f

[2021-08-05 14:27] veillette commented on #169
Also @zepumph  noted in SourceObject that this is very hard wired and tie to the representation.
[code]

[2021-08-05 14:43] veillette opened #171 "Vestigial getMiddleShape"
While working on #167, I noticed that middleShape is never leveraged. We can removed the vestigial Middle shape and the MiddleShape method in LightRay.

[2021-08-05 15:00] veillette commented on #72
I tried to co back to our previous initial positions for the sources  but unfortunately we also changed the size and position of the projector screen during a refactor, so I have not been able to reproduce it.

[2021-08-05 15:27] veillette commented on #158
Closing this, since we are tracking it in #56.

[2021-08-05 15:27] #158 closed

[2021-08-05 16:05] veillette opened #172 "Consider a new module to deal with Images with offset"
This simulation has to deal with offset images, where the position in the model does not match the actual position of the image, but some arbitrary point on it.

For instance, the first sourceImage (sourceObjectImage), secondSourceImage , projectorScreenNode and targetNode all deals with images with offsets.
In the first three cases, the images have an associated dragListener attached to them. In

[2021-08-05 16:31] veillette commented on #172
In #125, #126 and #109, the design team expressed the desire to mimic a 3D illusion by splitting the projector, sources and targets into images with two different z layers. This would allow the optical axis and the rays to be on top of one side of the image but underneath the other.

Although we may not want to implement the image splitting layer as part of this issue, we should consider the impli

[2021-08-05 16:35] veillette commented on #171
Middle shape was removed from the comments as well. Closing

[2021-08-05 16:35] #171 closed

[2021-08-05 16:48] veillette commented on #167
I created an OpticShapeCollection class that hosts all the shapes for rendering and ray hitting. In the process, I realized that the middleShape  was unused and was therefore removed (see #171).

Overall, that is a nice improvement, that simplifies the optic class.
Assigning back to @zepumph  for review.

[2021-08-05 16:50] veillette commented on #114
This is done and working well. Closing

[2021-08-05 16:50] #114 closed

[2021-08-05 16:51] veillette commented on #162
The documentation was added to make it clear that show guides refer to the checkbox guides rather than guides themselves.

Assigning back to @zepumph for review.

[2021-08-05 16:55] veillette commented on #166
The target is now extending enabledComponent.
Assigning back to @zepumph for review.

[2021-08-05 16:55] zepumph commented on #168
Well those sound like great examples to not use either of those two sims as a base for the code you have already written. Perhaps it would make sense to take a look through GO code to see if there is anything foundational or modular that has potential for use elsewhere (like with optics-lab get's worked on next). Currently I feel like the main model types are quite hard coded to the specific case

[2021-08-05 17:06] zepumph commented on #167
This is really excellent. I wasn't even thinking of being able to factor out the shape creation functions. This is a great divide of responsibility! Nice work.

* I would recommend setting all instance variables to null in the constructor, and documenting which of them may actually be set to null (not have a shape) after construction, and for which optic type that may occur.
* Optic.shapesProperty

[2021-08-05 17:07] #162 closed

[2021-08-05 17:10] veillette commented on #72
Considering the comment from @jonathanolson , I'll attempt to go back to a previous commit where KP was able to reproduce it by merely moving the sliders.

[2021-08-05 17:11] veillette commented on #72
Tagging as code-review as this bug was noted by @zepumph during the code review.

[2021-08-05 17:17] zepumph commented on #72
I'll link https://github.com/phetsims/geometric-optics/issues/154 so we have a full list over in that issue.

[2021-08-05 17:34] zepumph opened #173 "lens/ProjectionScreen.js dependency common model code"
While working on https://github.com/phetsims/geometric-optics/issues/154 I found myself pretty surprised as to how much ProjectorScreen is used inside of common model code. I initially read the implementation notes, including the gotcha, but I didn't realize how pervasive the link is. To me this is a spectrum of potential improvements that I would like to brainstorm. From easiest hardest.

* It is

[2021-08-05 18:33] veillette commented on #173
You are right that the dependencies of LightRays on ProjectorScreen is very hard corded as you point out.  The position of the projector is used as a proxy to denote that the shape of the bisecting line has moved.

The projectorScreen role is solely to block rays and to send a signal that the rays have reached their destination.
In principle, this can be applied to any shape, so we could generaliz

[2021-08-05 18:38] veillette commented on #161
I applied the patch as proposed. @zepumph, feel free to close.

[2021-08-05 18:40] #161 closed

[2021-08-05 19:09] veillette commented on #168
The actual foundational basis of this simulation is that lenses and mirrors follow the thin-lens equation or the mirror equation.
This is used as a ground truth in the simulation. It is unquestionably the right approach from a pedagogical stand point.
However, it is a not a foundational model such as the law of refraction in bending light.

For instance, the simulation deals with very large lens a

[2021-08-05 19:38] veillette commented on #168
Some of the functionalities found in OpticsLab/RayPath are similar to functionalities in LightRay.
There are a few differences::
RayPath is an array of line segments of finite length. where LightRays is collection of Rays (finite or semi infinite.)
RayPath can generate a shape from the light segments, whereas LightRays generate a shape with an additional time dependency that (can) determine the en

[2021-08-05 20:03] zepumph opened #174 "Shouldn't rays go behind the control panel?"
From https://github.com/phetsims/geometric-optics/issues/154

![image](https://user-images.githubusercontent.com/6856943/128413688-7054543e-9304-44fc-bce8-e6406d53a778.png)

[2021-08-05 20:03] veillette commented on #168
LightRay in Bending light is very hard coded (with 14 parameters in the constructors!). Part of it functionality is to deal with the "wave" nature of a lightray which does not apply here so the isn't much to do about it.

[2021-08-05 20:20] veillette commented on #168
In summary, we could tease out from LightRay a class similar to RayPath (with a better name) that could be used in a future OpticsLab simulation.

[2021-08-05 20:20] zepumph opened #175 "Questions about `Guide`"
https://github.com/phetsims/geometric-optics/issues/154

1. I see that you create 4 (top/bottom per source/object). But I only ever see one pair in the sim at a time. Does there have to be 4 instances? Why don't both sets ever appear?
2. This is sorta opposite of what (1) is asking. Instead of duplicating top/bottom per source, could you suptype optic to include the guides as part of it? I feel li

[2021-08-05 21:28] zepumph commented on #174
Even with all this important stuff, I still feel like it should be behind:

![image](https://user-images.githubusercontent.com/6856943/128423573-ee2d6594-d524-40e0-9456-29f76d63eb7c.png)

[2021-08-05 21:37] zepumph commented on #154
Code review complete. I spent the vast majority of time in the model. The view looks really swell. Nice work! All issues have been linked to this issue, though I didn't spend the time to check all the boxes in the checklist. Back to @veillette. Let me know if you'd like assistance, help, or to discuss anything further.

[2021-08-08 14:18] veillette commented on #175
Here is some information for context:

There are four instantiations of GuideNodes. However, the pair (TOP/BOTTOM) of the second source position is only visible when the second source check box is on. Otherwise, the TOP/BOTTOM guides of the first source is shown. As a result, only one pair of them is shown at at time, but you can toggle between them if you check the second source box.

For referen

[2021-08-08 14:23] veillette commented on #175
With regards to the second comment, we played with the idea of attaching them directly to Optic.
Two of the reasons we decided against are: Guides only exist on lenses, and not on mirrors. Optic is a relatively complex and lengthy class, and we thought it would be better to keep them seperate.

[2021-08-09 01:45] zepumph commented on #175
Since only one guide is shown at a time, it is confusing to me that there are two instances of the guide pairs.

Perhaps a subtype for lens then which includes these guides?

[2021-08-11 17:25] veillette commented on #175
Since there the visibility of the guides is swapped, one alternative approach would be to create only a top and bottom guide with a "sourcePositionProperty" that would be swappable. It seems that DynamicProperty would support this kind of interaction.

We can subtype it for lens that would include the guides.

[2021-08-12 20:52] pixelzoom opened #176 "Provide estimate to finish this sim."
@kathy-phet asked me to review open issues and provide an estimate on finishing this sim.

[2021-08-12 20:53] pixelzoom commented on #176
@zepumph identified these issues as the "larger items":

https://github.com/phetsims/geometric-optics/issues/173
https://github.com/phetsims/geometric-optics/issues/164
https://github.com/phetsims/geometric-optics/issues/169

[2021-08-23 16:14] KatieWoe opened #177 "CT: Assertion failure in kite.BoundsIntersection.intersect"
[code]

[2021-08-23 22:07] jbphet commented on #177
I played around with this for a bit and was able to get it to happen manually a few times, but it's not easy.  Below is a screenshot of one of these trials. To duplicate, set the sim's controls up as shown and move the pencil around a bunch.  It took me about five or ten minutes and a lot of movement, and I didn't notice any particular pattern.

![image](https://user-images.githubusercontent.com/3

[2021-08-29 19:07] pixelzoom commented on #176
In 8/28/2021 Slack, @kathy-phet asked for 2 specific estimates:

[2021-08-30 17:28] pixelzoom commented on #118
Keeping this issue open, so that we are aware that it's a known issue that will not be addressed for 1.0 release.

[2021-08-30 17:45] pixelzoom commented on #176
Re the estimates requested in https://github.com/phetsims/geometric-optics/issues/176#issuecomment-907852595...

These requests seem to assume that the sim is ready to publish with minimal cleanup, and that’s not the case.  @arouinfar and I met on Zoom to discuss the status of the sim. The sim is not feature complete, and there is significant work to be done. Code review was definitely premature —

[2021-08-30 17:48] pixelzoom commented on #176
@kathy-phet will followup with @arouinfar on how to proceed.

[2021-08-30 17:51] pixelzoom commented on #1
While reviewing the status of the sim to provide estimates in https://github.com/phetsims/geometric-optics/issues/176, I consulted this checklist.  It looks like this checklist has not been maintained. Is the sim feature complete?  I know that a code review has been done, but it's not checked off.   Almost none of the design-related items are checked off. Etc.

@arouinfar @kathy-phet high recommen

[2021-09-02 20:46] kathy-phet commented on #120
If trivial, do this for the prototype.

[2021-09-02 20:52] kathy-phet commented on #157
Fix this for prototype, if easy.

[2021-09-02 21:04] kathy-phet commented on #174
@arouinfar and @kathy-phet decided to revisit the constraints of the lens to make its up down motion less.

[2021-09-09 11:33] pixelzoom commented on #176
@arouinfar @kathy-phet When you have reviewed the open issues and summarized what work needs to be completed, feel free to assign this back to me with instructions on how to proceed.

[2021-09-09 15:24] KatieWoe commented on #177
Is this related, or should it be it's own issue?
[code]

[2021-09-09 16:33] KatieWoe opened #178 "CT: cannot normalize a zero-magnitude vector"
[code]

[2021-09-14 19:03] kathy-phet commented on #176
Chris, Amy and I reviewed the issues in Geometric Optics and binned them into "Prototype", "Feature Complete" and "1.0 Publication".
Can you take a look at the "prototype" issues?
https://github.com/phetsims/geometric-optics/milestone/1
And see what you think. Feel free to take action on any prototype issues you see you can.

[2021-09-14 19:10] arouinfar commented on #105
Color changes were discussed in the 9/9/21 design meeting and are nearly finalized. I'll report back soon.

[2021-09-14 19:32] pixelzoom opened #179 "Inconsistent pattern for passing tandem to constructor"
Related to #154

`tandem` is handled inconsistently in constructors. Sometimes it's an option, sometimes it's a required constructor parameter.

The pattern that I prefer is to use options, with default value `tandem: Tandem.REQUIRED`.  Since just about everything eventually may need a tandem, using options prevents clutter in the constructor signature.

[2021-09-14 19:50] pixelzoom opened #180 "Draggable objects do not have correct cursor behavior."
Rulers are draggable, but the cursor doesn't change to indicate this.  This is true of ruler icons in the toolbox, and rulers out of the toolbox.

[2021-09-14 19:52] pixelzoom commented on #180
This is apparently a problem with other draggable objects -- the lens, the "pencil picture",...

[2021-09-14 19:53] pixelzoom opened #181 "Difficult to see blue lamp on blue background."
The blue lamp on the dark blue background is really difficult to see, a poor color choice imo.

<img width="406" alt="screenshot_1235" src="https://user-images.githubusercontent.com/3046552/133324638-6aedc239-6218-4fea-9f60-bd73e113f299.png">

[2021-09-14 19:56] arouinfar commented on #181
Artwork is being tracked in #14. The lamp will not be blue, so closing.

[2021-09-14 19:56] #181 closed

[2021-09-14 19:57] pixelzoom opened #182 "Support for Projector Mode."
I was surprised to see that this sim does not currently support "Projector Mode".   That's almost always and option in a sim that has a dark background like this.    I do not see any discussion of "Projector Mode" in GitHub issues.  In the design doc, I see "Projector Mode  - Probably need one".

@arouinfar what is the status of "Projector Mode" for this sim?

[2021-09-14 20:01] pixelzoom commented on #143
@arouinfar Which "objects" does this refer to?  And do you really want cueing arrows on everything that is draggable?

[2021-09-14 20:05] pixelzoom commented on #14
I was asked to evaluate this issue for milestone https://github.com/phetsims/geometric-optics/milestone/1.  It doesn't look like there's anything that I can do here. We appear to be waiting for new artwork.  @arouinfar let me know if I've misinterpretted.

[2021-09-14 20:05] pixelzoom commented on #180
Duplicate of #157. Closing.

[2021-09-14 20:05] #180 closed

[2021-09-14 20:06] arouinfar commented on #14
Artwork is in progress. Mostly just colors to touch up. I can have it ready later today or tomorrow.

[2021-09-14 20:18] pixelzoom commented on #157
@arouinfar please review in master.  All draggable objects now have `cursor: 'pointer'` (the hand) when you hover over them.  The exceptions are the lens and mirror.  Since they can only be moved up/down, they have `cursor: 'ns-resize'` (up/down arrows).

[2021-09-14 20:20] pixelzoom commented on #105
I was asked to evaluate this for https://github.com/phetsims/geometric-optics/milestone/1.  But it looks like there's nothing I can do here, it's in @arouinfar's court.

[2021-09-14 20:21] arouinfar commented on #143
"Object" is specific optics terminology, sorry. Light travels from the object to the lens/mirror. In this case, "object" refers to the item to left of the lens/mirror -- the picture frame/lamp. If you turn on the Labels checkbox, the object will be labeled.

[2021-09-14 20:22] pixelzoom commented on #174
I was asked to evaluate this for https://github.com/phetsims/geometric-optics/milestone/1.  But in the previous comment, I see that design decisions have not been made, so there's nothing I can do.

[2021-09-14 20:24] pixelzoom commented on #163
I was asked to evaluate this for https://github.com/phetsims/geometric-optics/milestone/1, so self-assigning.

[2021-09-14 20:24] arouinfar commented on #182
Projector Mode has only been considered in passing, though as a sim with a darker background color, it will likely need one.

Projector Mode is not necessary for a prototype.

[2021-09-14 20:25] pixelzoom commented on #120
@arouinfar please clarify, preferrably with a screenshot.  What is "the dot" and "cueing arrows"?

[2021-09-14 20:28] pixelzoom commented on #182
To set expectations for this feature... Projector Mode is something that's relatively easy to add from the beginning, and can be an expensive feature if left until later.  You're likely already in the "later" stage with this sim, so expect a significant cost.

[2021-09-14 20:29] arouinfar commented on #120
@pixelzoom this issue is referring to the "Second Source" which appears as a red dot on the picture frame objects. The dot and cueing arrows should be layered on top of the rays, because it can get occluded fairly easily:
![image](https://user-images.githubusercontent.com/8419308/133329150-3a779bb3-7f70-4ef5-ba3a-336ff4a26938.png)

[2021-09-14 20:29] pixelzoom commented on #143
Note to self: in the source code, this is SourceObjectNode.js.

[2021-09-14 20:34] pixelzoom commented on #143
I was a bit confused because SourceObjectNode.js already has something referred to in the code as "cueing arrows".   But I think its the red arrows that appear around the red dot, visible when "Second Source: checkbox is checked.  See the screenshot below.

These red cueing arrows do not disappear when you start dragging, but instead disappears when you release the pointer at the end of the drag.

[2021-09-14 20:37] pixelzoom commented on #143
@arouinfar please also confirm:

* The red dot should also presumable have `cursor: 'ns-resize'` (up/down arrows) since it can only be moved up/down.

* The new cueing arrows that you'd like added to the source object should disappear as soon as the object is moved, not when the object is released at the end of a drag.

[2021-09-14 20:39] pixelzoom commented on #120
This is going to be a major change, because the "Second Source" (red dot) is currently part of the same node as "the Object".   They will need to be broken up into 2 Nodes, so that the Second Source can be put on top.

[2021-09-14 20:40] pixelzoom commented on #120
@kathy-phet said:

This is not going to be trivial. It's a major change, because the "Second Source" (red dot) is currently part of the same node as "the Object" (SourceObjectNode.js).   They will need to be broken up into 2 Nodes, so that the Second Source can be put on top.

@arouinfar @kathy-phet please advise whether you want me to continue.

[2021-09-14 20:44] arouinfar commented on #120
@pixelzoom we can skip this for the prototype. I'll tag for design meeting to determine if it's worth pursuing for the full release.

[2021-09-14 21:01] pixelzoom commented on #174
Also worth noting:

* It's not just the rays that go in front of the control panel.  Many other things are in front of the control panel. The virtual image, the lens, the mirror, ...

* The things that are in front of the control panel are BEHIND the controls at the top of the screen (combo box, etc.)

[2021-09-14 21:03] pixelzoom commented on #163
@zepumph said:

It would be really helpful to have steps to reproduce. I've been playing with the sim for 15 minutes and can't reproduce this problem.  @zepumph do you recall how you reproduced this?

[2021-09-14 21:11] pixelzoom commented on #143
@arouinfar for answering the above questions, it may be useful to review the decisions that were made in https://github.com/phetsims/geometric-optics/issues/81 for the Second Source cueing arrows.

[2021-09-14 21:21] pixelzoom opened #183 "Use a "manipulator" instead of a flat circle for second source?"
When the "Second Source"  checkbox is checked, the second source is shown as a flat red circle, with cueing arrows to indicate that it's draggable:

<img width="254" alt="screenshot_1238" src="https://user-images.githubusercontent.com/3046552/133335204-d65dc4b6-7d83-4a7c-9333-1dfe89be9e44.png">

Instead of the flat circle, have you considered using the "manipulators" that have been used in Graph L

[2021-09-14 21:21] zepumph commented on #163
I do not! And I remember feeling like it would be really hard to reproduce during it, which is why I tried to gather so much info from the environment. I think that @veillette had a good idea about how to draw the two shapes I posted in such a way that they created the single point of overlap. I'm sorry I can't be of more help here.

[2021-09-14 22:03] pixelzoom opened #184 "Rename fields in VisibleProperties."
VisibleProperties is a collection of BooleanProperty instances that control the visibility of things in the UI. They are controlled via checkboxes.   The fields in VisibleProperties are currently named:

[code]

These names are going to be a problem for PhET-iO.  The general convention for naming visibleProperty instances (and their tandems) is `{adjective}VisibleProperty`. So the above should be

[2021-09-14 22:35] pixelzoom commented on #120
I'm going to add this back to the Prototype Sim milestone https://github.com/phetsims/geometric-optics/milestone/1.  Despite the fact that it's not trivial, it really needs to be done.  SourceObjectNode.js has way too many responsibilities. And the fact that it's responsible for the Second Source, and the Second Source's cueing arrows, is making https://github.com/phetsims/geometric-optics/issues/

[2021-09-14 22:42] pixelzoom commented on #143
This has been way more complicated than it should have been, because of https://github.com/phetsims/geometric-optics/issues/120.

What I've done so far:

* Added cueing arrows to the Source Object.  They have the same proportions as the Second Source cueing arrows.  They're on the left side of the Source Object, they scale with the Source Object, they disappear when you move the Source Object, the

[2021-09-14 22:52] pixelzoom commented on #163
While I can't reproduce this, the stack trace points to this being a problem in kite (the common-code repo for shapes).   Here's the part of the Stack trace (from the 1st comment above) that's relevant:

<img width="334" alt="screenshot_1240" src="https://user-images.githubusercontent.com/3046552/133343998-d810afc8-92f0-45a4-aec1-bbe4cf19feb4.png">

Spotlight.js is sim-specific code, and here's wh

[2021-09-14 22:58] pixelzoom commented on #176
@kathy-phet @arouinfar  I reviewed the issues in https://github.com/phetsims/geometric-optics/milestone/1. Very few of them were in a state where I could do anything.  I did make progress on a couple, and assigned them to @arouinfar for review.

I can't say that I recommend the progression that's implied by the milestones: "Prototype" to "Feature Complete" to "1.0 Publication".   Yes, some things

[2021-09-14 23:17] pixelzoom commented on #184
Done, closing.

[2021-09-14 23:17] #184 closed

[2021-09-14 23:23] pixelzoom commented on #179
Actually, the sim is quite consistent in how it passes tandem -- in all but one case (FocalPoint), it passes via constructor parameters.   This is not how I would have done it, but it a legitimate alternative, and probably not worth changing at this point.  So in the above commit, I just changed FocalPoint to match the pattern used elsewhere.

Closing.

[2021-09-14 23:23] #179 closed

[2021-09-14 23:31] pixelzoom commented on #35
In the above commit, ToolboxPanel was renamed to RulersToolboxPanel, since it holds only rulers.

Closing.

[2021-09-14 23:31] #35 closed

[2021-09-14 23:35] pixelzoom commented on #165
Worth noting that I also flagged this in https://github.com/phetsims/geometric-optics/issues/179, where I noted:

I agree that longterm, this sim should be converted to pass tandems via options, since that the preferred pattern.

[2021-09-14 23:37] pixelzoom commented on #165
@zepumph said:

Oops.  In #179, I changed FocalPoint because it was the one example that was different.  I think I'll strip out the `tandem` constructor params in this sim, so that we can have a fresh start when this sim is eventually instrumented for PhET-iO.

[2021-09-14 23:51] pixelzoom commented on #165
I deleted `tandem` parameters in the above commit. Glad that I did, because there were so many incorrect uses of the argument that was passed in.  We're now ready for a fresh start when it's time for PhET-iO instrumentation.

Closing.

[2021-09-14 23:51] #165 closed

[2021-09-15 16:09] pixelzoom opened #185 "LightRay this.virtualRay may be undefined."
In LightRay.js constructor:

[code]

So if `!this.hasVirtualRay`, `this.virtualRay` is `undefined`.  This violates PhET convention, and gives LightRay a variable API.   Recommended to set it to `null`, and change the type expression accordingly.

[2021-09-15 19:33] pixelzoom commented on #152
There are currently no assets checked into GitHub for this sim.

[2021-09-15 19:43] pixelzoom opened #186 "Verify information in images/license.json."
Related to https://github.com/phetsims/geometric-optics/issues/14 ...

When artwork has been revised, please review [images/license.json](https://github.com/phetsims/geometric-optics/blob/master/images/license.json) to verify that all of the information is correct.

[2021-09-15 20:09] pixelzoom opened #187 "Use radio buttons for selecting the source object?"
While you're working on artwork in https://github.com/phetsims/geometric-optics/issues/14, I have a suggestion...

Instead of using a combo box to choose the Source Object, how about using rectangular radio buttons?  There are only 4 choices, and radio buttons are arguably easier to use than a combo box.  The icons could be made much larger (they are so tiny now on the combo box).  And if you coul

[2021-09-15 20:13] pixelzoom commented on #187
You're also using rectangular radio buttons for the lens and mirror types, so using retangular radio buttons for the source object is more consistent.

Also recommended to put these radio buttons closer to the things they control.  For example, put the radio buttons for the lens/mirror type above the lens/mirror, and put the radio buttons for the source object above the source object.

[2021-09-15 20:19] pixelzoom commented on #14
While you're redoing the artwork, you might want to consider the future need for a Projector Mode.  That mode would likely make the backround white - in which case the white frames on the source objects are going to be a problem.

[2021-09-15 20:30] pixelzoom commented on #14
While you're redoing the artwork, you might want to consider the future need for a Projector Mode.  That mode would likely make the backround white - in which case the white frames on the source objects could be a problem.

To demonstrate:

<img width="996" alt="screenshot_1241" src="https://user-images.githubusercontent.com/3046552/133505061-8ebf9b49-802b-42de-b627-416910d9c290.png">

[2021-09-15 20:38] pixelzoom commented on #185
Addressed in the above commit. Closing.

[2021-09-15 20:38] #185 closed

[2021-09-15 20:41] pixelzoom commented on #14
@arouinfar I don't know how you've been providing .png files for this sim.  If you're familiar with the .png file names, those file names have been changed in the 2 commits above.  PhET has a new naming convention for image files and their imports (in code), and the file names for this sim did not meet the requirements of that convention.  So I renamed them.

[2021-09-15 20:46] pixelzoom opened #188 "There are two conflicting controls for hiding rays."
The Rays "None" radio button and the Eye toggle button do the same thing - they hide the rays. Why are there 2 controls for the same thing?  It seems very confusing.  I would get rid of the toggle button.

[2021-09-15 20:50] pixelzoom opened #189 "Reconsider layout of controls."
@arouinfar Are you open to reconsidering the layout of controls in this sim?

There's currently one big control panel at the bottom:

<img width="844" alt="screenshot_1242" src="https://user-images.githubusercontent.com/3046552/133507105-db8c2784-ad06-4dcf-9336-eff05627641e.png">

5 controls are related to the lens/mirror: 2 rectangular radio buttons, and 3 sliders. They are not grouped together f

[2021-09-15 20:52] pixelzoom commented on #189
And in https://github.com/phetsims/geometric-optics/issues/187, I suggested using radio buttons (instead of a combo box) for selecting the source object or light.   Again, bonus points for locating these radio buttons near the source object.

[2021-09-15 20:58] pixelzoom opened #190 "No "center" point for measuring focal length."
In optics diagrams that show focal points and focal length, there's typically some sort of mark at the center of the lens/mirror.  That's not present in this sim.   Any concern that lack of a "center" point will make it difficult to measure focal length using the horizontal ruler?

[2021-09-15 21:00] pixelzoom commented on #190
Or are you trying to encourage students to measure the distance between the 2 Focal Point indicators, then divide by 2 ?

[2021-09-15 21:03] pixelzoom commented on #42
This was a good thing to consider.  But after taking a look, I don't think it's necessary.  The current implementation is fine, plenty clear.

Closing.

[2021-09-15 21:03] #42 closed

[2021-09-15 21:27] pixelzoom commented on #164
@zepumph said:

This is inherently a design question.

"First" and "Second" sources are deeply ingrained in this sim, and the implementation is definitely limited to 2 sources.  Generalizing to support N sources would be a huge change - a change that I'd prefer not to make in a sim that I'm potentially inheriting.

There's also the question of whether such a change would have any actual future val

[2021-09-15 21:31] pixelzoom commented on #71
`GeometricOpticsConstants .HORIZONTAL_SPEED` no longer exists.  It appears to have been replaced by `GeometricOpticsConstants.ANIMATION_TIME`.

[2021-09-15 21:36] pixelzoom commented on #71
I've renamed the constant and documented it better.  It's now `GeometricOpticsConstants.RAYS_ANIMATION_TIME`.

[2021-09-15 21:39] pixelzoom commented on #71
There's something very wrong with how `RAYS_ANIMATION_TIME` is being used.  If I change it to something like 0.1, then instead of the animation going faster, the animation stops before the rays have been fully rendered, for example:

<img width="998" alt="screenshot_1243" src="https://user-images.githubusercontent.com/3046552/133513252-abac9fd5-39fc-409d-9f79-3e0406ab48f3.png">

[2021-09-15 22:37] pixelzoom commented on #164
@arouinfar and I discussed this on a Zoom call.  She said that there's zero chance that this sim will ever have more than 2 sources - it's not necessary, not a goal, and the model would just be too complictaed.  So I'm going to close this issue as "won't fix".

[2021-09-15 22:37] #164 closed

[2021-09-15 22:43] pixelzoom opened #191 "Second light source jumps to a new position when a drag is started."
When a drag is started on the second light source, it immediately jumps to a different position.

Steps to reproduce:

1. Run the sim
2. Got to Lens screen
3. Select lamp from the source combo box
4. Check the "Second Source" checkbox
5. Press on the red lamp. It will jump to the left and slightly up.

[2021-09-15 22:54] pixelzoom commented on #170
I'm not to keen on positive and negative, since it's not clear (from the UI) where the origin is, and which direction is +x (it's to the right).

Digging around in the code,  the first focal point is the one to the right of the lens, the second to the left of the lens. So I'm going to go with "left focal point" and "right focal point", since that's where they appear, relative to the lens/mirror.

[2021-09-15 23:06] pixelzoom opened #192 "Improve the look of ruler icons in the toolbox."
Here's what they look like now. They look kind of washed out and indistinct to me, probably because they are being scaled down without adjusting line widths.  I think we can do better here.  Icons are usually a caricature of what they represent, and they should be crisp.

<img width="998" alt="screenshot_1248" src="https://user-images.githubusercontent.com/3046552/133525151-69d27279-4e9d-4e57-bd75

[2021-09-15 23:13] pixelzoom commented on #192
Done in the above commit.  First screenshot below shows how they look, second screenshot shows adjusted pointer areas.  Lines are more distinct, there are more minor ticks (like the actual rulers), and the vertical ruler has ticks on both sides (like the actual ruler).

@arouinfar please review in master.

<img width="1000" alt="screenshot_1246" src="https://user-images.githubusercontent.com/30465

[2021-09-15 23:20] pixelzoom commented on #188
@arouinfar and I discussed this on Zoom.

The eye toggle hides rays, image, and virtual image -- not entirely sure how the user is going to figure that out, because it wasn't clear to me, even after looking at the code.   So I think there's still a lot of potential for confusion here.

At the very least, consider:
(1) Disabling controls that don't apply (and don't work) when the eye toggle is set

[2021-09-15 23:32] pixelzoom commented on #188
I went ahead an did (2) above, make the eye toggle yellow only when it's set to "hide".

[2021-09-15 23:35] pixelzoom opened #193 "Changing the default ResetAllButton radius is verbotten."
This sim is changing the radius of the ResetAllButton.  We have previously established a default size, and decided not to change it.

The default size is in SceneryPhetConstants.js:

[code]

The radius used by the sim is in GeometricOpticsConstants.js:

[code]

[2021-09-15 23:38] pixelzoom commented on #193
Done, @arouinfar please review in master.

[2021-09-15 23:40] pixelzoom commented on #82
Duplicate of https://github.com/phetsims/geometric-optics/issues/191.  https://github.com/phetsims/geometric-optics/issues/191 has more details and steps to reproduce, so closing this issue.

[2021-09-15 23:40] #82 closed

[2021-09-15 23:41] pixelzoom commented on #191
In #82 (duplicate), @veillette said:

[2021-09-16 00:17] pixelzoom commented on #170
Done in the above commit - "left focal point" and "right focal point" are used throughout.

Closing.

[2021-09-16 00:17] #170 closed

[2021-09-16 00:46] pixelzoom commented on #56
This issue appears to have been addressed, and is no longer reproducible using the steps described.  Closing.

[2021-09-16 00:46] #56 closed

[2021-09-16 01:34] pixelzoom opened #194 "Duplicated scale code in SourceObject.js"
This is duplicated 3 times in SourceObject.js:

[code]

It should probably be moved to Representation.js, as `getScale`.

[2021-09-16 01:43] pixelzoom commented on #194
Done in the above commit, closing.

[2021-09-16 01:43] #194 closed

[2021-09-16 01:54] pixelzoom commented on #154
All REVIEW comments have been addressed.

[2021-09-16 15:53] veillette commented on #71
@pixelzoom:  There are two constants that govern the animation of the rays.

One is the speed of the rays and the other it the animation time.  The product of them gives the distance travelled.

[code]
The distance travelled should be at least larger than the width of the screen.

The two constants, as defined, are probably not as orthogonal as they should be since  changing the animation time to

[2021-09-16 16:02] veillette commented on #71
It should be possible to have a less heuristic approach.
The stopping of the ray animation could be determined by a leftward horizontal position, which when reached stopped the animation.

I'll also mention that one could not set any maximum animation time and let the animation go on forever. It didn't seem to have any performance effects on our laptops but I suspect this is not the case on all de

[2021-09-16 21:35] pixelzoom commented on #143
At 9/17/21 design meeting, we decided that our first milestone should be to publish a prototype, hopefully in the next could of weeks.  So I'm going to take another look at finding a quick-&-dirty way to make the cueing arrows interactive, so that we don't need to address #143 for the prototype.

@arouinfar please hold off on reviewing this issue, and I'll assign back to you when I'm done.

[2021-09-16 21:44] pixelzoom commented on #143
Discussed questions from https://github.com/phetsims/geometric-optics/issues/143#issuecomment-919494602 with @arouinfar via Zoom.   She'd like the cueing arrows to disappear on end drag, since dragging the green arrows may otherwise look odd.   Done in the abov commit.

[2021-09-16 23:04] pixelzoom commented on #120
I was trying to avoid doing this over in #143. But I got far enough into decoupling source object and second source that I went for it.  The second source is now in front of the rays.  The only thing that's in front of the second source now are the focal points.

@arouinfar please review in master.

[2021-09-16 23:05] pixelzoom commented on #167
Looks like these still a bit of work to be done here, as suggested in https://github.com/phetsims/geometric-optics/issues/167#issuecomment-893620670.

[2021-09-16 23:06] pixelzoom commented on #144
It looks like work was done here, and it's been labeled ready-to-review.  But it was not assigned to anyone to review.  Let's start with @arouinfar.  Is this something you asked for? If so, does it look OK?

[2021-09-16 23:10] pixelzoom commented on #191
In #120, I discovered that the touchArea was incorrect for the light source -- it was still set to the second source point.  See screenshot below.

I fixed that in https://github.com/phetsims/geometric-optics/commit/9657052641de780632da7aeb5fb343b16a58d570, in SecondSourceNode.js:

[code]

Unfortunately, that did not fix this issue.

<img width="999" alt="screenshot_1257" src="https://user-images.

[2021-09-16 23:14] pixelzoom commented on #176
9/1/21 design meeting @arouinfar @kathy-phet @ariel-phet

The 200 hours seems reasonable. Next steps:
* @pixelzoom and @ariel-phet to discuss terminology next week
* @arouinfar and @kathy-phet to work on their issues for the Prototype milestone
* @pixelzoom to keep chipping away at issue, with focus on Prototype milestone
* publish prototype sometime in the next couple of weeks

[2021-09-17 23:26] pixelzoom opened #195 "Publish a prototype."
From https://github.com/phetsims/geometric-optics/issues/176#issuecomment-921325170:

* @arouinfar and @kathy-phet to work on their issues for the Prototype milestone
* @pixelzoom to keep chipping away at issues, with focus on Prototype milestone
* publish prototype sometime in the next couple of weeks

[2021-09-17 23:28] pixelzoom opened #196 "Revise terminology in the code."
Terminology and naming in the code is generally good, but could use some polishing. I'll read through model.md and implementation-notes.md again.  Then @ariel-phet and I will discuss terminology (probably early in the week of 9/20).

[2021-09-17 23:28] pixelzoom commented on #176
Next steps have been moved to https://github.com/phetsims/geometric-optics/issues/195 and https://github.com/phetsims/geometric-optics/issues/196.

Closing.

[2021-09-17 23:28] #176 closed

[2021-09-18 02:07] pixelzoom commented on #143
Both cueing arrows (source object and second source) are now interactive, and disappear when the drag ends.  @arouinfar please review in master.

[2021-09-18 02:29] pixelzoom commented on #167
All recommendations have been implemented. Closing.

[2021-09-18 02:29] #167 closed

[2021-09-18 02:41] pixelzoom commented on #191
The position of the second light source is currently being adjusted (incorrectly) in SecondSourceNode.js, by subtracting `LIGHT_SOURCE_OFFSET`.   This should be handled in SourceObject.js, as it is for the first light source, by using `Representation.LIGHT.rightFacingUprightOffset` to adjust the positon of the second light source.

[2021-09-18 02:45] pixelzoom commented on #191
Adding this to the Prototype milestone, since it's a relatively serious UI problem.

[2021-09-18 02:59] pixelzoom opened #197 "Pubic DerivedProperty derivation calls a public method."
There are a bunch of cases where there is a `DerivedProperty` that calls a public method to derive its value.

For example in Target.js:

[code]

This is an anti-pattern. `this.isInvertedProperty` and `isInverted` are both public, so the latter is redundant. And  depending on the ordering of listeners, it allows a client to call `isInverted` and get a value that is different than `this.isInvertedP

[2021-09-18 03:08] pixelzoom commented on #197
Here's the complete set of cases that need to be examined. For some of these, the method may not need to be `@pubic`, if no client is actually calling it.   There are also some cases where the Property and method names do not quite match, e.g. `intensityProperty` and `getLightIntensity`.

Optic.js:
- [ ] `isConvergingProperty` and `isConverging`
- [ ] `convergingSignProperty` and `getConvergingSig

[2021-09-18 03:13] pixelzoom commented on #148
We'll need to do memory testing again when the sim is feature complete.

[2021-09-18 03:14] pixelzoom commented on #147
@arouinfar Let's hold off on this until we're closer to publication.

[2021-09-18 03:15] pixelzoom commented on #135
I make another pass through this later, to note any changes that I make.

[2021-09-18 03:16] pixelzoom commented on #134
@arouinfar Let's hold off on this review until we're closer to publication, in case I need to make any model changes.

[2021-09-18 03:19] pixelzoom commented on #85
@arouinfar please review and let me know what still needs to be done here.  It seems like fixing the optical axis would make things look better, and shouldn't be terribly difficult.

[2021-09-18 03:24] pixelzoom commented on #100
The original problem has been addressed.  The issue of z-order is being discussed in https://github.com/phetsims/geometric-optics/issues/174.  So I'm going to close this issue.

[2021-09-18 03:24] #100 closed

[2021-09-18 03:26] pixelzoom commented on #166
@zepumph can you please review, to see if this is what you had in mind?   High priority, since we're trying to get a prototype published, and I'd like this issue to be closed before that happens.

[2021-09-18 03:28] pixelzoom opened #198 "General cleanup of code comments and documentation."
There are a lot of code comments that are lacking proper punctuation, capitalization, grammar, etc.  If time permits, make a pass through the code and clean things up a bit.

[2021-09-18 03:32] pixelzoom commented on #145
It would not be tragic if this sim did not support `?shuffleListeners`.  So I'm going to unassign this for now, and we can decide whether we want to spend time on it when we get closer to public deployment.

[2021-09-18 03:34] pixelzoom commented on #133
It would not be tragic if this sim did not support `?shuffleListeners`. So I'm going to unassign this for now, and we can decide whether we want to spend time on it when we get closer to public deployment.

[2021-09-18 20:15] pixelzoom commented on #187
@arouinfar FYI... In the meantime, I've increased the size of the icons in the combo box considerable, and added a bit of margin.

[2021-09-18 20:37] pixelzoom opened #199 "Label additional elements in the UI?"
The optical axis is a very important concept in geometric optics.  Should it be labeled when "Labels" checkbox is checked?  Axis? Optical Axis?

[2021-09-18 20:42] pixelzoom opened #200 "Change "Image" label to "Real Image"?"
I'm a novice in this domain.  But everything I've been reading about geometric optics describes 2 types of "image" - "real image" and "virtual image".   We're currently labeling the "real image" as simply "Image", and that seems incorrect.   Should we change to "Real Image"?

For example, see https://openstax.org/books/college-physics/pages/25-6-image-formation-by-lenses, section **Image Formation

[2021-09-20 17:52] pixelzoom opened #201 "Use Node visibleProperty option where possible"
Instead of passing in a visibleProperty and explicitly handling it like this:

[code]

... simply pass the `visibleProperty` via options and let Node take care of it, like this:

[code]

There are quite a few places where this pattern can be applied. And the main reason for doing this is that it's the preferred pattern for PhET-iO.

[2021-09-20 19:21] zepumph commented on #166
Yes thanks. It got lost in my issues without the review label. This looks really good. Exactly what I expected.

[2021-09-21 17:02] pixelzoom commented on #155
This is still occurring occassionally, most recently 9/20/2021 @ 10:14:53 PM.

[2021-09-22 18:04] pixelzoom commented on #201
Done, closing.

[2021-09-22 18:04] #201 closed

[2021-09-22 18:05] #166 closed

[2021-09-22 19:15] pixelzoom commented on #199
The light sources and screen are also not labeled. Should they be?  The light sources take the place of "Object", so this seems odd.

[2021-09-22 19:47] pixelzoom commented on #160
Fixed in the commit above by adjusting maxWidth of NumberControl subcomponents. See screenshot below. Closing.

<img width="990" alt="screenshot_1261" src="https://user-images.githubusercontent.com/3046552/134411681-5af7f5dd-6867-477e-a69f-e1d5f91014d8.png">

[2021-09-22 19:47] #160 closed

[2021-09-22 20:03] pixelzoom commented on #71
@veillette thank you for the explanation, that all makes sense.

In the above commit, I increased RAY_ANIMATION_TIME to 10 seconds, and I replaced LIGHT_SPEED with this `lightSpeed` query parameter, so that designers can experiment:

[code]

@arouinfar please review, let me know if you'd like to change the default (500) to something else. Note the constraint that `lightSpeed` must be >= 100.  That

[2021-09-22 20:05] pixelzoom commented on #154
All of the remaining code-review feedback is in GitHub issues, labeled "code-review".  So I'm going to close this issue.

[2021-09-22 20:05] #154 closed

[2021-09-22 21:09] pixelzoom commented on #134
Reviewing model.md and implementation-notes.md... I would recommend adding a **Terminology** section to model.md, and moving the general terminology from implementation-notes.md to model.md.  Otherwise this files are looking pretty good.

[2021-09-22 23:34] pixelzoom opened #202 "More design issues for cueing arrows."
(1) When the light source is chosen, the second source has no cueing arrow. Should it?

<img width="987" alt="screenshot_1262" src="https://user-images.githubusercontent.com/3046552/134435355-b1a159a2-4438-49a5-81c1-886e2b188944.png">

(2) If we add red cueing arrows for the second source in the above screenshot, then using green for the blue lamp's cueing arrows seems wrong.  Should the primary l

[2021-09-23 18:58] pixelzoom opened #203 "Image is visibile when Rays are set to "None"."
In LightRays.js, I see:

[code]

... where `target` is the optical image. So I'm guessing that the target is not supposed to be enabled (visible) when the "None" radio button is selected.  That's not the case, as far back as [1.0.0-dev.9](https://phet-dev.colorado.edu/html/geometric-optics/1.0.0-dev.9/phet/geometric-optics_en_phet.html) from 7/30/21. See screenshot below.  The Image and its label

[2021-09-23 19:00] pixelzoom commented on #203
Oh wait, I misunderstood the code.  This is intentionally making the Image visible when there are no rays.   So @arouinfar just please confirm that this is what is desired for the design.

[2021-09-23 19:02] pixelzoom commented on #166
Note that I ended up replacing `enabledProperty` with `visibleProperty` in Target.  This seems to be a better fit semantically, since everyplace it's used it has to do with visibility.

[2021-09-23 21:11] pixelzoom commented on #120
Reviewed in 9/23/21 dsign meeting. Looks good. Closing.

[2021-09-23 21:11] #120 closed

[2021-09-23 21:15] pixelzoom commented on #202
9/23/21 design meeeting.  No cueing arrows for 2nd light source.

[2021-09-23 21:15] #202 closed

[2021-09-23 21:15] pixelzoom commented on #143
9/23/21 design meeting:  Looks good, closing.

[2021-09-23 21:15] #143 closed

[2021-09-23 21:19] pixelzoom commented on #157
9/23/21 design meeting: Looks good, closing.

[2021-09-23 21:19] #157 closed

[2021-09-23 21:21] pixelzoom commented on #14
9/23/21 design meeting:

@arouinfar mentioned that a black screen is incorrect if we want to be representative of what occurs in a lab. A white screen is typically used.  There are problems with showing the unsaturated (yellow) light on white.

[2021-09-23 21:24] pixelzoom commented on #163
9/23/21 design meeting:

@KatieWoe please test on master. If you can reproduced, please adds steps here.

[2021-09-23 21:27] pixelzoom opened #204 "Adjust drag bounds of optic"
9/23/21 design meeting request:

Adjust drag bounds of optic so that at its max diameter, it does not overlap the control panel or combo box.

_EDIT: ... and presumably adding to Prototype milestone._

[2021-09-23 21:30] pixelzoom commented on #174
9/23/21 design meeting: Move play area behind everything else. Closing.

[2021-09-23 21:30] #174 closed

[2021-09-23 21:32] pixelzoom commented on #200
Confirmed in 9/23/21 design meeting,

[2021-09-23 21:33] pixelzoom commented on #203
Confirmed, closing.

[2021-09-23 21:33] #203 closed

[2021-09-23 21:35] pixelzoom commented on #200
9/23/21 design meeting: Yes, label as "Real Image".

[2021-09-23 21:36] pixelzoom commented on #183
9/23/21 design meeting: Yes, try this.

[2021-09-23 21:41] pixelzoom commented on #189
9/23/21 design meeting:

* Centerlens/mirror shape radio buttons above lens.
* Move object combo box above object
* Move zoom buttons to lower-right, vertically centered on control panel

[2021-09-23 21:45] pixelzoom opened #205 "Toggling "Virtual Image" checkbox hides rays"
... is broken. It's hiding the rays on all cases, not the virtual image.

[2021-09-23 21:45] pixelzoom commented on #192
9/23/21 design meeting: Looks good, closing.

[2021-09-23 21:45] #192 closed

[2021-09-23 21:48] pixelzoom opened #206 "PhET-iO implementation notes"
As I'm going through the code, identify things that may need to change for PhET-iO.  Tag them with TODOs linked to this issue.

[2021-09-23 21:49] pixelzoom opened #207 "PhET-iO design"
Start a wish list for PhET-iO features.

[2021-09-23 22:06] pixelzoom commented on #200
Done, @arouinfar please review in master.

[2021-09-23 23:15] pixelzoom commented on #199
After "terminology" meeting for #196 with @ariel-phet, we decided that labels should be added for "Optical Axis" and "Screen".  I'll proceed with that work.

[2021-09-23 23:24] pixelzoom opened #208 "Optical axis should be dashed."
As the result of #196 (terminology meeting) with @ariel-phet, he said that the optical axis should be a dashed line, like the dashed line used for the horizontal axis with Rays set to "Principal". See screenshot below.

<img width="986" alt="screenshot_1268" src="https://user-images.githubusercontent.com/3046552/134596237-cd064537-e4a4-4f0c-86e9-44a38271e848.png">

[2021-09-23 23:57] pixelzoom opened #209 "Incorrect geometry is sometimes drawn for rays."
_EDIT: This occurs for all objects and lights sources, for real and virtual rays._

While dragging the second light source around, I sometimes see odd geometry being drawn, presumably related to the rays. For example, see the pink triangle in the screenshot below.  I have not seen this with the first light source.

I saw this on MacBookPro16,1 + macOS 11.5 + Chrome 94.0.4606.54.  Not tested on oth

[2021-09-23 23:59] pixelzoom commented on #209
I also see this problem in [1.0.0-dev.9](https://phet-dev.colorado.edu/html/geometric-optics/1.0.0-dev.9/phet/geometric-optics_en_phet.html) from 7/30/21, before I started working on the sim.  So this has been an existing problem.  For example:

<img width="988" alt="screenshot_1270" src="https://user-images.githubusercontent.com/3046552/134598806-fbb014b9-d7c7-450f-8322-3ef6ae795be3.png">

[2021-09-24 00:06] pixelzoom commented on #196
Discussed with @ariel-phet via Zoom.  Here's what he recommended.

| Exiting terms in code | Recommended term in code |
| :--- | :--- |
| object, source object, source/object, first source/object | Optical Object |
| second object, second source, second source/object | Second Point |
| target, image, virtual image | Optical Image |
| light source, source of Light, light | Light Source |
| ray, lig

[2021-09-24 00:09] pixelzoom commented on #196
At 9/23/21 design meeting, @kathy-phet noted that PhET-iO support for this sim will likely be desired in the not-too-distant future.  PhET-iO exposes the internals of simulations, particular the names that are used. So another important reason for adjusting terminology is the eventual need to PhET-iO instrument this sim. Terms like "target" will not cut it when we expose these names via the PhET-i

[2021-09-24 00:12] pixelzoom opened #210 "Change "Refractive Index" to "Index of Refraction"?"
Related to https://github.com/phetsims/geometric-optics/issues/196 ...

The code uses "Index of Refraction", while the UI uses "Refractive Index".  According to @ariel-phet, the former is more common.  @arouinfar OK to change the UI?  Otherwise I should change the code.

This has implications for PhET-iO as well, since the name will be visible in the API and Studio tree.  So the internal name shou

[2021-09-24 00:13] pixelzoom opened #211 "Change "Curvature Radius" to "Radius of Curvature"?"
Related to https://github.com/phetsims/geometric-optics/issues/196 ...

The code uses "Radius of Curvature", while the UI uses "Curvature Radius".  According to @ariel-phet, the former is more common.  @arouinfar OK to change the UI?  Otherwise I should change the code.

This has implications for PhET-iO as well, since the name will be visible in the API and Studio tree.  So the internal name shou

[2021-09-24 00:14] pixelzoom commented on #205
This was not a problem in 1.0.0-dev.9, the last dev version published before I started working on this sim. So this is likely something that I broke.

[2021-09-24 00:17] pixelzoom commented on #58
The second light source is draggable to the right of the lens, see below.  This was present in 1.0.0-dev.9 (7/30/21).

@arouinfar Don't you think this should be fixed for the Prototype milestone?

<img width="988" alt="screenshot_1271" src="https://user-images.githubusercontent.com/3046552/134599933-bddb3297-e3a9-44e9-b55e-373ee9e4db84.png">

[2021-09-24 00:27] pixelzoom commented on #110
- [ ] Information about the "Guides" feature. From comments in the code, my understanding is that this is a representation invented by PhET.  And I'm still trying to figure it out myself :)

[2021-09-24 13:48] Nancy-Salpepi commented on #163
I was able to get the sim to freeze twice just by moving the pencil around with the second source placed in the center of the pencil. It is not necessary to change any other settings in the sim. The sim froze when the pencil was in different places, so I have not been able to nail down a set of steps to reproduce. However, it wasn't a runtime error that I saw. It was an assertion error.
<img width

[2021-09-24 14:42] pixelzoom commented on #163
@Nancy-Salpepi can you please provide the usual Troubleshooting info?  And how were you running the sim? If assertions were enabled, I'm guessing that you were usin phettest or a local copy.

[2021-09-24 14:45] pixelzoom commented on #163
Since this is a caught assertion, it's being run in an unbuilt version, because assertions are stripped out in built version.  We may want to see what the repercussions are in a built version.  What does the user see (if anything) when this occurs, and does the sim continue to run OK?  So...

 @Nancy-Salpepi could you please test build version [1.0.0-dev.48](https://phet-dev.colorado.edu/html/four

[2021-09-24 14:49] Nancy-Salpepi commented on #163
**Test device**
MacBook Air (m1 chip)

**Operating System**
11.5.2

**Browser**
chrome

**Problem description**
On Master:
I was able to get the sim to freeze four times just by moving the pencil around with the second source placed in the center of the pencil. It is not necessary to change any other settings in the sim. The sim froze when the pencil was in different places, so I have not been abl

[2021-09-24 14:53] Nancy-Salpepi commented on #163
@pixelzoom link provided in your above comment https://github.com/phetsims/geometric-optics/issues/163#issuecomment-926685101 took me to Fourier.